---
import InfoPage from "../../layouts/InfoPage.astro";
---

<InfoPage title="Wireshark · Documentation">
    <section id="documentation">
        <h1>Wireshark Training</h1>

        <h3>TCP/IP Deep Dive Analysis with Wireshark</h3>
        <p>
            <a href="https://bit.ly/virtualwireshark">Learn in-depth Wireshark, TCP and more with Chris in this
                hands-on, deep-dive Course.</a>
        </p>

        <p>Check out the free Intro to Wireshark Course on YouTube.</p>
        <iframe
            width="100%"
            height="300"
            src="https://www.youtube.com/embed/OU-A2EmVrKQ"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <h3>Return to the Packet Trenches</h3>
        <iframe
            width="100%"
            height="300"
            src="https://www.youtube.com/embed/PfRihPtQ6S0"
            frameborder="0"
            allowfullscreen></iframe>

        <p>
            <a
                href="https://sharkfestus.wireshark.org/assets/presentations18/33.zip"
                >Wireshark CLI tools & scripting by Sake Blok</a>
        </p>

        <iframe
            width="100%"
            height="300"
            src="https://www.youtube.com/embed/IZ439VNvJqo"
            frameborder="0"
            allowfullscreen></iframe>

        <h3>For more "Packet Trenches" resources, check out these links:</h3>
        <ul>
            <li>
                Watch the replay of the <a href="https://bit.ly/HSBBook">
                    2016 & 2017 Packet Trenches series
                </a>and get access to <a href="https://app.box.com/v/HSBBook"
                    >Hansang's traces files.</a>
            </li>
            <li>
                The trace files, DB troubleshooting tips, Column setup
                information, and recommended books are in <a href="https://app.box.com/v/HSBBook">Hansang's trace files</a>. The file to download is: “BackToBasics-Part-1.zip”.
            </li>
        </ul>

        <h2>SharkFest™ Wireshark Educational Conferences</h3>
        <p>
            Join Gerald Combs, Hansang Bae, Kary Rogers, Sake Blok, Jasper
            Bongertz, Christian Landström, Phill Shade, and many other
            packet analysis experts at <a href="https://sharkfest.wireshark.org/">SharkFest</a>,
            an immersive Wireshark training experience. We typically host
            two events per year:
        </p>

        <p>
            <a href="https://sharkfest.wireshark.org/sfus/">SharkFest US in early summer.</a>
        </p>
        <p>
            <a href="https://sharkfest.wireshark.org/sfeu/">SharkFest Europe in the fall.</a>
        </p>
        <p>
            Contact <a href="mailto:sharkfest@wireshark.org">sharkfest@wireshark.org</a> for more information.
        </p>

        <h2>User Documentation</h2>

        <h3>
            <a href="wsug_html_chunked" title="User's Guide">User's Guide</a>
        </h3>

        <p>The Wireshark User's Guide is available in several formats:</p>

        <p>
            Online:
            <a href="wsug_html">One huge page</a>
            or
            <a href="wsug_html_chunked">multiple pages</a>.
        </p>

        <p>
            Offline:
            <a href="/download/docs/wsug_html.zip">One huge HTML page</a>,
            <a href="/download/docs/wsug_html_chunked.zip">multiple HTML pages</a>,
            <a href="/download/docs/Wireshark%20User%27s%20Guide.epub">EPUB</a>, or
            <a href="/download/docs/Wireshark%20User%27s%20Guide.pdf">PDF</a>.
        </p>

        <h3>Command-line Manual Pages</h3>

        <p>
            <a href="man-pages/" title="Command-line Manual Pages"
                >UNIX-style man pages for Wireshark, TShark, dumpcap, and
                other utilities.</a>
        </p>

        <h3>Display Filter Reference</h3>

        <p>
            <a href="dfref/" title="Display Filter Reference"
                >All of Wireshark's display filters, from version 1.0.0 to
                present.</a>
        </p>

        <h3>Release Notes</h3>

        <p>
            <a href="relnotes/" title="Release Notes"
                >Version 0.99.2 to present.</a>
        </p>

        <h3>Security Advisories</h3>
        <p>
            <a href="../security/" title="Security Advisories"
                >Information about vulnerabilities in past releases and how
                to report a vulnerability.</a>
        </p>

        <h3>Bibliography</h3>
        <p>
            <a href="/bibliography.html" title="Bibliography"
                >Books, articles, videos and more!</a>
        </p>

        <h3>Export Regulations</h3>
        <p>
            <a href="/export.html" title="Export Regulations"
                >Our primary distribution point and how it affects you.</a>
        </p>

        <h2>Developer Documentation</h2>

        <p>
            <a href="wsdg_html_chunked" title="Developer's Guide">Developer's Guide</a>
        </p>

        <p>
            The Wireshark Developer's Guide is available in several formats:
        </p>

        <p>
            Online:
            <a href="wsdg_html">One huge page</a>
            or
            <a href="wsdg_html_chunked">multiple pages</a>.
        </p>

        <p>
            Offline:
            <a href="/download/docs/wsdg_html.zip">One huge HTML page</a>,
            <a href="/download/docs/wsdg_html_chunked.zip"
                >multiple HTML pages</a>,
            <a href="/download/docs/Wireshark%20Developer%27s%20Guide.epub"
                >EPUB</a>, or
            <a href="/download/docs/Wireshark%20Developer%27s%20Guide.pdf"
                >PDF</a>.
        </p>

        <h2>Videos and Presentations</h2>
        <h3>
            <a href="https://bit.ly/SharkFestYouTube">SharkFest Presentations</a>
        </h3>

    </section>
</InfoPage>
