---
import InfoPage from "../../layouts/InfoPage.astro";
---

<style is:inline is:global>
#searchStr {
    width: 100%;
}

#searchOff {
    width: 4rem;
}

.term {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    background: #eee;
    white-space: pre-wrap;
    word-wrap: break-word
}
</style>

<InfoPage title="Wireshark · String-Matching Capture Filter Generator">
    <section id="string-cf">

    <h2>String-Matching Capture Filter Generator</h2>
    
    <h3>1. Enter the string you want to match</h2>
    <form>
    <p>
    <input type="text" id="searchStr" value="GET /me-a-milkshake-please/ HTTP/1.1" />
    </p>
    
    <h3>2. Enter the offset from the start of the TCP data</h3>
    <p>
    <input type="text" id="searchOff" value="0"/>
    </p>
    </form>
    
    <h3>3. Copy the filter below</h3>
    <p>
    <pre class="term" id="stringFilter"></pre>
    </p>

    <h4>What is this?</h4>
    <p>
    It's a web page that lets you create <a href="https://gitlab.com/wireshark/wireshark/-/wikis/CaptureFilters">capture filters</a> that match strings in TCP
    payloads.
    </p>
    
    <h4>What does it do?</h4>
    <p>
    It takes the string you enter, splits it into 1, 2, or 4 byte chunks, converts
    them to numbers, and creates a capture filter that matches those numbers at the
    offset you provide.
    </p>
    
    <p>
    It <b>should</b> handle most UTF-8 characters but this hasn't been tested.
    </p>
    
    <h4>What is it good for?</h4>
    <p>
    You can use it to filter things like top-level HTTP requests ("GET / HTTP/1."),
    HTTP responses ("HTTP/1."), POP3 logins ("USER"), and lots of other things.
    </p>
    
    <h4>What is it NOT good for?</h4>
    <p>
    Matching strings at arbitrary locations. You can't do that with capture filters
    (BPF doesn't support it) You need to use the
    <a href="https://www.wireshark.org/docs/man-pages/wireshark-filter.html#search_and_match_operators">"matches"
    or "contains" display filter operators</a> instead. You'll have to use the
    "matches" display filter operator for case insensitive matching as well.
    </p>
    
    <h4>What's up with all of the fancy bit-twiddling in the TCP header?</h4>
    <p>
    It makes sure we skip over any TCP options that might be present. See
    <a href="https://www.wireshark.org/lists/wireshark-users/201003/msg00024.html">Sake's
    explanation</a> for more details.
    </p>
    
    <h4>Shouldn't this sort of thing be built into Wireshark?</h4>
    <p>
    Probably.
    </p>
            
    <script is:inline>
    // Adapted from http://www.webtoolkit.info/javascript-utf8.html
    // Note: Doesn't handle values above U+FFFF
    function utf8Convert(string) {
        var utf8bytes = [];
    
        for (var n = 0; n < string.length; n++) {
    
            var c = string.charCodeAt(n);
    
            if (c < 128) {
                utf8bytes.push(c);
            }
            else if((c > 127) && (c < 2048)) {
                utf8bytes.push((c >> 6) | 192);
                utf8bytes.push((c & 63) | 128);
            }
            else if ((c > 2047) && (c < 65536)){
                utf8bytes.push((c >> 12) | 224);
                utf8bytes.push(((c >> 6) & 63) | 128);
                utf8bytes.push((c & 63) | 128);
            }
            // else skip this character (for now).
        }
        return utf8bytes;
    }
    
    function stringToBpf() {
        var offset = document.querySelector('#searchOff').value;
        const bytes = utf8Convert(document.querySelector('#searchStr').value);
        var snippet = '';
        var slicelen;
        var hexbytes;
        var conj = '';
        var offstr;
    
        document.querySelector('#stringFilter').innerHTML = snippet;
    
        while (bytes.length > 0) {
            if (bytes.length >= 4) {
                slicelen = 4;
            } else if (bytes.length >= 2) {
                slicelen = 2;
            } else {
                slicelen = 1;
            }
    
            slicebytes = bytes.slice(0, slicelen);
            bytes.splice(0, slicelen);
    
            hexbytes = '';
            for (var i = 0 ; i < slicebytes.length; i++) {
                hexbytes += slicebytes[i].toString(16);
            }
    
            if (offset) {
                offstr = ' + ' + offset;
            } else {
                offstr = ''
            }
    
            snippet += conj + 'tcp[((tcp[12:1] & 0xf0) >> 2)' + offstr + ':' + slicelen + '] = 0x' + hexbytes;
    
            conj = ' && ';
            offset += slicelen;
        }
    
        if (snippet.length < 1) {
            snippet = '<span class=".medium_grey"><i>enter a string to match</i></span>';
        }
    
        document.querySelector('#stringFilter').innerHTML = snippet;
    }
    
    document.querySelector('#searchStr').addEventListener("keyup", (_) => {
        stringToBpf();
    });
    
    document.querySelector('#searchOff').addEventListener("keyup", (_) => {
        stringToBpf();
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        stringToBpf();
        document.querySelector('#searchStr').focus();
    });
    </script>
            
    </section>
</InfoPage>
