---
import InfoPage from "../../layouts/InfoPage.astro";
import DonationBlock from "../../components/DonationBlock/DonationBlock.astro"
---
<style is:inline is:global>
#v46status table {
    border: 0;
    border-collapse: separate;
    border-spacing: 1rem;
    font-size: 2.5rem;
}

#v46status table td {
    background-color: rgb(224,224,224);
    border-radius: 0.5rem;
    padding: 1.2rem;
}
</style>

<InfoPage title="Wireshark · IPv4 / IPv6 Connectivity Test">
    <script type="text/javascript">
// Some code based on http://www.braintrust.co.nz/ipv6wwwtest/

const site_suf = 'google.com';      // Domain suffix, e.g. example.com
//var site_suf = 'wireshark.org';   // Domain suffix, e.g. example.com
const timeout_ms = 10 * 1000;       // Connectivity timeout, milliseconds
const interval_ms = 250;            // Connectivity check interval, milliseconds
const img_path = '/';               // Path to images
const image ='favicon.ico';

var cur_ms = 0;
var interval_id;
var v4_ok = false;
var v6_ok = false;
var v4_err = false;
var v6_err = false;

function parse_color(color) {
    var copied_from='http://www.adaptavist.com/display/jQuery/Colour+Library';
    // Look for rgb(int,int,int) or rgba(int,int,int,float)
    if ( (m = /^\s*rgb(a)?\(\s*([0-9]{1,3})\s*,\s*([0-9]{1,3})\s*,\s*([0-9]{1,3})\s*(?:,\s*([0-9]+(?:\.[0-9]+)?)\s*)?\)\s*$/.exec(color)) && !m[1] === !m[5] ) {
        return [parseInt(m[2],10), parseInt(m[3],10), parseInt(m[4],10), m[5] ? parseFloat(m[5]) : 1];
    }

    // Look for rgb(float%,float%,float%) or rgba(float%,float%,float%,float)
    if ( (m = /^\s*rgb(a)?\(\s*([0-9]+(?:\.[0-9]+)?)\%\s*,\s*([0-9]+(?:\.[0-9]+)?)\%\s*,\s*([0-9]+(?:\.[0-9]+)?)\%\s*(?:,\s*([0-9]+(?:\.[0-9]+)?)\s*)?\)\s*$/.exec(color)) && !m[1] === !m[5] ) {
        return [parseFloat(m[2])*255/100, parseFloat(m[3])*255/100, parseFloat(m[4])*255/100, m[5] ? parseFloat(m[5]) : 1];
    }

    // Look for #a0b1c2
    if ( (m = /^\s*#([a-fA-F0-9]{2})([a-fA-F0-9]{2})([a-fA-F0-9]{2})\s*$/.exec(color)) ) {
        return [parseInt(m[1],16), parseInt(m[2],16), parseInt(m[3],16), 1];
    }

    // Look for #fff
    if ( (m = /^\s*#([a-fA-F0-9])([a-fA-F0-9])([a-fA-F0-9])\s*$/.exec(color)) ) {
        return [parseInt(m[1]+m[1],16), parseInt(m[2]+m[2],16), parseInt(m[3]+m[3],16), 1];
    }

    // Look for hsl(int,float%,float%) or hsla(int,float%,float%,float)
    if ( (m = /^\s*hsl(a)?\(\s*([0-9]{1,3})\s*,\s*([0-9]+(?:\.[0-9]+)?)\%\s*,\s*([0-9]+(?:\.[0-9]+)?)\%\s*(?:,\s*([0-9]+(?:\.[0-9]+)?)\s*)?\)\s*$/.exec(color)) && !m[1] === !m[5] ) {
        return [parseInt(m[2],10)/360, parseFloat(m[3])/100, parseFloat(m[4])/100, m[5] ? parseFloat(m[5]) : 1];
    }

    // Force a valid (dark) color.
    return [255,255,255];
}

// We need: start bg, good bg, bad bg.
// We have: start bg.

function set_bg_range(el) {
    const rgb = getComputedStyle(el)["backgroundColor"];
    //var parts = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
    const parts = parse_color(rgb);
    // http://stackoverflow.com/questions/596216/formula-to-determine-brightness-of-rgb-color
    // http://en.wikipedia.org/wiki/Luma_(video)
    const luminance = parts[1] * 0.299 + parts[2] * 0.587 + parts[3] * 0.112;

    el.setAttribute('v46_start_r', parts[1]);
    el.setAttribute('v46_start_g', parts[2]);
    el.setAttribute('v46_start_b', parts[3]);
    if (luminance > 127) { // Light background
        el.setAttribute('v46_end_t_r', 0x8a);
        el.setAttribute('v46_end_t_g', 0xe2);
        el.setAttribute('v46_end_t_b', 0x34);
        el.setAttribute('v46_end_f_r', 0xef);
        el.setAttribute('v46_end_f_g', 0x39);
        el.setAttribute('v46_end_f_b', 0x39);
    } else {	// Dark background
        el.setAttribute('v46_end_t_r', 0x4e);
        el.setAttribute('v46_end_t_g', 0x9a);
        el.setAttribute('v46_end_t_b', 0x06);
        el.setAttribute('v46_end_f_r', 0xa4);
        el.setAttribute('v46_end_f_g', 0x00);
        el.setAttribute('v46_end_f_b', 0x00);
    }
}

function set_bg(el, ver, distance) {
    var ok = (ver == 4) ? v4_ok : v6_ok;
    var error = (ver == 4) ? v4_err : v6_err;
    if (ok) {
        el.style.backgroundColor = "rgb(" +
                el.getAttribute('v46_end_t_r') + "," +
                el.getAttribute('v46_end_t_g') + "," +
                el.getAttribute('v46_end_t_b') + ")";
        el.innerHTML = "IPv" + ver + " ✔";
    } else {
        if (distance > 1 || error) {
            distance = 1;
        }
        cur_r = (1 - distance) * el.getAttribute('v46_start_r') + distance * el.getAttribute('v46_end_f_r');
        cur_g = (1 - distance) * el.getAttribute('v46_start_g') + distance * el.getAttribute('v46_end_f_g');
        cur_b = (1 - distance) * el.getAttribute('v46_start_b') + distance * el.getAttribute('v46_end_f_b');
        el.style.backgroundColor = "rgb(" +
                parseInt(cur_r) + "," +
                parseInt(cur_g) + "," +
                parseInt(cur_b) + ")";
        if (distance == 1) {
            el.innerHTML = "IPv" + ver + " ✘";
        }
    }
}

function show_status() {
    const v4status = document.querySelector("#v4status");
    const v6status = document.querySelector("#v6status");
    var distance = cur_ms / timeout_ms;

    set_bg(v4status, 4, distance)
    set_bg(v6status, 6, distance)

    cur_ms += interval_ms;
    console.log("v46 interval", cur_ms, v4_ok, v4_err, v6_ok, v6_err);
    if (cur_ms >= timeout_ms && (v4_ok || v4_err) && (v6_ok ||v6_err)) {
        clearInterval(interval_id);
        set_bg(v4status, 4, 1);
        set_bg(v6status, 6, 1);
    }
    // Fallback in case things go wrong.
    if (cur_ms >= timeout_ms * 2) {
        clearInterval(interval_id);
    }
}

// https://stackoverflow.com/a/46399452/82195
class AsyncImage {
    load(image_url) {
        return new Promise((resolve, reject) => {
            let img = new Image();
            img.onload = () => resolve();
            img.onerror = reject;
            img.src = image_url;
        })
    }
}

function init_v46() {
    var id = Math.floor(Math.random()*Math.pow(2,31));
    var v4_url = 'https://ipv4.' + site_suf + img_path + image + '?id=' + id;
    var v6_url = 'https://ipv6.' + site_suf + img_path + image + '?id=' + id;

    //console.log("v46: loading images", v4_url, v6_url);

    document.querySelector("#v46status").innerHTML = 
        `<table><tbody><tr>` +
        `<td id="v4status">IPv4 ?</td>` +
        `<td id="v6status">IPv6 ?</td>` +
        `</tr></tbody></table>`
        ;

    for (const el of document.querySelectorAll("#v4status, #v6status")) {
        set_bg_range(el);
    };

    var v4img = new AsyncImage();
    v4img.load(v4_url).then(
        function() { v4_ok = true; },
        function() { v4_err = true; }
    );

    var v6img = new AsyncImage();
    v6img.load(v6_url).then(
        function() { v6_ok = true; },
        function() { v6_err = true; }
    );

    interval_id = setInterval(show_status, interval_ms);
}


document.addEventListener('DOMContentLoaded', init_v46);
</script>
      
    <section id="v46-status">
        <div class="left-side">
            <h2>IPv4 and IPv6 Connectivity Test</h2>

            <div id="v46status">Loading…</div>
            
            <h3>What is this?</h3>
            <p>
            It's a web page that tries to test your IPv4 and IPv6 connectivity.
            </p>
            
            <h3>What does it do?</h3>
            <p>
            It tries to load images from an IPv4-only location
            and an IPv6-only location,
            and updates the web page to indicate success or
            failure.
            </p>
        </div>
        <DonationBlock />
    </section>
</InfoPage>
