---
import InfoPage from "../../../layouts/InfoPage.astro";
import metadata from "../../../components/DisplayFilterReference/Metadata.json";
import protocol_list from "../../../components/DisplayFilterReference/ProtocolList.json";

var sections = new Array();
for (const section of protocol_list) {
    section['id'] = "section_" + section.name;
    section['proto_html'] = '';
    for (const protocol of section.protocols) {
        section['proto_html'] += `<p>${protocol.name}: <a href="${section.name}/${protocol.name}.html">${protocol.description}</a>`;
        var plurality = protocol.field_count > 1 ? 's' : '';
        section['proto_html'] += ` (${protocol.versions}, ${protocol.field_count} field${plurality})`;
        section['proto_html'] += '</p>'
    }
    sections.push(section);
}
---

<style is:inline>

.dfref-index-entry:first-of-type {
    padding-left: 0;
}

.dfref-index-entry {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dfref-index-entry:last-of-type {
    padding-right: 0;
}

</style>

<InfoPage title="Wireshark · Display Filter Reference: Index">

    <section id="display-filter-reference">

        <h2>Display Filter Reference</h2>

        <p>
            Wireshark's most powerful feature is its vast array of display filters (over
            {Math.floor(metadata.num_fields / 1000) * 1000} fields in
            {Math.floor(metadata.num_protocols / 1000) * 1000} protocols as of version
            {metadata.latest_version}).
            They let you drill down to the exact traffic you want to see and are the basis of many of Wireshark's other features, such as the coloring rules.
        </p>
            
        <p>
            This is a reference. For general help using display filters, please see
            the <a href="../man-pages/wireshark-filter.html">wireshark-filter</a>
            manual page or the <a href="../">User's Guide</a>.
        </p>
            
        <h2>Index</h2>

        {sections.map((section) => (
            <a class="dfref-index-entry" href={"#" + section.id}>{section.name.toUpperCase()}</a>
        ))}

        {sections.map((section) => (
            <h2 id={section.id}>{section.name.toUpperCase()}</h2>

            <Fragment set:html={section.proto_html}/>
        ))}
            
    </section>

</InfoPage>
