<!DOCTYPE html>
<html>
<head>
  <title>Bananas</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/x-icon">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap -->
  <link href="{{ get_asset('css/wireshark.css') }}" rel="stylesheet" media="screen">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ get_asset('bootstrap/js/bootstrap.min.js') }}"></script>
  <!--[if lt IE 9]>
  <script src="{{ get_asset('js/html5shiv.js') }}"></script>
  <script src="{{ get_asset('js/respond.min.js') }}"></script>
  <![endif]-->

  <style type="text/css">
  <!--
    body {
      margin: 20px 0px 0px 25px;
    }

    div#main {
       width: 800px;
       padding-left: 20px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
      float: clear;
    }

    img {
      border: 0px;
      float: left;
    }

    img#badge {
      border: 0px;
      float: right;
    }

    p {
      padding-top: 9px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    p.lyrics {
      font-size: 1.25em;
      line-height: 1.5em;
      font-style: italic;
    }

    .clear {
      float: clear;
    }
  -->
  </style>
</head>

<body>

<div id="main">

<a href="https://www.wireshark.org/"><img id="badge" src="{{ get_asset('images/wsbadge@186x57.png') }}"></img></a>

<div class="clear"></div>

<p class=lyrics>
<a href="https://en.wikipedia.org/wiki/The_Banana_Splits">One banana, two banana, three banana, four</a>,</br>
whatever you requested came back 404.
</p>

<p>
We couldn't find the file you requested. If you're lost, you might try:
</p>

<ul style="list-style-type: none">
  <li><a href="/">The main page</a></li>
  <li><a href="/download.html">The download page</a></li>
  <li><a href="/docs/">The documentation</a></li>
</ul>

<div class="clear"></div>

</div>
</body>
</html>
