{% extends 'layout-home.html' %}
{% import 'bib_cover.html' as bib_cover %}

{% block title %}Bibliography{% endblock %}

{% block content %}

<!--
  http://en.wikipedia.org/wiki/Wikipedia:Citing_sources/example_style
-->
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h1>Bibliography</h1>

  <h1>Books</h1>

  <p class="bib-cover">
    {{ bib_cover.img_link('https://www.nostarch.com/packetanalysis3',
      'Practical Packet Analysis',
      'practical-analysis3-thumbnail.png') }}
    Sanders, Chris (2017).
    <a href="https://www.nostarch.com/packetanalysis3">Practical Packet Analysis, 3rd Edition</a>.
    No Starch Press.
    <a href="http://books.google.com/books?id=R-eiQwAACAAJ&dq=isbn:978-1-59327-802-1&hl=en&ei=AxINTpfvJZLViAKIgNXMDQ&sa=X&oi=book_result&ct=result&resnum=1&ved=0CCoQ6AEwAA">ISBN 978-1-59327-802-1</a>.<br>
    <a href="http://www.nostarch.com/download/PPA3_Ch4.pdf">Chapter 4</a><br>
<!--
    <a href="http://www.linuxsecurity.com/content/view/128459/171/">Review at LinuxSecurity.com</a><br>
-->
  </p>

  <p class="bib-cover">
    {{ bib_cover.img_link('http://www.syngress.com/catalog/?pid=3770',
      'Wireshark Toolkit',
      'wireshark-toolkit-thumbnail.jpg') }}
  Orebaugh, Angela; Ramirez, Gilbert; Beale, Jay (2006).
  <a href="http://www.syngress.com/catalog/?pid=3770">Wireshark & Ethereal Network Protocol Analyzer Toolkit</a>.
  Syngress Publishing.
  <a href="http://books.google.com/books?id=zCHQdnDEregC&pg=PA545&ots=lQpYpZ4_zF&dq=isbn:1597490733&sig=zA49dk0SQ-qo_OsJVycJnw3pX00">ISBN 1-59749-073-3</a>.<br>
  </p>

  <h1>Articles</h1>

  <p>
    Steven Vaughan-Nichols (January 13, 2022).
    <a href="https://www.zdnet.com/article/wireshark-creator-joins-sysdig-to-extend-it-to-cloud-security/">Wireshark creator joins Sysdig to extend it to cloud security</a>.
    <i>ZDNet</i>.
  </p>

  <p>
    Christine Preusler (December 3, 2018).
    <a href="https://www.hostingadvice.com/blog/the-wireshark-network-and-packet-analysis-tool-turns-20/">Wireshark Turns 20: How the Fundamental Network and Packet Analysis Tool Continues to Serve Open-Source Communities</a>.
    <i>HostingAdvice</i>.
  </p>

  <p>
  Anthony M. Reed (Aug 26, 2013).
  <a href="http://www.tripwire.com/state-of-security/security-data-protection/top-five-hacker-tools-every-ciso-should-understand/">Top Five Hacker Tools Every CISO Should Understand</a>.
  <i>The State of Security</i>.
  </p>

  <p>
  Scott Reeves (Oct 23, 2012).
  <a href="http://www.techrepublic.com/blog/opensource/using-the-flow-graph-feature-on-wireshark/3927">Using the flow graph feature on Wireshark</a>.
  <i>TechRepublic</i>.
  </p>

  <p>
  Himanshuz.chd (Sep 23, 2012).
  <a href="https://www.ibm.com/developerworks/mydeveloperworks/blogs/6e6f6d1b-95c3-46df-8a26-b7efd8ee4b57/entry/wireshark_the_best_open_source_network_packet_analyzer_part_i60?lang=en">Wireshark - The best open source network packet analyzer (Part I)</a>.
  <i>IBM developerWorks</i>.
  </p>
  <p>
  J. Peter Bruzzese (Sep 19, 2011).
  <a href="http://www.infoworld.com/d/open-source-software/15-essential-open-source-tools-windows-admins-173188">15 essential open source tools for Windows admins</a>.
  <i>SearchNetworking.com</i>.
  </p>
  <p>
  Neil Roiter (May 24, 2011).
  <a href="http://news.idg.no/cw/art.cfm?id=6D90CBB7-1A64-6A71-CE555CC4497111E6">Protocol analyzers: How to compare and use them</a>.
  <i>Computerworld</i>.
  </p>
  <p>
  Paul Stewart (Dec 11, 2010).
  <a href="https://learningnetwork.cisco.com/blogs/vip-perspectives/2010/12/11/geolocation-in-wireshark">Geolocation in Wireshark</a>.
  <i>The Cisco Learning Network</i>.
  </p>
  <p>
  Brian Proffitt (Nov 9, 2010).
  <a href="http://www.enterprisenetworkingplanet.com/_featured/article.php/3912336/Wiresharks++a+Killer+App+for+Packet+Hunting.htm">Wireshark's a Killer App for Packet Hunting</a>.
  <i>Enterprise Networking Planet</i>.
  </p>
  <p>
  Ken Hess (Nov 7, 2010).
  <a href="http://www.linux-mag.com/id/7900/">Wireshark II: The Analysis</a>.
  <i>Linux Magazine</i>.
  </p>
  <p>
  Ken Hess (Nov 2, 2010).
  <a href="http://www.linux-mag.com/id/7896/">Wireshark: An Ethereal Experience</a>.
  <i>Linux Magazine</i>.
  </p>
  <p>
  Nathan Willis (Oct 29, 2010).
  <a href="http://www.linux.com/learn/tutorials/375823-weekend-project-analyze-your-network-with-wireshark">Weekend Project: Analyze Your Network with Wireshark</a>.
  <i>Linux.com</i>.
  </p>
  <p>
  Roger Grimes (Aug 24, 2010).
  <a href="http://www.infoworld.com/d/security-central/wireshark-reigns-among-the-sea-network-sniffers-906">Wireshark reigns among the sea of network sniffers</a>.
  <i>SearchNetworking.com</i>.
  </p>
  <p>
  Laura Chappell (May 6, 2010).
  <a href="http://searchnetworking.techtarget.com/generic/0,295582,sid7_gci1511671,00.html">Top 10 reasons to learn Wireshark</a>.
  <i>SearchNetworking.com</i>.
  </p>
  <p>
  Michael Muchmore (Mar 8, 2010).
  <a href="http://www.pcmag.com/article2/0,2817,2361000,00.asp">15 Windows Utilities You Can't Live Without</a>.
  <i>PC Magazine</i>.
  </p>
  <p>
  Samara Lynn (Feb 18, 2010).
  <a href="http://www.pcmag.com/article2/0,2817,2360043,00.asp">Wireshark 1.2.6</a>.
  <i>PC Magazine</i>.
  </p>
  <p>
  Michael Scalisi (Jan 14, 2010).
  <a href="http://www.computerworld.com/s/article/9144700/Track_down_network_problems_with_Wireshark">Track down network problems with Wireshark</a>.
  <i>Computerworld</i>.
  </p>
  <p>
  Dominic Tulley (Nov 3, 2009).
  <a href="http://www.ibm.com/developerworks/web/tutorials/wa-tomcat/?ca=dgr-twtrWireSharkdth-WD&S_TACT=105AGY83&S_CMP=TWDW">Configuring Tomcat and Wireshark to capture and decode SSL communications</a>.
  <i>IBM developerWorks</i>.
  </p>
  <p>
  Douglas Haider (July 22, 2009).
  <a href="http://blogs.computerworld.com/i_love_packet_analysis">I Love Packet Analysis</a>.
  <i>Computerworld Blogs</i>.
  </p>
  <p>
  John Markoff (May 11, 2009).
  <a href="http://www.nytimes.com/2009/05/12/science/12cyber.html?_r=1&emc=eta1">Tracking Cyberspies Through the Web Wilderness</a>.
  <i>New York Times</i>.
  </p>
  <p>
  Jeff Goldman (January 7, 2009).
  <a href="http://www.isp-planet.com/equipment/2009/wireshark.html">Wireshark</a>.
  <i>ISP-Planet</i>.
  </p>
  <p>
  Jim Geier (December 2008).
  <a href="http://www.wireless-nets.com/resources/tutorials/sniff_packets_wireshark.html">How to: Sniff Wireless Packets with Wireshark</a>.
  <i>Wireless-Nets, Ltd.</i>.
  </p>
  <p>
  Chappell, Laura (December, 2008).
  <a href="http://www.youtube.com/watch?v=XpUNXDkfkQg">Custom Columns</a> (Video).
  <i>Wireshark University</i>.
  </p>
  <p>
  Chapple, Mike (October 14, 2008).
  <a href="http://searchsecurity.techtarget.com/tip/0,289483,sid14_gci1334483,00.html">Wireshark tutorial: How to sniff network traffic</a>.
  <i>SearchSecurity.com</i>.
  </p>
  <p>
  Bejtlich, Richard (October 2, 2008).
  <a href="http://searchnetworkingchannel.techtarget.com/tip/0,289483,sid100_gci1333127,00.html">Using Wireshark and Tshark display filters for troubleshooting</a>.
  <i>SearchNetworkingChannel.com</i>.
  </p>
  <p>
  Sahlberg, Ronnie (September, 2008).
  <a href="http://www.snia.org/events/storage-developer2008/presentations/monday/RonnieSahlberg_UsingWireshark.pdf">Using Wireshark For Analyzing CIFS Traffic</a> (Presentation).
  <i>SNIA Storage Developer Conference</i>.
  </p>
  <p>
  Lynn, Smara (September 22, 2008).
  <a href="http://www.crn.com/networking/210602465">Review: Wireshark Attacks Network Issues</a>.
  <i>CRN/ChannelWeb.com</i>.
  </p>
  <p>
  Compute Staff (April 17, 2008).
  <a href="http://computemagazine.com/technology/open-source-founders-reflect-on-project-milestones.html">Open Source Founders Reflect On Project Milestones</a>.
  <i>Compute Magazine</i>.
  </p>
  <p>
  Dubie, Denise (April 16, 2008).
  <a href="http://www.networkworld.com/slideshows/2008/041608-20-free-software-favorites.html">20 Free Software Favorites</a>.
  <i>Network World</i>.
  </p>
  <p>
  Chappell, Laura (March, 2008).
  <a href="http://www.novell.com/img/flash/play.php?media=http://www.novell.com/recording/videos/connectionmagazine/0308_tcpconloss.flv">TCP Connection Loss</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Paul Rubens (February 28, 2008).
  <a href="http://www.enterprisenetworkingplanet.com/netsecur/article.php/3731111/Trawl-for-Packets-with-Wireshark.htm">Trawl for Packets with Wireshark</a>.
  <i>Enterprise Networking Planet</i>.
  </p>
  <p>
  Doug Reid (February 11, 2008).
  <a href="http://www.smallnetbuilder.com/lanwan/lanwan-howto/30316-packet-capture-to-the-rescue">Packet Capture to the Rescue</a>.
  <i>SmallNetBuilder</i>.
  </p>
  <p>
  Doug Reid (February 11, 2008).
  <a href="http://www.smallnetbuilder.com/lanwan/lanwan-howto/30305-packet-captures-and-network-devices">Packet Captures and Network Devices</a>.
  <i>SmallNetBuilder</i>.
  </p>
  <p>
  Doug Reid (February 6, 2008).
  <a href="http://www.smallnetbuilder.com/lanwan/lanwan-howto/30298-packet-captures-plain-and-simple">Packet Captures, Plain and Simple</a>.
  <i>SmallNetBuilder</i>.
  </p>
  <p>
  Chappell, Laura (February, 2008).
  <a href="http://novellevents.novell.com/t/3381046/56771533/7867/0/">Analyzing DNS Queries</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Chappell, Laura (Q4, 2007).
  <a href="http://www.novell.com/img/flash/play.php?media=http://www.novell.com/recording/videos/connectionmagazine/novell_connectionq407.flv">ICMP Redirection</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Lendino, Jamie (October 31, 2007).
  <a href="http://www.pcmag.com/article2/0,1759,2212483,00.asp">Hack Yourself</a>.
  <i>PC Magazine</i>.
  </p>
  <p>
  Chappell, Laura (October, 2007).
  <a href="http://novellevents.novell.com/t/2261821/56771533/6387/0/">Advanced IO Graphing</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Chappell, Laura (September, 2007).
  <a href="http://novellevents.novell.com/t/2104690/56771533/5555/0/">Faulty Padding</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Chappell, Laura (Q3, 2007).
  <a href="http://www.novell.com/connectionmagazine/2007/q3/tech_talk_9.html?sourceid=NCM_q3_07_tt9">Analyzing TCP Performance with Wireshark</a>.
  <i>Connection Magazine</i>.
  </p>
  <p>
  Yegulalp, Serdar (July 31, 2007).
  <a href="http://searchwincomputing.techtarget.com/tip/0,289483,sid68_gci1266305,00.html">Wireshark, reincarnation of Ethereal, sniffs wide variety of networks</a>.
  <i>SearchWinComputing.com</i>.
  </p>
  <p>
  Thompson, Ken (July 1, 2007).
  <a href="http://www.codeproject.com/KB/IP/custom_dissector.aspx">Creating Your Own Custom Wireshark Dissector</a>.
  <i>The Code Project</i>.
  </p>
  <p>
  Chappell, Laura (Q3, 2007).
  <a href="http://www.novell.com/img/flash/load_stream.html?temp=1&id=webex_converts&stream=06-07-ACLrules&w=640&h=520">Building ACL Rules</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  eWEEK Labs (May 2007).
  <a href="http://www.eweek.com/slideshow_viewer/0,1205,l=&s=25947&a=206265&po=1,00.asp?p=y">The Most Important Open-Source Apps of All Time</a> (Slide Show).
  <i>eWEEK</i>.
  </p>
  <p>
  Chappell, Laura (Q2, 2007).
  <a href="http://www.novell.com/img/flash/load_stream.html?temp=1&id=webex_converts&stream=novell_connection0507&w=640&h=520">Colorizing Traffic</a> (Video).
  <i>Connection Magazine</i>.
  </p>
  <p>
  Chappell, Laura (Q2, 2007).
  <a href="http://www.novell.com/connectionmagazine/2007/q2/tech_talk_11.html">It's Nice to Share</a>.
  <i>Connection Magazine</i>.
  </p>
  <p>
  Chappell, Laura (Q1, 2007).
  <a href="http://www.novell.com/connectionmagazine/2007/q1/tech_talk_8.html">Shark Attack</a>.
  <i>Connection Magazine</i>.
  </p>
  <p>
  Walberg, Sean (March 1, 2007).
  <a href="http://www.linuxjournal.com/article/9398">Expose VoIP Problems Using Wireshark</a>.
  <i>Linux Journal</i>.
  </p>
  <p>
  Sidel, Scott (February 16, 2007).
  <a href="http://searchsecurity.techtarget.com/tip/0,289483,sid14_gci1246794,00.html">Wireshark: Taking a bite out of packet analysis</a>.
  <i>SearchSecurity.com</i>.
  </p>
  <p>
  Gottstein, Doris (October 4, 2006).
  <a href="http://www.computerwoche.de/produkte_technik/open_source/582469/index.html">Wireshark - g&#252;nstige Sniffer-Alternative</a>.
  <i>COMPUTERWOCHE.de</i>.
  </p>
  <p>
  <a href="http://www.heise.de/english/newsticker/news/74067">Ethereal becomes Wireshark</a>
  (September 6, 2006).
  <i>heise online</i>.
  </p>
  <p>
  Kerner, Sean Michael (August 25, 2006).
  <a href="http://www.internetnews.com/dev-news/article.php/3628426">Where's Ethereal? It's Now Sniffing the Wire Like a Shark</a>.
  <i>internetnews.com</i>.
  </p>
  <p>
  Gottstein, Doris (August 24, 2006).
  <a href="http://www.heise.de/open/artikel/77199">Von Ethereal zu Wireshark</a>.
  <i>heise open</i>.
  </p>
  <p>
  Edwards, Mark Joseph (June 12, 2006).
  <a href="http://www.windowsitpro.com/Articles/ArticleID/50544/50544.html">Will Ethereal Be Devoured By Wireshark?</a>.
  <i>Windows IT Pro</i>.
  </p>
  <p>
  Barr, Joe (June 9, 2006).
  <a href="http://trends.newsforge.com/article.pl?sid=06/06/09/1349255&tid=138&tid=92">Ethereal changes name to Wireshark</a>.
  <i>NewsForge</i>.
  </p>
  <p>
  CACE Technologies (June 8, 2006).
  <a href="http://www.prweb.com/releases/2006/6/prweb396098.htm">Creator of Ethereal&#174; Joins the WinPcap team; Wireshark is Born</a>.
  Press release.
  </p>


  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>
<section>

{% endblock content %}
