{% import 'versions.html' as versions %}

<!DOCTYPE html>
<html>
<head>
  <title>Oops</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/x-icon">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap -->
  <link href="{{ get_asset('css/wireshark.css') }}" rel="stylesheet" media="screen">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ get_asset('bootstrap/js/bootstrap.min.js') }}"></script>
  <!--[if lt IE 9]>
  <script src="{{ get_asset('js/html5shiv.js') }}"></script>
  <script src="{{ get_asset('js/respond.min.js') }}"></script>
  <![endif]-->

  <style type="text/css">
  <!--
    body {
      background: #fff;
      margin: 20px 0px 0px 25px;
    }

    div#main {
       width: 750px;
       padding-left: 20px;
    }


    img {
      border: 0px;
      float: right;
    }

  -->
  </style>
</head>

<body>

<div id="main">

<a href="https://www.wireshark.org/"><img src="{{ get_asset('images/wsbadge@186x57.png') }}"></img></a>

<h1>Oops.</h1>

<div class="clear"></div>

<p>
We couldn't find the file you requested.
</p>

<p>
If you're looking for the latest version of Wireshark, try
<a href="/download.html">the download page</a>.
</p>

<p>
If you're looking for an automated build, an older release, or another file, try
<a href="/download/">browsing the download area</a>.
</p>

</div>

</body>
</html>
