{% extends 'layout-home.html' %}

{% block title %}Shop{% endblock %}

{% block content %}

<section id="download_background" class="section swatch-white">
    <div class="container">
        <div class="row">
            <div class="col col-md">
                <div class="ws-well">
                    <div id="myShop">
                        <a href="https://wireshark.myspreadshop.com">Wireshark</a>
                        <p>All donations directly fund operations and Wireshark's ongoing development. Also, donations are tax deductible as we are a 501(c)3 non-profit.</p>
                    </div>
                    
                    <script>
                        var spread_shop_config = {
                            shopName: 'wireshark',
                            locale: 'us_US',
                            prefix: 'https://wireshark.myspreadshop.com',
                            baseId: 'myShop'
                        };
                    </script>
                    
                    <script type="text/javascript"
                            src="https://wireshark.myspreadshop.com/shopfiles/shopclient/shopclient.nocache.js">
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}