---
import DonationSection from "../Home/DonationSection.tsx";
---

<style lang="scss">
    @use "../../styles/breakpoints" as b;
    .right-side {
        display: inline-grid;
        width: 49%;
        padding: 1rem;

        @media screen and (max-width: b.$tablet) {
            width: 100%;
        }
    }
</style>

<div class="right-side">
    <DonationSection />
</div>