---
import InfoPage from "../../../layouts/InfoPage.astro";
import ManPages from "../../../components/ManPages/ManPages.json";
---

<InfoPage title="Wireshark · Command Line Manual Pages">

    <section id="man-pages">

        <h2>Wireshark Manual Pages</h2>

        <p>
        The following <a href="https://en.wikipedia.org/wiki/Man_page">man pages</a>
        are part of the Wireshark distribution.
        They are available via the <code>man</code> command on
        <a href="https://en.wikipedia.org/wiki/Unix">UNIX<super>&#174;</super></a> /
        <a href="https://en.wikipedia.org/wiki/POSIX">POSIX<super>&#174;</super></a>
        systems and HTML files via the "Start" menu on Windows systems.
        </p>

        {ManPages.map((man_page) => (
            <p class="manpage-entry"><code><a href={man_page.file_name}>{man_page.name}</a></code> -
                {man_page.description}
            </p>
        ))}

        <h2>External Manual Pages</h2>

        <p>Capture filtering is handled by libpcap, and its documentation is part of the libpcap distribution.</p>

        <p class="manpage-entry">
            <code><a href="https://www.tcpdump.org/manpages/pcap-filter.7.html">pcap-filter</a></code> -
            Capture filter syntax
        </p>

    </section>
</InfoPage>