---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/mhonarc.scss";
const archive_table=`
<table><tbody>
%(archive_table)s
</tbody></table>
`;
---
<InfoPage title="Wireshark · %(cap_name)s Archives" rss_title="%(cap_name)s" rss_url="/lists/%(list_name).rss">
    <section id="list-index">

    <h2>%(cap_name)s Archives</h2>
    %(list_note)s

    <p>
    For more information about all of the Wireshark mailing lists see the
    <a href="/lists/">general information page</a>.
    </p>

<Fragment is:raw set:html={archive_table} />

    </section>
</InfoPage>
