---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/mhonarc.scss";

/*
Message pages look like:
MSGPGSSMARKUP
MSGPGBEGIN
    MSGHEAD
    TOPLINKS
    SUBJECTHEADER
    Converted message header
    HEADBODYSEP
    Converted message body
    MSGBODYEND
    (FOLUPBEGIN
    FOLUPLITXT+
        FOLUPEND)?
    (REFSBEGIN
    REFSLITXT+
        REFSEND)?
    BOTLINKS
    MSGFOOT
MSGPGEND
*/
const body_pre=`
<PrevButton chop>
<a href="$MSG(PREV)$" title="Previous message by date">Date Prev</a>
</PrevButton>
<PrevButtonIA chop>
<span class="list-menu-disabled">Date Prev</span>
</PrevButtonIA>

<NextButton chop>
<a href="$MSG(NEXT)$" title="Next message by date">Date Next</a>
</NextButton>
<NextButtonIA chop>
<span class="list-menu-disabled">Date Next</span>
</NextButtonIA>

<TPrevButton chop>
<a href="$MSG(TPREV)$" title="Previous message by thread">Thread Prev</a>
</TPrevButton>
<TPrevButtonIA chop>
<span class="list-menu-disabled">Thread Prev</span>
</TPrevButtonIA>

<TNextButton chop>
<a href="$MSG(TNEXT)$" title="Next message by thread">Thread Next</a>
</TNextButton>
<TNextButtonIA chop>
<span class="list-menu-disabled">Thread Next</span>
</TNextButtonIA>

<TextEncode>
utf-8; MHonArc::UTF8::to_utf8; MHonArc/UTF8.pm
</TextEncode>

<-- With data translated to UTF-8, it simplifies CHARSETCONVERTERS -->
<CharsetConverters override>
default; mhonarc::htmlize
</CharsetConverters>

<-- Need to also register UTF-8-aware text clipping function -->
<TextClipFunc>
MHonArc::UTF8::clip; MHonArc/UTF8.pm
</TextClipFunc>

<msgpgbegin>
`;

const body=`
<section id="$WS_LISTNAME$-messages">
<h2>$WS_CAPNAME$: $SUBJECTNA:80$</h2>

$WS_LIST_NOTE$
</msgpgbegin>

<toplinks>
    <div class="list-nav-menu">
    $BUTTON(PREV)$
    <span class="separator">·</span>
    $BUTTON(NEXT)$
    <span class="separator">·</span>
    $BUTTON(TPREV)$
    <span class="separator">·</span>
    $BUTTON(TNEXT)$
    </div>
    <div class="list-menu">
    <a href="$IDXFNAME$">Date Index</a>
    <span class="separator">·</span>
    <a href="$TIDXFNAME$">Thread Index</a>
    <span class="separator">·</span>
    <a href="..">Other Months</a>
    <span class="separator">·</span>
    <a href="/lists/">All Mailing Lists</a>
    </div>
</toplinks>

<subjectheader>
<!-- $SUBJECTNA$ -->
</subjectheader>

<fieldsbeg>
<div class="list-message-headers">
</fieldsbeg>

<labelstyles>
-default-:b
</labelstyles>

<labelbeg>
<div class="list-message-header">
</labelbeg>

<headbodysep>
<div class="list-message-body">
</headbodysep>

<fldend>
</div><!-- .list-message-header -->
</fldend>

<fieldsend>
</div><!-- .list-message-headers -->
</fieldsend>

<msgbodyend>
</div><!-- .list-message-body -->
<div class="list-thread">
</msgbodyend>

<msgpgend>
</section>
`;

const body_post=`
</msgpgend>
`;
---
<Fragment is:raw set:html={body_pre} />

<InfoPage
  title="Wireshark · $WS_CAPNAME$: $SUBJECTNA:100$"
  rss_title="$WS_CAPNAME$"
  rss_url="lists/$WS_LISTNAME$.rss"
  set:html={body} />

<Fragment is:raw set:html={body_post} />
