---
import InfoPage from "../../layouts/InfoPage.astro";
import "../../styles/mhonarc.scss";
/*
  Thread pages look like:

  tidxpgbegin
    thead
      tlitxt
      [ tlitxt ]
    tfoot
  tidxpgend
*/
const body_pre=`
<TextEncode>
utf-8; MHonArc::UTF8::to_utf8; MHonArc/UTF8.pm
</TextEncode>

<-- With data translated to UTF-8, it simplifies CHARSETCONVERTERS -->
<CharsetConverters override>
default; mhonarc::htmlize
</CharsetConverters>

<-- Need to also register UTF-8-aware text clipping function -->
<TextClipFunc>
MHonArc::UTF8::clip; MHonArc/UTF8.pm
</TextClipFunc>

<!-- Thread index page -->
<tidxpgbegin>
`;

const body=`
<section id="$WS_LISTNAME$-threads">
<h2>$WS_CAPNAME$, $WS_MONTHNAME$ $WS_YEAR$</h2>

$WS_LIST_NOTE$
<div class="list-menu">
    <a href="$IDXFNAME$">Date Index</a>
    <span class="separator">·</span>
    <a href="..">Other Months</a>
    <span class="separator">·</span>
    <a href="/lists/">All Mailing Lists</a>
</div>
</tidxpgbegin>

<thead>
<table border=0>
<div class="list-thread">
<ul>
</thead>

<tfoot>
</ul>
</div>
</table>
</tfoot>

<tidxpgend>
</section>
`;

const body_post=`
</tidxpgend>
`;
---
<Fragment is:raw set:html={body_pre} />

<InfoPage
  title="Wireshark · $WS_CAPNAME$, $WS_MONTHNAME$ $WS_YEAR$"
  rss_title="$WS_CAPNAME$"
  rss_url="/lists/$WS_LISTNAME$.rss"
  >

<section id="threadpg">
    <Fragment set:html={body} />
</section>

</InfoPage>

<Fragment is:raw set:html={body_post} />
