$color-primary: #0052ff;
$color-secondary: #65b3eb;
$color-white: #fff;
$color-off-white: #d1d1d1;
$color-off-white2: #f5f5f5;
$color-gray: #7f7f7f;
$color-muted: #adbac7;

:export {
    colorPrimary: $color-primary;
    colorSecondary: $color-secondary;
    colorWhite: $color-white;
    colorOffWhite: $color-off-white;

}