@use "../styles/colors.module.scss";

.list-nav-menu {
    margin-bottom: 0.2rem;
}

.list-menu {
    margin-bottom: 0.8rem;
}

.list-menu-separator {
    padding-left: 1rem;
    padding-right: 1rem;
}

.list-message-headers {
    margin-bottom: 0.8rem;
}

table {
    width: 100%;
}

.list-index table tbody th {
    text-transform: uppercase;
}

// De-indent outermost thread index page uls
div.list-thread > ul {
    padding-left: 0;
}

td.none {
    color: colors.$color-gray;
}

td.fromname {
    white-space: nowrap;
}

ul {
    margin-top: 0;
    padding-left: 1rem;
}
