html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 24px; /* Must match footer */
}

.sharkfestbanner2 {
  margin: 0px;
  margin-top: 27px;
  font-size: 18px;
  text-align: center;
  background-color: #00488c;
  padding: 0 1em;
  position: fixed;
  z-index: 30;
  width: 100%;
}

.sharkfestbanner {
  margin: 0px;
  font-size: 18px;
  text-align: center;
  background-color: #252b28;
  padding: 0 1em;
  position: fixed;
  z-index: 30;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  background-color: #252b28;
  padding: 0 1em;
}

#tm-notice {
	color: rgb(243, 222, 222);
}

@media (max-width: 600px)  {
	.figure-image img {margin-left: 0px !important;}
}

@media (max-width: 991px) {
	.banner-img-downloads {max-width: 300px;}
}

a:hover {
    text-decoration: none;
}

pre {
  white-space: pre-wrap;
}

.item-list {line-height: 18px; margin-top: 6px;}
.record {margin-bottom: 15px;}
.record p {margin-bottom: 3px !important;}

.enhLi {font-size: 14px;}

#FAQbackground {background-color: #fff}

.col-md-3 {
	width: 33%;
}

.link {
	color: #428bca;
}

.link:hover; {
	color: #214665;
}

/* Accordion on Header */

#masthead .dropdown-menu>li>a{
	background-color: rgba(255,255,255,.95);
	color: black;
}

#masthead .dropdown-menu>li>a:hover{
	background-color: #82c9ed;
	color: white;
}

#accordion_836 li a:hover {color: rgb(162, 219, 255) !important;}
#highlighted li a:hover {color: rgb(162, 219, 255) !important;}

/* Accordion on Header end */

.weak {
	font-weight: 300;
}

/* Buttons on Main Page */

.box-inner .big-button-icon { color:rgba(102, 102, 102, 0.73);}

.section .swatch-white .container a:hover {
	color:#4c4c4c;
}

#sponsorButton a:hover {color: orange;}

.about-sharkfest-sponsors {margin-top: 20px; margin-bottom: 30px; text-align: center;}



/* Lodging color */

.lodging {
	color:black;
}

/* Learn Wireshark CSS Front Page */


#learnWS .element-normal-top {margin-top: 40px !important;}
#learnWS .panel-title {color: #0873A9;}
.learnList li{line-height: 1.25 !important;}

/* EDITS SEPT 2015 */

#enhanceTXT {font-weight: 800; font-size: 25px;}
#enhanceTXT2 {color: #E74C3C;}

/* Authors CSS */

table.table-greenbar tr:nth-of-type(6n+1),
table.table-greenbar tr:nth-of-type(6n+2),
table.table-greenbar tr:nth-of-type(6n+3) {
  background: 1px solid rgba(228, 255, 199, 0.1) !important;
}

table.table-greenbar tr td,
table.table-greenbar tr th {
  border-width: 0;
}

table.table-greenbar tr:nth-of-type(6n+1) td,
table.table-greenbar tr:nth-of-type(6n+1) th {
  border-top: 1px solid rgba(228, 255, 199, 0.1) !important;
}

table.table-greenbar tr:nth-of-type(6n+3) td,
table.table-greenbar tr:nth-of-type(6n+3) th {
  border-bottom: 1px solid rgba(228, 255, 199, 0.1) !important;
}

/* Downloads */
span.dl_arrow {
  min-width: 1.5em;
  display: inline-block;
}

#download p a {color:rgb(99, 229, 253);}
#download p a:hover {color: #fff;}



/* NEW FAQ CSS */

.ws-well {background-color: #ffffff !important; margin-top: 17px;}
.ws-well h1 {margin-top: 20px; margin-bottom:20px;}
.ws-well-heading-enhancement {background-color: rgba(255, 165, 0, 0.71); padding: 6px; font-weight: 700;}
.ws-well a {color: #428bca};
.ws-well p {margin-bottom: 0px !important;}
.ws-well-heading {padding: 6px; background-color: rgba(189, 189, 189, 0.71);}
.ws-well-content {padding: 12px;}
#enhancement {background-color: rgba(245, 240, 232, 0.69) !important;}

/* Mailing lists */
.list-message-body pre {
    background: inherit;
    color: inherit;
}

.list-menu-separator {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.list-menu-disabled {
    color: rgba(74, 75, 76, 0.75);
}

.list-messages td:not(:first-child), .list-messages th:not(:first-child) {
  padding-left: 1em;
}

/* About SharkFest */
.about-sharkfest > h2 {padding-top: 2rem;}
.about-sharkfest-logo {padding: 2rem;}

/* INDEX CHANGES SEPT 2018 */

/* INDEX PAGE */
.news-wrapper {margin-top: 25px;}
.news-centered {text-align: center;}

.features-list > li {padding-left: 0px !important;}

.sharkfest-circle {border: 6px solid #3091e6c4;}

.sf-logo {width: 42%;
    position: absolute;
    top: 46px;
    left: 46px;}

.tabbable > .main-sponsor {background-color: #6a94ad; min-height: 380px; display: flex;}
.tabbable > nav > .sponsor-tab {background-color: #6a94ad;}
.tabbable > nav > .sponsor-tab a:hover {background-color: #6a94ad;}

.main-sponsor {text-align: center;}

.green-background { background-color: #6a94ad !important;}
.green-background:focus { background-color: #6a94ad !important;}
.green-background:hover {background-color:#6a94ad99 !important;}

.text-align-left {text-align: left;}
.text-align-center {text-align: center; padding-bottom: 10px; padding-left: 0px; padding-right: 0px;}

.dl-banners img {padding: 5px;}

/* BANNER CSS */
@media (min-width: 445px) {
	.banner-img {max-width: 300px;}
}

@media (max-width: 444px) {
	.banner-img {max-width: 100%;}
}

.banner-padding {padding-bottom: 20px; text-align: center;}

/* Bootstrap and Asciidoctor both have "caret" */
.menuseq > .caret {
	display: inherit;
	margin: inherit;
	vertical-align: inherit;
	border: inherit;
}

a.dfref-index-entry {
  display: inline-block;
  padding-right: 0.75em;
  padding-left: 0.75em;
  line-height: 2em;
}

/* Anchors on the FAQ page */
.sect2 h1, .sect2 h2, .sect2 h3 {
  scroll-margin-top: 80px;
}

/* Anchors on the dfref page */
.section h1, .sectction h2, .section h3 {
  scroll-margin-top: 80px;
}