min-width:992px.swatch-gray,
[class*=swatch-] .swatch-gray {
    background: #e9e9e9;
    color: #4c4c4c
}
.swatch-gray h1,
.swatch-gray h2,
.swatch-gray h3,
.swatch-gray h4,
.swatch-gray h5,
.swatch-gray h6,
[class*=swatch-] .swatch-gray h1,
[class*=swatch-] .swatch-gray h2,
[class*=swatch-] .swatch-gray h3,
[class*=swatch-] .swatch-gray h4,
[class*=swatch-] .swatch-gray h5,
[class*=swatch-] .swatch-gray h6 {
    color: #1c1c1c
}
.swatch-gray h1 small,
.swatch-gray h2 small,
.swatch-gray h3 small,
.swatch-gray h4 small,
.swatch-gray h5 small,
.swatch-gray h6 small,
[class*=swatch-] .swatch-gray h1 small,
[class*=swatch-] .swatch-gray h2 small,
[class*=swatch-] .swatch-gray h3 small,
[class*=swatch-] .swatch-gray h4 small,
[class*=swatch-] .swatch-gray h5 small,
[class*=swatch-] .swatch-gray h6 small {
    color: rgba(28, 28, 28, .8)
}
.swatch-gray a,
[class*=swatch-] .swatch-gray a {
    color: #82c9ed
}
.swatch-gray a:hover,
[class*=swatch-] .swatch-gray a:hover {
    color: #4f9bc2
}
.swatch-gray small,
.swatch-gray small a,
[class*=swatch-] .swatch-gray small,
[class*=swatch-] .swatch-gray small a {
    color: rgba(76, 76, 76, .8)
}
.swatch-gray small a:hover,
[class*=swatch-] .swatch-gray small a:hover {
    color: #82c9ed
}
.swatch-gray i,
[class*=swatch-] .swatch-gray i {
    color: #4c4c4c
}
.swatch-gray blockquote:before,
[class*=swatch-] .swatch-gray blockquote:before {
    background-color: #82c9ed
}
.swatch-gray blockquote footer,
.swatch-gray blockquote small,
[class*=swatch-] .swatch-gray blockquote footer,
[class*=swatch-] .swatch-gray blockquote small {
    color: #1c1c1c
}
.swatch-gray::selection,
[class*=swatch-] .swatch-gray::selection {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray::-moz-selection,
[class*=swatch-] .swatch-gray::-moz-selection {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray hr,
[class*=swatch-] .swatch-gray hr {
    border-top-color: #c9c7c7
}
.swatch-gray pre,
[class*=swatch-] .swatch-gray pre {
    background: #1c1c1c;
    color: #e9e9e9
}
.swatch-gray .active,
[class*=swatch-] .swatch-gray .active {
    color: #4f9bc2
}
.swatch-gray .btn-primary,
.swatch-gray button,
.swatch-gray input[type=submit],
[class*=swatch-] .swatch-gray .btn-primary,
[class*=swatch-] .swatch-gray button,
[class*=swatch-] .swatch-gray input[type=submit] {
    background-color: #82c9ed;
    color: #fff
}
.swatch-gray .btn-primary:hover,
.swatch-gray button:hover,
.swatch-gray input[type=submit]:hover,
[class*=swatch-] .swatch-gray .btn-primary:hover,
[class*=swatch-] .swatch-gray button:hover,
[class*=swatch-] .swatch-gray input[type=submit]:hover {
    background-color: rgba(130, 201, 237, .9);
    color: #fff
}
.swatch-gray .btn-primary.btn-icon-left span,
.swatch-gray .btn-primary.btn-icon-right span,
.swatch-gray button.btn-icon-left span,
.swatch-gray button.btn-icon-right span,
.swatch-gray input[type=submit].btn-icon-left span,
.swatch-gray input[type=submit].btn-icon-right span,
[class*=swatch-] .swatch-gray .btn-primary.btn-icon-left span,
[class*=swatch-] .swatch-gray .btn-primary.btn-icon-right span,
[class*=swatch-] .swatch-gray button.btn-icon-left span,
[class*=swatch-] .swatch-gray button.btn-icon-right span,
[class*=swatch-] .swatch-gray input[type=submit].btn-icon-left span,
[class*=swatch-] .swatch-gray input[type=submit].btn-icon-right span {
    background-color: rgba(255, 255, 255, .3)
}
.swatch-gray .btn-primary i,
[class*=swatch-] .swatch-gray .btn-primary i {
    color: #fff!important
}
.swatch-gray .btn-link,
[class*=swatch-] .swatch-gray .btn-link {
    background: 0 0;
    color: #82c9ed;
    text-decoration: none;
    box-shadow: 0 0 0 1px #82c9ed inset
}
.swatch-gray .btn-link span,
[class*=swatch-] .swatch-gray .btn-link span {
    background: 0 0
}
.swatch-gray .btn-link i,
[class*=swatch-] .swatch-gray .btn-link i {
    color: #82c9ed!important
}
.swatch-gray .btn-link:hover,
[class*=swatch-] .swatch-gray .btn-link:hover {
    text-decoration: none;
    background-color: #82c9ed;
    color: #fff;
    box-shadow: 0 0 0 1px #82c9ed
}
.swatch-gray .btn-link:hover i,
[class*=swatch-] .swatch-gray .btn-link:hover i {
    color: #fff!important
}
.swatch-gray .open .dropdown-toggle.btn-primary,
[class*=swatch-] .swatch-gray .open .dropdown-toggle.btn-primary {
    background-color: #82c9ed;
    color: #fff
}
.swatch-gray .btn-group .dropdown-menu,
[class*=swatch-] .swatch-gray .btn-group .dropdown-menu {
    background-color: #82c9ed
}
.swatch-gray .btn-group .dropdown-menu>li>a,
[class*=swatch-] .swatch-gray .btn-group .dropdown-menu>li>a {
    color: #fff;
    box-shadow: 0 -1px 0 #6cbfea
}
.swatch-gray .btn-group .dropdown-menu>li:first-child>a,
[class*=swatch-] .swatch-gray .btn-group .dropdown-menu>li:first-child>a {
    box-shadow: none
}
.swatch-gray .btn-group .dropdown-menu>li>a:hover,
[class*=swatch-] .swatch-gray .btn-group .dropdown-menu>li>a:hover {
    background: #a1d6f1
}
.swatch-gray .label-primary,
[class*=swatch-] .swatch-gray .label-primary {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .label-primary a,
[class*=swatch-] .swatch-gray .label-primary a {
    color: #fff
}
.swatch-gray .input-group-btn,
.swatch-gray .uneditable-input,
.swatch-gray input,
.swatch-gray select,
.swatch-gray textarea,
[class*=swatch-] .swatch-gray .input-group-btn,
[class*=swatch-] .swatch-gray .uneditable-input,
[class*=swatch-] .swatch-gray input,
[class*=swatch-] .swatch-gray select,
[class*=swatch-] .swatch-gray textarea {
    background: #fff;
    color: #4c4c4c
}
.swatch-gray .input-group-btn:-moz-placeholder,
.swatch-gray .uneditable-input:-moz-placeholder,
.swatch-gray input:-moz-placeholder,
.swatch-gray select:-moz-placeholder,
.swatch-gray textarea:-moz-placeholder,
[class*=swatch-] .swatch-gray .input-group-btn:-moz-placeholder,
[class*=swatch-] .swatch-gray .uneditable-input:-moz-placeholder,
[class*=swatch-] .swatch-gray input:-moz-placeholder,
[class*=swatch-] .swatch-gray select:-moz-placeholder,
[class*=swatch-] .swatch-gray textarea:-moz-placeholder {
    color: #8c8c8c
}
.swatch-gray .input-group-btn::-moz-placeholder,
.swatch-gray .uneditable-input::-moz-placeholder,
.swatch-gray input::-moz-placeholder,
.swatch-gray select::-moz-placeholder,
.swatch-gray textarea::-moz-placeholder,
[class*=swatch-] .swatch-gray .input-group-btn::-moz-placeholder,
[class*=swatch-] .swatch-gray .uneditable-input::-moz-placeholder,
[class*=swatch-] .swatch-gray input::-moz-placeholder,
[class*=swatch-] .swatch-gray select::-moz-placeholder,
[class*=swatch-] .swatch-gray textarea::-moz-placeholder {
    color: #8c8c8c
}
.swatch-gray .input-group-btn:-ms-input-placeholder,
.swatch-gray .uneditable-input:-ms-input-placeholder,
.swatch-gray input:-ms-input-placeholder,
.swatch-gray select:-ms-input-placeholder,
.swatch-gray textarea:-ms-input-placeholder,
[class*=swatch-] .swatch-gray .input-group-btn:-ms-input-placeholder,
[class*=swatch-] .swatch-gray .uneditable-input:-ms-input-placeholder,
[class*=swatch-] .swatch-gray input:-ms-input-placeholder,
[class*=swatch-] .swatch-gray select:-ms-input-placeholder,
[class*=swatch-] .swatch-gray textarea:-ms-input-placeholder {
    color: #8c8c8c
}
.swatch-gray .input-group-btn::-webkit-input-placeholder,
.swatch-gray .uneditable-input::-webkit-input-placeholder,
.swatch-gray input::-webkit-input-placeholder,
.swatch-gray select::-webkit-input-placeholder,
.swatch-gray textarea::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray .input-group-btn::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray .uneditable-input::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray input::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray select::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray textarea::-webkit-input-placeholder {
    color: #8c8c8c
}
.swatch-gray input:focus,
.swatch-gray select.form-control:focus,
.swatch-gray textarea:focus,
[class*=swatch-] .swatch-gray input:focus,
[class*=swatch-] .swatch-gray select.form-control:focus,
[class*=swatch-] .swatch-gray textarea:focus {
    -webkit-box-shadow: 0 3px 0 #82c9ed;
    -moz-box-shadow: 0 3px 0 #82c9ed;
    box-shadow: 0 3px 0 #82c9ed
}
.swatch-gray input[type=checkbox],
.swatch-gray input[type=radio],
[class*=swatch-] .swatch-gray input[type=checkbox],
[class*=swatch-] .swatch-gray input[type=radio] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.swatch-gray .form-icon-group i,
[class*=swatch-] .swatch-gray .form-icon-group i {
    color: #82c9ed
}
.swatch-gray input[type=button],
[class*=swatch-] .swatch-gray input[type=button] {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .select-wrap,
[class*=swatch-] .swatch-gray .select-wrap {
    background: #fff
}
.swatch-gray .select-wrap:after,
[class*=swatch-] .swatch-gray .select-wrap:after {
    color: #4c4c4c
}
.swatch-gray .table th,
[class*=swatch-] .swatch-gray .table th {
    background-color: #82c9ed;
    text-transform: uppercase;
    color: #e9e9e9
}
.swatch-gray .table td,
.swatch-gray .table th,
.swatch-gray .table-bordered,
[class*=swatch-] .swatch-gray .table td,
[class*=swatch-] .swatch-gray .table th,
[class*=swatch-] .swatch-gray .table-bordered {
    border-color: #c9c7c7
}
.swatch-gray .table-hover tbody tr:hover th,
.swatch-gray .table-hover>tbody>tr:hover>td,
.swatch-gray .table-hover>tbody>tr:hover>th,
.swatch-gray .table-striped>tbody>tr:nth-child(odd)>td,
.swatch-gray .table-striped>tbody>tr:nth-child(odd)>th,
[class*=swatch-] .swatch-gray .table-hover tbody tr:hover th,
[class*=swatch-] .swatch-gray .table-hover>tbody>tr:hover>td,
[class*=swatch-] .swatch-gray .table-hover>tbody>tr:hover>th,
[class*=swatch-] .swatch-gray .table-striped>tbody>tr:nth-child(odd)>td,
[class*=swatch-] .swatch-gray .table-striped>tbody>tr:nth-child(odd)>th {
    background: #c9c7c7
}
.swatch-gray#masthead,
[class*=swatch-] .swatch-gray#masthead {
    border-color: #e9e9e9
}
.swatch-gray.navbar,
[class*=swatch-] .swatch-gray.navbar {
    background: #e9e9e9;
    color: #1c1c1c
}
.swatch-gray .navbar-text,
.swatch-gray.navbar .navbar-brand,
.swatch-gray.navbar .navbar-brand:hover,
[class*=swatch-] .swatch-gray .navbar-text,
[class*=swatch-] .swatch-gray.navbar .navbar-brand,
[class*=swatch-] .swatch-gray.navbar .navbar-brand:hover {
    color: #1c1c1c
}
.swatch-gray.navbar .nav>li>a,
[class*=swatch-] .swatch-gray.navbar .nav>li>a {
    color: #4c4c4c
}
.swatch-gray.navbar .nav>li>a:focus,
.swatch-gray.navbar .nav>li>a:hover,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:focus,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:hover {
    background: 0 0
}
.swatch-gray.navbar .nav>li>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:before {
    background-color: #82c9ed
}
.swatch-gray.navbar a .menu-icon,
[class*=swatch-] .swatch-gray.navbar a .menu-icon {
    color: #4c4c4c
}
.swatch-gray.navbar a:hover .menu-icon,
[class*=swatch-] .swatch-gray.navbar a:hover .menu-icon {
    color: #82c9ed
}
.swatch-gray.navbar .dropdown-menu a:hover .menu-icon,
[class*=swatch-] .swatch-gray.navbar .dropdown-menu a:hover .menu-icon {
    color: #e9e9e9
}
.swatch-gray .navbar-toggle,
[class*=swatch-] .swatch-gray .navbar-toggle {
    background: none!important
}
.swatch-gray .navbar-toggle .icon-bar,
[class*=swatch-] .swatch-gray .navbar-toggle .icon-bar {
    background-color: #1c1c1c
}
.swatch-gray .navbar-toggle:hover,
[class*=swatch-] .swatch-gray .navbar-toggle:hover {
    background: 0 0
}
.swatch-gray.navbar .nav li.dropdown.active>.dropdown-toggle,
.swatch-gray.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.swatch-gray.navbar .nav li.dropdown.open>.dropdown-toggle,
.swatch-gray.navbar .nav>.active>a,
.swatch-gray.navbar .nav>.active>a:focus,
.swatch-gray.navbar .nav>.active>a:hover,
.swatch-gray.navbar .nav>.current-menu-ancestor>a,
.swatch-gray.navbar .nav>.current-menu-item>a,
.swatch-gray.navbar .nav>.current-menu-item>a:focus,
.swatch-gray.navbar .nav>.current-menu-item>a:hover,
.swatch-gray.navbar .nav>.current-menu-parent>a,
.swatch-gray.navbar .nav>li>a:focus,
.swatch-gray.navbar .nav>li>a:hover,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.active>.dropdown-toggle,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.open.active>.dropdown-toggle,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.open>.dropdown-toggle,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a:focus,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a:hover,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-ancestor>a,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a:focus,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a:hover,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-parent>a,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:focus,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:hover {
    color: #82c9ed
}
.swatch-gray.navbar .nav li.dropdown.active>.dropdown-toggle:before,
.swatch-gray.navbar .nav li.dropdown.open.active>.dropdown-toggle:before,
.swatch-gray.navbar .nav li.dropdown.open>.dropdown-toggle:before,
.swatch-gray.navbar .nav>.active>a:before,
.swatch-gray.navbar .nav>.active>a:focus:before,
.swatch-gray.navbar .nav>.active>a:hover:before,
.swatch-gray.navbar .nav>.current-menu-ancestor>a:before,
.swatch-gray.navbar .nav>.current-menu-item>a:before,
.swatch-gray.navbar .nav>.current-menu-item>a:focus:before,
.swatch-gray.navbar .nav>.current-menu-item>a:hover:before,
.swatch-gray.navbar .nav>.current-menu-parent>a:before,
.swatch-gray.navbar .nav>li>a:focus:before,
.swatch-gray.navbar .nav>li>a:hover:before,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.active>.dropdown-toggle:before,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.open.active>.dropdown-toggle:before,
[class*=swatch-] .swatch-gray.navbar .nav li.dropdown.open>.dropdown-toggle:before,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a:focus:before,
[class*=swatch-] .swatch-gray.navbar .nav>.active>a:hover:before,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-ancestor>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a:focus:before,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-item>a:hover:before,
[class*=swatch-] .swatch-gray.navbar .nav>.current-menu-parent>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:focus:before,
[class*=swatch-] .swatch-gray.navbar .nav>li>a:hover:before {
    background-color: #82c9ed
}
.swatch-gray.navbar .nav>.disabled>a,
[class*=swatch-] .swatch-gray.navbar .nav>.disabled>a {
    color: #1c1c1c
}
.swatch-gray.navbar .nav>.disabled>a:before,
[class*=swatch-] .swatch-gray.navbar .nav>.disabled>a:before {
    display: none
}
.swatch-gray .dropdown-menu,
[class*=swatch-] .swatch-gray .dropdown-menu {
    background-color: rgba(233, 233, 233, .95);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 3px 0 #82c9ed inset;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 3px 0 #82c9ed inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 3px 0 #82c9ed inset
}
.swatch-gray .dropdown-menu>li>a,
[class*=swatch-] .swatch-gray .dropdown-menu>li>a {
    color: #1c1c1c
}
.swatch-gray .dropdown-menu>.active>a,
.swatch-gray .dropdown-menu>.active>a:focus,
.swatch-gray .dropdown-menu>.active>a:hover,
.swatch-gray .dropdown-menu>li>a:hover,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a:focus,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a:hover,
[class*=swatch-] .swatch-gray .dropdown-menu>li>a:hover {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .dropdown-menu>.active>a i,
.swatch-gray .dropdown-menu>.active>a:focus i,
.swatch-gray .dropdown-menu>.active>a:hover i,
.swatch-gray .dropdown-menu>li>a:hover i,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a i,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a:focus i,
[class*=swatch-] .swatch-gray .dropdown-menu>.active>a:hover i,
[class*=swatch-] .swatch-gray .dropdown-menu>li>a:hover i {
    color: #e9e9e9
}
.swatch-gray .dropdown-menu>li.disabled>a:hover,
[class*=swatch-] .swatch-gray .dropdown-menu>li.disabled>a:hover {
    color: #1c1c1c
}
.swatch-gray.navbar .nav>li>.dropdown-menu:after,
.swatch-gray.navbar .nav>li>.dropdown-menu:before,
[class*=swatch-] .swatch-gray.navbar .nav>li>.dropdown-menu:after,
[class*=swatch-] .swatch-gray.navbar .nav>li>.dropdown-menu:before {
    display: none
}
.swatch-gray.navbar-scrolled,
[class*=swatch-] .swatch-gray.navbar-scrolled {
    background: rgba(233, 233, 233, .95)
}
.swatch-gray .dropdown-submenu>a:after,
[class*=swatch-] .swatch-gray .dropdown-submenu>a:after {
    border-left-color: #82c9ed!important
}
.swatch-gray .dropdown-submenu>a:hover:after,
[class*=swatch-] .swatch-gray .dropdown-submenu>a:hover:after {
    border-left-color: #e9e9e9!important
}
.swatch-gray .dropdown-menu .divider,
[class*=swatch-] .swatch-gray .dropdown-menu .divider {
    background-color: rgba(201, 199, 199, .8)
}
.swatch-gray.navbar .nav-highlight>a,
[class*=swatch-] .swatch-gray.navbar .nav-highlight>a {
    color: #e9e9e9!important
}
.swatch-gray.navbar .nav-highlight>a:after,
[class*=swatch-] .swatch-gray.navbar .nav-highlight>a:after {
    background: #82c9ed
}
.swatch-gray.navbar .nav-highlight>a:hover,
[class*=swatch-] .swatch-gray.navbar .nav-highlight>a:hover {
    color: #e9e9e9!important
}
.swatch-gray.navbar .nav-highlight>a:hover:after,
[class*=swatch-] .swatch-gray.navbar .nav-highlight>a:hover:after {
    background: rgba(130, 201, 237, .8)
}
.swatch-gray.navbar li.nav-highlight-ghost>a,
[class*=swatch-] .swatch-gray.navbar li.nav-highlight-ghost>a {
    color: #82c9ed
}
.swatch-gray.navbar li.nav-highlight-ghost>a:after,
[class*=swatch-] .swatch-gray.navbar li.nav-highlight-ghost>a:after {
    border: 1px solid #82c9ed
}
.swatch-gray.navbar li.nav-highlight-ghost>a:hover,
[class*=swatch-] .swatch-gray.navbar li.nav-highlight-ghost>a:hover {
    color: rgba(130, 201, 237, .8)
}
.swatch-gray.navbar li.nav-highlight-ghost>a:hover:after,
[class*=swatch-] .swatch-gray.navbar li.nav-highlight-ghost>a:hover:after {
    border-color: rgba(130, 201, 237, .8)
}
.transparent-header .swatch-gray.navbar,
.transparent-header[class*=swatch-] .swatch-gray.navbar {
    background: 0 0
}
.transparent-header .swatch-gray.navbar-scrolled,
.transparent-header[class*=swatch-] .swatch-gray.navbar-scrolled {
    background: rgba(233, 233, 233, .95)!important
}
.transparent-header .swatch-gray.search-active,
.transparent-header[class*=swatch-] .swatch-gray.search-active {
    background: #e9e9e9!important
}
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a {
    color: #1c1c1c
}
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover {
    background: 0 0;
    color: #82c9ed
}
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li.current-menu-item>a,
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover .menu-icon,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li.current-menu-item>a,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover .menu-icon {
    color: #82c9ed
}
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>p,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>p {
    border-bottom-color: rgba(201, 199, 199, .8)
}
.swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li:before,
[class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li:before {
    background: rgba(201, 199, 199, .8)
}
@media (max-width: 992px) {
    .swatch-gray.navbar .nav>li>a,
    [class*=swatch-] .swatch-gray.navbar .nav>li>a {
        border-radius: 0
    }
    .swatch-gray.navbar .dropdown-menu,
    [class*=swatch-] .swatch-gray.navbar .dropdown-menu {
        background: #c9c7c7;
        border-radius: 0;
        box-shadow: none
    }
    .swatch-gray.navbar .dropdown-menu>li>a,
    [class*=swatch-] .swatch-gray.navbar .dropdown-menu>li>a {
        border-radius: 0
    }
    .swatch-gray.navbar .dropdown-menu>li.active>a,
    .swatch-gray.navbar .dropdown-menu>li>a:focus,
    .swatch-gray.navbar .dropdown-menu>li>a:hover,
    [class*=swatch-] .swatch-gray.navbar .dropdown-menu>li.active>a,
    [class*=swatch-] .swatch-gray.navbar .dropdown-menu>li>a:focus,
    [class*=swatch-] .swatch-gray.navbar .dropdown-menu>li>a:hover {
        background: #82c9ed;
        color: #e9e9e9
    }
    .swatch-gray .dropdown-submenu>ul>li>a,
    .swatch-gray .dropdown-submenu>ul>li>a:hover,
    [class*=swatch-] .swatch-gray .dropdown-submenu>ul>li>a,
    [class*=swatch-] .swatch-gray .dropdown-submenu>ul>li>a:hover {
        background: #c9c7c7
    }
    .swatch-gray .dropdown-submenu>a:after,
    [class*=swatch-] .swatch-gray .dropdown-submenu>a:after {
        border-left-color: transparent!important;
        border-top-color: #82c9ed!important
    }
    .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover,
    [class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li>ul>li>a:hover {
        background: #82c9ed;
        color: #e9e9e9
    }
    .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li:before,
    [class*=swatch-] .swatch-gray .menu-item-object-oxy_mega_menu .dropdown-menu>li:before {
        display: none
    }
    .swatch-gray .nav-highlight>a,
    [class*=swatch-] .swatch-gray .nav-highlight>a {
        color: #82c9ed!important
    }
    .swatch-gray .nav-highlight>a:after,
    [class*=swatch-] .swatch-gray .nav-highlight>a:after {
        background: 0 0
    }
    .swatch-gray .nav-highlight>a:hover,
    [class*=swatch-] .swatch-gray .nav-highlight>a:hover {
        color: #82c9ed!important
    }
    .swatch-gray .nav-highlight>a:hover:after,
    [class*=swatch-] .swatch-gray .nav-highlight>a:hover:after {
        background: 0 0
    }
    .transparent-header .swatch-gray .navbar-collapse,
    .transparent-header[class*=swatch-] .swatch-gray .navbar-collapse {
        background: rgba(233, 233, 233, .95)!important
    }
}
.swatch-gray .pagination>li>a,
.swatch-gray .pagination>li>span,
[class*=swatch-] .swatch-gray .pagination>li>a,
[class*=swatch-] .swatch-gray .pagination>li>span {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .pagination>.active>a,
.swatch-gray .pagination>.active>span,
.swatch-gray .pagination>li>a:hover,
[class*=swatch-] .swatch-gray .pagination>.active>a,
[class*=swatch-] .swatch-gray .pagination>.active>span,
[class*=swatch-] .swatch-gray .pagination>li>a:hover {
    background: rgba(130, 201, 237, .8)
}
.swatch-gray .pagination>.active>a i,
.swatch-gray .pagination>.active>span i,
.swatch-gray .pagination>li:first-child i,
.swatch-gray .pagination>li:last-child i,
.swatch-gray .pagination>li>a:hover i,
[class*=swatch-] .swatch-gray .pagination>.active>a i,
[class*=swatch-] .swatch-gray .pagination>.active>span i,
[class*=swatch-] .swatch-gray .pagination>li:first-child i,
[class*=swatch-] .swatch-gray .pagination>li:last-child i,
[class*=swatch-] .swatch-gray .pagination>li>a:hover i {
    color: #fff
}
.swatch-gray .pagination>li.disabled span i,
[class*=swatch-] .swatch-gray .pagination>li.disabled span i {
    color: rgba(255, 255, 255, .4)
}
.swatch-gray .pager>li>a,
[class*=swatch-] .swatch-gray .pager>li>a {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .pager>li>a i,
[class*=swatch-] .swatch-gray .pager>li>a i {
    color: #fff
}
.swatch-gray .tooltip-inner,
[class*=swatch-] .swatch-gray .tooltip-inner {
    background-color: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .tooltip.in,
[class*=swatch-] .swatch-gray .tooltip.in {
    opacity: 1
}
.swatch-gray .tooltip.top .tooltip-arrow,
[class*=swatch-] .swatch-gray .tooltip.top .tooltip-arrow {
    border-top-color: #82c9ed
}
.swatch-gray .tooltip.right .tooltip-arrow,
[class*=swatch-] .swatch-gray .tooltip.right .tooltip-arrow {
    border-right-color: #82c9ed
}
.swatch-gray .tooltip.left .tooltip-arrow,
[class*=swatch-] .swatch-gray .tooltip.left .tooltip-arrow {
    border-left-color: #82c9ed
}
.swatch-gray .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .swatch-gray .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #82c9ed
}
.swatch-gray .jumbotron,
[class*=swatch-] .swatch-gray .jumbotron {
    background: #c9c7c7
}
.swatch-gray .progress-bar-primary,
[class*=swatch-] .swatch-gray .progress-bar-primary {
    background: #82c9ed;
    box-shadow: none
}
.swatch-gray .progress-bar-primary span,
[class*=swatch-] .swatch-gray .progress-bar-primary span {
    color: #fff
}
.swatch-gray .progress-bar-primary.progress-striped .progress-bar,
.swatch-gray .progress-striped .progress-bar-primary,
[class*=swatch-] .swatch-gray .progress-bar-primary.progress-striped .progress-bar,
[class*=swatch-] .swatch-gray .progress-striped .progress-bar-primary {
    background-color: #82c9ed;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, .15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.75, rgba(255, 255, 255, .15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px
}
.swatch-gray .badge,
[class*=swatch-] .swatch-gray .badge {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .nav-tabs .active a,
.swatch-gray .nav-tabs .active a:hover,
.swatch-gray .tab-content,
[class*=swatch-] .swatch-gray .nav-tabs .active a,
[class*=swatch-] .swatch-gray .nav-tabs .active a:hover,
[class*=swatch-] .swatch-gray .tab-content {
    background: #82c9ed
}
.swatch-gray .nav-tabs>li>a:focus,
.swatch-gray .nav-tabs>li>a:hover,
[class*=swatch-] .swatch-gray .nav-tabs>li>a:focus,
[class*=swatch-] .swatch-gray .nav-tabs>li>a:hover {
    color: #e9e9e9;
    background-color: #82c9ed
}
.swatch-gray .nav-tabs>li.active>a,
.swatch-gray .nav-tabs>li.active>a:hover,
[class*=swatch-] .swatch-gray .nav-tabs>li.active>a,
[class*=swatch-] .swatch-gray .nav-tabs>li.active>a:hover {
    color: #e9e9e9
}
.swatch-gray .nav-pills>.active>a,
.swatch-gray .nav-pills>.active>a:hover,
.swatch-gray .nav-pills>li>a .badge,
.swatch-gray .nav-pills>li>a:focus,
.swatch-gray .nav-pills>li>a:hover,
[class*=swatch-] .swatch-gray .nav-pills>.active>a,
[class*=swatch-] .swatch-gray .nav-pills>.active>a:hover,
[class*=swatch-] .swatch-gray .nav-pills>li>a .badge,
[class*=swatch-] .swatch-gray .nav-pills>li>a:focus,
[class*=swatch-] .swatch-gray .nav-pills>li>a:hover {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .nav-pills>.active>a .badge,
.swatch-gray .nav-pills>.active>a:hover .badge,
.swatch-gray .nav-pills>li>a:focus .badge,
.swatch-gray .nav-pills>li>a:hover .badge,
[class*=swatch-] .swatch-gray .nav-pills>.active>a .badge,
[class*=swatch-] .swatch-gray .nav-pills>.active>a:hover .badge,
[class*=swatch-] .swatch-gray .nav-pills>li>a:focus .badge,
[class*=swatch-] .swatch-gray .nav-pills>li>a:hover .badge {
    background: #e9e9e9;
    color: #82c9ed
}
.swatch-gray .nav-pills>.active>a:hover,
.swatch-gray .nav-pills>.active>a:hover:hover,
.swatch-gray .nav-pills>li>a:focus:hover,
.swatch-gray .nav-pills>li>a:hover:hover,
.swatch-gray .tab-pane,
.swatch-gray .tab-pane a,
.swatch-gray .tab-pane h1,
.swatch-gray .tab-pane h2,
.swatch-gray .tab-pane h3,
.swatch-gray .tab-pane h4,
.swatch-gray .tab-pane h5,
.swatch-gray .tab-pane h6,
.swatch-gray .tab-pane p,
.swatch-gray .tab-pane.active,
.swatch-gray .tab-pane.active a,
.swatch-gray .tab-pane.active h1,
.swatch-gray .tab-pane.active h2,
.swatch-gray .tab-pane.active h3,
.swatch-gray .tab-pane.active h4,
.swatch-gray .tab-pane.active h5,
.swatch-gray .tab-pane.active h6,
.swatch-gray .tab-pane.active p,
[class*=swatch-] .swatch-gray .nav-pills>.active>a:hover,
[class*=swatch-] .swatch-gray .nav-pills>.active>a:hover:hover,
[class*=swatch-] .swatch-gray .nav-pills>li>a:focus:hover,
[class*=swatch-] .swatch-gray .nav-pills>li>a:hover:hover,
[class*=swatch-] .swatch-gray .tab-pane,
[class*=swatch-] .swatch-gray .tab-pane a,
[class*=swatch-] .swatch-gray .tab-pane h1,
[class*=swatch-] .swatch-gray .tab-pane h2,
[class*=swatch-] .swatch-gray .tab-pane h3,
[class*=swatch-] .swatch-gray .tab-pane h4,
[class*=swatch-] .swatch-gray .tab-pane h5,
[class*=swatch-] .swatch-gray .tab-pane h6,
[class*=swatch-] .swatch-gray .tab-pane p,
[class*=swatch-] .swatch-gray .tab-pane.active,
[class*=swatch-] .swatch-gray .tab-pane.active a,
[class*=swatch-] .swatch-gray .tab-pane.active h1,
[class*=swatch-] .swatch-gray .tab-pane.active h2,
[class*=swatch-] .swatch-gray .tab-pane.active h3,
[class*=swatch-] .swatch-gray .tab-pane.active h4,
[class*=swatch-] .swatch-gray .tab-pane.active h5,
[class*=swatch-] .swatch-gray .tab-pane.active h6,
[class*=swatch-] .swatch-gray .tab-pane.active p {
    color: #e9e9e9
}
.swatch-gray .tab-pane .btn,
.swatch-gray .tab-pane.active .btn,
[class*=swatch-] .swatch-gray .tab-pane .btn,
[class*=swatch-] .swatch-gray .tab-pane.active .btn {
    color: #82c9ed!important;
    background: #e9e9e9!important
}
.swatch-gray .tab-pane .tooltip-inner,
.swatch-gray .tab-pane.active .tooltip-inner,
[class*=swatch-] .swatch-gray .tab-pane .tooltip-inner,
[class*=swatch-] .swatch-gray .tab-pane.active .tooltip-inner {
    background-color: #e9e9e9;
    color: #82c9ed
}
.swatch-gray .tab-pane .tooltip.top .tooltip-arrow,
.swatch-gray .tab-pane.active .tooltip.top .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane .tooltip.top .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane.active .tooltip.top .tooltip-arrow {
    border-top-color: #e9e9e9
}
.swatch-gray .tab-pane .tooltip.right .tooltip-arrow,
.swatch-gray .tab-pane.active .tooltip.right .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane .tooltip.right .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane.active .tooltip.right .tooltip-arrow {
    border-right-color: #e9e9e9
}
.swatch-gray .tab-pane .tooltip.left .tooltip-arrow,
.swatch-gray .tab-pane.active .tooltip.left .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane .tooltip.left .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane.active .tooltip.left .tooltip-arrow {
    border-left-color: #e9e9e9
}
.swatch-gray .tab-pane .tooltip.bottom .tooltip-arrow,
.swatch-gray .tab-pane.active .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .swatch-gray .tab-pane.active .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #e9e9e9
}
.swatch-gray .panel,
.swatch-gray .well,
[class*=swatch-] .swatch-gray .panel,
[class*=swatch-] .swatch-gray .well {
    background: #c9c7c7
}
.swatch-gray .panel-primary .panel-heading,
[class*=swatch-] .swatch-gray .panel-primary .panel-heading {
    background: #82c9ed
}
.swatch-gray .panel-primary .panel-heading .panel-title,
.swatch-gray .panel-primary .panel-heading a,
[class*=swatch-] .swatch-gray .panel-primary .panel-heading .panel-title,
[class*=swatch-] .swatch-gray .panel-primary .panel-heading a {
    color: #fff;
    text-decoration: none
}
.swatch-gray .panel-primary>.panel-heading+.panel-collapse .panel-body,
[class*=swatch-] .swatch-gray .panel-primary>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #3face3
}
.swatch-gray .panel-footer,
[class*=swatch-] .swatch-gray .panel-footer {
    background: #98d3f0;
    border-color: #6cbfea
}
.swatch-gray .panel .table,
[class*=swatch-] .swatch-gray .panel .table {
    box-shadow: 0 0 0 1px #c9c7c7 inset
}
.swatch-gray .panel .table th,
[class*=swatch-] .swatch-gray .panel .table th {
    background: #c9c7c7;
    color: #1c1c1c
}
.swatch-gray .portfolio-title,
[class*=swatch-] .swatch-gray .portfolio-title {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .portfolio-nav svg,
[class*=swatch-] .swatch-gray .portfolio-nav svg {
    stroke: #4c4c4c
}
.swatch-gray .social-icons li a,
[class*=swatch-] .swatch-gray .social-icons li a {
    background-color: #82c9ed
}
.swatch-gray .social-icons li a i,
[class*=swatch-] .swatch-gray .social-icons li a i {
    color: #e9e9e9
}
.swatch-gray .social-icons li a:not([data-iconcolor]):hover,
[class*=swatch-] .swatch-gray .social-icons li a:not([data-iconcolor]):hover {
    background-color: rgba(130, 201, 237, .8)
}
.swatch-gray .social-simple li a i,
[class*=swatch-] .swatch-gray .social-simple li a i {
    color: #4c4c4c
}
.swatch-gray .social-simple li a:not([data-iconcolor]):hover i,
[class*=swatch-] .swatch-gray .social-simple li a:not([data-iconcolor]):hover i {
    color: #82c9ed
}
.swatch-gray .box-inner,
[class*=swatch-] .swatch-gray .box-inner {
    background-color: #fff
}
.swatch-gray .box:not(.box-simple) a.box-inner:hover,
[class*=swatch-] .swatch-gray .box:not(.box-simple) a.box-inner:hover {
    background: none!important;
    box-shadow: 0 0 0 1px #4c4c4c inset
}
.swatch-gray .box:not(.box-simple) a.box-inner:hover svg,
[class*=swatch-] .swatch-gray .box:not(.box-simple) a.box-inner:hover svg {
    stroke: #4c4c4c
}
.swatch-gray .bordered:after,
[class*=swatch-] .swatch-gray .bordered:after {
    background-color: #1c1c1c
}
.swatch-gray .bordered>a:after,
[class*=swatch-] .swatch-gray .bordered>a:after {
    background-color: #82c9ed
}
.swatch-gray .bordered-link:after,
[class*=swatch-] .swatch-gray .bordered-link:after {
    background-color: #82c9ed!important
}
.swatch-gray #infscr-loading,
[class*=swatch-] .swatch-gray #infscr-loading {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .counter .value,
[class*=swatch-] .swatch-gray .counter .value {
    color: #1c1c1c
}
.swatch-gray .scroll-to,
[class*=swatch-] .swatch-gray .scroll-to {
    border-color: #82c9ed
}
.swatch-gray .scroll-to svg,
[class*=swatch-] .swatch-gray .scroll-to svg {
    stroke: #82c9ed
}
.swatch-gray .scroll-to:hover,
[class*=swatch-] .swatch-gray .scroll-to:hover {
    border-color: #4c4c4c
}
.swatch-gray .scroll-to:hover svg,
[class*=swatch-] .swatch-gray .scroll-to:hover svg {
    stroke: #4c4c4c
}
.swatch-gray .map-marker-label,
[class*=swatch-] .swatch-gray .map-marker-label {
    border-top-color: #82c9ed
}
.swatch-gray .tag-list span,
[class*=swatch-] .swatch-gray .tag-list span {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .mejs-audio,
[class*=swatch-] .swatch-gray .mejs-audio {
    background-color: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .mejs-container .mejs-controls .mejs-time span,
[class*=swatch-] .swatch-gray .mejs-container .mejs-controls .mejs-time span {
    color: #e9e9e9
}
.swatch-gray .mejs-controls .mejs-button button:hover,
[class*=swatch-] .swatch-gray .mejs-controls .mejs-button button:hover {
    background-color: transparent
}
.swatch-gray .mejs-controls .mejs-time-rail .mejs-time-loaded,
[class*=swatch-] .swatch-gray .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #e9e9e9
}
.swatch-gray .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.swatch-gray .mejs-controls .mejs-time-rail .mejs-time-current,
.swatch-gray .post:after,
[class*=swatch-] .swatch-gray .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
[class*=swatch-] .swatch-gray .mejs-controls .mejs-time-rail .mejs-time-current,
[class*=swatch-] .swatch-gray .post:after {
    background: #c9c7c7
}
.swatch-gray .post-icon,
[class*=swatch-] .swatch-gray .post-icon {
    background: #82c9ed
}
.swatch-gray .post-icon i,
[class*=swatch-] .swatch-gray .post-icon i {
    color: #fff
}
.swatch-gray .post-search-icon,
[class*=swatch-] .swatch-gray .post-search-icon {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(28, 28, 28, .2)
}
.swatch-gray .post-extras a,
[class*=swatch-] .swatch-gray .post-extras a {
    color: rgba(76, 76, 76, .8)
}
.swatch-gray .post-extras a:hover,
[class*=swatch-] .swatch-gray .post-extras a:hover {
    color: #82c9ed
}
.swatch-gray .post-extras i,
[class*=swatch-] .swatch-gray .post-extras i {
    color: #4c4c4c
}
.swatch-gray .post-more-link i,
[class*=swatch-] .swatch-gray .post-more-link i {
    color: #82c9ed
}
.swatch-gray .media-inner:after,
[class*=swatch-] .swatch-gray .media-inner:after {
    background: #82c9ed
}
.swatch-gray .author-info,
[class*=swatch-] .swatch-gray .author-info {
    background-color: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .author-info .media-heading,
[class*=swatch-] .swatch-gray .author-info .media-heading {
    color: #e9e9e9
}
.swatch-gray .author-info .media-heading:after,
[class*=swatch-] .swatch-gray .author-info .media-heading:after {
    background: #e9e9e9
}
.post-masonry .swatch-gray:hover,
.post-masonry[class*=swatch-] .swatch-gray:hover,
.swatch-gray .breadcrumb-blog .active,
.swatch-gray .breadcrumb-blog a,
[class*=swatch-] .swatch-gray .breadcrumb-blog .active,
[class*=swatch-] .swatch-gray .breadcrumb-blog a {
    color: #4c4c4c
}
.swatch-gray .breadcrumb-blog a:hover,
[class*=swatch-] .swatch-gray .breadcrumb-blog a:hover {
    color: rgba(76, 76, 76, .8)
}
.swatch-gray .post-related-post,
[class*=swatch-] .swatch-gray .post-related-post {
    background-color: #82c9ed
}
.swatch-gray .post-related-post a,
[class*=swatch-] .swatch-gray .post-related-post a {
    background: rgba(28, 28, 28, .9);
    color: #e9e9e9
}
.swatch-gray .post-related-post a:hover,
[class*=swatch-] .swatch-gray .post-related-post a:hover {
    color: #e9e9e9
}
.swatch-gray .post-related-post small,
[class*=swatch-] .swatch-gray .post-related-post small {
    background: #e9e9e9;
    color: #1c1c1c
}
.swatch-gray .post-related-post blockquote,
[class*=swatch-] .swatch-gray .post-related-post blockquote {
    color: #e9e9e9
}
.swatch-gray .post-related-post blockquote small,
[class*=swatch-] .swatch-gray .post-related-post blockquote small {
    background: rgba(28, 28, 28, .9);
    color: #e9e9e9
}
.swatch-gray .post-related-post blockquote:before,
[class*=swatch-] .swatch-gray .post-related-post blockquote:before {
    background-color: #63bce9
}
.swatch-gray .post-sticky,
[class*=swatch-] .swatch-gray .post-sticky {
    background: rgba(130, 201, 237, .8)
}
.swatch-gray .post-sticky i,
[class*=swatch-] .swatch-gray .post-sticky i {
    color: #fff
}
.swatch-gray .gform_wrapper .gsection,
[class*=swatch-] .swatch-gray .gform_wrapper .gsection {
    border-color: #c9c7c7
}
.swatch-gray .gf_progressbar,
[class*=swatch-] .swatch-gray .gf_progressbar {
    background: #c9c7c7
}
.swatch-gray .gf_progressbar_percentage,
[class*=swatch-] .swatch-gray .gf_progressbar_percentage {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .sidebar,
[class*=swatch-] .swatch-gray .sidebar {
    color: #4c4c4c
}
.swatch-gray .sidebar h3,
[class*=swatch-] .swatch-gray .sidebar h3 {
    color: #1c1c1c
}
.swatch-gray .sidebar a,
[class*=swatch-] .swatch-gray .sidebar a {
    color: #4c4c4c
}
.swatch-gray .sidebar a:hover,
[class*=swatch-] .swatch-gray .sidebar a:hover {
    color: #82c9ed
}
.swatch-gray .sidebar-header:after,
.swatch-gray .sidebar-widget .post-icon,
[class*=swatch-] .swatch-gray .sidebar-header:after,
[class*=swatch-] .swatch-gray .sidebar-widget .post-icon {
    background: #82c9ed
}
.swatch-gray .sidebar-widget .post-icon i,
[class*=swatch-] .swatch-gray .sidebar-widget .post-icon i {
    color: #fff
}
.swatch-gray .widget_recent_entries li,
[class*=swatch-] .swatch-gray .widget_recent_entries li {
    border-color: #c9c7c7
}
.swatch-gray .widget_tag_cloud ul a,
[class*=swatch-] .swatch-gray .widget_tag_cloud ul a {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .widget_tag_cloud ul a:hover,
[class*=swatch-] .swatch-gray .widget_tag_cloud ul a:hover {
    background: rgba(130, 201, 237, .9);
    color: #fff
}
.swatch-gray .widget_calendar tbody a,
[class*=swatch-] .swatch-gray .widget_calendar tbody a {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .widget_calendar tbody a:hover,
[class*=swatch-] .swatch-gray .widget_calendar tbody a:hover {
    background: #63bce9;
    color: #e9e9e9
}
.swatch-gray .widget_calendar tfoot,
[class*=swatch-] .swatch-gray .widget_calendar tfoot {
    background: #c9c7c7
}
.swatch-gray .widget_nav_menu .sub-menu li:before,
[class*=swatch-] .swatch-gray .widget_nav_menu .sub-menu li:before {
    color: #c9c7c7
}
.swatch-gray .widget_oxy_twitter li:before,
[class*=swatch-] .swatch-gray .widget_oxy_twitter li:before {
    color: #82c9ed
}
.swatch-gray .top-search form,
[class*=swatch-] .swatch-gray .top-search form {
    background-color: #e9e9e9
}
.swatch-gray .top-search input,
[class*=swatch-] .swatch-gray .top-search input {
    background: 0 0;
    color: #4c4c4c
}
.swatch-gray .top-search input:focus,
[class*=swatch-] .swatch-gray .top-search input:focus {
    box-shadow: none
}
.swatch-gray .top-search input:-moz-placeholder,
[class*=swatch-] .swatch-gray .top-search input:-moz-placeholder {
    color: #4c4c4c
}
.swatch-gray .top-search input::-moz-placeholder,
[class*=swatch-] .swatch-gray .top-search input::-moz-placeholder {
    color: #4c4c4c
}
.swatch-gray .top-search input:-ms-input-placeholder,
[class*=swatch-] .swatch-gray .top-search input:-ms-input-placeholder {
    color: #4c4c4c
}
.swatch-gray .top-search input::-webkit-input-placeholder,
[class*=swatch-] .swatch-gray .top-search input::-webkit-input-placeholder {
    color: #4c4c4c
}
.swatch-gray .top-search .search-close,
[class*=swatch-] .swatch-gray .top-search .search-close {
    color: #82c9ed
}
.swatch-gray .top-search svg,
[class*=swatch-] .swatch-gray .top-search svg {
    stroke: #4c4c4c
}
.swatch-gray.top-bar a,
[class*=swatch-] .swatch-gray.top-bar a {
    color: #1c1c1c
}
.swatch-gray.top-bar a:hover,
[class*=swatch-] .swatch-gray.top-bar a:hover {
    color: #82c9ed
}
.swatch-gray .widget_swatch_wpml_language_selector li:before,
.swatch-gray.top-bar .sidebar-widget:after,
[class*=swatch-] .swatch-gray .widget_swatch_wpml_language_selector li:before,
[class*=swatch-] .swatch-gray.top-bar .sidebar-widget:after {
    background: #c9c7c7
}
.swatch-gray .button,
[class*=swatch-] .swatch-gray .button {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .button:hover,
[class*=swatch-] .swatch-gray .button:hover {
    background: rgba(130, 201, 237, .9);
    color: #fff
}
.swatch-gray.section-commerce .breadcrumb,
[class*=swatch-] .swatch-gray.section-commerce .breadcrumb {
    background: 0 0;
    color: #4c4c4c
}
.swatch-gray.section-commerce .breadcrumb a,
.swatch-gray.section-commerce .breadcrumb>li+li:before,
[class*=swatch-] .swatch-gray.section-commerce .breadcrumb a,
[class*=swatch-] .swatch-gray.section-commerce .breadcrumb>li+li:before {
    color: #82c9ed
}
.swatch-gray .woocommerce-ordering .select-wrap,
[class*=swatch-] .swatch-gray .woocommerce-ordering .select-wrap {
    background: #82c9ed
}
.swatch-gray .woocommerce-ordering .select-wrap:after,
[class*=swatch-] .swatch-gray .woocommerce-ordering .select-wrap:after {
    color: #fff
}
.swatch-gray .woocommerce-ordering select,
[class*=swatch-] .swatch-gray .woocommerce-ordering select {
    color: #fff;
    background: 0 0
}
.swatch-gray .onsale,
[class*=swatch-] .swatch-gray .onsale {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .price,
[class*=swatch-] .swatch-gray .price {
    color: #1c1c1c
}
.swatch-gray .page-numbers a,
.swatch-gray .page-numbers span,
[class*=swatch-] .swatch-gray .page-numbers a,
[class*=swatch-] .swatch-gray .page-numbers span {
    color: #fff
}
.swatch-gray .page-numbers li,
[class*=swatch-] .swatch-gray .page-numbers li {
    background: #82c9ed
}
.swatch-gray .page-numbers .current,
.swatch-gray .page-numbers li a:hover,
[class*=swatch-] .swatch-gray .page-numbers .current,
[class*=swatch-] .swatch-gray .page-numbers li a:hover {
    background: #c9c7c7;
    color: #4c4c4c
}
.swatch-gray #reviews .comment,
[class*=swatch-] .swatch-gray #reviews .comment {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}
.swatch-gray #reviews .form-control,
[class*=swatch-] .swatch-gray #reviews .form-control {
    background: #e9e9e9
}
.swatch-gray #reviews input[type=submit],
[class*=swatch-] .swatch-gray #reviews input[type=submit] {
    background: #fff;
    color: #82c9ed
}
.swatch-gray .cross-sells h2,
.swatch-gray .related h2,
.swatch-gray .upsells h2,
[class*=swatch-] .swatch-gray .cross-sells h2,
[class*=swatch-] .swatch-gray .related h2,
[class*=swatch-] .swatch-gray .upsells h2 {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .product-category h3,
[class*=swatch-] .swatch-gray .product-category h3 {
    background: rgba(130, 201, 237, .85);
    color: #fff
}
.swatch-gray .product-category h3 mark,
.swatch-gray .product-nav a i,
[class*=swatch-] .swatch-gray .product-category h3 mark,
[class*=swatch-] .swatch-gray .product-nav a i {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .product-images figcaption,
[class*=swatch-] .swatch-gray .product-images figcaption {
    box-shadow: none;
    background: #82c9ed
}
.swatch-gray .product-images figcaption i,
[class*=swatch-] .swatch-gray .product-images figcaption i {
    color: #fff
}
.swatch-gray .product-images .flex-active,
[class*=swatch-] .swatch-gray .product-images .flex-active {
    -webkit-box-shadow: 0 3px 0 #82c9ed;
    -moz-box-shadow: 0 3px 0 #82c9ed;
    box-shadow: 0 3px 0 #82c9ed
}
.swatch-gray .order_details,
[class*=swatch-] .swatch-gray .order_details {
    background: #c9c7c7
}
.swatch-gray .order_details li,
[class*=swatch-] .swatch-gray .order_details li {
    border-color: #e2e1e1
}
.swatch-gray .cart_list li,
[class*=swatch-] .swatch-gray .cart_list li {
    border-color: #c9c7c7
}
.swatch-gray .cart-actions,
[class*=swatch-] .swatch-gray .cart-actions {
    background: #e9e9e9
}
.swatch-gray .widget_product_tag_cloud a,
[class*=swatch-] .swatch-gray .widget_product_tag_cloud a {
    background: #82c9ed;
    color: #e9e9e9
}
.swatch-gray .widget_product_tag_cloud a:hover,
[class*=swatch-] .swatch-gray .widget_product_tag_cloud a:hover {
    background: rgba(130, 201, 237, .9);
    color: #e9e9e9
}
.swatch-gray .product_list_widget li,
[class*=swatch-] .swatch-gray .product_list_widget li {
    border-color: #c9c7c7
}
.swatch-gray .star-rating,
[class*=swatch-] .swatch-gray .star-rating {
    color: #82c9ed
}
.swatch-gray .widget_price_filter .ui-slider .ui-slider-range,
[class*=swatch-] .swatch-gray .widget_price_filter .ui-slider .ui-slider-range {
    background: #c9c7c7
}
.swatch-gray .widget_price_filter .ui-slider .ui-slider-handle,
[class*=swatch-] .swatch-gray .widget_price_filter .ui-slider .ui-slider-handle {
    background: #82c9ed
}
.swatch-gray .widget_product_search form:after,
[class*=swatch-] .swatch-gray .widget_product_search form:after {
    color: #e9e9e9
}
.swatch-gray .bbp-forums-list li,
[class*=swatch-] .swatch-gray .bbp-forums-list li {
    border-left-color: #82c9ed
}
.swatch-gray .bbp-topic-freshness-author:after,
[class*=swatch-] .swatch-gray .bbp-topic-freshness-author:after {
    background: #82c9ed
}
.swatch-gray .bbp-topic-permalink i,
[class*=swatch-] .swatch-gray .bbp-topic-permalink i {
    color: #82c9ed
}
.swatch-gray .panel-bbpress,
[class*=swatch-] .swatch-gray .panel-bbpress {
    background: #e9e9e9
}
.swatch-gray .panel-bbpress .panel-heading,
[class*=swatch-] .swatch-gray .panel-bbpress .panel-heading {
    border-color: #82c9ed
}
.swatch-gray .panel-bbpress .panel-body,
[class*=swatch-] .swatch-gray .panel-bbpress .panel-body {
    border-color: #c9c7c7
}
.swatch-gray .panel-bbpress .panel-warning,
[class*=swatch-] .swatch-gray .panel-bbpress .panel-warning {
    color: #82c9ed;
    border-color: #c9c7c7
}
.swatch-gray .panel-bbpress .bbp-template-notice,
[class*=swatch-] .swatch-gray .panel-bbpress .bbp-template-notice {
    border-color: #c9c7c7
}
.swatch-gray .panel-bbpress .panel-footer,
[class*=swatch-] .swatch-gray .panel-bbpress .panel-footer {
    background: #c9c7c7;
    border-color: #c9c7c7
}
.swatch-gray .label-bbpress,
[class*=swatch-] .swatch-gray .label-bbpress {
    background: 0 0;
    color: #82c9ed
}
.swatch-gray .bbp-reply-content,
[class*=swatch-] .swatch-gray .bbp-reply-content {
    border-color: #c9c7c7
}
.swatch-gray .bbp-reply-content .media-heading,
[class*=swatch-] .swatch-gray .bbp-reply-content .media-heading {
    background: #d6d4d4;
    border-color: #bcbaba
}
.swatch-gray .bbp_author_details img,
[class*=swatch-] .swatch-gray .bbp_author_details img {
    background: #e9e9e9;
    box-shadow: 0 0 0 4px #c9c7c7
}
.swatch-gray .bbp_author_details:after,
[class*=swatch-] .swatch-gray .bbp_author_details:after {
    background: #c9c7c7
}
.swatch-gray .bbp_author_details:hover img,
[class*=swatch-] .swatch-gray .bbp_author_details:hover img {
    box-shadow: 0 0 0 4px #82c9ed
}
.swatch-gray .bbpress-header .breadcrumb .active,
.swatch-gray .bbpress-header .breadcrumb a,
[class*=swatch-] .swatch-gray .bbpress-header .breadcrumb .active,
[class*=swatch-] .swatch-gray .bbpress-header .breadcrumb a {
    color: #4c4c4c
}
.swatch-gray .bbpress-header .breadcrumb a:hover,
[class*=swatch-] .swatch-gray .bbpress-header .breadcrumb a:hover {
    color: rgba(76, 76, 76, .8)
}
.swatch-gray .bbp-topic-tags a,
[class*=swatch-] .swatch-gray .bbp-topic-tags a {
    background: #82c9ed;
    color: #fff
}
.swatch-gray .bbp-topic-tags a:hover,
[class*=swatch-] .swatch-gray .bbp-topic-tags a:hover {
    background: rgba(130, 201, 237, .9)
}
.swatch-gray .bbp-logged-in,
[class*=swatch-] .swatch-gray .bbp-logged-in {
    background: #c9c7c7
}
.swatch-gray .bbp-logged-in .button,
.swatch-gray .bbp-logged-in .button:hover,
[class*=swatch-] .swatch-gray .bbp-logged-in .button,
[class*=swatch-] .swatch-gray .bbp-logged-in .button:hover {
    color: #fff
}
.swatch-gray .post-count,
[class*=swatch-] .swatch-gray .post-count {
    background: #82c9ed;
    color: #fff
}
