---
import Bare from "../layouts/Bare.astro";
---

<Bare>
<section class="oops">

    <div class="logo">
    <a href="/"><img
        alt="Wireshark logo"
        src="/assets/img/wireshark-logo.png"
        height="40px"
        width="150px"
        /></a>
    </div>

    <h2>Oops.</h2>

    <p>
    We couldn't find the file you requested.
    </p>

    <p>
    If you're looking for the latest version of Wireshark, try
    <a href="/download.html">the download page</a>.
    </p>

    <p>
    If you're looking for an automated build, an older release, or another file, try
    <a href="/download/">browsing the download area</a>.
    </p>

</section>
</Bare>