---
import InfoPage from "../layouts/InfoPage.astro";
import Download from "../components/Download/Download"
---
<script is:inline src="/mirrors.js" defer/>
<script is:inline src="/js/update_mirror_url.js" defer></script>
<script type="module">update_mirror_url();</script>

<InfoPage title="Wireshark · Download">
    <Download />
</InfoPage>