---
import Layout from "../layouts/Layout.astro";
import MainLanding from "../components/Home/MainLanding";
import EducationalContent from "../components/Home/EducationalContent";
import AboutSection from "../components/Home/AboutSection";
import DonationSection from "../components/Home/DonationSection";
import DownloadSection from "../components/Home/DownloadSection";
import SponsorSection from "../components/Home/SponsorSection";
---

<script is:inline src="/mirrors.js"></script>
<script is:inline src="/js/update_mirror_url.js"></script>
<script type="module">
    update_mirror_url();
</script>

<Layout title="Wireshark · Go Deep">
    <main>
        <MainLanding client:load />
        <EducationalContent />
        <SponsorSection />
        <DonationSection fromHomepage={true} />
        <AboutSection />
        <DownloadSection />
    </main>
</Layout>
