---
import InfoPage from "../layouts/InfoPage.astro";
---

<InfoPage title="Wireshark · Shop">
    <div id="myShop">
        <a href="https://wireshark.myspreadshop.com">Wireshark</a>
    </div>

    <script is:inline>
        var spread_shop_config = {
            shopName: 'wireshark',
            locale: 'us_US',
            prefix: 'https://wireshark.myspreadshop.com',
            baseId: 'myShop'
        };
    </script>

    <script type="text/javascript"
            src="https://wireshark.myspreadshop.com/shopfiles/shopclient/shopclient.nocache.js">
    </script>
</InfoPage>