<div id="header">
<h1>Wireshark 2.6.6 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Qt 5.9.7. Previously they shipped with Qt 5.9.5.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-01">wnpa-sec-2019-01</a>
The 6LoWPAN dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15217">Bug 15217</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5716">CVE-2019-5716</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-02">wnpa-sec-2019-02</a>
The P_MUL dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15337">Bug 15337</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5717">CVE-2019-5717</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-03">wnpa-sec-2019-03</a>
The RTSE dissector and other dissectors could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15373">Bug 15373</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5718">CVE-2019-5718</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-04">wnpa-sec-2019-04</a>
The ISAKMP dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15374">Bug 15374</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5719">CVE-2019-5719</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>console.lua not found in a folder with non-ASCII characters in its name. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15118">Bug 15118</a>.</p>
</li>
<li>
<p>Disabling <em>Update list of packets in real time.</em> will generally trigger crash after three start capture, stop capture cycles. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15263">Bug 15263</a>.</p>
</li>
<li>
<p>UDP Multicast Stream double counts. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15271">Bug 15271</a>.</p>
</li>
<li>
<p>text2pcap et al. set snaplength to 64kiB-1, while processing frames of 256kiB. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15292">Bug 15292</a>.</p>
</li>
<li>
<p>Builds without libpcap fail if the libpcap headers aren’t installed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15317">Bug 15317</a>.</p>
</li>
<li>
<p>TCAP AnalogRedirectRecord parameter incorrectly coded as mandatory in QualReq_rr message. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15350">Bug 15350</a>.</p>
</li>
<li>
<p>macOS DMG appears to have duplicate files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15361">Bug 15361</a>.</p>
</li>
<li>
<p>Wireshark jumps behind other windows when opening UAT dialogs. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15366">Bug 15366</a>.</p>
</li>
<li>
<p>Pathnames containing non-ASCII characters are mangled in error dialogs on Windows. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15367">Bug 15367</a>.</p>
</li>
<li>
<p>Executing <code>-z http,stat -r file.pcapng</code> throws a segmentation fault. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15369">Bug 15369</a>.</p>
</li>
<li>
<p>IS-41 TCAP RegistrationNotification Invoke has borderCellAccess parameter coded as tag 50 (as denyAccess) but should be 58. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15372">Bug 15372</a>.</p>
</li>
<li>
<p>In DNS statistics, response times &gt; 1 sec not included. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15382">Bug 15382</a>.</p>
</li>
<li>
<p>GTPv2 APN dissect problem. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15383">Bug 15383</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>6LoWPAN, ANSI MAP, DNP3, DNS, GSM A, GTP, GTPv2, IMF, ISAKMP, ISObus VT, Kerberos, P_MUL, RTSE, S7COMM, and TCAP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_major_api_changes">Major API Changes</h3>
<div class="ulist">
<ul>
<li>
<p>Lua: on Windows, file-related functions such as dofile now assume UTF-8 paths
instead of the local code page. This is consistent with Linux and macOS and
improves compatibility on non-English systems. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15118">Bug 15118</a>)</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-01-08 19:23:12 UTC
</div>
</div>
