<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id836454"></a>Wireshark 1.0.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2008-06.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Florent Drouin and David Maciejak found that the Bluetooth ACL
            dissector could crash or abort.

	    (Bug <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1513">1513</a>)
          </p><p>Versions affected: 0.99.2 to 1.0.3</p><p>

          </p></li><li><p>
            The Q.931 dissector could crash or abort.

	    (Bug <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2870">2870</a>)
          </p><p>Versions affected: 0.10.3 to 1.0.3</p><p>

          </p></li><li><p>
            Wireshark could abort while reading Tamos CommView capture files.

	    (Bug <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2926">2926</a>)
          </p><p>Versions affected: 0.99.7 to 1.0.3</p><p>

          </p></li><li><p>
            David Maciejak found that the USB dissector could crash or abort.
            This led to the discovery of a similar problem in the Bluetooth
            RFCOMM dissector.

	    (Bug <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2922">2922</a>)
          </p><p>Versions affected: 0.99.7 to 1.0.3</p><p>

          </p></li><li><p>
            Vivek Gupta and David Maciejak found that the PRP and MATE dissectors could make Wireshark crash. (Neither PRP nor MATE are enabled by default.)

	    (Bug <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2549">2549</a>)
          </p><p>Versions affected: 0.99.2 to 1.0.3</p><p>

          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          Let MP2T call its subdissectors, even without tree
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2627">Bug
          2627</a>)
        </p></li><li><p>
          Wireless Toolbar not enabled (using AirPcap) if PCAP_REMOTE=1
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2685">Bug
          2685</a>)
        </p></li><li><p>
          Failure to dissect long SASL wrapped LDAP response
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2687">Bug
          2687</a>)
        </p></li><li><p>
          Fix compiler warnings
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2823">Bug
          2823</a>)
        </p></li><li><p>
          Homeplug dissection bugs
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2859">Bug
          2859</a>)
        </p></li><li><p>
          Malformed Packet DCP ETSI error
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2860">Bug
          2860</a>)
        </p></li><li><p>
          Wrong size of selected_registrar in WPS dissector
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2865">Bug
          2865</a>)
        </p></li><li><p>
          Dissector assertion displaying cookies in DTLS frames
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2876">Bug
          2876</a>)
        </p></li><li><p>
          Missing field type in documentation
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2889">Bug
          2889</a>)
        </p></li><li><p>
          Wireshark -p switch seems to have no effect to PROMISCUOUS mode
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2891">Bug
          2891</a>)
        </p></li><li><p>
          Misspelled PPI error vector magnitude filter
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2903">Bug
          2903</a>)
        </p></li><li><p>
          Modbus Function 43 Encapsulated Interface Transport decoding
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2917">Bug
          2917</a>)
        </p></li><li><p>
          Crash when printing or exporting some protocol data
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2934">Bug
          2934</a>)
        </p></li><li><p>
          Crash when selecting "Export Selected Packet Bytes"
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2964">Bug
          2964</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new or updated features in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AFP,
Bluetooth ACL,
Bluetooth RFCOMM,
DCP ETSI,
DTLS,
Homeplug,
IEEE 802.11,
IP,
Modbus TCP,
MP2T,
NSIP,
NCP,
PPI,
Q.931,
SASL,
SNMP,
USB,
WPS

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

AiroPeek, CommView

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a class="ulink" href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Capturing from named pipes might be delayed on Windows.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2200">Bug
      2200</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
