<div id="header">
<h1>Wireshark 3.4.3 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Windows installers now ship with Npcap 1.10.
They previously shipped with Npcap 1.00.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-01">wnpa-sec-2021-01</a>
USB HID dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17124">Bug 17124</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22173">CVE-2021-22173</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-02">wnpa-sec-2021-02</a>
USB HID dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17165">Bug 17165</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22174">CVE-2021-22174</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SIP response single-line multiple Contact-URIs decoding error <a href="https://gitlab.com/wireshark/wireshark/-/issues/13752">Bug 13752</a>.</p>
</li>
<li>
<p>Adding filter while "Telephony→VoIP Calls→Flow Sequence" open causes OOB memory reads and potential crashes. <a href="https://gitlab.com/wireshark/wireshark/-/issues/16952">Bug 16952</a>.</p>
</li>
<li>
<p>QUIC packet not fully dissected <a href="https://gitlab.com/wireshark/wireshark/-/issues/17077">Bug 17077</a>.</p>
</li>
<li>
<p>SOMEIP-SD hidden entries are off <a href="https://gitlab.com/wireshark/wireshark/-/issues/17091">Bug 17091</a>.</p>
</li>
<li>
<p>Problem with calculation on UDP checksum in SRv6 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17097">Bug 17097</a>.</p>
</li>
<li>
<p>Dark mode not working in Wireshark 3.4.2 on macOS <a href="https://gitlab.com/wireshark/wireshark/-/issues/17098">Bug 17098</a>.</p>
</li>
<li>
<p>Wireshark 3.4.0: build failure on older MacOS releases, due to 'CLOCK_REALTIME' <a href="https://gitlab.com/wireshark/wireshark/-/issues/17101">Bug 17101</a>.</p>
</li>
<li>
<p>TECMP: Status Capture Module messages shows 3 instead of 2 bytes for HW version <a href="https://gitlab.com/wireshark/wireshark/-/issues/17133">Bug 17133</a>.</p>
</li>
<li>
<p>Documentation - editorial error - README.dissector bad reference <a href="https://gitlab.com/wireshark/wireshark/-/issues/17141">Bug 17141</a>.</p>
</li>
<li>
<p>Cannot save capture with comments to a format that doesn’t support it (no pop-up) <a href="https://gitlab.com/wireshark/wireshark/-/issues/17146">Bug 17146</a>.</p>
</li>
<li>
<p>AUTOSAR-NM: PNI TF-String wrong way around <a href="https://gitlab.com/wireshark/wireshark/-/issues/17154">Bug 17154</a>.</p>
</li>
<li>
<p>Fibre Channel parsing errors even with the fix for #17084 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17168">Bug 17168</a>.</p>
</li>
<li>
<p>f5ethtrailer: Won’t find a trailer after an FCS that begins with a 0x00 byte <a href="https://gitlab.com/wireshark/wireshark/-/issues/17171">Bug 17171</a>.</p>
</li>
<li>
<p>f5ethtrailer: legacy format, low noise only, no vip name trailers no longer detected <a href="https://gitlab.com/wireshark/wireshark/-/issues/17172">Bug 17172</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2021-01-22-3387835.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/17174">Bug 17174</a>.</p>
</li>
<li>
<p>Dissection error on large ZVT packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/17177">Bug 17177</a>.</p>
</li>
<li>
<p>TShark crashes with -T ek option <a href="https://gitlab.com/wireshark/wireshark/-/issues/17179">Bug 17179</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AUTOSAR-NM, DHCPv6, DoIP, FC ELS, GQUIC, IPv6, NAS 5GS, NAS EPS, QUIC, SIP, SOME/IP-SD, TECMP, TLS, TPNCP, USB HID, and ZVT</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>f5ethtrailer and pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’sQ&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-01-29 18:02:26 UTC
</div>
</div>
