<div xml:lang="en" class="article" title="Wireshark 1.10.0 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807120"></a>Wireshark 1.10.0 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Redirecting the standard output didn’t redirect the output the of -D or -L
flags. This fix means that the output of those flags now goes to the
standard output, not the standard error, as it did in previous releases. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8609">Bug 8609</a>
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>The following features are new (or have been significantly updated)
since version 1.8:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Wireshark on 32- and 64-bit Windows supports automatic updates.
</li><li class="listitem">
The packet bytes view is faster.
</li><li class="listitem">
You can now display a list of resolved host names in "hosts" format
within Wireshark.
</li><li class="listitem">
The wireless toolbar has been updated.
</li><li class="listitem">
Wireshark on Linux does a better job of detecting interface addition
and removal.
</li><li class="listitem">
It is now possible to compare two fields in a display filter (for
example: udp.srcport != udp.dstport). The two fields must be of the same
type for this to work.
</li><li class="listitem">
The Windows installers ship with WinPcap 4.1.3, which supports Windows 8.
</li><li class="listitem">
USB type and product name support has been improved.
</li><li class="listitem">
All Bluetooth profiles and protocols are now supported.
</li><li class="listitem">
Wireshark now calculates HTTP response times and presents the result in a new
field in the HTTP response. Links from the request’s frame to the response’s
frame and vice-versa are also added.
</li><li class="listitem">
The main welcome screen and status bar now display file sizes using
strict SI prefixes instead of old-style binary prefixes.
</li><li class="listitem">
Capinfos now prints human-readable statistics with SI suffixes by
default.
</li><li class="listitem">
It is now possible to open a referenced packet (such as the matched request or
response packet) in a new window.
</li><li class="listitem">
Tshark can now display only the hex/ascii packet data
without requiring that the packet summary and/or packet details are also
displayed.  If you want the old behavior, use -Px instead of just -x.
</li><li class="listitem">
Wireshark can be compiled using GTK+ 3.
</li><li class="listitem">
The Wireshark application icon, capture toolbar icons, and other icons
have been updated.
</li><li class="listitem">
Tshark’s filtering and multi-pass analysis have been reworked for consistency
and in order to support dependent frame calculations during reassembly. See the
man page descriptions for -2, -R, and -Y.
</li><li class="listitem">
Tshark’s -G fields2 and -G fields3 options have been eliminated.  The
-G fields option now includes the 2 extra fields that -G fields3 previously
provided, and the blurb information has been relegated to the last column since
in many cases it is blank anyway.
</li><li class="listitem">
Wireshark dropped the left-handed settings from the preferences. This is
still configurable via the GTK settings (add
"gtk-scrolled-window-placement = top-right" in the config file, which might be
called <sub>/.gtkrc-2.0 or </sub>/.config/gtk-3.0/settings.ini).
</li><li class="listitem">
Wireshark now ships with two global configuration files: Bluetooth, which
contains coloring rules for Bluetooth and Classic, which contains the old-style
coloring rules.
</li><li class="listitem">
The LOAD() metric in the IO-graph now shows the load in IO units instead
of thousands of IO units.
</li></ul></div></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>Amateur Radio AX.25,
Amateur Radio BPQ,
Amateur Radio NET/ROM,
America Online (AOL),
AR Drone,
Automatic Position Reporting System (APRS),
AX.25 KISS,
AX.25 no Layer 3,
Bitcoin Protocol,
Bluetooth Attribute Protocol,
Bluetooth AVCTP Protocol,
Bluetooth AVDTP Protocol,
Bluetooth AVRCP Profile,
Bluetooth BNEP Protocol,
Bluetooth HCI USB Transport,
Bluetooth HCRP Profile,
Bluetooth HID Profile,
Bluetooth MCAP Protocol,
Bluetooth SAP Profile,
Bluetooth SBC Codec,
Bluetooth Security Manager Protocol,
Cisco GED-125 Protocol,
Clique Reliable Multicast Protocol (CliqueRM),
D-Bus,
Digital Transmission Content Protection over IP,
DVB-S2 Baseband,
FlexNet,
Forwarding and Control Element Separation Protocol (ForCES),
Foundry Discovery Protocol (FDP),
Gearman Protocol,
GEO-Mobile Radio (1) RACH,
HoneyPot Feeds Protocol (HPFEEDS),
LTE Positioning Protocol Extensions (LLPe),
Media Resource Control Protocol Version 2 (MRCPv2),
Media-Independent Handover (MIH),
MIDI System Exclusive (SYSEX),
Mojito DHT,
MPLS-TP Fault-Management,
MPLS-TP Lock-Instruct,
NASDAQ’s OUCH 4.x,
NASDAQ’s SoupBinTCP,
OpenVPN Protocol,
Pseudo-Wire OAM,
RPKI-Router Protocol,
SEL Fast Message,
Simple Packet Relay Transport (SPRT),
Skype,
Smart Message Language (SML),
SPNEGO Extended Negotiation Security Mechanism (NEGOEX),
UHD/USRP,
USB Audio,
USB Video,
v.150.1 State Signaling Event (SSE),
VITA 49 Radio Transport,
VNTAG,
WebRTC Datachannel Protocol (RTCDC),
and WiMAX OFDMA PHY SAP</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>Too many protocols have been updated to list here.</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>AIX iptrace,
CAM Inspector,
Catapult DCT2000,
Citrix NetScaler,
DBS Etherwatch (VMS),
Endace ERF,
HP-UX nettl,
IBM iSeries,
Ixia IxVeriWave,
NA Sniffer (DOS),
Netscreen,
Network Instruments Observer,
pcap,
pcap-ng,
Symbian OS btsnoop,
TamoSoft CommView,
and Tektronix K12xx</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(ws-buglink:1814)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>