<div id="header">
<h1>Wireshark 3.2.1 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-01">wnpa-sec-2020-01</a>
WASSP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16324">Bug 16324</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7044">CVE-2020-7044</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incorrect parsing of USB CDC packets. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14587">Bug 14587</a>.</p>
</li>
<li>
<p>Wireshark fails to create directory if parent directory does not yet exist. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16143">Bug 16143</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2019-11-30-22633.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16240">Bug 16240</a>.</p>
</li>
<li>
<p>Closing Flow Graph closes (crashes) main GUI window. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16260">Bug 16260</a>.</p>
</li>
<li>
<p>Wireshark interprets websocket frames after HTTP handshake in a wrong way. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16274">Bug 16274</a>.</p>
</li>
<li>
<p>A-bis/OML: IPA Destination IP Address attribute contains inverted value (endianness). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16282">Bug 16282</a>.</p>
</li>
<li>
<p>wiretap/log3gpp.c: 2 * leap before looking ?. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16283">Bug 16283</a>.</p>
</li>
<li>
<p>Opening shell terminal prints Wireshark: Permission denied. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16284">Bug 16284</a>.</p>
</li>
<li>
<p>h264: SPS frame_crop_right_offset shown in UI as frame_crop_left_offset. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16285">Bug 16285</a>.</p>
</li>
<li>
<p>BGP: update of "Sub-TLV Length" by draft-ietf-idr-tunnel-encaps. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16294">Bug 16294</a>.</p>
</li>
<li>
<p>SPNEGO+GSS-API+Kerberos+ap-options dissection produces "Unknown Bit(s)" expert message. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16301">Bug 16301</a>.</p>
</li>
<li>
<p>USB Audio feature unit descriptor is incorrectly dissected. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16305">Bug 16305</a>.</p>
</li>
<li>
<p>Compiling the .y files fails with Berkeley YACC. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16306">Bug 16306</a>.</p>
</li>
<li>
<p>PDB files in Windows installer. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16307">Bug 16307</a>.</p>
</li>
<li>
<p>NAS-5GS 5GS network feature support lacks MCSI, EMCN3 two fields (octet 4). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16310">Bug 16310</a>.</p>
</li>
<li>
<p>Option to change “Packet List” columns header right click pop-up menu behavior. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16317">Bug 16317</a>.</p>
</li>
<li>
<p>DLT: Dissector does not parse multiple DLT messages in single UDP packet. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16321">Bug 16321</a>.</p>
</li>
<li>
<p>ISAKMP Dissection: Enhance  Source id and Destination ID field of GDOI SA TEK payload for non IP ID type. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16233">Bug 16233</a>.</p>
</li>
<li>
<p>DOIP: Typo in "identifcation request messages". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16325">Bug 16325</a>.</p>
</li>
<li>
<p>Toolbar "?" help button - no text/help displayed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16327">Bug 16327</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>802.11 Radiotap, ASN.1 BER, BGP, DLT, DOIP, GSM A RR, GSM A-bis/OML, H264, HTTP, IEC 60870-5-104, IEEE 802.11, IPv4, ISAKMP, NAS 5GS, rtnetlink, SIP, TIPC, USB Audio, USB CDC, and WASSP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>3gpp phone log</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2020-01-15 17:51:08 UTC
</div>
</div>
