<div class="article" title="Wireshark 1.2.10 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36127917"></a>Wireshark 1.2.10 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2010-08.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc">
      
      <li class="listitem"><p>
            The SigComp Universal Decompressor Virtual Machine could overrun a buffer.
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4867">Bug
            4867</a>)
          </p><p>Versions affected: 0.10.8 to 1.0.14, 1.2.0 to 1.2.9</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-2995">CVE-2010-2995</a>
          </p></li>
      
      <li class="listitem">
        <p>
          The GSM A RR dissector could crash.
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4897">Bug
            4897</a>)
        </p>
        <p>Versions affected: 1.2.2 to 1.2.9</p>
        <p>
          <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-2992">CVE-2010-2992</a>
        </p>
      </li>
      
      <li class="listitem">
        <p>
          Due to a regression the ASN.1 BER dissector could overrun the stack.
        </p>
        <p>Versions affected: 0.10.13 to 1.0.14, 1.2.0 to 1.2.9</p>
        <p>
          <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-2994">CVE-2010-2994</a>
        </p>
      </li>
      
      <li class="listitem">
        <p>
            The IPMI dissector could go into an infinite loop.
        </p>
        <p>Versions affected: 1.2.0 to 1.2.9</p>
        <p>
          <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-2993">CVE-2010-2993</a>
        </p>
      </li>
      </ul></div><p>

    </p><p>
    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Wireshark crashes after configuring new Information column.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4854">Bug
          4854</a>)
        </p></li><li class="listitem"><p>
          Crash triggered when changing display filter from right-mouse pop-up menu via packet-list.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4860">Bug
          4860</a>)
        </p></li><li class="listitem"><p>
          Wireshark crash selecting Inter-Asterisk exchange v2 packet data.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4868">Bug
          4868</a>)
        </p></li><li class="listitem"><p>
          zlib-1.2.5 cause tshark to stop live capture.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4916">Bug
          4916</a>)
        </p></li><li class="listitem"><p>
          Crash when adding SNMP users.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4926">Bug
          4926</a>)
        </p></li><li class="listitem"><p>
          Wireshark via ssh -X on ipv6 link-local address fails to allow capture.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4945">Bug
          4945</a>)
        </p></li><li class="listitem"><p>
          OMAPI dissector fails to parse combined initialization messages.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4982">Bug
          4982</a>)
        </p></li><li class="listitem"><p>
          QUERY_FS_INFO for Macintosh level 0x301 - MacSupportFlags decodes wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4993">Bug
          4993</a>)
        </p></li><li class="listitem"><p>
          SCSI dissector misidentifies ATA PASSTHROUGH command as ACCESS CONTROL IN.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5037">Bug
          5037</a>)
        </p></li><li class="listitem"><p>
          Wrong decoding of GTP Prime (GTP') packets.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5055">Bug
          5055</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ASN.1 BER,
GSM A RR,
GTP,
IAX2,
IPMI,
OMAPI,
PRES,
SCSI,
SMB,
UNISTIM

    </p></div><div class="section" title="Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>Updated Capture File Support</h3></div></div></div><p>

There are no new or updated capture file formats in this release.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
