<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm475011941072"></a>Wireshark 1.10.14 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-14.html">wnpa-sec-2015-14</a>
</p><p class="simpara">The WCP dissector could crash while decompressing data.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10978">Bug 10978</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-3811">CVE-2015-3811</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-15.html">wnpa-sec-2015-15</a>
</p><p class="simpara">The X11 dissector could leak memory.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11088">Bug 11088</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-3812">CVE-2015-3812</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-17.html">wnpa-sec-2015-17</a>
</p><p class="simpara">The IEEE 802.11 dissector could go into an infinite loop.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11110">Bug 11110</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-3814">CVE-2015-3814</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Wireshark crashes if "Update list of packets in real time" is disabled and a display filter is applied while capturing. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6217">Bug 6217</a>)
</li><li class="listitem">
Wireshark relative ISN set incorrectly if raw ISN set to 0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10713">Bug 10713</a>)
</li><li class="listitem">
Buffer overrun in encryption code. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10849">Bug 10849</a>)
</li><li class="listitem">
ICMP Parameter Problem message contains Length of original datagram is treated as the total IPv4 length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10991">Bug 10991</a>)
</li><li class="listitem">
ICMP Redirect takes 4 bytes for IPv4 payload instead of 8. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10992">Bug 10992</a>)
</li><li class="listitem">
Interface Identifier incorrectly represented by Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11053">Bug 11053</a>)
</li><li class="listitem">
Annoying popup when trying to capture on bonding devices on Linux. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11058">Bug 11058</a>)
</li><li class="listitem">
CanOpen dissector fails on frames with RTR and 0 length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11083">Bug 11083</a>)
</li><li class="listitem">
Typo in secp521r1 curve wrongly identified as sect521r1. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11106">Bug 11106</a>)
</li><li class="listitem">
packet-zbee-zcl.h: IS_ANALOG_SUBTYPE doesn’t filter ENUM. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11120">Bug 11120</a>)
</li><li class="listitem">
Typo: "LTE Positioning Protocol" abbreviated as "LPP", not "LLP". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11141">Bug 11141</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ASN.1 PER,
CANopen,
GSM RLC/MAC,
GSMTAP,
ICMP,
IEEE 802.11,
LPP,
MEGACO,
PKCS-1,
PPP IPv6CP,
SRVLOC,
SSL,
TCP,
WCP,
X11,
and ZigBee ZCL</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>and Savvius OmniPeek Visual Networks</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
