<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm531699690464"></a>Wireshark 2.4.12 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.6. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-02.html">wnpa-sec-2019-02</a>
The P_MUL dissector could crash.

<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15337">Bug 15337</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5717">CVE-2019-5717</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-03.html">wnpa-sec-2019-03</a>
The RTSE dissector and other dissectors could crash.

<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15373">Bug 15373</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5718">CVE-2019-5718</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-04.html">wnpa-sec-2019-04</a>
The ISAKMP dissector could crash.

<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15374">Bug 15374</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5719">CVE-2019-5719</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-05.html">wnpa-sec-2019-05</a>
The ISAKMP dissector could crash.

<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14470">Bug 14470</a>.



</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
console.lua not found in a folder with non-ASCII characters in its name. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15118">Bug 15118</a>.
</li><li class="listitem">
Disabling <span class="emphasis"><em>Update list of packets in real time.</em></span> will generally trigger crash after three start capture, stop capture cycles. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15263">Bug 15263</a>.
</li><li class="listitem">
UDP Multicast Stream double counts. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15271">Bug 15271</a>.
</li><li class="listitem">
text2pcap et al. set snaplength to 64kiB-1, while processing frames of 256kiB. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15292">Bug 15292</a>.
</li><li class="listitem">
Builds without libpcap fail if the libpcap headers aren’t installed. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15317">Bug 15317</a>.
</li><li class="listitem">
TCAP AnalogRedirectRecord parameter incorrectly coded as mandatory in QualReq_rr message. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15350">Bug 15350</a>.
</li><li class="listitem">
Wireshark jumps behind other windows when opening UAT dialogs. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15366">Bug 15366</a>.
</li><li class="listitem">
Pathnames containing non-ASCII characters are mangled in error dialogs on Windows. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15367">Bug 15367</a>.
</li><li class="listitem">
Executing <code class="literal">-z http,stat -r file.pcapng</code> throws a segmentation fault. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15369">Bug 15369</a>.
</li><li class="listitem">
IS-41 TCAP RegistrationNotification Invoke has borderCellAccess parameter coded as tag 50 (as denyAccess) but should be 58. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15372">Bug 15372</a>.
</li><li class="listitem">
GTPv2 APN dissect problem. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15383">Bug 15383</a>.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ANSI MAP,
ENIP,
GSM A,
GTPv2,
IMF,
ISAKMP,
P_MUL,
RTSE,
and TCAP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.6. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
