<div class="article" title="Wireshark 1.8.0 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.8.0 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          When saving the displayed packets, packets which are dependencies
	  (e.g., due to reassembly) of the displayed packets are included in
	  the list of saved packets
	  (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3315">Bug
	  3315</a>).
        </p></li><li class="listitem"><p>
	  Rearranging columns in preferences doesn't work on 64-bit Windows.
	  (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6077">Bug
	  6077</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since version 1.6:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            Wireshark supports capturing from multiple interfaces at once.
          </p></li><li class="listitem"><p>
            You can now add, edit, and save packet and capture file annotations.
          </p></li><li class="listitem"><p>
            Wireshark, TShark, and their associated utilities now save files
	    using the pcap-ng file format by default. (Your copy of Wireshark
	    might still use the pcap file format if pcap-ng is disabled in
	    your preferences.)
          </p></li><li class="listitem"><p>
            Decryption key management for IEEE 802.11, IPsec, and ISAKMP
	    is easier.
          </p></li><li class="listitem"><p>
            OID resolution is now supported on 64-bit Windows.
          </p></li><li class="listitem"><p>
	    The "Save As" menu item has been split into "Save As", which lets
	    you save a file using a different filename and "Export Specified
	    Packets", which lets you have more control over which packets are
	    saved.
          </p></li><li class="listitem"><p>
            TCP fast retransmissions are now indicated as an expert info note,
            rather than a warning, just as TCP retransmissions are.
          </p></li><li class="listitem"><p>
            TCP window updates are no longer colorized as "Bad TCP".
          </p></li><li class="listitem"><p>
	    TShark's command-line options have changed. The previously
	    undocumented -P option is now -2 option for performing a two-pass
	    analysis; the former -S option is now the -P option for printing
	    packets even if writing to a file, and the -S option is now used to
	    specify a different line separator between packets.
          </p></li><li class="listitem"><p>
            GeoIP IPv6 databases are now supported.
          </p></li></ul></div><p>

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

Aastra Signalling Protocol (AASP),
ActiveMQ OpenWire,
Bandwidth Reservation Protocol (BRP),
Bazaar,
Binary Floor Control Protocol,
BitTorrent DHT,
C12.22,
CANopen,
CIP Motion,
CIP Safety,
Cisco FabricPath MiM,
DMX Channel Data,
DMX SIP,
DMX Test,
DMX Text,
DMX,
DVB Application Information Table,
DVB Bouquet Association Table,
DVB Event Information Table,
DVB MultiProtocol Encapsulation (DVB-MPE),
DVB Network Information Table,
DVB Service Description Table,
DVB Time and Date Table,
DVB Time Offset Table,
DVB/ETSI IP Data Cast (IPDC) Electronic Service Guide (ESG),
ECP VDP,
EIA-709.1 (LonTalk),
EIA-852 (CN/IP),
ELCOM,
Ericsson A-bis OML (OM 2000),
Ericsson HDLC,
Ericsson Proprietary PCAP,
ETSI CAT,
ETV-AM Data,
ETV-AM EISS Section,
Flight Message Transfer Protocol (FMTP),
Gadu-Gadu,
GEO-Mobile Radio (1) BCCH,
GEO-Mobile Radio (1) Common,
GEO-Mobile Radio (1) DTAP,
GEO-Mobile Radio (1) Radio Resource,
Gluster Callback,
Gluster CLI,
Gluster Dump,
Gluster Portmap,
GlusterD,
GlusterFS Callback,
GlusterFS Handshake,
GlusterFS,
GSM A-bis OML,
GSM CBCH,
GSM Cell Broadcast Service,
GSM SIM,
H.248.2,
Hadoop Distributed File System (HDFS),
HART/IP,
Hazelcast,
HDFS Data,
High bandwidth Digital Content Protection (HDCP),
High-availability Seamless Redundancy (HSR),
HomePlug AV,
HSR/PRP,
IEEE 1722.1,
ISO 7816,
ixveriwave,
Kismet drone/server protocol,
KristalliNet,
LCS-AP,
Link Access Procedure, Satellite channel (LAPSat),
LLRP,
LTE Positioning Protocol A (LPPa),
LTE Positioning Protocol,
M3 Application Protocol (M3AP),
MAC Address Acquisition Protocol,
MBMS synchronisation protocol,
Microsoft Credential Security Support Provider (CredSSP),
MoldUDP,
MoldUDP64,
MPEG Conditional Access,
MPEG descriptors,
MPEG DSM-CC,
MPEG Program Association Table (PAT),
MPEG Program Map Table,
MPEG Section,
MPLS Packet Loss and Delay Measurement,
MPLS-TP Protection State Coordination,
Multiple VLAN Registration Protocol (MRVP),
Netfilter LOG,
NOE,
NXP MiFare,
NXP PN532,
Open IPTV Forum
openSAFETY,
Performance Co-Pilot (PCP),
PPI Sensor,
RDP,
RTP-MIDI,
SBc Application Part (SBc-AP),
SDH/SONET,
Solaris IP over InfiniBand,
Sony FeliCa,
T.124,
UA (Universal Alcatel),
UA3G,
UASIP,
UAUDP,
USB Integrated Circuit Card Interface Device Class (CCID),
V5 Data Link Layer (V5DL),
V5 Envelope Function (V5EF),
Virtual eXtensible Local Area Network (VXLAN),
VSS-Monitoring,
Vuze DHT,
WaveAgent,
WebSocket,
WSE Remote Ethernet,
XMCP,
YAMI

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

Too many protocols have been updated to list here.

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Aethra Telecommunications' PC108,
Catapult DCT2000,
Citrix NetScaler,
Cisco Secure IDS IPLog,
Endace ERF,
Gammu DCT3,
Generic MIME,
IBM iSeries,
InfoVista 5View,
Ixia IxVeriWave,
LANalyzer,
Microsoft NetMon,
MPEG2-TS,
Network Instruments Observer,
Nokia DCT3,
pcap,
pcap-ng,
Solaris snoop,
TamoSoft CommView,
Tektronix K12xx,
XML

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
