<div class="article" title="Wireshark 1.4.13 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.4.13 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-08.html">wnpa-sec-2012-08</a>
          </p><p>
            Infinite and large loops in the
            ANSI MAP,
            BACapp,
            Bluetooth HCI,
            IEEE 802.3,
            LTP, and
            R3
	    dissectors have been fixed. Discovered by Laurent Butti.

            (Bugs
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7118">7118</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7119">7119</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7121">7121</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7122">7122</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7124">7124</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7125">7125</a>)
          </p>
          <p>Versions affected: 1.4.0 to 1.4.12, 1.6.0 to 1.6.7.</p>
	  <p><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-2392">CVE-2012-2392</a></p>
          </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-09.html">wnpa-sec-2012-09</a>
          </p><p>
            The DIAMETER dissector could try to allocate memory improperly and crash.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7138">Bug
            7138</a>)
          </p>
	  <p>Versions affected: 1.4.0 to 1.4.12, 1.6.0 to 1.6.7.</p>
	  <p><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-2393">CVE-2012-2393</a></p>
	  </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-10.html">wnpa-sec-2012-10</a>
          </p><p>
            Wireshark could crash on SPARC processors due to misaligned memory. Discovered by Klaus Heckelmann.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7221">Bug
            7221</a>)
          </p>
	  <p>Versions affected: 1.4.0 to 1.4.12, 1.6.0 to 1.6.7.</p>
	  <p><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-2394">CVE-2012-2394</a></p>
	  </li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          User-Password - PAP decoding passwords longer than 16 bytes.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6779">Bug
          6779</a>)
        </p></li><li class="listitem"><p>
          Wireshark error message for failure to open an rpcap: URL for a remote device is malformed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6922">Bug
          6922</a>)
        </p></li><li class="listitem"><p>
          Wireshark doesn't calculate the right IPv4 destination using source routing options when bad options precede them.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7043">Bug
          7043</a>)
        </p></li><li class="listitem"><p>
          Wrong values in DNS CERT RR.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7130">Bug
          7130</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ANSI MAP,
BACapp,
Bluetooth HCI,
DIAMETER,
DNS,
IPv4,
RADIUS

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

5View, pcap-ng

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
