<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_13_release_notes">Wireshark 3.6.13 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you will likely have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-09">wnpa-sec-2023-09</a>
RPCoRDMA dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18852">Issue 18852</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-1992">CVE-2023-1992</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-10">wnpa-sec-2023-10</a>
LISP dissector large loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18900">Issue 18900</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-1993">CVE-2023-1993</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-11">wnpa-sec-2023-11</a>
GQUIC dissector crash
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18947">Issue 18947</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-1994">CVE-2023-1994</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark ITS Dissector RTCMEM wrong protocol version selector 2 - should use 1 <a href="https://gitlab.com/wireshark/wireshark/-/issues/18862">Issue 18862</a>.</p>
</li>
<li>
<p>Wireshark treats the letter E in SSRC as an exponential representation of a number <a href="https://gitlab.com/wireshark/wireshark/-/issues/18879">Issue 18879</a>.</p>
</li>
<li>
<p>VNC RRE Parser skips over data <a href="https://gitlab.com/wireshark/wireshark/-/issues/18883">Issue 18883</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2023-03-27-7564.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/18934">Issue 18934</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2023-03-31-6903.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/18947">Issue 18947</a>.</p>
</li>
<li>
<p>RTP analysis shows incorrect timestamp error when timestamp is rolled over <a href="https://gitlab.com/wireshark/wireshark/-/issues/18973">Issue 18973</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DNS, ERF, FF, genl, GQUIC, GSM A-bis OML, HL7, IEEE 802.11, ITS, ITS, LISP, netlink, netlink-netfilter, netlink-sock_diag, nl80211, RLC, RPCoRDMA, RTPS, SCTP, SMB, VNC, and WCP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>Netmon and NetScaler</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>