<div class="article" title="Wireshark 1.4.3 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.4.3 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-02.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            FRAsse discovered that the MAC-LTE dissector could overflow a buffer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5530">Bug
            5530</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.13 and 1.4.0 to 1.4.2.</p></li><li class="listitem"><p>
            FRAsse discovered that the ENTTEC dissector could overflow a buffer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5539">Bug
            5539</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.13 and 1.4.0 to 1.4.2.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-4538">CVE-2010-4538</a>
          </p></li><li class="listitem"><p>
            The ASN.1 BER dissector could assert and make Wireshark exit
            prematurely.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5537">Bug
            5537</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.2.</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          AMQP failed assertion.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4048">Bug
          4048</a>)
        </p></li><li class="listitem"><p>
          Reassemble.c leaks memory for GLIB &gt; 2.8.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4141">Bug
          4141</a>)
        </p></li><li class="listitem"><p>
          Fuzz testing reports possible dissector bug: TCP.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4211">Bug
          4211</a>)
        </p></li><li class="listitem"><p>
          Wrong length calculation in new_octet_aligned_subset_bits() (PER dissector).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5393">Bug
          5393</a>)
        </p></li><li class="listitem"><p>
          Function dissect_per_bit_string_display might read more bytes than available (PER dissector).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5394">Bug
          5394</a>)
        </p></li><li class="listitem"><p>
          Cannot load wpcap.dll &amp; packet.dll from Wireshark program directory.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5420">Bug
          5420</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes with Copy -&gt; Description on date/time fields.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5421">Bug
          5421</a>)
        </p></li><li class="listitem"><p>
          DHCPv6 OPTION_CLIENT_FQDN parse error.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5426">Bug
          5426</a>)
        </p></li><li class="listitem"><p>
          Information element Error for supported channels.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5430">Bug
          5430</a>)
        </p></li><li class="listitem"><p>
          Assert when using ASN.1 dissector with loading a 'type table'.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5447">Bug
          5447</a>)
        </p></li><li class="listitem"><p>
          Bug with RWH parsing in Infiniband dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5444">Bug
          5444</a>)
        </p></li><li class="listitem"><p>
          Help-&gt;About Wireshark mis-reports OS.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5453">Bug
          5453</a>)
        </p></li><li class="listitem"><p>
          Delegated-IPv6-Prefix(123) is shown incorrect as X-Ascend-Call-Attempt-Limit(123).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5455">Bug
          5455</a>)
        </p></li><li class="listitem"><p>
          "tshark -r file -T fields" is truncating exported data.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5463">Bug
          5463</a>)
        </p></li><li class="listitem"><p>
          gsm_a_dtap: incorrect "Extraneous Data" when decoding Packet Flow Identifier.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5475">Bug
          5475</a>)
        </p></li><li class="listitem"><p>
          Improper decode of TLS 1.2 packet containing both CertificateRequest and ServerHelloDone messages.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5485">Bug
          5485</a>)
        </p></li><li class="listitem"><p>
          LTE-PDCP UL and DL problem.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5505">Bug
          5505</a>)
        </p></li><li class="listitem"><p>
          CIGI 3.2/3.3 support broken.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5510">Bug
          5510</a>)
        </p></li><li class="listitem"><p>
          Prepare Filter in RTP Streams dialog does not work correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5513">Bug
          5513</a>)
        </p></li><li class="listitem"><p>
          Wrong decode at ethernet OAM Y.1731 ETH-CC.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5517">Bug
          5517</a>)
        </p></li><li class="listitem"><p>
          WPS: RF bands decryption.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5523">Bug
          5523</a>)
        </p></li><li class="listitem"><p>
          Incorrect LTP SDNV value handling.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5521">Bug
          5521</a>)
        </p></li><li class="listitem"><p>
          LTP bug found by randpkt.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5323">Bug
          5323</a>)
        </p></li><li class="listitem"><p>
          Buffer overflow in SNMP EngineID preferences.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5530">Bug
          5530</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AMQP,
ASN.1 BER,
ASN.1 PER,
CFM,
CIGI,
DHCPv6,
Diameter,
ENTTEC,
GSM A GM,
IEEE 802.11,
InfiniBand,
LTE-PDCP,
LTP,
MAC-LTE,
MP2T,
RADIUS,
SAMR,
SCCP,
SIP,
SNMP,
TCP,
TLS,
TN3270,
UNISTIM,
WPS

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Endace ERF, Microsoft Network Monitor, VMS TCPtrace.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support is available from
    <a class="ulink" href="http://www.cacetech.com/products/sharknet.html">CACE Technologies</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
