<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm168558857840"></a>Wireshark 2.0.3 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-19.html">wnpa-sec-2016-19</a>
</p><p class="simpara">The NCP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11591">Bug 11591</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-20.html">wnpa-sec-2016-20</a>
</p><p class="simpara">TShark could crash due to a packet reassembly bug.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11799">Bug 11799</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-21.html">wnpa-sec-2016-21</a>
</p><p class="simpara">The IEEE 802.11 dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11824">Bug 11824</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12187">Bug 12187</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-22.html">wnpa-sec-2016-22</a>
</p><p class="simpara">The PKTC dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12206">Bug 12206</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-23.html">wnpa-sec-2016-23</a>
</p><p class="simpara">The PKTC dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12242">Bug 12242</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-24.html">wnpa-sec-2016-24</a>
</p><p class="simpara">The IAX2 dissector could go into an infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12260">Bug 12260</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-25.html">wnpa-sec-2016-25</a>
</p><p class="simpara">Wireshark and TShark could exhaust the stack.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12268">Bug 12268</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-26.html">wnpa-sec-2016-26</a>
</p><p class="simpara">The GSM CBCH dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12278">Bug 12278</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-27.html">wnpa-sec-2016-27</a>
</p><p class="simpara">MS-WSP dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12341">Bug 12341</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Protocol Hierarchy Statistics shows LDAP lines recursively. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1734">Bug 1734</a>)
</li><li class="listitem">
UTF-8 replacement characters in FT_STRINGs are escaped for presentation. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10681">Bug 10681</a>)
</li><li class="listitem">
DTLS : reassembly error, protocol DTLS: New fragment overlaps old data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11477">Bug 11477</a>)
</li><li class="listitem">
Packet byte pane in Qt version of packet window isn’t being displayed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11760">Bug 11760</a>)
</li><li class="listitem">
"wireshark -i usbmon2 -k" results in "No interfaces selected" when restarting a capture. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11939">Bug 11939</a>)
</li><li class="listitem">
Crash when changing the "which packets to print" radio button in the Print dialog. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12040">Bug 12040</a>)
</li><li class="listitem">
Selecting packets causes memory leak. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12044">Bug 12044</a>)
</li><li class="listitem">
Client Hello not dissected when failed SSL handshake fully captured. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12132">Bug 12132</a>)
</li><li class="listitem">
TCP graphs - wrong stream graphed if stream index &gt; 99. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12163">Bug 12163</a>)
</li><li class="listitem">
Typo in packet-gsm_a_dtap.c. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12186">Bug 12186</a>)
</li><li class="listitem">
Lua dot file error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12196">Bug 12196</a>)
</li><li class="listitem">
"All Files" does not allow selecting files without period. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12203">Bug 12203</a>)
</li><li class="listitem">
wlan, wlan_mgt, Length error shown for IE BSS AC Access Delay/WAPI Parameter Set (68). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12223">Bug 12223</a>)
</li><li class="listitem">
Qt GUI very slow when expanding packet details with a lot of items. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12228">Bug 12228</a>)
</li><li class="listitem">
Comparing a boolean field against 1 always succeeds on big-endian machines. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12236">Bug 12236</a>)
</li><li class="listitem">
FIN flag not always correctly passed to subdissectors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12238">Bug 12238</a>)
</li><li class="listitem">
Interpretation of BGP NLRI for default route cause malformed packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12240">Bug 12240</a>)
</li><li class="listitem">
Capture Interfaces dialog crashes after clicking the bookmark menu. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12241">Bug 12241</a>)
</li><li class="listitem">
Wireshark crashes right after a capture filter is selected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12245">Bug 12245</a>)
</li><li class="listitem">
GSM GMM Identity Response dissection error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12246">Bug 12246</a>)
</li><li class="listitem">
Crash reloading "dissector.lua" from the Wireshark website. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12251">Bug 12251</a>)
</li><li class="listitem">
VoIP calls does not show IAX2 calls. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12254">Bug 12254</a>)
</li><li class="listitem">
Wireshark CPU usage has dramatically increased. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12258">Bug 12258</a>)
</li><li class="listitem">
RPC/NFS incorrectly decodes as ACAP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12265">Bug 12265</a>)
</li><li class="listitem">
Wireshark mistakenly flags CF-End packets as being Malformed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12266">Bug 12266</a>)
</li><li class="listitem">
ASTERIX Category 48 Reserved Expansion Field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12267">Bug 12267</a>)
</li><li class="listitem">
It is not possible to enter characters requiring "Alt Gr" in the display filter box such as "[" on a Swedish keyboard. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12270">Bug 12270</a>)
</li><li class="listitem">
tshark crashes when trying to export to pdml. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12276">Bug 12276</a>)
</li><li class="listitem">
Build fails on Centos 6.5 with gtk2 in ui/gtk/rtp_player.c rtp_channel_info_r has no no member start_time. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12277">Bug 12277</a>)
</li><li class="listitem">
TCP Dissector - spurious retransmissions not always recognized. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12282">Bug 12282</a>)
</li><li class="listitem">
PRA Identifier of the IE PRA Action should use 3 octets (6 to 8) and not 2 in GTPv2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12284">Bug 12284</a>)
</li><li class="listitem">
Dissector bug, failed assertion, proto_desegment pinfo→can_desegment. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12285">Bug 12285</a>)
</li><li class="listitem">
Colorize with filter, new coloring rule, is labeled as new conversation rule. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12289">Bug 12289</a>)
</li><li class="listitem">
Qt Multicast Stream Dialog error in input field Burst alarm threshold and Buffer alarm. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12309">Bug 12309</a>)
</li><li class="listitem">
6LoWPAN reassembly incorrect if extension header padding was elided. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12310">Bug 12310</a>)
</li><li class="listitem">
USBPcap prevents keyboard from working. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12316">Bug 12316</a>)
</li><li class="listitem">
Crash when reloading Lua script when Field is gone. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12328">Bug 12328</a>)
</li><li class="listitem">
Wrong display of USSD strings in the GSM 7-bit alphabet for non-ASCII characters in Wireshark 2.0.x. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12337">Bug 12337</a>)
</li><li class="listitem">
Malformed Packet: RTP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12339">Bug 12339</a>)
</li><li class="listitem">
Incorrect error on MPA pdu length on iWARP packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12348">Bug 12348</a>)
</li><li class="listitem">
Endpoints window doesn’t show name resolution. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12353">Bug 12353</a>)
</li></ul></div><p>Windows installers and PortableApps® packages are dual signed using SHA-1 and SHA-256
in order to comply with
<a class="ulink" href="http://social.technet.microsoft.com/wiki/contents/articles/32288.windows-enforcement-of-authenticode-code-signing-and-timestamping.aspx">Microsoft Authenticode policy</a>.
Windows 7 and Windows Server 2008 R2 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/3123479">update 3123479</a> is installed.
Windows Vista and Windows Server 2008 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/2763674">hotfix 2763674</a> is installed.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
ACAP,
Asterix,
BGP,
DMP,
DNS,
DTLS,
EAP,
FMTP,
GPRS LLC,
GSM A,
GSM A GM,
GSM CBCH,
GSM MAP,
GTPv2,
HTTP,
IAX2,
IEEE 802.11,
iWARP MPA,
MS-WSP,
MySQL,
NCP,
NFS,
PKTC,
QUIC,
R3,
RTP,
SMB,
SPRT,
TCP,
ZEP,
ZigBee,
ZigBee NWK,
ZigBee ZCL SE,
and ZVT</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>and Gammu DCT3</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
