<div id="header">
<h1>Wireshark 2.6.5 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Qt 5.9.7. Previously they shipped with Qt 5.9.5.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-51">wnpa-sec-2018-51</a>
The Wireshark dissection engine could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14466">Bug 14466</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19625">CVE-2018-19625</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-52">wnpa-sec-2018-52</a>
The DCOM dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15130">Bug 15130</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19626">CVE-2018-19626</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-53">wnpa-sec-2018-53</a>
The LBMPDM dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15132">Bug 15132</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19623">CVE-2018-19623</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-54">wnpa-sec-2018-54</a>
The MMSE dissector could go into an infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15250">Bug 15250</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19622">CVE-2018-19622</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-55">wnpa-sec-2018-55</a>
The IxVeriWave file parser could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15279">Bug 15279</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19627">CVE-2018-19627</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-56">wnpa-sec-2018-56</a>
The PVFS dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15280">Bug 15280</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19624">CVE-2018-19624</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-57">wnpa-sec-2018-57</a>
The ZigBee ZCL dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15281">Bug 15281</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-19628">CVE-2018-19628</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>VoIP Calls dialog doesn’t include RTP stream when preparing a filter. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13440">Bug 13440</a>.</p>
</li>
<li>
<p>Wireshark installs on macOS with permissions for /Library/Application Support/Wireshark that are too restrictive. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14335">Bug 14335</a>.</p>
</li>
<li>
<p>Closing Enabled Protocols dialog crashes wireshark. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14349">Bug 14349</a>.</p>
</li>
<li>
<p>Unable to Export Objects → HTTP after sorting columns. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14545">Bug 14545</a>.</p>
</li>
<li>
<p>DNS Response to NS query shows as malformed packet. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14574">Bug 14574</a>.</p>
</li>
<li>
<p>Encrypted Alerts corresponds to a wrong selection in the packet bytes pane. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14712">Bug 14712</a>.</p>
</li>
<li>
<p>Wireshark crashes/asserts with Qt 5.11.1 and assert/debugsymbols enabled. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15014">Bug 15014</a>.</p>
</li>
<li>
<p>ESP will not decode since 2.6.2 - works fine in 2.4.6 or 2.4.8. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15056">Bug 15056</a>.</p>
</li>
<li>
<p>text2pcap generates malformed packets when TCP, UDP or SCTP headers are added together with IPv6 header. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15194">Bug 15194</a>.</p>
</li>
<li>
<p>Wireshark tries to decode EAP-SIM Pseudonym Identity. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15196">Bug 15196</a>.</p>
</li>
<li>
<p>Infinite read loop when extcap exits with error and error message. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15205">Bug 15205</a>.</p>
</li>
<li>
<p>MATE unable to extract fields for PDU. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15208">Bug 15208</a>.</p>
</li>
<li>
<p>Malformed Packet: SV. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15224">Bug 15224</a>.</p>
</li>
<li>
<p>OPC UA Max nesting depth exceeded for valid packet. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15226">Bug 15226</a>.</p>
</li>
<li>
<p>TShark 2.6 does not print GeoIP information. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15230">Bug 15230</a>.</p>
</li>
<li>
<p>ISUP (ANSI) packets malformed in WS versions later than 2.4.8. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15236">Bug 15236</a>.</p>
</li>
<li>
<p>Handover candidate enquire message not decoded. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15237">Bug 15237</a>.</p>
</li>
<li>
<p>TShark piping output in a cmd or PowerShell prompt stops working when GeoIP is enabled. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15248">Bug 15248</a>.</p>
</li>
<li>
<p>ICMPv6 with routing header incorrectly placed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15270">Bug 15270</a>.</p>
</li>
<li>
<p>IEEE 802.11 Vendor Specific fixed fields display as malformed packets. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15273">Bug 15273</a>.</p>
</li>
<li>
<p>text2pcap -4 and -6 option should require -i as well. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15275">Bug 15275</a>.</p>
</li>
<li>
<p>text2pcap direction sensitivity does not affect dummy ethernet addresses. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15287">Bug 15287</a>.</p>
</li>
<li>
<p>MLE security suite display incorrect. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15288">Bug 15288</a>.</p>
</li>
<li>
<p>Message for incorrect IPv4 option lengths is incorrect. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15290">Bug 15290</a>.</p>
</li>
<li>
<p>TACACS+ dissector does not properly reassemble large accounting messages. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15293">Bug 15293</a>.</p>
</li>
<li>
<p>NLRI of S-PMSI A-D BGP route not being displayed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15307">Bug 15307</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BGP, DCERPC, DCOM, DNS, EAP, ESP, GSM A BSSMAP, IEEE 802.11, IEEE 802.11 Radiotap, IPv4, IPv6, ISUP, LBMPDM, LISP, MLE, MMSE, OpcUa, PVFS, SLL, SSL/TLS, SV, TACACS+, TCAP, Wi-SUN, XRA, and ZigBee ZCL</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>3GPP TS 32.423 Trace and IxVeriWave</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>sshdump</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-11-28 17:51:54 UTC
</div>
</div>
