<div class="article" title="Wireshark 1.8.9 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="idp3912624"></a>Wireshark 1.8.9 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-45.html">wnpa-sec-2013-45</a>
          </p><p>
	    The Bluetooth SDP dissector could go into a large loop. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8831">Bug
            8831</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4927">CVE-2013-4927</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-47.html">wnpa-sec-2013-47</a>
          </p><p>
	    The DIS dissector could go into a large loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8911">Bug
            8911</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4929">CVE-2013-4929</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-48.html">wnpa-sec-2013-48</a>
          </p><p>
	    The DVB-CI dissector could crash. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8916">Bug
            8916</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4930">CVE-2013-4930</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-49.html">wnpa-sec-2013-49</a>
          </p><p>
	    The GSM RR dissector (and possibly others) could go into a large loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8923">Bug
            8923</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4931">CVE-2013-4931</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-50.html">wnpa-sec-2013-50</a>
          </p><p>
	    The GSM A Common dissector could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8940">Bug
            8940</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4932">CVE-2013-4932</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-51.html">wnpa-sec-2013-51</a>
          </p><p>
	    The Netmon file parser could crash. Discovered by G. Geshev.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8742">Bug
            8742</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4933">CVE-2013-4933</a>
          </p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4934">CVE-2013-4934</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-52.html">wnpa-sec-2013-52</a>
          </p><p>
	    The ASN.1 PER dissector could crash. Discovered by Oliver-Tobias Ripka.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8722">Bug
            8722</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.8.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4935">CVE-2013-4935</a>
          </p></li></ul></div><p>
    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Wireshark hides under Taskbar.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3034">Bug
          3034</a>)
        </p></li><li class="listitem"><p>
          Wireshark doesn't translate IEEE802a OUI.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3123">Bug
          3123</a>)
        </p></li><li class="listitem"><p>
          IEEE 802.15.4 frame check sequence in "Chipcon mode" not displayed correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4507">Bug
          4507</a>)
        </p></li><li class="listitem"><p>
          Mask in Lua ProtoField.uint32() does not work as expected.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5734">Bug
          5734</a>)
        </p></li><li class="listitem"><p>
          Lines of text are truncated if they are either longer than the paper width or past the paper height.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7543">Bug
          7543</a>)
        </p></li><li class="listitem"><p>
          [PATCH] Add MAC-DATA support to TETRA dissector and other minor improvements.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8708">Bug
          8708</a>)
        </p></li><li class="listitem"><p>
          Wireshark writes empty NRB FQDN which makes trace unloadable.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8763">Bug
          8763</a>)
        </p></li><li class="listitem"><p>
          Wrong encoding for 2 pod files, UTF-8 characters in another.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8774">Bug
          8774</a>)
        </p></li><li class="listitem"><p>
          SCSI (SPC) sense key specific information field must not include SKSV.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8782">Bug
          8782</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes when closing Flow Graph with Graph Analysis opened.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8793">Bug
          8793</a>)
        </p></li><li class="listitem"><p>
          Detection of IPv6 works only on Solaris 8.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8813">Bug
          8813</a>)
        </p></li><li class="listitem"><p>
          ansi_637_tele dissector displays MSB as MBS for Call-Back Number.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8851">Bug
          8851</a>)
        </p></li><li class="listitem"><p>
          Dropped bytes in IMAP dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8857">Bug
          8857</a>)
        </p></li><li class="listitem"><p>
          Kismet drone/server dissector improvements.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8864">Bug
          8864</a>)
        </p></li><li class="listitem"><p>
          iostat_draw sizeof mismatch.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8888">Bug
          8888</a>)
        </p></li><li class="listitem"><p>
          SIP stats shows incorrect values for Max/Ave setup times.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8897">Bug
          8897</a>)
        </p></li><li class="listitem"><p>
          Graph Filter field limited to 256 characters.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8909">Bug
          8909</a>)
        </p></li><li class="listitem"><p>
          All mongodb query show as [Malformed Packet: MONGO].
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8960">Bug
          8960</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>



ANSI IS-637-A,
ASN.1 PER,
ASN.1,
DCERPC NDR,
Ethernet,
H.235,
IEEE 802.15.4,
IEEE 802a,
IMAP,
KDSP,
MAC-LTE,
MONGO,
PDCP-LTE,
RLC,
RLC-LTE,
SCSI,
SoulSeek,
TETRA

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Microsoft Network Monitor, pcap-ng.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>