<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm47923738848"></a>Wireshark 2.0.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-29.html">wnpa-sec-2016-29</a>
</p><p class="simpara">The SPOOLS dissector could go into an infinite loop.
Discovered by the CESG.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-30.html">wnpa-sec-2016-30</a>
</p><p class="simpara">The IEEE 802.11 dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11585">Bug 11585</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-31.html">wnpa-sec-2016-31</a>
</p><p class="simpara">The IEEE 802.11 dissector could crash. Discovered by Mateusz Jurczyk.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12175">Bug 12175</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-32.html">wnpa-sec-2016-32</a>
</p><p class="simpara">The UMTS FP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12191">Bug 12191</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-33.html">wnpa-sec-2016-33</a>
</p><p class="simpara">Some USB dissectors could crash. Discovered by Mateusz Jurczyk.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12356">Bug 12356</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-34.html">wnpa-sec-2016-34</a>
</p><p class="simpara">The Toshiba file parser could crash. Discovered by iDefense Labs.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12394">Bug 12394</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-35.html">wnpa-sec-2016-35</a>
</p><p class="simpara">The CoSine file parser could crash. Discovered by iDefense Labs.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12395">Bug 12395</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-36.html">wnpa-sec-2016-36</a>
</p><p class="simpara">The NetScreen file parser could crash. Discovered by iDefense Labs.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12396">Bug 12396</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-37.html">wnpa-sec-2016-37</a>
</p><p class="simpara">The Ethernet dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12440">Bug 12440</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Saving pcap capture file with ERF encapsulation creates an invalid pcap file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3606">Bug 3606</a>)
</li><li class="listitem">
Questionable calling of Ethernet dissector by encapsulating protocol dissectors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9933">Bug 9933</a>)
</li><li class="listitem">
Wireshark 1.12.0 does not dissect HTTP correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10335">Bug 10335</a>)
</li><li class="listitem">
Don’t copy details of hidden columns. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11788">Bug 11788</a>)
</li><li class="listitem">
RTP audio player crashes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12166">Bug 12166</a>)
</li><li class="listitem">
Crash when saving RTP audio Telephony→RTP→RTP Streams→Analyze→Save→Audio. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12211">Bug 12211</a>)
</li><li class="listitem">
Edit - preferences - add column field not showing dropdown for choices. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12321">Bug 12321</a>)
</li><li class="listitem">
Using _ws.expert in a filter can cause a crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12335">Bug 12335</a>)
</li><li class="listitem">
Crash in SCCP dissector UAT (Qt UI only). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12364">Bug 12364</a>)
</li><li class="listitem">
J1939 frame without data = malformed packet ? (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12366">Bug 12366</a>)
</li><li class="listitem">
The stream number in tshark’s "-z follow,tcp,&lt;stream number&gt;" option is 0-origin rather than 1-origin. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12383">Bug 12383</a>)
</li><li class="listitem">
IP Header Length display filter should show calculated value. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12387">Bug 12387</a>)
</li><li class="listitem">
Multiple file radio buttons should be check boxes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12388">Bug 12388</a>)
</li><li class="listitem">
Wrong check for getaddrinfo and gethostbyname on Solaris 11. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12391">Bug 12391</a>)
</li><li class="listitem">
ICMPv6 dissector doesn’t respect actual packet length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12400">Bug 12400</a>)
</li><li class="listitem">
Format DIS header timestamp mm:ss.nnnnnn. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12402">Bug 12402</a>)
</li><li class="listitem">
RTP Stream Analysis can no longer be sorted in 2.0.3. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12405">Bug 12405</a>)
</li><li class="listitem">
RTP Stream Analysis fails to complete in 2.0.3 when packets are sliced. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12406">Bug 12406</a>)
</li><li class="listitem">
Network-Layer Name Resolution uses first 32-bits of IPv6 DNS address as IPv4 address in some circumstances. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12412">Bug 12412</a>)
</li><li class="listitem">
BACnet decoder incorrectly flags a valid APDU as a "Malformed Packet". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12422">Bug 12422</a>)
</li><li class="listitem">
Valid ISUP messages marked with warnings. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12423">Bug 12423</a>)
</li><li class="listitem">
Profile command line switch "-C" not working in Qt interface. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12425">Bug 12425</a>)
</li><li class="listitem">
MRCPv2: info column not showing info correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12426">Bug 12426</a>)
</li><li class="listitem">
Diameter: Experimental result code 5142. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12428">Bug 12428</a>)
</li><li class="listitem">
Tshark crashes when analyzing RTP due to pointer being freed not allocated. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12430">Bug 12430</a>)
</li><li class="listitem">
NFS: missing information in getattr for supported exclusive create attributes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12435">Bug 12435</a>)
</li><li class="listitem">
Ethernet type field with a value of 9100 is shown as "Unknown". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12441">Bug 12441</a>)
</li><li class="listitem">
Documentation does not include support for Windows Server 2012 R2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12455">Bug 12455</a>)
</li><li class="listitem">
Column preferences ruined too easily. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12465">Bug 12465</a>)
</li><li class="listitem">
SMB Open andX extended response decoded incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12472">Bug 12472</a>)
</li><li class="listitem">
SMB NtCreate andX with extended response sometimes incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12473">Bug 12473</a>)
</li><li class="listitem">
Viewing NFSv3 Data, checking SRTs doesn’t work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12478">Bug 12478</a>)
</li><li class="listitem">
Make wireshark with Qt enabled buildable on ARM. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12483">Bug 12483</a>)
</li></ul></div><p>Windows installers and PortableApps® packages are dual signed using SHA-1 and SHA-256
in order to comply with
<a class="ulink" href="http://social.technet.microsoft.com/wiki/contents/articles/32288.windows-enforcement-of-authenticode-code-signing-and-timestamping.aspx">Microsoft Authenticode policy</a>.
Windows 7 and Windows Server 2008 R2 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/3123479">update 3123479</a> is installed.
Windows Vista and Windows Server 2008 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/2763674">hotfix 2763674</a> is installed.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>AFS,
ANSI IS-637 A,
BACapp,
BT BNEP,
Cisco FabricPath MiM,
CSN.1,
DCERPC SPOOLS,
DIS,
Ethernet,
GSM A RR,
ICMPv6,
IEEE 802.11,
IPv4,
ISUP,
J1939,
JXTA,
LAPSat,
LPADm,
LTE-RRC,
MRCPv2,
NFS,
OpenFlow,
SGsAP,
SMB,
STT,
TZSP,
UMTS FP,
and USB</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>Aethra,
Catapult DCT2000,
CoSine,
DBS Etherwatch,
ERF,
iSeries,
Ixia IxVeriWave,
NetScreen,
Toshiba,
and VMS TCPIPtrace</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
