<div id="header">
<h1>Wireshark 3.6.2 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-01">wnpa-sec-2022-01</a>
RTMPT dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17813">Issue 17813</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-02">wnpa-sec-2022-02</a>
Large loops in multiple dissectors.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17829">Issue 17829</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17842">Issue 17842</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17847">Issue 17847</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17855">Issue 17855</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17891">Issue 17891</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17925">Issue 17925</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17926">Issue 17926</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17931">Issue 17931</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17932">Issue 17932</a>,
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17933">Issue 17933</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-03">wnpa-sec-2022-03</a>
PVFS dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17840">Issue 17840</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-04">wnpa-sec-2022-04</a>
CSN.1 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17882">Issue 17882</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-05">wnpa-sec-2022-05</a>
CMS dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17935">Issue 17935</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Support for GSM SMS TPDU in HTTP2 body <a href="https://gitlab.com/wireshark/wireshark/-/issues/17784">Issue 17784</a>.</p>
</li>
<li>
<p>Wireshark 3.6.1 broke the ABI by removing ws_log_default_writer from libwsutil <a href="https://gitlab.com/wireshark/wireshark/-/issues/17822">Issue 17822</a>.</p>
</li>
<li>
<p>Fedora RPM package build failing with RPATH of /usr/local/lib64 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17830">Issue 17830</a>.</p>
</li>
<li>
<p>macos-setup.sh: ftp.pcre.org no longer exists <a href="https://gitlab.com/wireshark/wireshark/-/issues/17834">Issue 17834</a>.</p>
</li>
<li>
<p>nmap.org/npcap → npcap.com: domain/URL change <a href="https://gitlab.com/wireshark/wireshark/-/issues/17838">Issue 17838</a>.</p>
</li>
<li>
<p>MPLS ECHO FEC stack change TLV not dissected correctly <a href="https://gitlab.com/wireshark/wireshark/-/issues/17868">Issue 17868</a>.</p>
</li>
<li>
<p>Attempting to open a systemd journal export file segfaults <a href="https://gitlab.com/wireshark/wireshark/-/issues/17875">Issue 17875</a>.</p>
</li>
<li>
<p>Dissector bug on 802.11ac packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/17878">Issue 17878</a>.</p>
</li>
<li>
<p>The Info column shows only one NGAP/S1AP packet of several packets inside an SCTP packet <a href="https://gitlab.com/wireshark/wireshark/-/issues/17886">Issue 17886</a>.</p>
</li>
<li>
<p>Uninstalling Wireshark 3.6.1 on Windows 10 fails to remove the installation directory because it doesn’t remove the User’s Guide subdirectory and all its contents. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17898">Issue 17898</a>.</p>
</li>
<li>
<p>3.6 doesn’t build without zlib <a href="https://gitlab.com/wireshark/wireshark/-/issues/17899">Issue 17899</a>.</p>
</li>
<li>
<p>SIP Statistics no longer properly reporting method type accounting <a href="https://gitlab.com/wireshark/wireshark/-/issues/17904">Issue 17904</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-01-26-6940.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/17909">Issue 17909</a>.</p>
</li>
<li>
<p>SCTP retransmission detection broken for the first data chunk of each association with relative TSN <a href="https://gitlab.com/wireshark/wireshark/-/issues/17917">Issue 17917</a>.</p>
</li>
<li>
<p>“Show In Folder” doesn’t work correctly for filenames with spaces <a href="https://gitlab.com/wireshark/wireshark/-/issues/17927">Issue 17927</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AMP, ASN.1 PER, ATN-ULCS, BGP, BP, CFLOW, CMS, CSN.1, GDSDB, GSM RP, GTP, HTTP3, IEEE 802.11 Radiotap, IPDC, ISAKMP, Kafka, MP2T, MPEG PES, MPEG SECT, MPLS ECHO, NGAP, NTLMSSP, OpenFlow 1.4, OpenFlow 1.5, P_MUL, PN-RT, PROXY, PTP, PVFS, RSL, RTMPT, rtnetlink, S1AP, SCTP, Signal PDU, SIP, TDS, USB, WAP, and ZigBee ZCL</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF and libpcap</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2022-02-10 18:32:36 UTC
</div>
</div>