<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm316624361008"></a>Wireshark 2.4.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-01.html">wnpa-sec-2018-01</a>
</p><p class="simpara">Multiple dissectors could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14253">Bug 14253</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-5336">CVE-2018-5336</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-03.html">wnpa-sec-2018-03</a>
</p><p class="simpara">The IxVeriWave file parser could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14297">Bug 14297</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-5334">CVE-2018-5334</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-04.html">wnpa-sec-2018-04</a>
</p><p class="simpara">The WCP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14251">Bug 14251</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-5335">CVE-2018-5335</a></p></li></ul></div><p>Prior to this release dumpcap enabled the Linux kernel’s BPF JIT
compiler via the <code class="literal">net.core.bpf_jit_enable</code> sysctl. This could make
systems more vulnerable to Spectre variant 1 (<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-5753">CVE-2017-5753</a>)
and this feature has been removed (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14313">Bug 14313</a>).</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Some keyboard shortcut mix-up has been resolved by assigning new shortcuts
  to Edit → Copy methods.
</li><li class="listitem">
Remote interfaces are not saved. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8557">Bug 8557</a>)
</li><li class="listitem">
Additional grouping in Expert Information dialog. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11753">Bug 11753</a>)
</li><li class="listitem">
First start with non-empty extcap folder after install or reboot hangs at "initializing tap listeners". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12845">Bug 12845</a>)
</li><li class="listitem">
Can’t hide expert categories in Expert Information. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13831">Bug 13831</a>)
</li><li class="listitem">
Expert info dialog should have "Collapse All"/"Expand All" options. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13842">Bug 13842</a>)
</li><li class="listitem">
SIP Statistics extract does not work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13942">Bug 13942</a>)
</li><li class="listitem">
Service Response Time - SCSI dialog crashes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14144">Bug 14144</a>)
</li><li class="listitem">
Wireshark &amp; Tshark 2.4.2 core dumps with segmentation fault. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14194">Bug 14194</a>)
</li><li class="listitem">
SSH remote capture promiscuous mode. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14237">Bug 14237</a>)
</li><li class="listitem">
SOCKS pseudo header displays incorrect Version value. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14262">Bug 14262</a>)
</li><li class="listitem">
Only first variable of list is dissected in NTP Control request message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14268">Bug 14268</a>)
</li><li class="listitem">
NTP Authenticator field dissection fails if padding is used. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14269">Bug 14269</a>)
</li><li class="listitem">
BSSAP packet dissector issue - BSSAP_UPLINK_TUNNEL_REQUEST message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14289">Bug 14289</a>)
</li><li class="listitem">
"[Malformed Packet]" for Mobile IP (MIP) protocol. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14292">Bug 14292</a>)
</li><li class="listitem">
There is a potential buffer underflow in File_read_line function in epan/wslua/wslua_file.c file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14295">Bug 14295</a>)
</li><li class="listitem">
Saving a temporary capture file may not result in the temporary file being removed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14298">Bug 14298</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>Bluetooth,
BSSAP,
BT ATT,
BT HCI,
BT SMP,
MIP,
NTP,
SCTP,
SOCKS,
UDS,
and WCP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>Ixia IxVeriWave</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
