<div id="header">
<h1>Wireshark 3.0.1 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Npcap 0.992. They previously shipped
with Npcap 0.99-r9.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-09">wnpa-sec-2019-09</a>
NetScaler file parser crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15497">Bug 15497</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10895">CVE-2019-10895</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-10">wnpa-sec-2019-10</a>
SRVLOC dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15546">Bug 15546</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10899">CVE-2019-10899</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-11">wnpa-sec-2019-11</a>
IEEE 802.11 dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15553">Bug 15553</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10897">CVE-2019-10897</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-12">wnpa-sec-2019-12</a>
GSUP dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15585">Bug 15585</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10898">CVE-2019-10898</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-13">wnpa-sec-2019-13</a>
Rbm dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15612">Bug 15612</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10900">CVE-2019-10900</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-14">wnpa-sec-2019-14</a>
GSS-API dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15613">Bug 15613</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10894">CVE-2019-10894</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-15">wnpa-sec-2019-15</a>
DOF dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15617">Bug 15617</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10896">CVE-2019-10896</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-16">wnpa-sec-2019-16</a>
TSDNS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15619">Bug 15619</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10902">CVE-2019-10902</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-17">wnpa-sec-2019-17</a>
LDSS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15620">Bug 15620</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10901">CVE-2019-10901</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-18">wnpa-sec-2019-18</a>
DCERPC SPOOLSS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15568">Bug 15568</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10903">CVE-2019-10903</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>[oss-fuzz] UBSAN: shift exponent 34 is too large for 32-bit type 'guint32' (aka 'unsigned int') in packet-ieee80211.c:15534:49. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14770">Bug 14770</a>.</p>
</li>
<li>
<p>[oss-fuzz] UBSAN: shift exponent 35 is too large for 32-bit type 'int' in packet-couchbase.c:1674:37. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15439">Bug 15439</a>.</p>
</li>
<li>
<p>Duplicated TCP SEQ field in ICMP packets. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15533">Bug 15533</a>.</p>
</li>
<li>
<p>Wrong length in dhcpv6 NTP Server suboption results in "Malformed Packet" and breaks further dissection. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15542">Bug 15542</a>.</p>
</li>
<li>
<p>Wireshark’s speaker-to-MaxMind is burning up the CPU. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15545">Bug 15545</a>.</p>
</li>
<li>
<p>GSM-A-RR variable bitmap decoding may report ARFCNs &gt; 1023. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15549">Bug 15549</a>.</p>
</li>
<li>
<p>Import hexdump dummy Ethernet header generation ignores direction indication. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15561">Bug 15561</a>.</p>
</li>
<li>
<p>%T not supported for timestamps. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15565">Bug 15565</a>.</p>
</li>
<li>
<p>LWM2M: resource with \r\n badly shown. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15572">Bug 15572</a>.</p>
</li>
<li>
<p>When selecting BSSAP in 'Decode As' for a SCCP payload, it uses BSSAP+ which is not the same protocol. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15578">Bug 15578</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Possible buffer overflow in function ssl_md_final for crafted SSL 3.0 sessions. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15599">Bug 15599</a>.</p>
</li>
<li>
<p>Windows console log output delay. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15605">Bug 15605</a>.</p>
</li>
<li>
<p>Syslog dissector processes the UTF-8 BOM incorrectly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15607">Bug 15607</a>.</p>
</li>
<li>
<p>NFS/NLM: Wrong lock byte range in the "Info" column. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15608">Bug 15608</a>.</p>
</li>
<li>
<p>randpkt -r causes segfault when count &gt; 1. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15627">Bug 15627</a>.</p>
</li>
<li>
<p>Tshark export to ElasticSearch (-Tek) fails with Bad json_dumper state: illegal transition. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15628">Bug 15628</a>.</p>
</li>
<li>
<p>Packets with metadata but no data get the Protocol Info column overwritten. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15630">Bug 15630</a>.</p>
</li>
<li>
<p>BGP MP_REACH_NLRI AFI: Layer-2 VPN, SAFI: EVPN - Label stack not decoded. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15631">Bug 15631</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Buildbot crash output: fuzz-2019-03-23-1789.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15634">Bug 15634</a>.</p>
</li>
<li>
<p>Typo: broli → brotli. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15647">Bug 15647</a>.</p>
</li>
<li>
<p>Wrong dissection of GTPv2 MM Context Used NAS integrity protection algorithm. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15648">Bug 15648</a>.</p>
</li>
<li>
<p>Windows CHM (help file) title displays quoted HTML characters. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15656">Bug 15656</a>.</p>
</li>
<li>
<p>Unable to load 3rd party plugins not signed by Wireshark’s codesigning certificate. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15667">Bug 15667</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BGP, BSSAP, Couchbase, DCERPC SPOOLSS, DHCP, DHCPv6, DOF, FP, GSM A RR, GSS-API, GSUP, GTP, GTPv2, H248C, HL7, IEEE 802.11, IEEE 802.15.4, ISO 14443, LDSS, LwM2M-TLV, NLM, Rbm, SIP, SRVLOC, Syslog, TCP, TLS, and TSDNS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>NetScaler and pcap</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-04-08 17:06:38 UTC
</div>
</div>
