<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id752101"></a>Wireshark 0.99.8 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id752136">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id752136"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2008-01.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The SCTP dissector could crash.

          </p><p>Versions affected: 0.99.5 to 0.99.7</p><p>

          </p></li><li><p>
            The SNMP dissector could crash.

          </p><p>Versions affected: 0.99.6 to 0.99.7</p><p>

          </p></li><li><p>
            The TFTP dissector could crash Wireshark on Ubuntu 7.10. (This
            appears to be a bug in the Cairo library on that platform.) Reported
            by Noam Rathaus.

          </p><p>Versions affected: 0.6.0 to 0.99.7</p><p>

          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Wireshark could crash when saving I/O graphs.
        </p></li><li><p>
            Wireshark could crash when editing table-based preferences.
        </p></li><li><p>
            Wireshark could crash when trying to play RTP streams.
        </p></li><li><p>
            Wireshark could crash when trying to apply a display filter macro.
        </p></li><li><p>
            Wireshark could crash in Turkish and other locales.
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            You can now have multiple configuration profiles.
          </p></li><li><p>
            Temporary coloring rules have been added, which let you color or
            filter on a conversation.
          </p></li><li><p>
            I/O graphs have been improved.
          </p></li><li><p>
            Wireshark now has WLAN traffic statistics.
          </p></li><li><p>
            The Wireshark GUI now supports RPCAP.
          </p></li><li><p>
            Conversations and endpoints can now be limited to the current
            display filter.
          </p></li><li><p>
            Experimental support for the NTAR/PcapNG file format has been
            added.
          </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

AiroPeek Remote Capture,
China Mobile Point to Point,
Distributed Lock Manager 3,
EUTRAN X2 Application Protocol,
FOUNDATION Fieldbus,
International Passenger Airline Reservation System/Airline Link Control,
Microsoft DirectPlay,
Path Computation Element communication Protocol,
Real Time Messaging Protocol,
S1 Application Protocol,
Scripting Service Protocol,
Societe Internationale de Telecommunications Aeronautiques,
Unisys Transmittal System,
Wi-fi Protected Setup

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

3G A11,
3GPP,
ACN,
ACP133,
ALCAP,
AMR,
ANSI A,
ANSI IS-637-A,
ANSI MAP,
ARP,
ASAP,
AVS WLAN,
BACapp,
BER,
BOOTP,
Bluetooth (HCI ACL, HCI CMD, HCI EVT, HCI SCO, L2CAP, SDP),
CDP,
CFM,
CMS,
COPS,
Camel,
Cisco ERSPAN,
DAP,
DCERPC SPOOLSS,
DCERPC,
DHCP,
DHCPv6,
DIAMETER,
DMP,
DTLS,
E.164,
EAP,
ENIP,
ENRP,
EtherCAT,
Ethernet,
FMP,
FTAM,
GMRP,
GRE,
GSM MAP,
GSM SMS,
GSS-API,
GTP,
Gryphon,
H.223,
H.225,
H.245,
H.263,
H.264,
H.460,
HCI H1,
HTTP,
ICMP,
IEEE 802.11,
IGMP,
IPP,
ISAKMP,
ISUP,
JFIF,
JPEG,
JXTA,
Kerberos,
LDAP,
MP2T,
MS MMS,
MTP3MG,
NBAP,
NFS,
NHRP,
NetFlow,
P7,
PER,
PIM,
PKCS12,
PPPoE,
PTP,
P_Mul,
Q.932,
Quakeworld,
RANAP,
RMT ALC,
RMT LCT,
ROS,
RPC,
RPL,
RRC,
RTCP,
RTP,
SCCP,
SCTP,
SDP,
SLL,
SMB,
SMB2,
SMPP,
SMTP,
SNMP,
SRVLOC,
SSL,
STUN2,
T.38,
TCAP,
TCP,
TFTP,
TiVoConnect,
UCP,
UDP-Lite,
USB,
VLAN,
WBXML,
X.411,
X.420,
X.509if,
X.509sat

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Catapult DCT2000,
DBS Etherwatch,
NTAR/PcapNG,
TamoSoft CommView,
Visual Networks

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages. You can
	usually install or upgrade Wireshark using the package management system
	specific to that platform. A list of third-party packages can be found
	on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
