<div id="header">
<h1>Wireshark 3.4.9 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>TShark PDML output embeds "proto" elements within other "proto" elements <a href="https://gitlab.com/wireshark/wireshark/-/issues/10588">Issue 10588</a>.</p>
</li>
<li>
<p>Filter expressions comparing against single-octet hex strings where the hex digit string equals a protocol name don’t work <a href="https://gitlab.com/wireshark/wireshark/-/issues/12810">Issue 12810</a>.</p>
</li>
<li>
<p>AMQP 0.9: dissector fails to handle Content-Body frame split across TCP packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/14217">Issue 14217</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>IEEE 802.15.4: Missing check on "PAN ID Present" bit of the Multipurpose Frame Control field <a href="https://gitlab.com/wireshark/wireshark/-/issues/17496">Issue 17496</a>.</p>
</li>
<li>
<p>Wireshark ignored <code>some</code> character in filename when exporting SMB objects. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17530">Issue 17530</a>.</p>
</li>
<li>
<p>tshark -z credentials: assertion failed:  (allocator→in_scope) <a href="https://gitlab.com/wireshark/wireshark/-/issues/17576">Issue 17576</a>.</p>
</li>
<li>
<p>IS-IS Extended IP Reachability Prefix-SID not decoded properly <a href="https://gitlab.com/wireshark/wireshark/-/issues/17610">Issue 17610</a>.</p>
</li>
<li>
<p>Error when reloading lua plugins with a capture file loaded via a custom lua file handler <a href="https://gitlab.com/wireshark/wireshark/-/issues/17615">Issue 17615</a>.</p>
</li>
<li>
<p>Absolute time UTC field filters are constructed incorrectly, don’t match the packet <a href="https://gitlab.com/wireshark/wireshark/-/issues/17617">Issue 17617</a>.</p>
</li>
<li>
<p>GUI freezes when clicking on large (non-capture) file in File chooser <a href="https://gitlab.com/wireshark/wireshark/-/issues/17620">Issue 17620</a>.</p>
</li>
<li>
<p>Crash after selecting a different profile while capturing <a href="https://gitlab.com/wireshark/wireshark/-/issues/17622">Issue 17622</a>.</p>
</li>
<li>
<p>BT-DHT reports malformed packets that are actually uTP on same connection <a href="https://gitlab.com/wireshark/wireshark/-/issues/17626">Issue 17626</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AMQP, Aruba IAP, BGP, BT-DHT, CoAP, DCERPC SPOOLSS, Diameter, EPL, GSM A-bis OML, GSM A-I/F COMMON, GSM SIM, IEEE 1905.1a, IEEE 802.15.4, IMAP, InfiniBand, ISIS LSP, ISObus VT, JPEG, MP2T, NORDIC_BLE, QUIC, RTCP, SDP, SMB, TWAMP-Control, USB HID, and VSS Monitoring</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>CAM Inspector, Ixia IxVeriWave, pcapng, and USBDump</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-10-06 17:20:36 UTC
</div>
</div>