<div id="header">
<h1>Wireshark 3.0.4 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Npcap 0.9983. They previously
shipped with Npcap 0.996.</p>
</li>
<li>
<p>The macOS installer now ships with Qt 5.12.3. It previously
shipped with Qt 5.12.4.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-21">wnpa-sec-2019-21</a>
Gryphon dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16020">Bug 16020</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Coloring Rules dialog - enable/disable coloring rule issues. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15153">Bug 15153</a>.</p>
</li>
<li>
<p>Enabling Time-Of-Day in IO Graph causes the x-axis origin to be set to 01.01.1970. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15247">Bug 15247</a>.</p>
</li>
<li>
<p>Wireshark GUI crashes when attempting to DnD multiple (possibly corrupted) pcapng files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15377">Bug 15377</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2019-06-14-14291.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15848">Bug 15848</a>.</p>
</li>
<li>
<p>802.11 RSN IE may be shorter than 18 bytes. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15905">Bug 15905</a>.</p>
</li>
<li>
<p>Tshark outputs two data rate instead of one. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15928">Bug 15928</a>.</p>
</li>
<li>
<p>Typo in checkbox label at bottom of sshdump configuration screen (save parameters). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15929">Bug 15929</a>.</p>
</li>
<li>
<p>Invalid pkcs11_libs entry crashes on Windows. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15957">Bug 15957</a>.</p>
</li>
<li>
<p>Add additional text output for DNS types (DNSSEC). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15970">Bug 15970</a>.</p>
</li>
<li>
<p>LSD bittorent. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15971">Bug 15971</a>.</p>
</li>
<li>
<p>dfilter_macros is missing from Configuration Files article. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15973">Bug 15973</a>.</p>
</li>
<li>
<p>Pane configuration inconsistencies. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15976">Bug 15976</a>.</p>
</li>
<li>
<p>Packet list is sorted in reverse order after applying a display filter in Qt 5.13. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15979">Bug 15979</a>.</p>
</li>
<li>
<p>EAP-TLS fragments are repeatedly displayed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15982">Bug 15982</a>.</p>
</li>
<li>
<p>Broken TLS handshake reassembly in EAP-TTLS with multiple TLS sessions. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15983">Bug 15983</a>.</p>
</li>
<li>
<p>Wireshark does not support USB packets with size greater than 256 KiB. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15985">Bug 15985</a>.</p>
</li>
<li>
<p>"Unable to drop files during capture." when drag’n’drop entry to create display filter or filter button. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15986">Bug 15986</a>.</p>
</li>
<li>
<p>Packet Bytes highlight for dns.qry.name.len and dns.count.labels off by one. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15999">Bug 15999</a>.</p>
</li>
<li>
<p>Segmentation fault in nfs_name_snoop_fh. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16017">Bug 16017</a>.</p>
</li>
<li>
<p>Changing the protocol preferences caused a crash. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16019">Bug 16019</a>.</p>
</li>
<li>
<p>DCERPC dissector broken for functions with only scalar variables. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16022">Bug 16022</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BACnet, DCERPC, DNS, EAP, FC-dNS, Gryphon, IEEE 802.11, LSD, NFS, and Radiotap</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>CommView and PacketLogger</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-09-11 19:27:49 UTC
</div>
</div>
