<div id="header">
<h1>Wireshark 2.6.8 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-09">wnpa-sec-2019-09</a>
NetScaler file parser crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15497">Bug 15497</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10895">CVE-2019-10895</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-10">wnpa-sec-2019-10</a>
SRVLOC dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15546">Bug 15546</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10899">CVE-2019-10899</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-14">wnpa-sec-2019-14</a>
GSS-API dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15613">Bug 15613</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10894">CVE-2019-10894</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-15">wnpa-sec-2019-15</a>
DOF dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15617">Bug 15617</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10896">CVE-2019-10896</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-17">wnpa-sec-2019-17</a>
LDSS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15620">Bug 15620</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10901">CVE-2019-10901</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-18">wnpa-sec-2019-18</a>
DCERPC SPOOLSS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15568">Bug 15568</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-10903">CVE-2019-10903</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark uninstaller fails to remove styles\qwindowsvistastyle.dll. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15469">Bug 15469</a>.</p>
</li>
<li>
<p>Duplicated TCP SEQ field in ICMP packets. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15533">Bug 15533</a>.</p>
</li>
<li>
<p>GSM-A-RR variable bitmap decoding may report ARFCNs &gt; 1023. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15549">Bug 15549</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Possible buffer overflow in function ssl_md_final for crafted SSL 3.0 sessions. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15599">Bug 15599</a>.</p>
</li>
<li>
<p>NFS/NLM: Wrong lock byte range in the "Info" column. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15608">Bug 15608</a>.</p>
</li>
<li>
<p>randpkt -r causes segfault when count &gt; 1. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15627">Bug 15627</a>.</p>
</li>
<li>
<p>Packets with metadata but no data get the Protocol Info column overwritten. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15630">Bug 15630</a>.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Buildbot crash output: fuzz-2019-03-23-1789.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15634">Bug 15634</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>DCERPC SPOOLSS, DHCP, DOF, GSM A RR, GSS-API, HL7, IEEE 802.15.4, ISO 14443, LDSS, NLM, SRVLOC, TCP, and TLS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>NetScaler and pcap</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-04-08 18:22:35 UTC
</div>
</div>
