<div id="header">
<h1>Wireshark 3.0.11 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Windows installers now ship with Qt 5.12.8.
They previously shipped with Qt 5.12.6.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-08">wnpa-sec-2020-08</a>
The NFS dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16476">Bug 16476</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>PVS-Studio analyser long list of issues. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16335">Bug 16335</a>.</p>
</li>
<li>
<p>pcapng file dissector incorrectly computes nanoseconds from timestamps because it assumes the resolution is in nanoseconds. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16440">Bug 16440</a>.</p>
</li>
<li>
<p>Read of uninitialized memory in detect_camins_file. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16458">Bug 16458</a>.</p>
</li>
<li>
<p>Read of uninitialized memory in lanalyzer_read_trace_record. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16459">Bug 16459</a>.</p>
</li>
<li>
<p>Range parameter on numeric parameter in extcap plugin doesn’t work. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16510">Bug 16510</a>.</p>
</li>
<li>
<p>capinfos "Capture duration" output is truncated if there are more than 11 digits of seconds and fractions of a second. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16519">Bug 16519</a>.</p>
</li>
<li>
<p>MIME Files Format/pcapng: Simple Packet Block parsed incorrectly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16526">Bug 16526</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2020-05-13-12195.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16564">Bug 16564</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AoE, APRS, ASN.1 BER, FTP, GSM SMS, Infiniband, ISObus VT, MAC LTE, NFS, ONC RPC, OSC, pcapng, PDCP LTE, SDP, SIP, Snort, STUN, and UMTS FP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>Camins, Catapult DCT 2000, Lanalyzer, and MPEG</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-05-19 17:54:28 UTC
</div>
</div>
