<div id="header">
<h1>Wireshark 2.6.0 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark 2.6 is the last release that will support the legacy (GTK+)
user interface. It will not be supported or available in Wireshark 3.0.</p>
</div>
<div class="paragraph">
<p>Many user interface improvements have been made. See the “New and Updated
Features” section below for more details.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="paragraph">
<p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 2.5.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>HTTP Request sequences are now supported.</p>
</li>
<li>
<p>Wireshark now supports MaxMind DB files. Support for GeoIP and GeoLite
Legacy databases has been removed.</p>
</li>
<li>
<p>The Windows packages are now built using Microsoft Visual Studio 2017.</p>
</li>
<li>
<p>The IP map feature (the “Map” button in the “Endpoints” dialog) has been removed.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following features are new (or have been significantly updated)
since version 2.4.0:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Display filter buttons can now be edited, disabled, and removed via a context
menu directly from the toolbar</p>
</li>
<li>
<p>Drag &amp; Drop filter fields to the display filter toolbar or edit to create
a button on the fly or apply the filter as a display filter.</p>
</li>
<li>
<p>Application startup time has been reduced.</p>
</li>
<li>
<p>Some keyboard shortcut mix-ups have been resolved by assigning new shortcuts
to Edit → Copy methods.</p>
</li>
<li>
<p>TShark now supports color using the --color option.</p>
</li>
<li>
<p>The "matches" display filter operator is now case-insensitive.</p>
</li>
<li>
<p>Display expression (button) preferences have been converted to a UAT.
This puts the display expressions in their own file. Wireshark still
supports preference files that contain the old preferences, but new
preference files will be written without the old fields.</p>
</li>
<li>
<p>SMI private enterprise numbers are now read from the “enterprises.tsv” configuration file.</p>
</li>
<li>
<p>The QUIC dissector has been renamed to <strong>G</strong>oogle QUIC (quic → <strong>g</strong>quic).</p>
</li>
<li>
<p>The selected packet number can now be shown in the Status Bar by enabling
Preferences → Appearance → Layout → Show selected packet number.</p>
</li>
<li>
<p>File load time in the Status Bar is now disabled by default and can be enabled in
Preferences → Appearance → Layout → Show file load time.</p>
</li>
<li>
<p>Support for the G.729A codec in the RTP Player is now added via the bcg729 library.</p>
</li>
<li>
<p>Support for hardware-timestamping of packets has been added.</p>
</li>
<li>
<p>Improved NetMon .cap support with comments, event tracing, network filter,
network info types and some Message Analyzer exported types.</p>
</li>
<li>
<p>The personal plugins folder on Linux/Unix is now ~/.local/lib/wireshark/plugins.</p>
</li>
<li>
<p>TShark can print flow graphs using <code>-z flow…</code></p>
</li>
<li>
<p>Capinfos now prints SHA256 hashes in addition to RIPEMD160 and SHA1. MD5 output
has been removed.</p>
</li>
<li>
<p>The packet editor has been removed. (This was a GTK+ only experimental feature.)</p>
</li>
<li>
<p>Support BBC micro:bit Bluetooth profile</p>
</li>
<li>
<p>The Linux and UNIX installation step for Wireshark will now install
headers required to build plugins. A pkg-config file is provided to
help with this (see “doc/plugins.example” for details). Note you must
still rebuild all plugins between minor releases (X.Y).</p>
</li>
<li>
<p>The Windows installers and packages now ship with Qt 5.9.4.</p>
</li>
<li>
<p>The generic data dissector can now uncompress zlib compressed data.</p>
</li>
<li>
<p>DNS Stats now supports service level statistics.</p>
</li>
<li>
<p>DNS filters for retransmissions and unsolicited responses have been added.</p>
</li>
<li>
<p>The “tcptrace” TCP Stream graph now shows duplicate ACKS and zero
window advertisements.</p>
</li>
<li>
<p>The membership operator now supports ranges, allowing display filters such as
<code>tcp.port in {4430..4434}</code> to be expressed. See the User’s Guide, chapter
<em>Building display filter expressions</em> for details.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>ActiveMQ Artemis Core Protocol, AMT (Automatic Multicast Tunneling), AVSP (Arista Vendor Specific Protocol), Bluetooth Mesh, Broadcom tags (Broadcom Ethernet switch management frames), CAN-ETH, CVS password server, Excentis DOCSIS31 XRA header, F1 Application Protocol, F5ethtrailer, FP Mux, GRPC (gRPC), IEEE 1905.1a, IEEE 802.11ax (High Efficiency WLAN (HEW)), IEEE 802.15.9 IEEE Recommended Practice for Transport of Key Management Protocol (KMP) Datagrams, IEEE 802.3br Frame Preemption Protocol, ISOBUS, LoRaTap, LoRaWAN, Lustre Filesystem, Lustre Network, Nano / RaiBlocks Cryptocurrency Protocol (UDP), Network Functional Application Platform Interface (NFAPI) Protocol, New Radio Radio Link Control protocol, New Radio Radio Resource Control protocol, NR (5G) MAC protocol, NXP 802.15.4 Sniffer Protocol, Object Security for Constrained RESTful Environments (OSCORE), PFCP (Packet Forwarding Control Protocol), Protobuf (Protocol Buffers), QUIC (IETF), RFC 4108 Using CMS to Protect Firmware Packages, Session Multiplex Protocol, SolarEdge monitoring protocol, Steam In-Home Streaming Discovery Protocol, Tibia, TWAMP and OWAMP, Wi-Fi Device Provisioning Protocol, and Wi-SUN FAN Protocol</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>Too many protocols have been updated to list here.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>Microsoft Network Monitor</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>LoRaTap</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (-R) no longer works.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-04-24 17:02:48 UTC
</div>
</div>
