<div id="header">
<h1>Wireshark 2.6.20 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This is the final release of the Wireshark 2.6 branch.
It will reach its official end of life on October 18, 2020.
If you are still using Wireshark 2.6 you are encouraged to upgrade to Wireshark 3.2.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-11">wnpa-sec-2020-11</a>
MIME Multipart dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/16741">Bug 16741</a>.
Fixed in master: 2411eae9ed
Fixed in master-3.2: 21f082cb6e
Fixed in master-3.0: 14e274f3be
Fixed in master-2.6: 5803c7b87b</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-12">wnpa-sec-2020-12</a>
TCP dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/16816">Bug 16816</a>.
Fixed in master: c4634b1e99
Fixed in master-3.2: e9b727595b
Fixed in master-3.0: 7f3fe6164a
Fixed in master-2.6: 9d7ab8b46f</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Buildbot crash output: randpkt-2019-04-01-28345.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/15661">Bug 15661</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2020-07-28-5905.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/16741">Bug 16741</a>.</p>
</li>
<li>
<p>S1-U data forwarding info and S103 PDN data forwarding info IE’s showing improper value <a href="https://gitlab.com/wireshark/wireshark/-/issues/16777">Bug 16777</a>.</p>
</li>
<li>
<p>Wireshark fails to detect libssh &gt;= 0.9.5 <a href="https://gitlab.com/wireshark/wireshark/-/issues/16845">Bug 16845</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AARP, BSSMAP, GSM A RR, GTPv2, MIME Multipart, NCP, Q.933, S1AP, TCP, and X2AP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://gitlab.com/wireshark/wireshark/-/issues/10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-09-23 18:00:18 UTC
</div>
</div>
