<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm169750026896"></a>Wireshark 2.2.6 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-12.html">wnpa-sec-2017-12</a>
</p><p class="simpara">IMAP dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13466">Bug 13466</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7703">CVE-2017-7703</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-13.html">wnpa-sec-2017-13</a>
</p><p class="simpara">WBMXL dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13477">Bug 13477</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7702">CVE-2017-7702</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-14.html">wnpa-sec-2017-14</a>
</p><p class="simpara">NetScaler file parser infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13478">Bug 13478</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7700">CVE-2017-7700</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-15.html">wnpa-sec-2017-15</a>
</p><p class="simpara">RPCoRDMA dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13558">Bug 13558</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7705">CVE-2017-7705</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-16.html">wnpa-sec-2017-16</a>
</p><p class="simpara">BGP dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13557">Bug 13557</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7701">CVE-2017-7701</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-17.html">wnpa-sec-2017-17</a>
</p><p class="simpara">DOF dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13453">Bug 13453</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7704">CVE-2017-7704</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-18.html">wnpa-sec-2017-18</a>
</p><p class="simpara">PacketBB dissector crash
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13559">Bug 13559</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-19.html">wnpa-sec-2017-19</a>
</p><p class="simpara">SLSK dissector long loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13576">Bug 13576</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-20.html">wnpa-sec-2017-20</a>
</p><p class="simpara">SIGCOMP dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13578">Bug 13578</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-21.html">wnpa-sec-2017-21</a>
</p><p class="simpara">WSP dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13581">Bug 13581</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
T30 FCF byte decoding masks DTC, CIG and NCS. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1918">Bug 1918</a>)
</li><li class="listitem">
Wireshark gives decoding error during rnsap message dissection(SCCP reassembly). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3360">Bug 3360</a>)
</li><li class="listitem">
Added IEEE 802.15.4-2003 AES-CCM security modes (packet-ieee802154). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4912">Bug 4912</a>)
</li><li class="listitem">
Payload in 2 SCCP DT1 messages in the same frame isn’t (sub)dissected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11130">Bug 11130</a>)
</li><li class="listitem">
IEEE 802.15.4: an area of Payload IEs is dissected twice. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13068">Bug 13068</a>)
</li><li class="listitem">
Qt UI: Wireshark crash when deleting IO graph string while it’s in editing mode. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13234">Bug 13234</a>)
</li><li class="listitem">
Crash on exit due to an invalid frame data sequence state. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13433">Bug 13433</a>)
</li><li class="listitem">
Access Violation using Lua dissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13457">Bug 13457</a>)
</li><li class="listitem">
Some bytes ignored in every packet in NetScaler packet trace when vmnames are included in packet headers. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13459">Bug 13459</a>)
</li><li class="listitem">
VOIP RTP stream Find Reverse button doesn’t work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13462">Bug 13462</a>)
</li><li class="listitem">
Lua dissector: ProtoField int&amp;42; do not allow FT_HEX or FT_OCT, crash when set to FT_HEX_DEC or FT_DEC_HEX. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13484">Bug 13484</a>)
</li><li class="listitem">
GIOP LocateRequest v1.0 is improperly indicated as "malformed". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13488">Bug 13488</a>)
</li><li class="listitem">
Bug in ZigBee - Zone Status Change Notification. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13493">Bug 13493</a>)
</li><li class="listitem">
Packet exception in packet-ua3g and incomplete strings in packet-noe. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13502">Bug 13502</a>)
</li><li class="listitem">
Wrong BGP capability dissect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13521">Bug 13521</a>)
</li><li class="listitem">
Endpoint statistics column labels seem incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13526">Bug 13526</a>)
</li><li class="listitem">
Strange automatic jump in packet details for a certain DNS response packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13533">Bug 13533</a>)
</li><li class="listitem">
When a Lua enum or bool preference is changed via context menu, prefs_changed isn’t called with Qt Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13536">Bug 13536</a>)
</li><li class="listitem">
IO Graph selects wrong packet or displays "Packet number x isn’t displayed". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13537">Bug 13537</a>)
</li><li class="listitem">
tshark’s -z endpoints,ip ignores optional filter. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13538">Bug 13538</a>)
</li><li class="listitem">
SSL: Handshake type in Info column not always separated by comma. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13539">Bug 13539</a>)
</li><li class="listitem">
libfuzzer: PEEKREMOTE dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13544">Bug 13544</a>)
</li><li class="listitem">
libfuzzer: packetBB dissector bug (packetbb.msg.addr.valuecustom). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13545">Bug 13545</a>)
</li><li class="listitem">
libfuzzer: WSP dissector bug (wsp.header.x_wap_tod). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13546">Bug 13546</a>)
</li><li class="listitem">
libfuzzer: MIH dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13547">Bug 13547</a>)
</li><li class="listitem">
libfuzzer: DNS dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13548">Bug 13548</a>)
</li><li class="listitem">
libfuzzer: WLCCP dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13549">Bug 13549</a>)
</li><li class="listitem">
libfuzzer: TAPA dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13553">Bug 13553</a>)
</li><li class="listitem">
libfuzzer: lapsat dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13554">Bug 13554</a>)
</li><li class="listitem">
libfuzzer: wassp dissector bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13555">Bug 13555</a>)
</li><li class="listitem">
Illegal reassembly of GSM SMS packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13572">Bug 13572</a>)
</li><li class="listitem">
SSH Dissector uses incorrect length for protocol field (ssh.protocol). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13574">Bug 13574</a>)
</li><li class="listitem">
NBAP malformed packet for short <span class="emphasis"><em>Binding ID</em></span>. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13577">Bug 13577</a>)
</li><li class="listitem">
libfuzzer: WSP dissector bug (wsp.header.x_up_1.x_up_proxy_tod). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13579">Bug 13579</a>)
</li><li class="listitem">
libfuzzer: asterix dissector bug (asterix.021_230_RA). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13580">Bug 13580</a>)
</li><li class="listitem">
RTPproxy dissector adds multi lines to info column. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13582">Bug 13582</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>ASTERIX,
BGP,
BSSGP,
BT AVRCP,
BT HCI_CMD,
BT HFP,
BT PBAP,
DNS,
DOF,
EAPOL-MKA,
GIOP,
GSM SMS,
HTTP,
ICMP,
IEEE 802.11,
IEEE 802.15.4,
IMAP,
ISIS LSP,
iSNS,
LAPSat,
MIH,
MySQL,
NBAP,
NBIFOM,
PacketBB,
PEEKREMOTE,
RPCoRDMA,
RTPproxy,
SCCP,
SIGCOMP,
SLSK,
SSH,
SSL,
T.30,
TAPA,
UA3G,
WASSP,
WBXML,
WLCCP,
WSP,
and ZigBee ZCL IAS</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p><p>NetScaler,
and pcapng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
