<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_4_16_release_notes">Wireshark 3.4.16 Release Notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This is expected to be the final release of the 3.4 branch.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-06">wnpa-sec-2022-06</a>
F5 Ethernet Trailer dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18307">Issue 18307</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>USB Truncation of URB_isochronous in frames <a href="https://gitlab.com/wireshark/wireshark/-/issues/18021">Issue 18021</a>.</p>
</li>
<li>
<p>IPX/IPX RIP: Crash on expand subtree <a href="https://gitlab.com/wireshark/wireshark/-/issues/18234">Issue 18234</a>.</p>
</li>
<li>
<p>Qt: A file or packet comment that is too large will corrupt the pcapng file <a href="https://gitlab.com/wireshark/wireshark/-/issues/18235">Issue 18235</a>.</p>
</li>
<li>
<p>Wrong interpretation of the cbsp.rep_period field in epan/dissectors/packet-gsm_cbsp.c <a href="https://gitlab.com/wireshark/wireshark/-/issues/18254">Issue 18254</a>.</p>
</li>
<li>
<p>Assertion due to incorrect mask for btatt.battery_power_state.* <a href="https://gitlab.com/wireshark/wireshark/-/issues/18267">Issue 18267</a>.</p>
</li>
<li>
<p>Qt: Expert Info dialog not showing Malformed Frame when Frame length is less than captured length <a href="https://gitlab.com/wireshark/wireshark/-/issues/18312">Issue 18312</a>.</p>
</li>
<li>
<p>Wireshark and tshark become non-responsive when reading certain packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/18313">Issue 18313</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BT ATT, CBSP, Couchbase, F5 Ethernet Trailer, Frame, NAS-5GS, and Protobuf</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcap, pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>