<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id2450162"></a>Wireshark 0.99.3 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id2488825">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id2450366">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id2450411">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id2450422">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id2450438">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id2450468">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2488825"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2006-02.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	  The SCSI dissector could crash.

	  Versions affected: 0.99.2.
	  CVE-2006-4330
        </p></li><li><p>
	  If Wireshark was compiled with ESP decryption support, the
	  IPsec ESP preference parser was susceptible to off-by-one
	  errors.

	  Versions affected: 0.99.2.
	  CVE-2006-4331
        </p></li><li><p>
	  The DHCP dissector (and possibly others) in the Windows version of
          Wireshark could trigger a bug in Glib and crash.

	  Versions affected: 0.10.13 - 0.99.2.
	  CVE-2006-4332
        </p></li><li><p>
	  If the SSCOP dissector has a port range configured
	  <span class="emphasis"><em>and</em></span> the SSCOP payload protocol is
	  Q.2931, a malformed packet could make the Q.2931 dissector
	  use up available memory.  No port range is configured
	  by default.

	  Versions affected: 0.7.9 - 0.99.2.
	  CVE-2006-4333
        </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          The VOIP call analysis feature could cause an assertion.
        </p></li><li><p>
          The RTP analysis feature could freeze for an extended period.
        </p></li><li><p>
          Selecting "Apply as Filter" wouldn't work for some tree items.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450366"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:
      </p><div class="itemizedlist"><ul type="disc"><li><p>
	ESP, Kerberos, and SSL decryption are now supported in the
	Windows installer.  (As as result, Wireshark is now subject to
	United States export controls.)
        </p></li><li><p>
        The packet list context menu now includes a conversation filter.
        </p></li><li><p>
        Wireshark can now generate ACL rules for several popular firewall
        products.
        </p></li><li><p>
        Wireshark now supports
        <a href="http://www.cacetech.com/products/airpcap.htm">AirPcap</a>,
        including raw 802.11 captures under Windows.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450411"></a>New Protocol Support</h3></div></div></div><p>

Daytime,
JPEG (RTP payload),
Pegasus Lightweight Stream Control,
Pro-MPEG FEC,
UMTS RRC,
Veritas Low Latency Transport

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450422"></a>Updated Protocol Support</h3></div></div></div><p>

All ASN.1 dissectors,

3G A11,
802.11,
AIM SST,
AJP13,
ANSI 637,
AVS WLAN,
BACapp,
BFD,
CDP,
Cisco WIDS,
DCERPC (DCERPC, CONV, DFS, EPM, FLDB, NETLOGON, NT, PN-IO, RS_PGO),
DCOM,
DHCP,
DIAMETER,
DTLS,
EAPOL,
ESP,
H.225,
H.245,
H.450,
HTTP,
IPv6,
ISAKMP,
Juniper,
Kerberos,
L2TP,
LDAP,
MSRP,
NTLMSSP,
PN-CBA,
PN-RT,
Prism,
RSVP,
RTCP,
RUDP,
SCSI,
SCTP,
SDP,
SIP,
SIPFRAG,
Skinny,
SMB,
SSL,
TCP,
text/media,
Time,
XML

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450438"></a>New and Updated Capture File Support</h3></div></div></div><p>

Catapult DCT2000,
nettl
    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450468"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
        can be found on the <a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      On Windows systems the packet list scroll bar can sometimes disappear
      or become unusable.  Until the problem is fixed you can work around it
      by resizing the packet list or the main window.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=220">Bug
      220</a>)
    </p><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p><p>
      Trying to save flow data may crash Wireshark.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=396">Bug
      396</a>)
    </p><p>
      It may not be possible to re-order coloring rules under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=699">Bug
      699</a>)
    </p><p>
      Multiple tap interfaces may cause a crash under FreeBSD.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=757">Bug
      757</a>)
    </p><p>
      Wireshark may crash while viewing TCP streams.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=852">Bug
      852</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
