<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_4_release_notes">Wireshark 3.6.4 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
This is the last release branch with support for 32-bit Windows.
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a>
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>The Windows installers are now built with Visual Studio 2022.</p>
</div>
<div class="paragraph">
<p>RPM packaging has been improved.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Build failure with GCC 7.5, Linux <a href="https://gitlab.com/wireshark/wireshark/-/issues/17911">Issue 17911</a>.</p>
</li>
<li>
<p>RDP dissected as SSL <a href="https://gitlab.com/wireshark/wireshark/-/issues/17952">Issue 17952</a>.</p>
</li>
<li>
<p>IPFIX/cflow dissector asserts when varlen field length is zero <a href="https://gitlab.com/wireshark/wireshark/-/issues/18010">Issue 18010</a>.</p>
</li>
<li>
<p>802.11ax HE PHY "Device Class" dissected incorrectly <a href="https://gitlab.com/wireshark/wireshark/-/issues/18030">Issue 18030</a>.</p>
</li>
<li>
<p>DHCPv6 Option 15 User-Class incorrectly parsed in Wireshark <a href="https://gitlab.com/wireshark/wireshark/-/issues/18032">Issue 18032</a>.</p>
</li>
<li>
<p>ICMPv6 dissector: PREF64 option parsing only works for prefix length 96 <a href="https://gitlab.com/wireshark/wireshark/-/issues/18033">Issue 18033</a>.</p>
</li>
<li>
<p>Switch macOS updater to Sparkle 2 <a href="https://gitlab.com/wireshark/wireshark/-/issues/18035">Issue 18035</a>.</p>
</li>
<li>
<p>CQL timestamp dissector displays the wrong timestamp <a href="https://gitlab.com/wireshark/wireshark/-/issues/18038">Issue 18038</a>.</p>
</li>
<li>
<p>Unable to dissect 802.11ax Target Wake Time (TWT) packets <a href="https://gitlab.com/wireshark/wireshark/-/issues/18050">Issue 18050</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>CQL, DHCPv6, ICMPv6, IEEE 802.11, NAS-5GS, NetFlow/IPFIX, RDP, and UDS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2022-05-04 15:32:43 UTC
</div>
</div>