<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_16_release_notes">Wireshark 3.6.16 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you might have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-22">wnpa-sec-2023-22</a>
iSCSI dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19164">Issue 19164</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-3649">CVE-2023-3649</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-24">wnpa-sec-2023-24</a>
BT SDP dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19258">Issue 19258</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-25">wnpa-sec-2023-25</a>
BT SDP dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19259">Issue 19259</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-26">wnpa-sec-2023-26</a>
CP2179 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19229">Issue 19229</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark wrongly blames group membership when pcap capabilities are removed. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18279">Issue 18279</a>.</p>
</li>
<li>
<p>Packet bytes window broken layout. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18326">Issue 18326</a>.</p>
</li>
<li>
<p>Valid Ethernet CFM DMM packets are shown as malformed. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19198">Issue 19198</a>.</p>
</li>
<li>
<p>The QUIC dissector is reporting the quic_transport_parameters max_ack_delay with the title "GREASE". <a href="https://gitlab.com/wireshark/wireshark/-/issues/19209">Issue 19209</a>.</p>
</li>
<li>
<p>Preferences: Folder name editing behaves weirdly, cursor jumps. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19213">Issue 19213</a>.</p>
</li>
<li>
<p>DHCPFO: Expert info list does not show all expert infos. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19216">Issue 19216</a>.</p>
</li>
<li>
<p>Applying color filtering fails when selecting the same field to color (i.e., changing frames without focusing in packet details). <a href="https://gitlab.com/wireshark/wireshark/-/issues/19249">Issue 19249</a>.</p>
</li>
<li>
<p>NAS 5GS Malformed Packet Decoding SOR transparent container PLMN ID and access technology list. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19273">Issue 19273</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BT SDP, CP2179, CQL, DHCPFO, F1AP, GSM DTAP, IEEE 802.11, NAS-5GS, PFCP, and TFTP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>