<div class="article" title="Wireshark 1.8.6 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="idp3912800"></a>Wireshark 1.8.6 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-10.html">wnpa-sec-2013-10</a>
          </p><p>
	    The TCP dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8274">Bug
            8274</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2475">CVE-2013-2475</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-11.html">wnpa-sec-2013-11</a>
          </p><p>
	    The HART/IP dissectory could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8360">Bug
            8360</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2476">CVE-2013-2476</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-12.html">wnpa-sec-2013-12</a>
          </p><p>
	    The CSN.1 dissector could crash. Discovered by Laurent Butti.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8383">Bug
            8383</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2477">CVE-2013-2477</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-13.html">wnpa-sec-2013-13</a>
          </p><p>
	    The MS-MMS dissector could crash. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8382">Bug
            8382</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2478">CVE-2013-2478</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-14.html">wnpa-sec-2013-14</a>
          </p><p>
	    The MPLS Echo dissector could go into an infinite loop. Discovered by Laurent Butti.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8039">Bug
            8039</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2479">CVE-2013-2479</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-15.html">wnpa-sec-2013-15</a>
          </p><p>
	    The RTPS and RTPS2 dissectors could crash. Discovered by Alyssa Milburn.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8332">Bug
            8332</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2480">CVE-2013-2480</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-16.html">wnpa-sec-2013-16</a>
          </p><p>
	    The Mount dissector could crash. Discovered by Alyssa Milburn.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8335">Bug
            8335</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2481">CVE-2013-2481</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-17.html">wnpa-sec-2013-17</a>
          </p><p>
	    The AMPQ dissector could go into an infinite loop. Discovered by Moshe Kaplan.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8337">Bug
            8337</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2482">CVE-2013-2482</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-18.html">wnpa-sec-2013-18</a>
          </p><p>
	    The ACN dissector could attempt to divide by zero. Discovered by Alyssa Milburn.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8340">Bug
            8340</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2483">CVE-2013-2483</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-19.html">wnpa-sec-2013-19</a>
          </p><p>
	    The CIMD dissector could crash. Discovered by Moshe Kaplan.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8346">Bug
            8346</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2484">CVE-2013-2484</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-20.html">wnpa-sec-2013-20</a>
          </p><p>
	    The FCSP dissector could go into an infinite loop. Discovered by Moshe Kaplan.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8359">Bug
            8359</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2485">CVE-2013-2485</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-21.html">wnpa-sec-2013-21</a>
          </p><p>
	    The RELOAD dissector could go into an infinite loop. Discovered by Even Jensen.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8364">Bug
            8364</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2486">CVE-2013-2486</a>
          </p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2487">CVE-2013-2487</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-22.html">wnpa-sec-2013-22</a>
          </p><p>
	    The DTLS dissector could crash. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8380">Bug
            8380</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.5, 1.6.0 to 1.6.13.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2488">CVE-2013-2488</a>
          </p></li></ul></div><p>

    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Lua pinfo.cols.protocol not holding value in postdissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6020">Bug
          6020</a>)
        </p></li><li class="listitem"><p>
          data combined via ssl_desegment_app_data not visible via "Follow SSL Stream" only decrypted ssl data tabs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6434">Bug
          6434</a>)
        </p></li><li class="listitem"><p>
          HTTP application/json-rpc should be decoded/shown as application/json.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7939">Bug
          7939</a>)
        </p></li><li class="listitem"><p>
          Maximum value of 802.11-2012 Duration field should be 32767.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8056">Bug
          8056</a>)
        </p></li><li class="listitem"><p>
          Voice RTP player crash if player is closed while playing.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8065">Bug
          8065</a>)
        </p></li><li class="listitem"><p>
          Display Filter Macros crash.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8073">Bug
          8073</a>)
        </p></li><li class="listitem"><p>
          RRC RadioBearerSetup message decoding issue.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8290">Bug
          8290</a>)
        </p></li><li class="listitem"><p>
          R-click filters add ! in front of field when choosing "apply as filter&gt;selected".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8297">Bug
          8297</a>)
        </p></li><li class="listitem"><p>
          BACnet - Loop Object - Setpoint-Reference property does not decode correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8306">Bug
          8306</a>)
        </p></li><li class="listitem"><p>
          WMM TSPEC Element Parsing is not done is wrong due to a wrong switch case number.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8320">Bug
          8320</a>)
        </p></li><li class="listitem"><p>
          Incorrect RTP statistics (Lost Packets indication not ok).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8321">Bug
          8321</a>)
        </p></li><li class="listitem"><p>
          Registering ieee802154 dissector for IEEE802.15.4 frames inside Linux SLL frames.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8325">Bug
          8325</a>)
        </p></li><li class="listitem"><p>
          Version Field is skipped while parsing WMM_TSPEC causing wrong dissecting (1 byte offset missing) of all fields in the TSPEC.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8330">Bug
          8330</a>)
        </p></li><li class="listitem"><p>
          [BACnet] UCS-2 strings longer than 127 characters do not decode correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8331">Bug
          8331</a>)
        </p></li><li class="listitem"><p>
          Malformed IEEE80211 frame triggers DISSECTOR_ASSERT.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8345">Bug
          8345</a>)
        </p></li><li class="listitem"><p>
          Decoding of GSM MAP SMS Diagnostics.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8378">Bug
          8378</a>)
        </p></li><li class="listitem"><p>
          Incorrect packet length displayed for Flight Message Transfer Protocol (FMTP).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8407">Bug
          8407</a>)
        </p></li><li class="listitem"><p>
          Netflow dissector flowDurationMicroseconds nanosecond conversion wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8410">Bug
          8410</a>)
        </p></li><li class="listitem"><p>
          BE (3) AC is wrongly named as "Video" in (qos_acs).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8432">Bug
          8432</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ACN,
AMQP,
ASN.1 PER,
BACnet,
CIMD,
CSN.1,
DOCSIS TLVs,
DTLS,
FCSP,
FMP/NOTIFY,
FMTP,
GSM MAP SMS,
HART/IP,
IEEE 802.11,
IEEE 802.15.4,
JSON,
Linux SLL,
LTE RRC,
Mount,
MPLS Echo,
Netflow,
RELOAD,
RSL,
RTP,
RTPS,
RTPS2,
SABP,
SIP,
SSL,
TCP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
