<div id="header">
<h1>Wireshark 2.6.9 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-19">wnpa-sec-2019-19</a>
Wireshark dissection engine crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15778">Bug 15778</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>[oss-fuzz] ERROR: Adding ospf.v3.prefix.options.nu would put more than 1000000 items in the tree — possible infinite loop. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14978">Bug 14978</a>.</p>
</li>
<li>
<p>Help file doesn’t display for extcap interfaces. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15592">Bug 15592</a>.</p>
</li>
<li>
<p>Statistics→Conversations→TCP→Follow Stream - incorrect behavior. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15672">Bug 15672</a>.</p>
</li>
<li>
<p>Wrong NTP timestamp for RTCP XR RR packets (hf_rtcp_xr_timestamp field). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15687">Bug 15687</a>.</p>
</li>
<li>
<p>ws_pipe: leaks pipe handles on errors. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15689">Bug 15689</a>.</p>
</li>
<li>
<p>ISAKMP: Segmentation fault with non-hex string for IKEv1 Decryption Table Initiator Cookie. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15709">Bug 15709</a>.</p>
</li>
<li>
<p>print.c: Memory leak in ek_check_protocolfilter. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15758">Bug 15758</a>.</p>
</li>
<li>
<p>Bacnet(app): fix wrong value for id 183 (logging-device → logging-object). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15767">Bug 15767</a>.</p>
</li>
<li>
<p>The SMB2 code to look up decryption keys by session ID assumes it’s running on a little-endian machine. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15772">Bug 15772</a>.</p>
</li>
<li>
<p><code>tshark -G folders</code> leaves mmdbresolve process behind. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15777">Bug 15777</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BACapp, DDP, Frame, IEEE 802.11, IS-IS CLV, RTCP XR RR, and SMB2</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-05-21 22:50:55 UTC
</div>
</div>
