<div id="header">
<h1>Wireshark 3.0.2 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Qt 5.12.3. They previously
shipped with Qt 5.12.1.</p>
</li>
<li>
<p>The Windows installers now ship with Npcap 0.995. They previously
shipped with Npcap 0.992.</p>
</li>
<li>
<p>The macOS packages are now <a href="https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution">notarized</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-19">wnpa-sec-2019-19</a>
Wireshark dissection engine crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15778">Bug 15778</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Add (IETF) QUIC Dissector. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13881">Bug 13881</a>.</p>
</li>
<li>
<p>Wireshark Hangs on startup initializing external capture plugins. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14657">Bug 14657</a>.</p>
</li>
<li>
<p>[oss-fuzz] ERROR: Adding ospf.v3.prefix.options.nu would put more than 1000000 items in the tree — possible infinite loop. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14978">Bug 14978</a>.</p>
</li>
<li>
<p>Wireshark can call extcap with empty multicheck argument. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15065">Bug 15065</a>.</p>
</li>
<li>
<p>CMPv2 KUR message disection gives unexpected value for serialNumber under OldCertId fields. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15154">Bug 15154</a>.</p>
</li>
<li>
<p>"(Git Rev Unknown from unknown)" in version string for official tarball. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15544">Bug 15544</a>.</p>
</li>
<li>
<p>External extcap does not get all arguments sometimes. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15586">Bug 15586</a>.</p>
</li>
<li>
<p>Help file doesn’t display for extcap interfaces. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15592">Bug 15592</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2019-03-14-4670.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15604">Bug 15604</a>.</p>
</li>
<li>
<p>Building only libraries on windows fails due to CLEAN_C_FILES empty. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15662">Bug 15662</a>.</p>
</li>
<li>
<p>Statistics→Conversations→TCP→Follow Stream - incorrect behavior. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15672">Bug 15672</a>.</p>
</li>
<li>
<p>Wrong NTP timestamp for RTCP XR RR packets (hf_rtcp_xr_timestamp field). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15687">Bug 15687</a>.</p>
</li>
<li>
<p>ws_pipe: leaks pipe handles on errors. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15689">Bug 15689</a>.</p>
</li>
<li>
<p>Build issue in Wireshark - 3.0.1 on RHEL6. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15706">Bug 15706</a>.</p>
</li>
<li>
<p>ISAKMP: Segmentation fault with non-hex string for IKEv1 Decryption Table Initiator Cookie. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15709">Bug 15709</a>.</p>
</li>
<li>
<p>extcap: non-boolean call arguments can be appended without value on selector Reload. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15725">Bug 15725</a>.</p>
</li>
<li>
<p>Incorrectly interpreted format of MQTT PUBLISH payload data. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15738">Bug 15738</a>.</p>
</li>
<li>
<p>print.c: Memory leak in ek_check_protocolfilter. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15758">Bug 15758</a>.</p>
</li>
<li>
<p>IETF QUIC dissector incorrectly parses retry packet. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15764">Bug 15764</a>.</p>
</li>
<li>
<p>Bacnet(app): fix wrong value for id 183 (logging-device → logging-object). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15767">Bug 15767</a>.</p>
</li>
<li>
<p>The SMB2 code to look up decryption keys by session ID assumes it’s running on a little-endian machine. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15772">Bug 15772</a>.</p>
</li>
<li>
<p><code>tshark -G folders</code> leaves mmdbresolve process behind. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15777">Bug 15777</a>.</p>
</li>
<li>
<p>Dissector bug, protocol TLS - failed assertion "data". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15780">Bug 15780</a>.</p>
</li>
<li>
<p>WSMP : header_opt_ind field is not correctly set. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15786">Bug 15786</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BACapp, DDP, EPL, Frame, IEEE 802.11, IS-IS CLV, ISAKMP, K12, KNXIP, MQTT, PNIO, QUIC, RTCP XR RR, SCTP, SMB2, TDS, TLS, WSMP, and ZEBRA</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-05-22 16:40:14 UTC
</div>
</div>
