<div class="article" title="Wireshark 1.8.4 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.8.4 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-30.html">wnpa-sec-2012-30</a>
          </p><p>
	    Wireshark could leak potentially sensitive host name resolution
	    information when working with multiple pcap-ng files. Discovered by
	    Laura Chappell.
            
            
          </p><p>Versions affected: 1.8.0 to 1.8.3.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-31.html">wnpa-sec-2012-31</a>
          </p><p>
	    The USB dissector could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7787">Bug
            7787</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-32.html">wnpa-sec-2012-32</a>
          </p><p>
	    The sFlow dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7789">Bug
            7789</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-33.html">wnpa-sec-2012-33</a>
          </p><p>
	    The SCTP dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7802">Bug
            7802</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-34.html">wnpa-sec-2012-34</a>
          </p><p>
	    The EIGRP dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7800">Bug
            7800</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-35.html">wnpa-sec-2012-35</a>
          </p><p>
	    The ISAKMP dissector could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7855">Bug
            7855</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-36.html">wnpa-sec-2012-36</a>
          </p><p>
	    The iSCSI dissector could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7858">Bug
            7858</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-37.html">wnpa-sec-2012-37</a>
          </p><p>
	    The WTP dissector could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7869">Bug
            7869</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-38.html">wnpa-sec-2012-38</a>
          </p><p>
	    The RTCP dissector could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7879">Bug
            7879</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-39.html">wnpa-sec-2012-39</a>
          </p><p>
	    The 3GPP2 A11 dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7801">Bug
            7801</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-40.html">wnpa-sec-2012-40</a>
          </p><p>
	    The ICMPv6 dissector could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7844">Bug
            7844</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.3, 1.6.0 to 1.6.11.</p></li></ul></div><p>

    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Menu and Title bars inaccessible using GTK2 (non-legacy) with two monitors.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
          553</a>)
        </p></li><li class="listitem"><p>
          802.11 Probe Response fails to parse.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1284">Bug
          1284</a>)
        </p></li><li class="listitem"><p>
          Tshark - decimal symbol.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2880">Bug
          2880</a>)
        </p></li><li class="listitem"><p>
          Malformed tpncp.dat file can crash Wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6665">Bug
          6665</a>)
        </p></li><li class="listitem"><p>
          SSL decryption not work even with example capture file and key.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6869">Bug
          6869</a>)
        </p></li><li class="listitem"><p>
          Info line is incorrect on SIP message containing another SIP message in body.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7780">Bug
          7780</a>)
        </p></li><li class="listitem"><p>
          OOPS: dissector table "sctp.ppi" doesn't exist  Protocol being registered is "Datagram Transport Layer Security".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7784">Bug
          7784</a>)
        </p></li><li class="listitem"><p>
          Dissection of IEEE 802.11 Channel Switch Announcement element fails.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7797">Bug
          7797</a>)
        </p></li><li class="listitem"><p>
          Invalid memory accesses when loading RADIUS captures.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7803">Bug
          7803</a>)
        </p></li><li class="listitem"><p>
          ISUP CIC should have format BASE_DEC, not BASE_HEX.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7848">Bug
          7848</a>)
        </p></li><li class="listitem"><p>
          We don't handle pcap-ng files with IDBs that come after packet blocks.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7851">Bug
          7851</a>)
        </p></li><li class="listitem"><p>
          '*' wildcard in the 'Src IP' or 'Dest IP' field of the ESP SA dialog does not work.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7866">Bug
          7866</a>)
        </p></li><li class="listitem"><p>
          nas_eps dissector does not decode some esm message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7912">Bug
          7912</a>)
        </p></li><li class="listitem"><p>
          WLAN decryption status not updated after updating WEP/WPA keys.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7921">Bug
          7921</a>)
        </p></li><li class="listitem"><p>
          IPv6 Option Pad1 Incorrect dissection.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7938">Bug
          7938</a>)
        </p></li><li class="listitem"><p>
          Print GNUTLS error message if PEM import fails.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7948">Bug
          7948</a>)
        </p></li><li class="listitem"><p>
          GSM classmark3 8-PSK decode error.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7964">Bug
          7964</a>)
        </p></li><li class="listitem"><p>
          Parsing the Server Name Indication extension in SSL/TLS traffic reads some fields incorrectly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7967">Bug
          7967</a>)
        </p></li><li class="listitem"><p>
          Lua code crashes wireshark after update to 1.8.3.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7976">Bug
          7976</a>)
        </p></li><li class="listitem"><p>
          2 bugs in Ran-Information-Error Rim Container.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8000">Bug
          8000</a>)
        </p></li><li class="listitem"><p>
          Misspelling (typo) in IPv6 display filter field name.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8006">Bug
          8006</a>)
        </p></li><li class="listitem"><p>
          Two BSSGP dissector bugs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8008">Bug
          8008</a>)
        </p></li><li class="listitem"><p>
          Core dump during SCTP association analysis.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8011">Bug
          8011</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

3GPP2 A11,
BSSGP,
EIGRP,
FMP/NOTIFY,
GSM A,
ICMP,
ICMPv6,
IEEE 802.11,
IPsec,
IPv6,
ISAKMP,
iSCSI,
LTE RRC,
NAS EPS,
NDPS,
Prism,
RADIUS,
RRC,
RTCP,
SCTP,
sFlow,
SIP,
SMB2,
SSL/TLS,
TPNCP,
USB

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

CommView NCF, iSeries, pcap-ng.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
