<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id836454"></a>Wireshark 1.0.6 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2009-01.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            On non-Windows systems, Wireshark could crash if the HOME
	    environment variable contained sprintf-style string formatting
	    characters. Discovered by babi.
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3150">Bug
            3150</a>)
          </p><p>Versions affected: 0.99.8 to 1.0.5</p><p>
            
          </p></li><li><p>
            Wireshark could crash while reading a malformed NetScreen snoop file.
	    Discovered by babi.
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3151">Bug
            3151</a>)
          </p><p>Versions affected: 0.99.7 to 1.0.5</p><p>
            
          </p></li><li><p>
            Wireshark could crash while reading a Tektronix K12 text capture file.
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1937">Bug
            1937</a>)
          </p><p>Versions affected: 0.99.6 to 1.0.5</p><p>
            
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          Crash when loading capture file and Preferences: NO Info column
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2902">Bug
          2902</a>)
        </p></li><li><p>
          Some Lua scripts may lead to corruption via out of bounds stack
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3062">Bug
          3062</a>)
        </p></li><li><p>
          Build with GLib 1.2 fails with error: 'G_MININT32' undeclared
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3109">Bug
          3109</a>)
        </p></li><li><p>
          Wrong decoding IMSI with GSM MAP protocol
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3116">Bug
          3116</a>)
        </p></li><li><p>
          Segmentation fault for "Follow TCP stream"
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3119">Bug
          3119</a>)
        </p></li><li><p>
          SMPP optional parameter 'network_error_code' incorrectly decoded
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3128">Bug
          3128</a>)
        </p></li><li><p>
          DHCPv6 dissector doesn't handle malformed FQDN
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3134">Bug
          3134</a>)
        </p></li><li><p>
          WCCP overrides CFLOW as decoded protocol
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3175">Bug
          3175</a>)
        </p></li><li><p>
          Improper decoding of MPLS echo reply IPv4 Interface and Label Stack Object
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3179">Bug
          3179</a>)
        </p></li><li><p>
          ANSI MAP fix for TRN digits/SMS and OTA subdissection
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3214">Bug
          3214</a>)
        </p></li><li><p>
          The 1.0 branch can now be built with Visual Studio 2008.
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          The version of GNUTLS included with the Windows packages has been updated
	  from 2.3.8 to 2.6.3.
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AFS,
ATM,
DHCPv6,
DIS,
E.212,
RTP,
UDP,
USB,
WCCP,
WPS

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

NetScreen snoop

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a class="ulink" href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Capturing from named pipes might be delayed on Windows.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2200">Bug
      2200</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
