<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm534918850256"></a>Wireshark 2.2.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
The Windows installers now ship with Qt 5.6. Previously they shipped with Qt 5.3.
</li></ul></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-56.html">wnpa-sec-2016-56</a>
</p><p class="simpara">The Bluetooth L2CAP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12825">Bug 12825</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-57.html">wnpa-sec-2016-57</a>
</p><p class="simpara">The NCP dissector could crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12945">Bug 12945</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Flow Graph colored data arrows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12065">Bug 12065</a>)
</li><li class="listitem">
Capture File Properties under Statistics Grayed Out after Stopping a Capture. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12071">Bug 12071</a>)
</li><li class="listitem">
Qt: Hidden columns displayed during live capture. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12377">Bug 12377</a>)
</li><li class="listitem">
Unable to save changes to coloring rules. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12814">Bug 12814</a>)
</li><li class="listitem">
Bad description for NBSS error code 0x81. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12835">Bug 12835</a>)
</li><li class="listitem">
Live capture from USBPcap fails immediately. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12846">Bug 12846</a>)
</li><li class="listitem">
Cannot decrypt EAP-TTLS traffic (not recognized as conversation). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12879">Bug 12879</a>)
</li><li class="listitem">
Export packet dissections Option disabled after capturing traffic. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12898">Bug 12898</a>)
</li><li class="listitem">
Failure to open file named with Chinese or other multibyte characters. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12900">Bug 12900</a>)
</li><li class="listitem">
k12 text file format causes errors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12903">Bug 12903</a>)
</li><li class="listitem">
File | File Set | List Files dialog is blank. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12904">Bug 12904</a>)
</li><li class="listitem">
Decoding/Display of an INAP CONNECT message goes wrong for the Destination Routing Address part. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12911">Bug 12911</a>)
</li><li class="listitem">
TLS padding extension dissector length parsing bug. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12922">Bug 12922</a>)
</li><li class="listitem">
Diameter dictionary bugs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12927">Bug 12927</a>)
</li><li class="listitem">
File open from menu bar with filter in place causes Wireshark to crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12929">Bug 12929</a>)
</li><li class="listitem">
Unable to capture USBPcap trace using tshark with extcap built. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12949">Bug 12949</a>)
</li><li class="listitem">
P1 dissector fails a TVB assertion. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12976">Bug 12976</a>)
</li><li class="listitem">
Multiple PortableApps instances can once again be run at the same time.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LowPAN,
BT L2CAP,
CIP,
DCOM IRemUnknown,
Diameter,
DMP,
EAP,
ISUP,
NBT,
NCP,
NetFlow,
SSL / TLS,
and U3V</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>Ascend,
and K12</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
