<div id="header">
<h1>Wireshark 4.0.9 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you might have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-27">wnpa-sec-2023-27</a>
RTPS dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19322">Issue 19322</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-5371">CVE-2023-5371</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Updating from within Wireshark if a file is open fails because it can’t close Wireshark. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17658">Issue 17658</a>.</p>
</li>
<li>
<p>ESL timestamp provided by ET2000 not displayed. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18308">Issue 18308</a>.</p>
</li>
<li>
<p>Kafka: dissect_kafka_sync_group_request missing version check for instance_id. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19290">Issue 19290</a>.</p>
</li>
<li>
<p>Start Capture via context menu crashes on macOS with an older Qt version. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19299">Issue 19299</a>.</p>
</li>
<li>
<p>Delta time displayed is incorrect after unsetting time reference. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19324">Issue 19324</a>.</p>
</li>
<li>
<p>Fuzz job crash output: randpkt-2023-09-09-7060.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19332">Issue 19332</a>.</p>
</li>
<li>
<p>Missing one bit in SCCP::sequencing/segmenting. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19336">Issue 19336</a>.</p>
</li>
<li>
<p>Protobuf field malformed packet for last byte of 'repeated fixed32' <a href="https://gitlab.com/wireshark/wireshark/-/issues/19342">Issue 19342</a>.</p>
</li>
<li>
<p>RTP/RFC 4571: Wrong desegmentation/reassembly in RTP over TCP packets. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19345">Issue 19345</a>.</p>
</li>
<li>
<p>Sparklines not working on macOS Sonoma with both native OS and Homebrew pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19349">Issue 19349</a>.</p>
</li>
<li>
<p>Incorrect bit values and namings in BSS Configuration Report TLV. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19352">Issue 19352</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ESL, GNW, IDN, IEEE 1722, IEEE 1905.1a, ITS, Kafka, ProtoBuf, RTP, RTPS, SCCP, TACACS, and Tibia</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>