<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id720650"></a>Wireshark 0.99.5 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id720685">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id720934">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id721038">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id721049">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id721058">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id721089">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720685"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2007-01.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	    The TCP dissector could hang or crash while reassembling HTTP packets.

	    (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1200">1200</a>)
          </p><p>Versions affected: 0.99.2 to 0.99.4</p><p>
            <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0459">CVE-2007-0459</a>
          </p></li><li><p>
            The HTTP dissector could crash.
          </p><p>Versions affected: 0.99.3 to 0.99.4</p><p>
            <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0458">CVE-2007-0458</a>
          </p></li><li><p>
	    On some systems, the IEEE 802.11 dissector could crash.
          </p><p>Versions affected: 0.10.14 to 0.99.4</p><p>
            <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0457">CVE-2007-0457</a>
          </p></li><li><p>
            On some systems, the LLT dissector could crash.
          </p><p>Versions affected: 0.99.3 to 0.99.4</p><p>
            <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0456">CVE-2007-0456</a>
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          On Windows systems the packet list scroll bar could sometimes
          disappear or become unusable.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=220">Bug
          220</a>)
        </p></li><li><p>
          The end of HTTP chunked encoding wasn't being displayed.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=646">Bug
          646</a>)
        </p></li><li><p>
          The Follow TCP Stream window could omit characters.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1043">Bug
          1043</a>)
        </p></li><li><p>
          Opening a flow graph could crash Wireshark.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1117">Bug
          1117</a>)
        </p></li><li><p>
          Follow TCP Stream would sometimes get the direction wrong.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1138">Bug
          1138</a>)
        </p></li><li><p>
          The foreground text in the coloring rules editor was always black.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1164">Bug
          1164</a>)
        </p></li><li><p>
          The CSV export format was incorrect.
          (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1173">Bug
          1173</a>)
        </p></li><li><p>
	  On some Windows systems Wireshark could take a long time to start up.
	</p></li><li><p>
	  Malformed UDLD packets could cause an exception.
	</p></li><li><p>
          The ISUP statistics report could overflow a buffer and crash when
          displaying IPv6 addresses.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720934"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:
      </p><div class="itemizedlist"><ul type="disc"><li><p>
        We are now offering Wireshark as a
        <a href="http://www.u3.com/">U3</a> package for Windows.
        U3 packages are suitable for using on USB drives and CD-ROMs.
        It's still experimental, but you're welcome to try it out and
        report any problems or successes.
        </p></li><li><p>
        Decryption support for WPA/WPA2 and SNMPv3 has been added.  The TDS /
        MS SQL dissector now de-obfuscates passwords.
        </p></li><li><p>
        64-bit file handling has been improved.
        </p></li><li><p>
        The <span class="guimenuitem">Find</span> function now selects the
        corresponding packet detail item.
        <span class="guimenuitem">Find</span> functionality has been added to the TCP
        and SSL stream dialogs.
        </p></li><li><p>
        Main window keyboard navigation has been improved.
        </p></li><li><p>
        Windows file dialogs now show the "places" bar (Desktop, My
        Documents, My Computer, My Network Places, etc).  File dialogs
        now default to "My Documents" in accordance with Microsoft's HIG.
        </p></li><li><p>
        <a href="http://www.cacetech.com/products/airpcap.htm">AirPcap</a>
        support (which provides raw mode capture under Windows) has been
        enhanced to allow capturing on multiple AirPcap adapters
        simultaneously.
        </p></li><li><p>
        You can no longer install Wireshark on Windows 95, 98, or ME.  (OK,
        so it's not a <span class="emphasis"><em>feature</em></span> per se, but it's an
        important change).  The last version known to work on these systems
        is <a href="">Ethereal 0.99.0</a>.
        </p></li><li><p>
        ASN.1 BER-encoded files can now be dissected according to a
        user-specified syntax.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721038"></a>New Protocol Support</h3></div></div></div><p>

DMP,
Homeplug (INT51X1),
NBD,
OMAPI,
PKCS#12,
RGMP,
Roofnet,
STUN v2

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721049"></a>Updated Protocol Support</h3></div></div></div><p>

2dparityfec,
ACN,
AIM,
AMR,
ANSI 637,
ANSI A,
ANSI MAP,
ARP,
ASN.1 BER,
ASN.1 PER,
BACapp,
BPDU,
CAMEL,
DCERPC (DCERPC, EFS, EVENTLOG, NSPI, PN-IO, WINREG),
DCOM CBA,
DCP,
DHCP,
DHCPv6,
DMP,
DNS,
E.164,
EAP,
EPL,
ETSI DCP,
FCP,
GIOP,
GSM A,
H.245,
H.248,
HPSW,
HTTP,
ICMP,
ICMPv6,
IEEE 802.11,
IMAP,
INAP,
IPMI,
IPsec,
IRC,
ISAKMP,
iSCSI,
ISIS LSP,
IuUP,
K12,
Kerberos,
LDAP,
LLDP,
MEGACO,
MGCP,
MIME Multipart,
MMS,
MMSE,
MSRP,
MySQL,
NetFlow,
NFS,
NTLMSSP,
NTP,
OSPF,
PN-PTCP,
PPPoE,
Q.931,
Radiotap,
RADIUS,
RPC,
RSVP,
RTCP,
S4406,
SCCP,
SCSI,
SDP,
SES,
sFlow,
SIGCOMP,
SIP,
SIR,
Skinny,
SMB (SMB, NETLOGON),
SMTP,
SNMP,
SPNEGO,
SSL,
T.38,
TCP,
TDS,
text/media,
TIPC,
UDLD,
UDP Lite,
UDP,
UMA,
UMTS FP,
USB,
VNC,
WBXML,
WLCCP,
WSP,
X.411,
X.420,
XML,
XOT,
YMSG

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721058"></a>New and Updated Capture File Support</h3></div></div></div><p>

Catapult DCT2000, Netttl, Windows Sniffer / NetXray

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721089"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
