<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id2449802"></a>Wireshark 0.99.2 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id2488407">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id2450054">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id2450233">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id2450247">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id2450265">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id2450284">Microsoft Windows</a></span></dt><dt><span class="section"><a href="#id2450303">Source Code</a></span></dt><dt><span class="section"><a href="#id2450329">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2488407"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2006-01.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	  The GSM BSSMAP dissector could crash.

	  Versions affected: 0.10.11 to 0.99.0.
          CVE-2006-3627
        </p></li></ul></div><p>

      Ilja van Sprundel discovered the following vulnerabilities:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	  The ANSI MAP dissector was vulnerable to a format string overflow.

	  Versions affected: 0.10.0 to 0.99.0.
          CVE-2006-3628
        </p></li><li><p>
	  The Checkpoint FW-1 dissector was vulnerable to a format string
          overflow.

	  Versions affected: 0.10.10 to 0.99.0.
          CVE-2006-3628
        </p></li><li><p>
	  The MQ dissector was vulnerable to a format string overflow.

	  Versions affected: 0.10.4 to 0.99.0.
          CVE-2006-3628
        </p></li><li><p>
	  The XML dissector was vulnerable to a format string overflow.

	  Versions affected: 0.10.13 to 0.99.0.
          CVE-2006-3628
        </p></li><li><p>
	  The MOUNT dissector could attempt to allocate large amounts of
	  memory.

	  Versions affected: 0.9.4 to 0.99.0.
          CVE-2006-3629
        </p></li><li><p>
	  The NCP NMAS and NDPS dissectors were susceptible to
	  off-by-one errors.

	  Versions affected: 0.9.7 to 0.99.0.
          CVE-2006-3630
        </p></li><li><p>
	  The NTP dissector was vulnerable to a format string overflow.

	  Versions affected: 0.10.13 to 0.99.0.
          CVE-2006-3628
        </p></li><li><p>
	  The SSH dissector was vulnerable to an infinite loop.

	  Versions affected: 0.9.10 to 0.99.0.
          CVE-2006-3631
        </p></li><li><p>
	  The NFS dissector may have been susceptible to a buffer overflow.

	  Versions affected: 0.8.16 to 0.99.0.
          CVE-2006-3632
        </p></li></ul></div><p>

      Ilja found several other problems that could result in mis-dissected
      packets.  They have been fixed.

    </p><p>

      The following non-security-related bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
        The "Follow TCP Stream" dialog now wraps long lines.
        </p></li><li><p>
        Wireshark no longer aborts under Windows 95, 98, or ME.
        </p><div class="warning" style="margin-left: 0.5in; margin-right: 0.5in;"><h3 class="title">Warning</h3><p>
        Windows 95, 98, and ME do not support memory protection
        features that are required in order to run Wireshark securely.
        It is <span class="emphasis"><em>strongly recommended</em></span> that you not
        run Wireshark on these platforms.
        </p></div></li><li><p>
        File exports under Windows work again.
        </p></li><li><p>
        Problems with ring buffers under 0.99.0 have been fixed.
        </p></li><li><p>
        It was possible for Wireshark to crash when closing the capture
        information dialog.  This has been fixed.
        </p></li><li><p>
        It was possible for Wireshark to crash when using the "Find"
        feature.  This has been fixed.
        </p></li><li><p>
        Wireshark could crash if an interface was removed while viewing
        the interface list.  This has been fixed.
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450054"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:
      </p><div class="itemizedlist"><ul type="disc"><li><p>
        Multicast stream analysis (Statistics-&gt;Multicast Streams) has been
        added.  It lets you determine burst size, output buffer size, and
        losses for multicast data.
        </p></li><li><p>
        TCP reassembly has been updated and improved.
        </p></li><li><p>
        Expert analysis has been updated and improved.
        </p></li><li><p>
        SCSI service response time statistics have been added.
        </p></li><li><p>
        You can now find next/previous marked frames.
        </p></li><li><p>
        The LDAP and SNMP dissectors have been completely rewriten.
        </p></li><li><p>
        The SMB dissector now tracks filenames and share names.
        </p></li><li><p>
        The Windows file dialogs have been improved.
        </p></li><li><p>
        If Wireshark is linked with the PortAudio library, you can now
        listen to RTP streams.  (PortAudio didn't make the cut in the
        current Windows installer.  It will be included with 0.99.3.)
        </p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450233"></a>New Protocol Support</h3></div></div></div><p>

Bluetooth HCI (ACL, Command, Event, L2CAP, H4, RFCOMM, SCO, SDP),
Cisco WIDS,
DTLS,
Ether-S-Bus,
OMA ULP,
PN-MRP,
PN-MRRT,
REXEC (yes, that REXEC),
RRLP,
RSerPool (CalcAppProtocol, ComponentStatusProtocol, FractalGeneratorProtocol, PingPongProtocol),
Telkonet,
TiVoConnect Discovery Protocol

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450247"></a>Updated Protocol Support</h3></div></div></div><p>

AIM,
AMR,
ASAP,
BER,
BGP,
BSSAP,
BVLC,
CAMEL,
CMS,
COPS,
DAP,
DCERPC (NETLOGON, PNIO),
DCOM,
DIAMETER,
DVMRP,
EAPOL,
ENRP,
ESP,
FC,
FIX,
Frame,
GPRS LLC,
GSM A,
GSM MAP,
GSSAPI,
GTP,
H.225,
H.235,
H.245,
H.248,
H.263,
H.450,
H1,
ICMP,
IEEE 802.11,
INAP,
IP,
IPMI,
iSCSI,
ISUP,
JXTA,
Kerberos,
LDAP,
LLDP,
MEGACO,
MySQL,
NBAP,
NDMP,
NFS,
OICQ,
PER,
PGM,
PN-PTCP,
Q.931,
RANAP,
RNSAP,
ROS,
RTCP,
S4406,
S5066,
SCCP,
SCSI,
SDP,
SIP,
SMB (PIPE, SMB),
SNMP,
SSL,
SUA,
TCP,
TDS,
TELNET,
TIPC,
UMA,
X.420,
X.509 (af, ce, if),
XML

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450265"></a>New and Updated Capture File Support</h3></div></div></div><p>

    Wireshark can now read BER-encoded files.  Catapult DCT2000 support
    has been updated.

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450284"></a>Microsoft Windows</h3></div></div></div><p>
	Download wireshark-setup-0.99.2.exe from the
	<a href="http://www.wireshark.org/download/win32/">Windows
	download area</a> on the main web site.  Double-click the
	installer executable.
      </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450303"></a>Source Code</h3></div></div></div><p>
	Download wireshark-0.99.2.tar.gz from the
	<a href="http://www.wireshark.org/download/src">main
	download area</a> on the web site.  Extract the package
	using tar and gzip.  Run "configure ; make ; make install".
      </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id2450329"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
        can be found on the <a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      On Windows systems the packet list scroll bar can sometimes disappear
      or become unusable.  Until the problem is fixed you can work around it
      by resizing the packet list or the main window.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=220">Bug
      #220</a>)
    </p><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
    </p><p>
      Trying to save flow data may crash Wireshark.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=396">Bug
      #396</a>)
    </p><p>
      It may not be possible to re-order coloring rules under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=699">Bug
      #699</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
