<div id="header">
<h1>Wireshark 2.6.1 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Qt 5.9.5. Previously they shipped with Qt 5.9.4.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-25">wnpa-sec-2018-25</a></p>
<div class="paragraph">
<p>The LDSS dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14615">Bug 14615</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-26">wnpa-sec-2018-26</a></p>
<div class="paragraph">
<p>The IEEE 1905.1a dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14647">Bug 14647</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-27">wnpa-sec-2018-27</a></p>
<div class="paragraph">
<p>The RTCP dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14673">Bug 14673</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-28">wnpa-sec-2018-28</a></p>
<div class="paragraph">
<p>Multiple dissectors could consume excessive memory.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14678">Bug 14678</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-29">wnpa-sec-2018-29</a></p>
<div class="paragraph">
<p>The DNS dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14681">Bug 14681</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-30">wnpa-sec-2018-30</a></p>
<div class="paragraph">
<p>The GSM A DTAP dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14688">Bug 14688</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-31">wnpa-sec-2018-31</a></p>
<div class="paragraph">
<p>The Q.931 dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14689">Bug 14689</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-32">wnpa-sec-2018-32</a></p>
<div class="paragraph">
<p>The IEEE 802.11 dissector could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14686">Bug 14686</a>)</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-33">wnpa-sec-2018-33</a></p>
<div class="paragraph">
<p>Multiple dissectors could crash.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14703">Bug 14703</a>)</p>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Qt GUI does not snap to exactly half of screen in Windows. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13516">Bug 13516</a>)</p>
</li>
<li>
<p>Segmentation fault when switching profiles. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14316">Bug 14316</a>)</p>
</li>
<li>
<p>QUIC dissector produces incorrect packet numbers (wrong-endian). (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14462">Bug 14462</a>)</p>
</li>
<li>
<p>Wrong default file format chosen in when saving a capture with comments added if the original format doesn’t support comments. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14601">Bug 14601</a>)</p>
</li>
<li>
<p>Lua: Error during loading [AppData directory]:1: bad argument #1 to <em>dofile</em> (dofile: file does not exist). (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14619">Bug 14619</a>)</p>
</li>
<li>
<p>Crash when selecting text. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14620">Bug 14620</a>)</p>
</li>
<li>
<p>ui/macosx directory missing from source release tarball. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14627">Bug 14627</a>)</p>
</li>
<li>
<p>Wireshark 2.9.0 snapshot crashes/segfaults on Windows when launched with -k or -i. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14632">Bug 14632</a>)</p>
</li>
<li>
<p>"Copy as printable text" isn’t copying non-alphanumeric characters. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14633">Bug 14633</a>)</p>
</li>
<li>
<p>File missing from release tarball. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14634">Bug 14634</a>)</p>
</li>
<li>
<p>NEWS is out of date and does not display properly in Notepad. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14636">Bug 14636</a>)</p>
</li>
<li>
<p>l16mono.so is installed in the wrong place. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14638">Bug 14638</a>)</p>
</li>
<li>
<p>Remove: HACK to support UHD’s weird header offset on data packets. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14641">Bug 14641</a>)</p>
</li>
<li>
<p>WinSparkle 0.5.6 is out of date and is buggy. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14642">Bug 14642</a>)</p>
</li>
<li>
<p>Unable to create or open VOIP captures. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14648">Bug 14648</a>)</p>
</li>
<li>
<p>RTMPT: incorrect dissection of multiple RTMP packets within a single TCP packet. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14650">Bug 14650</a>)</p>
</li>
<li>
<p>Endpoints dialog displays invalid GeoIP information due to incorrect byte order. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14656">Bug 14656</a>)</p>
</li>
<li>
<p>Qt: Crash in ShowPacketBytesDialog(). (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14658">Bug 14658</a>)</p>
</li>
<li>
<p>Statistics → Resolved addresses show IP addresses without domain. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14667">Bug 14667</a>)</p>
</li>
<li>
<p>Erroneous MAC-LTE Dissection for Sidelink Shared Channel Packets. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14669">Bug 14669</a>)</p>
</li>
<li>
<p>Files missing from docbook CMake file. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14676">Bug 14676</a>)</p>
</li>
<li>
<p>Wireshark hangs when opening certain files if it’s been configured to use the new GeoIP databases. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14701">Bug 14701</a>)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The “Open”, “Save”, and other file dialogs should now be shown at the correct size on HiDPI Windows systems.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BATADV, BT LE LL, CoAP, DNS, DTLS, GSM A DTAP, GSM A GM, GTP, GTPv2, IEEE 1905.1a, IEEE 802.11, LDSS, LwM2M-TLV, MAC LTE, NAS EPS, Q.931, RTCP, RTMPT, SDP, TCP, and VITA 49</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>3GPP TS 32.423 Trace and Android Logcat</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
(<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-05-24 18:53:22 UTC
</div>
</div>
