<div class="article" title="Wireshark 1.6.6 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.6.6 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-04.html">wnpa-sec-2012-04</a>
          </p><p>
            The ANSI A dissector could dereference a NULL pointer and crash.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6823">Bug
            6823</a>)
          </p>
          <p>Versions affected: 1.4.0 to 1.4.11, 1.6.0 to 1.6.5.</p>
	  <p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1593">CVE-2012-1593</a>
          </p>

          </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-05.html">wnpa-sec-2012-05</a>
          </p><p>
            The IEEE 802.11 dissector could go into an infinite loop.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6809">Bug
            6809</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.5.</p>
	  <p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1594">CVE-2012-1594</a>
          </p>
	  </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-06.html">wnpa-sec-2012-06</a>
          </p><p>
            The pcap and pcap-ng file parsers could crash trying to read ERF data.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6804">Bug
            6804</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.11, 1.6.0 to 1.6.5.</p>
	  <p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1595">CVE-2012-1595</a>
          </p>
	  </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-07.html">wnpa-sec-2012-07</a>
          </p><p>
            The MP2T dissector could try to allocate too much memory and crash.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6833">Bug
            6833</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.11, 1.6.0 to 1.6.5.</p>
	  <p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-1596">CVE-2012-1596</a>
          </p>
	  </li><li class="listitem"><p>
            The Windows installers now include GnuTLS 2.12.18 and Libtasn1 2.12, which fix
	    <a class="ulink" href="http://www.gnu.org/software/gnutls/security.html">several
	    vulnerabilities</a>.
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          ISO SSAP: ActivityStart: Invalid decoding the activity parameter as a BER Integer.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2873">Bug
          2873</a>)
        </p></li><li class="listitem"><p>
          Forward slashes in URI need to be converted to backslashes if WIN32.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5237">Bug
          5237</a>)
        </p></li><li class="listitem"><p>
          Character echo pauses in Capture Filter field in Capture Options.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
          5356</a>)
        </p></li><li class="listitem"><p>
          Some PGM options are not parsed correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5687">Bug
          5687</a>)
        </p></li><li class="listitem"><p>
          dumpcap crashes when capturing from pipe to a pcap-ng file (e.g., when passing data from CACE Pilot to Wireshark).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5939">Bug
          5939</a>)
        </p></li><li class="listitem"><p>
          Unable to rearrange columns in preferences on Windows.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6077">Bug
          6077</a>) (Note: this bug still affects the 64-bit package)
        </p></li><li class="listitem"><p>
          No error for UDP/IPv6 packet with zero checksum.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6232">Bug
          6232</a>)
        </p></li><li class="listitem"><p>
          Wireshark installer doesn't add access_bpf in 10.5.8.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6526">Bug
          6526</a>)
        </p></li><li class="listitem"><p>
          Corrupted Diameter dictionary file that crashes Wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6664">Bug
          6664</a>)
        </p></li><li class="listitem"><p>
          packetBB dissector bug: More than 1000000 items in the tree -- possible infinite loop.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6687">Bug
          6687</a>)
        </p></li><li class="listitem"><p>
          ZEP dissector: Timestamp not always displayed correctly. Fractional seconds never displayed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6703">Bug
          6703</a>)
        </p></li><li class="listitem"><p>
          GOOSE Messages don't use the length field to perform the dissection.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6734">Bug
          6734</a>)
        </p></li><li class="listitem"><p>
          Ethernet traces in K12 text format sometimes give bogus "malformed frame" errors and other problems.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6735">Bug
          6735</a>)
        </p></li><li class="listitem"><p>
          max_ul_ext isn't printed/decoded to the packet details log in GTP protocol packet.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6761">Bug
          6761</a>)
        </p></li><li class="listitem"><p>
          non-IPP packets to or from port 631 are dissected as IPP.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6765">Bug
          6765</a>)
        </p></li><li class="listitem"><p>
          lua proto registration fails for uppercase proto / g_ascii_strdown problem.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6766">Bug
          6766</a>)
        </p></li><li class="listitem"><p>
          no menu item Fle-&gt;Export-&gt;SSL Session Keys in GTK.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6813">Bug
          6813</a>)
        </p></li><li class="listitem"><p>
          IAX2 dissector reads past end of packet for unknown IEs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6815">Bug
          6815</a>)
        </p></li><li class="listitem"><p>
          TShark 1.6.5 immediately crashes on SSL decryption (every time).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6817">Bug
          6817</a>)
        </p></li><li class="listitem"><p>
          USB: unknown GET DESCRIPTOR response triggers assert failure.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6826">Bug
          6826</a>)
        </p></li><li class="listitem"><p>
          IEEE1588 PTPv2 over IPv6.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6836">Bug
          6836</a>)
        </p></li><li class="listitem"><p>
          Patch to fix DTLS decryption.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6847">Bug
          6847</a>)
        </p></li><li class="listitem"><p>
          Expression... dialog crash.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6891">Bug
          6891</a>)
        </p></li><li class="listitem"><p>
          display filter "gtp.msisdn" not working.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6947">Bug
          6947</a>)
        </p></li><li class="listitem"><p>
          Multiprotocol Label Switching Echo - Return Code: Reserved (5).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6951">Bug
          6951</a>)
        </p></li><li class="listitem"><p>
          ISAKMP : VendorID CheckPoint : Malformed Packet.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6972">Bug
          6972</a>)
        </p></li><li class="listitem"><p>
          Adding a Custom HTTP Header Field with a trailing colon causes wireshark to immediately crash (and crash upon restart).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6982">Bug
          6982</a>)
        </p></li><li class="listitem"><p>
          Radiotap dissector lists a bogus "DBM TX Attenuation" bit.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7000">Bug
          7000</a>)
        </p></li><li class="listitem"><p>
	  MySQL dissector assertion.
          (<a class="ulink" href="http://ask.wireshark.org/questions/8649">Ask
          8649</a>)
        </p></li><li class="listitem"><p>
	  Radiotap header format data rate alignment issues.
          (<a class="ulink" href="http://ask.wireshark.org/questions/8649">Ask
          8649</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ANSI A,
BSSGP,
DIAMETER,
DTLS,
GOOSE,
GSM Management,
GTP,
HTTP,
IAX2,
IEEE 802.11,
IPP,
ISAKMP,
ISO SSAP,
MP2T,
MPLS,
MySQL,
NTP,
PacketBB,
PGM,
Radiotap,
SSL,
TCP,
UDP,
USB,
WSP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Endace ERF, Pcap-NG, Tektronix K12

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with libsmi.
      (<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times when displayed as
      a custom column.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
