<div class="article" title="Wireshark 1.8.3 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.8.3 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-26.html">wnpa-sec-2012-26</a>
          </p><p>
	    The HSRP dissector could go into an infinite loop.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7581">Bug
            7581</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.2.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5237">CVE-2012-5237</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-27.html">wnpa-sec-2012-27</a>
          </p><p>
	    The PPP dissector could abort.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7316">Bug
            7316</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7668">bug
            7668</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.2.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5238">CVE-2012-5238</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-28.html">wnpa-sec-2012-28</a>
          </p><p>
	    Martin Wilck discovered an infinite loop in the DRDA dissector.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7666">Bug
            7666</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.10, 1.8.0 to 1.8.2.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5239">CVE-2012-5239</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-29.html">wnpa-sec-2012-29</a>
          </p><p>
	    Laurent Butti discovered a buffer overflow in the LDP dissector.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7567">Bug
            7567</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.2.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5240">CVE-2012-5240</a>
          </p></li></ul></div><p>

    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	  The HTTP dissector does not reassemble headers when the first TCP segment does not contain a full header line.
        </p></li><li class="listitem"><p>
	  HDCP2 uses the wrong protocol id.
        </p></li><li class="listitem"><p>
	  Several I/O graph problems have been fixed.
        </p></li><li class="listitem"><p>
          No markers show up when maps are displayed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5016">Bug
          5016</a>)
        </p></li><li class="listitem"><p>
          Assertion when using tshark/wireshark on large captures.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5699">Bug
          5699</a>)
        </p></li><li class="listitem"><p>
          Volume label field of "SMB/TRANS2-QUERY_FS_INFO/InfoVolume level" reply packet is not displayed correctly due alignment issue.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5778">Bug
          5778</a>)
        </p></li><li class="listitem"><p>
          64-bit Wireshark appears to hit 2-Gbyte memory limit on 64-bit Windows.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5979">Bug
          5979</a>)
        </p></li><li class="listitem"><p>
          Truncated/partial JPEG files are not dissected.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6230">Bug
          6230</a>)
        </p></li><li class="listitem"><p>
          Support for MPLS Packet Loss and Delay Measurement, RFC 6374.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6881">Bug
          6881</a>)
        </p></li><li class="listitem"><p>
          Memory leak in voip_calls.c.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7320">Bug
          7320</a>)
        </p></li><li class="listitem"><p>
          When listing protocols available for "Decode As", plugins are sorted after built-ins.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7348">Bug
          7348</a>)
        </p></li><li class="listitem"><p>
          Hidden columns should not be printed when printing packet summary line.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7356">Bug
          7356</a>)
        </p></li><li class="listitem"><p>
          Size wrong in "File Set List" for just-finished captures.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7370">Bug
          7370</a>)
        </p></li><li class="listitem"><p>
          Error: no dependency information found for debian/wireshark-common/usr/lib/wireshark/libwsutil.so.2 (used by debian/wireshark/usr/bin/wireshark).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7408">Bug
          7408</a>)
        </p></li><li class="listitem"><p>
          Parse and properly display LTE RADIUS AVP 3GPP-User-Location-Info.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7474">Bug
          7474</a>)
        </p></li><li class="listitem"><p>
          [PATCH] HomeplugAV dissector: decode device id.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7548">Bug
          7548</a>)
        </p></li><li class="listitem"><p>
          BACnet GetEnrollmentSummary-ACK does not decode correctly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7556">Bug
          7556</a>)
        </p></li><li class="listitem"><p>
          epan/dissectors/packet-per.c dissect_per_constrained_integer_64b fails for 64 bits.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7624">Bug
          7624</a>)
        </p></li><li class="listitem"><p>
          New SCTP PPID 48.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7635">Bug
          7635</a>)
        </p></li><li class="listitem"><p>
          dissector of Qos attribute "Reliability Class" in GMM/SM message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7670">Bug
          7670</a>)
        </p></li><li class="listitem"><p>
          Performance regression in tshark -z io,stat.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7674">Bug
          7674</a>)
        </p></li><li class="listitem"><p>
          Incorrect io-stat table format when unsupported "-t" operand is specified and when using AVG of relative_time fields.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7685">Bug
          7685</a>)
        </p></li><li class="listitem"><p>
          IEEE 802.11 TKIP dissection : wrong IS_TKIP macro.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7691">Bug
          7691</a>)
        </p></li><li class="listitem"><p>
          Homeplug AV dissectors does not properly dissect short frames.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7707">Bug
          7707</a>)
        </p></li><li class="listitem"><p>
          mm_context_nas_dl_cnt and mm_context_nas_ul_cnt are not dissected properly in ContextResponse message in Gtpv2.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7718">Bug
          7718</a>)
        </p></li><li class="listitem"><p>
          This trace causes Wireshark to crash when VoIP Calls selected.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7724">Bug
          7724</a>)
        </p></li><li class="listitem"><p>
          Some diameter Gx enumerations are missing values or value is incorrect.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7727">Bug
          7727</a>)
        </p></li><li class="listitem"><p>
          Wireshark 1.8.2 is only displaying 2 filters from the drop-down menu even when preferences are set to higher integer.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7731">Bug
          7731</a>)
        </p></li><li class="listitem"><p>
          BGP bad decoding for Graceful Restart Capability with only helper support &amp; for Enhanced Route Refresh Capability.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7734">Bug
          7734</a>)
        </p></li><li class="listitem"><p>
          Dissection error of D-RELEASE and D-CONNECT in TETRA dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7736">Bug
          7736</a>)
        </p></li><li class="listitem"><p>
          DND can cause Wireshark to crash.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7744">Bug
          7744</a>)
        </p></li><li class="listitem"><p>
          SCSI: WRITE BUFFER fields always display as zero.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7753">Bug
          7753</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ASN.1 PER,
BACnet,
BGP,
DIAMETER,
DRDA,
DVB CI,
DVB,
GSM Management,
GTP,
GTPv2,
HDCP2,
HomePlug AV,
ICMP,
ICMPv6,
IEEE 802.11,
IEEE 802a,
Interlink,
JPEG,
LDP,
LPP,
MPEG,
MPLS,
PCAP,
PPP,
RANAP,
RRC,
RRLP,
SCCP,
SCSI,
SCTP,
SDP,
SMB,
TETRA

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

There are no file format updates in this release.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
