<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id836454"></a>Wireshark 1.0.5 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2008-07.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The SMTP dissector could consume excessive amounts of CPU and memory.
            
          </p><p>Versions affected: 1.0.4</p><p>
            
          </p></li><li><p>
            The WLCCP dissector could go into an infinte loop.
            
          </p><p>Versions affected: 0.99.7 to 1.0.4</p><p>
            
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          Missing CRLF during HTTP POST in the "packet details" window
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2534">Bug
          2534</a>)
        </p></li><li><p>
          Memory assertion in time_secs_to_str_buf() when compiled with GCC 4.2.3
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2777">Bug
          2777</a>)
        </p></li><li><p>
          Diameter dissector fails RFC 4005 compliance
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2828">Bug
          2828</a>)
        </p></li><li><p>
          LDP vendor private TLV type is not correctly shown
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2832">Bug
          2832</a>)
        </p></li><li><p>
          Wireshark on MacOS does not run when there are spaces in its path
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2844">Bug
          2844</a>)
        </p></li><li><p>
          OS X Intel package incorrectly claims to be Universal
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2979">Bug
          2979</a>)
        </p></li><li><p>
          Compilation broke when compiling without zlib
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2993">Bug
          2993</a>)
        </p></li><li><p>
          Memory leak: saved_repoid
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3017">Bug
          3017</a>)
        </p></li><li><p>
          Memory leak: follow_info
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3018">Bug
          3018</a>)
        </p></li><li><p>
          Memory leak: follow_info
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3019">Bug
          3019</a>)
        </p></li><li><p>
          Memory leak: tacplus_data
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3020">Bug
          3020</a>)
        </p></li><li><p>
          Memory leak: col_arrows
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3021">Bug
          3021</a>)
        </p></li><li><p>
          Memory leak: col_arrows
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3022">Bug
          3022</a>)
        </p></li><li><p>
          Incorrect address structure assigned for find_conversation() in WSP
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3071">Bug
          3071</a>)
        </p></li><li><p>
          Memory leak with unistim in voip_calls
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3079">Bug
          3079</a>)
        </p></li><li><p>
          Error parsing the BSSGP protocol
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3085">Bug
          3085</a>)
        </p></li><li><p>
          Assertion thrown in fvalue_get_uinteger when decoding TIPC
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3086">Bug
          3086</a>)
        </p></li><li><p>
          LUA script : Wireshark crashes after closing and opening again a window used by a listener.draw() function.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3090">Bug
          3090</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new or updated features in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ANSI MAP,
BSSGP,
CIP,
Diameter,
ENIP,
GIOP,
H.263,
H.264,
HTTP,
MPEG PES,
PostgreSQL,
PPI,
PTP,
Rsync,
RTP,
SMTP,
SNMP,
STANAG 5066,
TACACS,
TIPC,
WLCCP,
WSP

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

None

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a class="ulink" href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Capturing from named pipes might be delayed on Windows.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2200">Bug
      2200</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
