<div id="header">
<h1>Wireshark 4.0.1 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The Windows installers now ship with Qt 5.12.2.
They previously shipped with Qt 6.2.3.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Comparing a boolean field against 1 always succeeds on big-endian machines. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12236">Issue 12236</a>.</p>
</li>
<li>
<p>Qt: MaxMind GeoIP columns not added to Endpoints table. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18320">Issue 18320</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-10-04-7131.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18402">Issue 18402</a>.</p>
</li>
<li>
<p>The RTP player might not play audio on Windows. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18413">Issue 18413</a>.</p>
</li>
<li>
<p>Wireshark 4.0 breaks display filter expression with &gt; sign. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18418">Issue 18418</a>.</p>
</li>
<li>
<p>Capture filters not working when using SSH capture and dumpcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18420">Issue 18420</a>.</p>
</li>
<li>
<p>Packet diagram field values are not terminated. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18428">Issue 18428</a>.</p>
</li>
<li>
<p>Packet bytes not displayed completely if scrolling. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18438">Issue 18438</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-10-13-7166.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18467">Issue 18467</a>.</p>
</li>
<li>
<p>Decoding bug H.245 userInput Signal. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18468">Issue 18468</a>.</p>
</li>
<li>
<p>CFDP dissector doesn’t handle \"destination filename\" only. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18495">Issue 18495</a>.</p>
</li>
<li>
<p>Home page capture button doesn’t pop up capture options dialog. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18506">Issue 18506</a>.</p>
</li>
<li>
<p>Missing dot in H.248 protocol name. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18513">Issue 18513</a>.</p>
</li>
<li>
<p>Missing dot for protocol H.264 in protocol column. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18524">Issue 18524</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-10-23-7240.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18534">Issue 18534</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_removed_features_and_support">Removed Features and Support</h3>
<div class="ulist">
<ul>
<li>
<p>The experimental display filter syntax for literals using angle brackets &lt;…​&gt;
that was introduced in Wireshark 4.0.0 has been removed. For byte arrays a colon prefix
can be used instead.
See the <a href="https://www.wireshark.org/docs/wsug_html_chunked/ChWorkBuildDisplayFilterSection.html#_some_protocol_names_can_be_ambiguous">User’s Guide</a> for details.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASN.1 PER, CFDP, Diameter, DirectPlay, F5 Ethernet Trailer, GTP, H.223, H.248, H.264, H.265, IEEE 802.11, IPv4, MBIM, O-RAN FH CUS, PFCP, RTCP, SCTP, SMB, TCP, and TRANSUM</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>