<div xml:lang="en" class="article" title="Wireshark 1.12.0 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807088"></a>Wireshark 1.12.0 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_removed_dissectors">2.3. Removed Dissectors</a></span></dt><dt><span class="section"><a href="#_platform_support">2.4. Platform Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.5. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.6. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.7. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
"On-the-wire" packet lengths are limited to 65535 bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8808">Bug 8808</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9390">Bug 9390</a>)
</li><li class="listitem">
"Follow TCP Stream" shows only the first HTTP request and response. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>)
</li><li class="listitem">
Files with pcap-ng Simple Packet Blocks can’t be read. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9200">Bug 9200</a>)
</li><li class="listitem">
MPLS-over-PPP isn’t recognized. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9492">Bug 9492</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>The following features are new or have been significantly updated since version
1.10:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
The Windows installer now uninstalls the previous version of Wireshark
  silently.  You can still run the uninstaller manually beforehand if you wish
  to run it interactively.
</li><li class="listitem">
Expert information is now filterable when the new API is in use.
</li><li class="listitem">
The "Number" column shows related packets and protocol conversation spans
  (Qt only).
</li><li class="listitem">
When manipulating packets with editcap using the -C &lt;choplen&gt; and/or
  -s &lt;snaplen&gt; options, it is now possible to also adjust the original frame
  length using the -L option.
</li><li class="listitem">
You can now pass the -C &lt;choplen&gt; option to editcap multiple times, which
  allows you to chop bytes from the beginning of a packet as well as at the end
  of a packet in a single step.
</li><li class="listitem">
You can now specify an optional offset to the -C option for editcap, which
  allows you to start chopping from that offset instead of from the absolute
  packet beginning or end.
</li><li class="listitem">
"malformed" display filter has been renamed to "_ws.malformed".  A handful of
  other filters have been given the "_ws." prefix to note they are Wireshark
  application specific filters and not dissector filters.
</li><li class="listitem">
The Kerberos dissector has been replaced with an auto generated one from ASN1
  protocol description, changing a lot of filter names.
</li></ul></div><p>Additionally the Windows installers have an extra component: a preview of the
upcoming user interface for Wireshark 2.0.</p><p>The following features are new (or have been significantly updated)
since version 1.11.3:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Transport name resolution is now disabled by default.
</li><li class="listitem">
Support has been added for all versions of the DCBx protocol.
</li><li class="listitem">
Cleanup of LLDP code, all dissected fields are now navigable.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.11.2:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" type="circle"><li class="listitem">
The About dialog has been added
</li><li class="listitem">
The Capture Interfaces dialog has been added.
</li><li class="listitem">
The Decode As dialog has been added. It managed to swallow up the
User Specified Decodes dialog as well.
</li><li class="listitem">
The Export PDU dialog has been added.
</li><li class="listitem">
Several SCTP dialogs have been added.
</li><li class="listitem">
The statistics tree (the backend for many Statistics and Telephony menu
items) dialog has been added.
</li><li class="listitem">
The I/O Graph dialog has been added.
</li><li class="listitem">
French translation has updated.
</li></ul></div></li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.11.1:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Mac OS X packaging has been improved.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 1.11.0:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Dissector output may be encoded as UTF-8. This includes TShark output.
</li><li class="listitem"><p class="simpara">
Qt port:
</p><div class="itemizedlist"><ul class="itemizedlist" type="circle"><li class="listitem">
The Follow Stream dialog now supports packet and TCP stream selection.
</li><li class="listitem">
A Flow Graph (sequence diagram) dialog has been added.
</li><li class="listitem">
The main window now respects geometry preferences.
</li></ul></div></li></ul></div></div><div class="section" title="2.3. Removed Dissectors"><div class="titlepage"><div><div><h3 class="title"><a id="_removed_dissectors"></a>2.3. Removed Dissectors</h3></div></div></div><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
The ASN1 plugin has been removed as it’s deemed obsolete.
</li><li class="listitem">
The GNM dissector has been removed as it was never used.
</li><li class="listitem">
The Kerberos hand made dissector has been replaced by one generated from ASN1 code.
</li></ul></div></div><div class="section" title="2.4. Platform Support"><div class="titlepage"><div><div><h3 class="title"><a id="_platform_support"></a>2.4. Platform Support</h3></div></div></div><p>Support for Windows XP has been deprecated. We will make an effort to support it
for as long as possible but our ability to do so depends on upstream packages
and other factors beyond our control.</p><p>U3 packages are no longer supported or provided.</p><p>This is the last major release that will support 32-bit versions of Mac OS X.</p></div><div class="section" title="2.5. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.5. New Protocol Support</h3></div></div></div><p>29West,
802.1AE Secure tag,
A21,
ACR122,
ADB Client-Server,
AllJoyn,
Apple PKTAP,
Aruba Instant AP,
ASTERIX,
ATN,
Bencode,
Bluetooth 3DS,
Bluetooth HSP,
Bluetooth Linux Monitor Transport,
Bluetooth Low Energy,
Bluetooth Low Energy RF Info,
CARP,
CFDP,
Cisco MetaData,
DCE/RPC MDSSVC,
DeviceNet,
ELF file format,
Ethernet Local Management Interface (E-LMI),
Ethernet Passive Optical Network (EPON),
EXPORTED PDU,
FINGER,
HDMI,
High-Speed LAN Instrument Protocol (HiSLIP),
HTTP2,
IDRP,
IEEE 1722a,
ILP,
iWARP Direct Data Placement and Remote Direct Memory Access Protocol,
Kafka,
Kyoto Tycoon,
Landis &amp; Gyr Telegyr 8979,
LBM,
LBMC,
LBMPDM,
LBMPDM-TCP,
LBMR,
LBT-RM,
LBT-RU,
LBT-TCP,
Lightweight Mesh (v1.1.1),
Link16,
Linux netlink,
Linux netlink netfilter,
Linux netlink sock diag,
Linux rtnetlink (route netlink),
Logcat,
MBIM,
Media Agnostic USB (MA USB),
MiNT,
MP4 / ISOBMFF file format,
MQ Telemetry Transport Protocol,
MS NLB (Rewrite),
Novell PKIS certificate extensions,
NXP PN532 HCI,
Open Sound Control,
OpenFlow,
Pathport,
PDC,
Picture Transfer Protocol Over IP,
PKTAP,
Private Data Channel,
QUIC (Quick UDP Internet Connections),
SAE J1939,
SEL RTAC (Real Time Automation Controller) EIA-232 Serial-Line Dissection,
Sippy RTPproxy,
SMB-Direct,
SPDY,
STANAG 4607,
STANAG 5066 DTS,
STANAG 5066 SIS,
Tinkerforge,
Ubertooth,
UDT,
URL Encoded Form Data,
USB Communications and CDC Control,
USB Device Firmware Upgrade,
VP8,
WHOIS,
Wi-Fi Display,
and ZigBee Green Power profile</p></div><div class="section" title="2.6. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.6. Updated Protocol Support</h3></div></div></div><p>Too many protocols have been updated to list here.</p></div><div class="section" title="2.7. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.7. New and Updated Capture File Support</h3></div></div></div><p>Netscaler 2.6,
STANAG 4607,
and STANAG 5066 Data Transfer Sublayer</p></div><div class="section" title="2.8. Major API Changes"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>The libwireshark API has undergone some major changes:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
A more flexible, modular memory manager (wmem) has been added. It was
  available experimentally in 1.10 but is now mature and has mostly
  replaced the old emem API (which is deprecated).
</li><li class="listitem">
A new API for expert information has been added, replacing the old one.
</li><li class="listitem">
The tvbuff API has been cleaned up: tvb_length has been renamed to
  tvb_captured_length for clarity, and tvb_get_string and tvb_get_stringz
  have been deprecated in favour of tvb_get_string_enc and
  tvb_get_stringz_enc.
</li><li class="listitem">
dissector_try_heuristic() signature has been changed to return heur_dtbl_entry_t
  to make it possible to save it and use it in subsequent calls to avoid the overhead
  of going trough the heuristics list.
</li></ul></div></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(ws-buglink:1814)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit Mac OS X installer doesn’t support Mac OS X 10.9 (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9242">Bug 9242</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
