<div id="header">
<h1>Wireshark 3.0.5 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Windows installers now ship with Qt 5.12.5. They previously shipped
with Qt 5.12.4.</p>
</div>
<div id="npcap_upgrade" class="paragraph">
<p>If you have Npcap 0.994 or 0.995 installed, your system might crash when upgrading.
We recommend that you uninstall these versions manually prior to installing Wireshark.
See Npcap bugs <a href="https://github.com/nmap/nmap/issues/1591">1591</a> and <a href="https://github.com/nmap/nmap/issues/1675">1675</a> for more details.
You can uninstall either version manually by doing the following:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open a command or PowerShell prompt as Administrator and run <code>sc.exe config npcap start=disabled</code>.</p>
</li>
<li>
<p>Run <code>sc.exe config npf start=disabled</code>. This will fail if WinPcap compatibility mode isn’t enabled, but is otherwise harmless.</p>
</li>
<li>
<p>Reboot (optional).</p>
</li>
<li>
<p>Open “Programs and Features” in the Control Panel or “Apps &amp; features” in Settings and uninstall Npcap.</p>
</li>
<li>
<p>Open “Device Manager” (<code>devmgmt.msc</code>) in the Control Panel and expand the “Network adapters” section.
Uninstall each “Npcap Loopback Adapter” that you find.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Qt interface crashes on a profile with packet list only. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16048">Bug 16048</a>.</p>
</li>
<li>
<p>Wireshark 3.0.4 does not start on macOS 10.13 after an upgrade from 3.0.3. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16050">Bug 16050</a>.</p>
</li>
<li>
<p>NET-SNMP EngineID Length handling Warning. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16051">Bug 16051</a>.</p>
</li>
<li>
<p>Upgrade from Wireshark 3.0.2/3.0.3 to 3.0.4/later is confusing and may not complete properly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16052">Bug 16052</a>.</p>
</li>
<li>
<p>Crash SIGSEGV when decrypting IEEE 802.11 EAP re-authentications. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16058">Bug 16058</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p></p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-09-20 17:51:26 UTC
</div>
</div>
