<div id="header">
<h1>Wireshark 3.0.7 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Windows and macOS installers now ship with Qt 5.12.6.
They previously shipped with Qt 5.12.5.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-22">wnpa-sec-2019-22</a>
CMS dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15961">Bug 15961</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19553">CVE-2019-19553</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ws_pipe_wait_for_pipe() can wait on closed handles. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15696">Bug 15696</a>.</p>
</li>
<li>
<p>Support for 11ax in PEEKREMOTE. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15740">Bug 15740</a>.</p>
</li>
<li>
<p>The temporary file …​ could not be opened: Invalid argument. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15751">Bug 15751</a>.</p>
</li>
<li>
<p>Reassembling of the two TLS records is not working correctly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16109">Bug 16109</a>.</p>
</li>
<li>
<p>Display Filter Area: Dropdown Missing pkt_comment and tcp.options.sack_perm (likely others). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16130">Bug 16130</a>.</p>
</li>
<li>
<p>Display Filter autocompletion should be disabled. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16132">Bug 16132</a>.</p>
</li>
<li>
<p>BGP Linkstate IP Reachability information is incorrect. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16144">Bug 16144</a>.</p>
</li>
<li>
<p>NGAP: ExpectedUEActivityBehaviour decode error. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16145">Bug 16145</a>.</p>
</li>
<li>
<p>HomePlug AV dissector: MMTYPE and FMI fields are dissected incorrectly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16158">Bug 16158</a>.</p>
</li>
<li>
<p>JPEG files cannot be saved on Windows with french language. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16165">Bug 16165</a>.</p>
</li>
<li>
<p>X11 --display interpreted as --display-filter which maps to -Y option. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16167">Bug 16167</a>.</p>
</li>
<li>
<p>"Create new file automatically after" not working with extcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16178">Bug 16178</a>.</p>
</li>
<li>
<p>Encrypted TLS alerts sometimes listed as decrypted. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16180">Bug 16180</a>.</p>
</li>
<li>
<p>The "Remove Wireshark from the system path" package has "<strong>Add</strong> Wireshark to the system PATH" as its title. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16200">Bug 16200</a>.</p>
</li>
<li>
<p>tshark -T ek -x causes get_field_data: code should not be reached. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16218">Bug 16218</a>.</p>
</li>
<li>
<p>Crash on Go → Next/Previous Packet in Conversation when no packet is selected. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16228">Bug 16228</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BGP, HomePlug AV, IEEE 802.11, and TLS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-12-04 16:18:05 UTC
</div>
</div>
