<div xml:lang="en" class="article" title="Wireshark 1.8.11 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9659776"></a>Wireshark 1.8.11 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_getting_wireshark">2.6. Getting Wireshark</a></span></dt><dt><span class="section"><a href="#_vendor_supplied_packages">2.7. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">3. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">4. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">5. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">6. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-61.html">wnpa-sec-2013-61</a>
</p><p class="simpara">The IEEE 802.15.4 dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9139">Bug 9139</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.2, 1.8.0 to 1.8.10</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6336">CVE-2013-6336</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-62.html">wnpa-sec-2013-62</a>
</p><p class="simpara">The NBAP dissector could crash. Discovered by Laurent Butti.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9168">Bug 9168</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.2, 1.8.0 to 1.8.10</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6337">CVE-2013-6337</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-63.html">wnpa-sec-2013-63</a>
</p><p class="simpara">The SIP dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9228">Bug 9228</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.2, 1.8.0 to 1.8.10</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6338">CVE-2013-6338</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-64.html">wnpa-sec-2013-64</a>
</p><p class="simpara">The OpenWire dissector could go into a large loop. Discovered by Murali.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9248">Bug 9248</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.2, 1.8.0 to 1.8.10</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6339">CVE-2013-6339</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2013-65.html">wnpa-sec-2013-65</a>
</p><p class="simpara">The TCP dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9263">Bug 9263</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.2, 1.8.0 to 1.8.10</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-6340">CVE-2013-6340</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
new_packet_list: EAP-TLS reassemble does not happen when NEW_PACKET_LIST is toggled. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5349">Bug 5349</a>)
</li><li class="listitem">
The value of <span class="emphasis"><em>SEND_TO_UE</em></span> in the DIAMETER Gx dictionary for Packet-Filter-Usage AVP is 0 instead of 1. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9126">Bug 9126</a>)
</li><li class="listitem">
Bssgp ⇒  SGSN-INVOKE-TRACE use the wrong function… (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9157">Bug 9157</a>)
</li><li class="listitem">
Files with pcap-ng Simple Packet Blocks can’t be read.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9200">Bug 9200</a>)
</li><li class="listitem">
Wireshark lua dissector unable to load for media_type=application/octet-stream. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9296">Bug 9296</a>)
</li><li class="listitem">
Wireshark crash when dissecting packet with NTLMSSP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9299">Bug 9299</a>)
</li><li class="listitem">
DCERPC data_blobs are not correctly dissected when NDR64 encoding is used. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9301">Bug 9301</a>)
</li><li class="listitem">
multiple PDU in the same DCERPC packet are not correctly decrypted. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9302">Bug 9302</a>)
</li><li class="listitem">
The tshark summary line doesn’t display the frame number or displays it sporadically. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9317">Bug 9317</a>)
</li><li class="listitem">
Fix dissection of PTP Management messages. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9262">Bug 9262</a>)
</li><li class="listitem">
Duplicate IRC header field abbreviation breaks filter (example: irc.response.command). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9360">Bug 9360</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>BSSGP,
DCERPC,
DCERPC NT,
DIAMETER,
Ethernet,
EtherNet/IP,
IEEE 802.15.4,
IRC,
NBAP,
NTLMSSP,
OpenWire,
SIP,
and WiMax</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>and .</p></div><div class="section" title="2.6. Getting Wireshark"><div class="titlepage"><div><div><h3 class="title"><a id="_getting_wireshark"></a>2.6. Getting Wireshark</h3></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p></div><div class="section" title="2.7. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>2.7. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="3. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>3. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="4. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>4. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with display filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="5. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>5. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="6. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>6. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
