<div class="article" title="Wireshark 1.6.13 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="idp3912352"></a>Wireshark 1.6.13 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerability has been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-01.html">wnpa-sec-2013-01</a>
          </p><p>
	    Infinite and large loops in the Bluetooth HCI, CSN.1, DCP-ETSI
	    DOCSIS CM-STAUS, IEEE 802.3 Slow Protocols, MPLS, R3, RTPS, SDP, and
	    SIP dissectors. Reported by Laurent Butti.
	    
            
            
            
	    
            
            
            
	    
            
            
	    
            
            
            
	    
            
            
            
	    
            
            
            
	    
            
            
            
	    
            
            
            
	    
            
            
	    
            
            
            (Bugs
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8036">8036</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8037">8037</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8038">8038</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8040">8040</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8041">8041</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8041">8042</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8043">8043</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8198">8198</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8199">8199</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8222">8222</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-02.html">wnpa-sec-2013-02</a>
          </p><p>
	    The CLNP dissector could crash. Discovered independently by Laurent
	    Butti and the Wireshark development team.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7871">Bug
            7871</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-03.html">wnpa-sec-2013-03</a>
          </p><p>
	    The DTN dissector could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7945">Bug
            7945</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-04.html">wnpa-sec-2013-04</a>
          </p><p>
	    The MS-MMC dissector (and possibly others) could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8112">Bug
            8112</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-05.html">wnpa-sec-2013-05</a>
          </p><p>
	    The DTLS dissector could crash. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8111">Bug
            8111</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-07.html">wnpa-sec-2013-07</a>
          </p><p>
	    The DCP-ETSI dissector could corrupt memory. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8213">Bug
            8213</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-08.html">wnpa-sec-2013-08</a>
          </p><p>
	    The Wireshark dissection engine could crash. Discovered by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8197">Bug
            8197</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-09.html">wnpa-sec-2013-09</a>
          </p><p>
	    The NTLMSSP dissector could overflow a buffer. Discovered by Ulf Härnhammar.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=X">Bug
            X</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.4, 1.6.0 to 1.6.12.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=GENERIC-MAP-NOMATCH">GENERIC-MAP-NOMATCH</a>
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	  The HTTP dissector does not reassemble headers when the first TCP segment does not contain a full header line.
        </p></li><li class="listitem"><p>
          SNMPv3 Engine ID registration.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2426">Bug
          2426</a>)
        </p></li><li class="listitem"><p>
          Illegal character is used in temporary capture file name.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7877">Bug
          7877</a>)
        </p></li><li class="listitem"><p>
          Core dumped when the file is closed.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8022">Bug
          8022</a>)
        </p></li><li class="listitem"><p>
          Wrong packet bytes are selected for ISUP CUG binary code.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8035">Bug
          8035</a>)
        </p></li><li class="listitem"><p>
          Decodes FCoE Group Multicast MAC address as Broadcom MAC address.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8046">Bug
          8046</a>)
        </p></li><li class="listitem"><p>
          The SSL dissector stops decrypting the SSL conversation with Malformed Packet:SSL error messages.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8075">Bug
          8075</a>)
        </p></li><li class="listitem"><p>
          Wrong bytes highlighted with "Find Packet...".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8085">Bug
          8085</a>)
        </p></li><li class="listitem"><p>
          3GPP ULI AVP. SAI  is not correctly decoded.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8098">Bug
          8098</a>)
        </p></li><li class="listitem"><p>
          Warn Dissector bug, protocol JXTA.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8212">Bug
          8212</a>)
        </p></li><li class="listitem"><p>
          Electromagnetic Emission Parser parses field Event Id as Entity Id.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8227">Bug
          8227</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

Bluetooth HCI,
CLNP,
DCP-ETSI,
DIS PDU,
DOCSIS CM-STATUS,
DTLS,
DTN,
Fibre Channel,
GTPv2,
ISUP,
JXTA,
MPLS,
MS-MMC,
NTLMSSP,
R3,
RTPS,
SNMP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

No new or updated capture file support.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with libsmi.
      (<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      "Closing File!" Dialog Hangs.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3046">Bug
      3046</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times when displayed as
      a custom column.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
