<div class="article" title="Wireshark 1.4.1 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36127917"></a>Wireshark 1.4.1 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2010-12.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            The Penetration Test Team of NCNIPC (China) discovered that the
            ASN.1 BER dissector was susceptible to a stack overflow.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5230">Bug
            5230</a>)
          </p><p>Versions affected: All previous versions up to and including
          1.2.11 and 1.4.0.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-3445">CVE-2010-3445</a>
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Wireshark may appear offscreen on multi-monitor Windows systems.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
          553</a>)
        </p></li><li class="listitem"><p>
          Incorrect behavior using sorting in the packet list.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2225">Bug
          2225</a>)
        </p></li><li class="listitem"><p>
          Cooked-capture dissector should omit the source address field if empty.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2519">Bug
          2519</a>)
        </p></li><li class="listitem"><p>
          MySQL dissector doesn't dissect MySQL stream.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2691">Bug
          2691</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes if active display filter macro is renamed.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5002">Bug
          5002</a>)
        </p></li><li class="listitem"><p>
          Incorrect dissection of MAP V2 PRN_ACK.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5076">Bug
          5076</a>)
        </p></li><li class="listitem"><p>
          TCP bytes_in_flight becomes inflated with lost packets.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5132">Bug
          5132</a>)
        </p></li><li class="listitem"><p>
          Wireshark fails to start on Windows XP 64bit.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5160">Bug
          5160</a>)
        </p></li><li class="listitem"><p>
          GTP header is exported in PDML with an incorrect size.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5162">Bug
          5162</a>)
        </p></li><li class="listitem"><p>
          Packet list hidden columns will not be parsed correctly from preferences file.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5163">Bug
          5163</a>)
        </p></li><li class="listitem"><p>
          Wireshark does not display the t.38 graph.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5165">Bug
          5165</a>)
        </p></li><li class="listitem"><p>
          Wireshark don't show mgcp calls in "Telephony → VoIP calls".
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5167">Bug
          5167</a>)
        </p></li><li class="listitem"><p>
          Wireshark 1.4.0 &amp; VoIP calls "Prepare Filter" problem.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5172">Bug
          5172</a>)
        </p></li><li class="listitem"><p>
          GTPv2: IMSI is decoded improperly.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5179">Bug
          5179</a>)
        </p></li><li class="listitem"><p>
          [NAS EPS] EPS Quality of Service IE decoding is wrong.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5186">Bug
          5186</a>)
        </p></li><li class="listitem"><p>
          Wireshark mistakenly writes "not all data available" for IPv4 checksum.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5194">Bug
          5194</a>)
        </p></li><li class="listitem"><p>
          GSM: Cell Channel Description, range 1024 format.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5214">Bug
          5214</a>)
        </p></li><li class="listitem"><p>
          Wrong SDP interpretation on VoIP call flow chart.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5220">Bug
          5220</a>)
        </p></li><li class="listitem"><p>
          The CLDAP attribute value on a CLDAP reply is no longer being decoded.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5239">Bug
          5239</a>)
        </p></li><li class="listitem"><p>
          [NAS EPS] Traffic Flow Template IE dissection bugs.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5243">Bug
          5243</a>)
        </p></li><li class="listitem"><p>
          [NAS EPS] Use Request Type IE defined in 3GPP 24.008.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5246">Bug
          5246</a>)
        </p></li><li class="listitem"><p>
          NTLMSSP_AUTH domain and username truncated to first letter with IE8/Windows7 (generating the NTLM packet).
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5251">Bug
          5251</a>)
        </p></li><li class="listitem"><p>
          IPv6 RH0: dest addr is to be used i.s.o. last RH address when 0 segments remain.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5252">Bug
          5252</a>)
        </p></li><li class="listitem"><p>
          EIGRP dissection error in Flags field in external route TLVs.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5261">Bug
          5261</a>)
        </p></li><li class="listitem"><p>
          MRP packet is not correctly parsed in PROFINET multiple write record request.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5267">Bug
          5267</a>)
        </p></li><li class="listitem"><p>
          MySQL Enhancement: support of Show Fields and bug fix.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5271">Bug
          5271</a>)
        </p></li><li class="listitem"><p>
          [NAS EPS] Fix TFT decoding when having several Packet Filters defined.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5274">Bug
          5274</a>)
        </p></li><li class="listitem"><p>
          Crash if using ssl.debug.file with no password for ssl.keys_list.
          (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5277">Bug
          5277</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ASN.1 BER,
ASN.1 PER,
EIGRP,
GSM A RR,
GSM Management,
GSM MAP,
GTP,
GTPv2,
ICMPv6,
Interlink,
IPv4,
IPv6,
IPX,
LDAP,
LLC,
MySQL,
NAS EPS,
NTLMSSP,
PN-IO,
PPP,
RPC,
SDP,
SLL,
SSL,
TCP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

There are no new or updated capture file formats in this release.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
