<div id="header">
<h1>Wireshark 2.6.3 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-44">wnpa-sec-2018-44</a></p>
<div class="paragraph">
<p>Bluetooth AVDTP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14884">Bug 14884</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16058">CVE-2018-16058</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-45">wnpa-sec-2018-45</a></p>
<div class="paragraph">
<p>Bluetooth Attribute Protocol dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14994">Bug 14994</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16056">CVE-2018-16056</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-46">wnpa-sec-2018-46</a></p>
<div class="paragraph">
<p>Radiotap dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15022">Bug 15022</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16057">CVE-2018-16057</a>.</p>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark Hangs on startup initializing external capture plugins. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14657">Bug 14657</a>.</p>
</li>
<li>
<p>Qt: SCTP Analyse Association Dialog: Segmentation fault when clicking twice the Filter Association button. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14970">Bug 14970</a>.</p>
</li>
<li>
<p>Incorrect presentation of dissected data item (NETMASK) in ISAKMP dissector. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14987">Bug 14987</a>.</p>
</li>
<li>
<p>Decode NFAPI: CONFIG.request  Error. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14988">Bug 14988</a>.</p>
</li>
<li>
<p>udpdump frame too long error. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14989">Bug 14989</a>.</p>
</li>
<li>
<p>ISDN - LAPD dissector broken since version 2.5.0. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15018">Bug 15018</a>.</p>
</li>
<li>
<p>ASTERIX Category 062 / 135 Altitude has wrong value. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15030">Bug 15030</a>.</p>
</li>
<li>
<p>Wireshark cannot decrypt SSL/TLS session if it was proxied over HTTP tunnel. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15042">Bug 15042</a>.</p>
</li>
<li>
<p>TLS records in a HTTP tunnel are displayed as "Encrypted Handshake Message". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15043">Bug 15043</a>.</p>
</li>
<li>
<p>BTATT Dissector: Temperature Measurement: Celsius and Fahrenheit swapped. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15058">Bug 15058</a>.</p>
</li>
<li>
<p>Diameter AVP User Location Info, Mobile Network Code decoded not correctly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15068">Bug 15068</a>.</p>
</li>
<li>
<p>Heartbeat message "Info" displayed without comma separator. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15079">Bug 15079</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASTERIX, Bluetooth, Bluetooth ATT, Bluetooth AVDTP, DHCP, DTLS, E.212, FP, GSM A RR, HTTP, HTTP2, IEEE 802.11, ISAKMP, ISDN, K12, NFAPI, Nordic BLE, PFCP, Radiotap, SSL, Steam IHS Discovery, and TLS 1.3</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>ciscodump, udpdump</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-08-29 15:26:25 UTC
</div>
</div>
