<div class="article" title="Wireshark 1.8.8 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="idp3912544"></a>Wireshark 1.8.8 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-32.html">wnpa-sec-2013-32</a>
          </p><p>
	    The CAPWAP dissector could crash. Discovered by  Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8725">Bug
            8725</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7, 1.6.0 to 1.6.15.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4074">CVE-2013-4074</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-33.html">wnpa-sec-2013-33</a>
          </p><p>
	    The GMR-1 BCCH dissector could crash. Discovered by Sylvain Munaut and Laurent Butti.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7664">Bug
            7664</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8726">Bug
            8726</a>
	    )
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4075">CVE-2013-4075</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-34.html">wnpa-sec-2013-34</a>
          </p><p>
	    The PPP dissector could crash. Discovered by Laurent Butti.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7880">Bug
            7880</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8727">Bug
            8727</a>
	    )
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4076">CVE-2013-4076</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-35.html">wnpa-sec-2013-35</a>
          </p><p>
	    The NBAP dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8697">Bug
            8697</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4077">CVE-2013-4077</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-36.html">wnpa-sec-2013-36</a>
          </p><p>
	    The RDP dissector could crash. Discovered by Laurent Butti
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8729">Bug
            8729</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4078">CVE-2013-4078</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-37.html">wnpa-sec-2013-37</a>
          </p><p>
	    The GSM CBCH dissector could crash. Discovered by Laurent Butti
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8730">Bug
            8730</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4079">CVE-2013-4079</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-38.html">wnpa-sec-2013-38</a>
          </p><p>
	    The Assa Abloy R3 dissector could consume excessive memory and CPU.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8764">Bug
            8764</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4080">CVE-2013-4080</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-39.html">wnpa-sec-2013-39</a>
          </p><p>
	    The HTTP dissector could overrun the stack. Discovered by David Keeler.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8733">Bug
            8733</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7, 1.6.0 to 1.6.15.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4081">CVE-2013-4081</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-40.html">wnpa-sec-2013-40</a>
          </p><p>
	    The Ixia IxVeriWave file parser could overflow the heap. Discovered by Sachin Shinde.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8760">Bug
            8760</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.7.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4082">CVE-2013-4082</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-41.html">wnpa-sec-2013-41</a>
          </p><p>
	    The DCP ETSI dissector could crash.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8717">Bug
            8717</a>)
          </p><p>Versions affected: 1.10.0, 1.8.0 to 1.8.7, 1.6.0 to 1.6.15.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-4083">CVE-2013-4083</a>
	  </p>
      </li></ul></div><p>
    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          TRY_TO_FAKE_THIS_ITEM disables bounds errors.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3290">Bug
          3290</a>)
        </p></li><li class="listitem"><p>
          Multiple expert info in a packet does not cause the most "severe" to be displayed in expert column.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7733">Bug
          7733</a>)
        </p></li><li class="listitem"><p>
          tshark -z io,stat reports bad byte counts if filter doesn't match anything.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8066">Bug
          8066</a>)
        </p></li><li class="listitem"><p>
          Add decryption for WPA eapol 4-way handshake.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8680">Bug
          8680</a>)
        </p></li><li class="listitem"><p>
          wireshark is crashing while attempting to use 'SCTP' -&gt; 'Prepare Filter for this Association'.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8731">Bug
          8731</a>)
        </p></li><li class="listitem"><p>
          Crash analyzing VoIP Calls (T38).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8736">Bug
          8736</a>)
        </p></li><li class="listitem"><p>
          IMAP Dissector, Missing byte.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8739">Bug
          8739</a>)
        </p></li><li class="listitem"><p>
          C12.22 Invocation Id shows negative sometimes.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8744">Bug
          8744</a>)
        </p></li><li class="listitem"><p>
          gsm_a_dtap dissector (SMS): under certain conditions fillbits may be displayed for an alphanumeric TP-Originating-Address.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8756">Bug
          8756</a>)
        </p></li><li class="listitem"><p>
          TETRA dissector assertion.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8768">Bug
          8768</a>)
        </p></li><li class="listitem"><p>
          Mark retransmitted SYN and FIN packets as retransmissions.
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>



Bittorrent DHT,
C12.22,
CAPWAP,
DCP ETSI,
EAPOL,
GMR-1 BCCH,
GSM CBCH,
GSM SMS,
HTTP,
IMAP,
NBAP,
PPP,
R3,
RDP,
SGsAP,
T.38,
TETRA

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Ixia IxVeriWave.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>