<div class="article" title="Wireshark 1.4.4 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.4.4 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-04.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            Huzaifa Sidhpurwala of the Red Hat Security Response Team discovered
            that Wireshark could free an uninitialized pointer while reading a
            malformed pcap-ng file.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5652">Bug
            5652</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.14 and 1.4.0 to 1.4.3.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2011-0538">CVE-2011-0538</a>
          </p></li><li class="listitem"><p>
            Huzaifa Sidhpurwala of the Red Hat Security Response Team discovered
            that a large packet length in a pcap-ng file could crash Wireshark.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5661">Bug
            5661</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.14 and 1.4.0 to 1.4.3.</p></li><li class="listitem"><p>

            Wireshark could overflow a buffer while reading a Nokia DCT3
            trace file.

          </p><p>Versions affected: 1.2.0 to 1.2.14 and 1.4.0 to 1.4.3.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2011-0713">CVE-2011-0713</a>
          </p></li><li class="listitem"><p>
            Paul Makowski working for SEI/CERT discovered that Wireshark on 32
            bit systems could crash while reading a malformed 6LoWPAN packet.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5722">Bug
            5722</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.3.</p></li><li class="listitem"><p>
            joernchen of Phenoelit discovered that the LDAP and SMB dissectors
            could overflow the stack.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5717">Bug
            5717</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.14 and 1.4.0 to 1.4.3. (Prior versions including 1.0.x are also affected.)</p></li><li class="listitem"><p>
            Xiaopeng Zhang of Fortinet's Fortiguard Labs discovered that large
            LDAP Filter strings can consume excessive amounts of memory.

            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5732">Bug
            5732</a>)
          </p><p>Versions affected: 1.2.0 to 1.2.14 and 1.4.0 to 1.4.3. (Prior versions including 1.0.x are also affected.)</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          A TCP stream would not always be recognized as the same stream.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2907">Bug
          2907</a>)
        </p></li><li class="listitem"><p>
          Wireshark Crashing by pressing 2 Buttons.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4645">Bug
          4645</a>)
        </p></li><li class="listitem"><p>
          A crash can occur in the NTLMSSP dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5157">Bug
          5157</a>)
        </p></li><li class="listitem"><p>
          The column texts from a Lua dissector could be mangled.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5326">Bug
          5326</a>)
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5630">Bug
          5630</a>)
        </p></li><li class="listitem"><p>
          Corrections to ANSI MAP ASN.1 specifications.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5584">Bug
          5584</a>)
        </p></li><li class="listitem"><p>
          When searching in packet bytes, the field and bytes are not immediately shown.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5585">Bug
          5585</a>)
        </p></li><li class="listitem"><p>
          Malformed Packet: ULP reported when dissecting ULP SessionID PDU.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5593">Bug
          5593</a>)
        </p></li><li class="listitem"><p>
          Wrong IEI in container of decode_gtp_mm_cntxt.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5598">Bug
          5598</a>)
        </p></li><li class="listitem"><p>
          Display filter does not work for expressions of type BASE_DEC, BASE_DEC_HEX and BASE_HEX_DEC.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5606">Bug
          5606</a>)
        </p></li><li class="listitem"><p>
          NTLMSSP dissector may fail to compile due to space embedded in C comment delimiters.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5614">Bug
          5614</a>)
        </p></li><li class="listitem"><p>
          Allow for name resolution of link-scope and multicast IPv6 addresses from local host file.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5615">Bug
          5615</a>)
        </p></li><li class="listitem"><p>
          DHCPv6 dissector formats DUID_LLT time incorrectly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5627">Bug
          5627</a>)
        </p></li><li class="listitem"><p>
          Allow for IEEE 802.3bc-2009 style PoE TLVs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5639">Bug
          5639</a>)
        </p></li><li class="listitem"><p>
          Various fixes to the HIP packet dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5646">Bug
          5646</a>)
        </p></li><li class="listitem"><p>
          Display "Day of Year" for January 1 as 1, not 0.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5653">Bug
          5653</a>)
        </p></li><li class="listitem"><p>
          Accommodate the CMake build on Ubuntu 10.10.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5665">Bug
          5665</a>)
        </p></li><li class="listitem"><p>
          E.212 MCC 260 Poland update according to local national regulatory.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5668">Bug
          5668</a>)
        </p></li><li class="listitem"><p>
          IPP on ports other than 631 not recognized.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5677">Bug
          5677</a>)
        </p></li><li class="listitem"><p>
          Potential access violation when writing to LANalyzer files.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5698">Bug
          5698</a>)
        </p></li><li class="listitem"><p>
          IEEE 802.15.4 Superframe Specification - Final CAP Slot always 0.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5700">Bug
          5700</a>)
        </p></li><li class="listitem"><p>
          Peer SRC and DST AS numbers are swapped for cflow.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5702">Bug
          5702</a>)
        </p></li><li class="listitem"><p>
          dumpcap: -q option behavior doesn't match documentation.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5716">Bug
          5716</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ANSI MAP,
BitTorrent,
DCM,
DHCPv6,
DTAP,
DTPT,
E.212,
GSM Management,
GTP,
HIP,
IEEE 802.15.4,
IPP,
LDAP,
LLDP,
Netflow,
NTLMSSP,
P_Mul,
Quake,
Skinny,
SMB,
SNMP,
ULP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

LANalyzer, Nokia DCT3, Pcap-ng

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
