<div class="article" title="Wireshark 1.8.7 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="idp3912512"></a>Wireshark 1.8.7 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-23.html">wnpa-sec-2013-23</a>
          </p><p>
	    The RELOAD dissector could go into an infinite loop. Discovered by Evan Jensen.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8364">Bug
            8364</a>,
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8546">Bug
            8546</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2486">CVE-2013-2486</a>
          </p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-2487">CVE-2013-2487</a>
          </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-24.html">wnpa-sec-2013-24</a>
          </p><p>
	    The GTPv2 dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8493">Bug
            8493</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3555">CVE-2013-3555</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-25.html">wnpa-sec-2013-25</a>
          </p><p>
	    The ASN.1 BER dissector could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8599">Bug
            8599</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6, 1.6.0 to 1.6.14.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3556">CVE-2013-3556</a>
	  </p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3557">CVE-2013-3557</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-26.html">wnpa-sec-2013-26</a>
          </p><p>
	    The PPP CCP dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8638">Bug
            8638</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3558">CVE-2013-3558</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-27.html">wnpa-sec-2013-27</a>
          </p><p>
	    The DCP ETSI dissector could crash. Discovered by Evan Jensen.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8231">Bug
            8231</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8540">bug
            8540</a>,
	    <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8541">bug
            8541</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3559">CVE-2013-3559</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-28.html">wnpa-sec-2013-28</a>
          </p><p>
	    The MPEG DSM-CC dissector could crash.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8481">Bug
	    8481</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3560">CVE-2013-3560</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-29.html">wnpa-sec-2013-29</a>
          </p><p>
	    The Websocket dissector could crash. Discovered by Moshe Kaplan.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8448">Bug
            8448</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8499">Bug
            8499</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3561">CVE-2013-3561</a>
	  </p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3562">CVE-2013-3562</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-30.html">wnpa-sec-2013-30</a>
          </p><p>
	    The MySQL dissector could go into an infinite loop. Discovered by Moshe Kaplan.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8458">Bug
            8458</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3561">CVE-2013-3561</a>
	  </p>
      </li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2013-31.html">wnpa-sec-2013-31</a>
          </p><p>
	    The ETCH dissector could go into a large loop. Discovered by Moshe Kaplan.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8464">Bug
            8464</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.6.</p>
	  <p>
	  <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2013-3561">CVE-2013-3561</a>
	  </p>
      </li></ul></div><p>
    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	  The Windows installer and uninstaller does a better job of detecting
	  running executables.
	</p></li><li class="listitem"><p>
          Library mismatch when compiling on a system with an older Wireshark version.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6011">Bug
          6011</a>)
        </p></li><li class="listitem"><p>
          SNMP dissector bug: STATUS_INTEGER_DIVIDE_BY_ZERO.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7359">Bug
          7359</a>)
        </p></li><li class="listitem"><p>
          A console window is never opened.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7755">Bug
          7755</a>)
        </p></li><li class="listitem"><p>
          GSM_MAP show malformed Packets when two IMSI.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7882">Bug
          7882</a>)
        </p></li><li class="listitem"><p>
          Fix include and libs search path when cross compiling.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7926">Bug
          7926</a>)
        </p></li><li class="listitem"><p>
          PER dissector crash.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8197">Bug
          8197</a>)
        </p></li><li class="listitem"><p>
          pcap-ng: name resolution block is not written to file on save.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8317">Bug
          8317</a>)
        </p></li><li class="listitem"><p>
          Incorrect RTP statistics (Lost Packets indication not ok).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8321">Bug
          8321</a>)
        </p></li><li class="listitem"><p>
          Decoding of GSM MAP E164 Digits.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8450">Bug
          8450</a>)
        </p></li><li class="listitem"><p>
          Silent installer and uninstaller not silent.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8451">Bug
          8451</a>)
        </p></li><li class="listitem"><p>
          Replace use of INCLUDES with AM_CPPFLAGS in all Makefiles to placate recent autotools.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8452">Bug
          8452</a>)
        </p></li><li class="listitem"><p>
          Wifi details are not stored in the Decryption Key Management dialog (post 1.8.x).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8446">Bug
          8446</a>)
        </p></li><li class="listitem"><p>
          IO Graph should not be limited to 100k points (NUM_IO_ITEMS).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8460">Bug
          8460</a>)
        </p></li><li class="listitem"><p>
          geographical_description: hf_gsm_a_geo_loc_deg_of_long 24 bit field truncated to 23 bits.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8532">Bug
          8532</a>)
        </p></li><li class="listitem"><p>
          IRC message with multiple params causes malformed packet exception.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8548">Bug
          8548</a>)
        </p></li><li class="listitem"><p>
          Part of Ping Reply Message in ICMPv6 Reply Message is marked as "Malformed Packet".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8554">Bug
          8554</a>)
        </p></li><li class="listitem"><p>
          MP2T wiretap heuristic overriding ERF.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8556">Bug
          8556</a>)
        </p></li><li class="listitem"><p>
          Cannot read content of Ran Information Application Error Rim Container.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8559">Bug
          8559</a>)
        </p></li><li class="listitem"><p>
          Endian error and IP:Port error when decoding BT-DHT response message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8572">Bug
          8572</a>)
        </p></li><li class="listitem"><p>
          "ACE4_ADD_FILE/ACE4_ADD_SUBDIRECTORY" should be "ACE4_APPEND_DATA / ACE4_ADD_SUBDIRECTORY".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8575">Bug
          8575</a>)
        </p></li><li class="listitem"><p>
          wireshark crashes while displaying I/O Graph.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8583">Bug
          8583</a>)
        </p></li><li class="listitem"><p>
          GTPv2 MM Context (UMTS Key, Quad, and Quint Decoded) incorrectly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8596">Bug
          8596</a>)
        </p></li><li class="listitem"><p>
          DTLS 1.2 uses wrong PRF.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8608">Bug
          8608</a>)
        </p></li><li class="listitem"><p>
          RTP DTMF digits are no longer displayed in VoIP graph analysis.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8610">Bug
          8610</a>)
        </p></li><li class="listitem"><p>
          Universal port not accepted in RSA Keys List window.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8618">Bug
          8618</a>)
        </p></li><li class="listitem"><p>
          Wireshark Dissector bug with HSRP Version 2.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8622">Bug
          8622</a>)
        </p></li><li class="listitem"><p>
          LISP control packet incorrectly identified as LISP data based when UDP source port is 4341.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8627">Bug
          8627</a>)
        </p></li><li class="listitem"><p>
          Bad tcp checksum not detected.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8629">Bug
          8629</a>)
        </p></li><li class="listitem"><p>
          AMR Frame Type uses wrong Value String.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8681">Bug
          8681</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>



AMR,
ASN.1 BER,
BAT,
Bluetooth DHT,
BSSGP,
DTLS,
E.164,
Ericsson A-bis OML,
GSM A,
GSM MAP,
HDFSDATA,
ICMP,
ICMPv6,
ixveriwave,
IRC,
KDSP,
LISP Data,
MMS,
NFS,
OpenWire,
PPP,
RELOAD,
RTP,
SASP,
SIP,
SSL/TLS,
TCP,
UA3G

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Endace ERF, NetScreen snoop.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
