<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm188729339664"></a>Wireshark 2.0.2 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-01.html">wnpa-sec-2016-01</a>
</p><p class="simpara">DLL hijacking vulnerability.

<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2521">CVE-2016-2521</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-02.html">wnpa-sec-2016-02</a>
</p><p class="simpara">ASN.1 BER dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11828">Bug 11828</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2522">CVE-2016-2522</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-03.html">wnpa-sec-2016-03</a>
</p><p class="simpara">DNP dissector infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11938">Bug 11938</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2523">CVE-2016-2523</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-04.html">wnpa-sec-2016-04</a>
</p><p class="simpara">X.509AF dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12002">Bug 12002</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2524">CVE-2016-2524</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-05.html">wnpa-sec-2016-05</a>
</p><p class="simpara">HTTP/2 dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12077">Bug 12077</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2525">CVE-2016-2525</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-06.html">wnpa-sec-2016-06</a>
</p><p class="simpara">HiQnet dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11983">Bug 11983</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2526">CVE-2016-2526</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-07.html">wnpa-sec-2016-07</a>
</p><p class="simpara">3GPP TS 32.423 Trace file parser crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11982">Bug 11982</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2527">CVE-2016-2527</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-08.html">wnpa-sec-2016-08</a>
</p><p class="simpara">LBMC dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11984">Bug 11984</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2528">CVE-2016-2528</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-09.html">wnpa-sec-2016-09</a>
</p><p class="simpara">iSeries file parser crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11985">Bug 11985</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2529">CVE-2016-2529</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-10.html">wnpa-sec-2016-10</a>
</p><p class="simpara">RSL dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11829">Bug 11829</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2530">CVE-2016-2530</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2531">CVE-2016-2531</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-11.html">wnpa-sec-2016-11</a>
</p><p class="simpara">LLRP dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12048">Bug 12048</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2532">CVE-2016-2532</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-12.html">wnpa-sec-2016-12</a>
</p><p class="simpara">Ixia IxVeriWave file parser crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11795">Bug 11795</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-13.html">wnpa-sec-2016-13</a>
</p><p class="simpara">IEEE 802.11 dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11818">Bug 11818</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-14.html">wnpa-sec-2016-14</a>
</p><p class="simpara">GSM A-bis OML dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11825">Bug 11825</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-15.html">wnpa-sec-2016-15</a>
</p><p class="simpara">ASN.1 BER dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12106">Bug 12106</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-16.html">wnpa-sec-2016-16</a>
</p><p class="simpara">SPICE dissector large loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12151">Bug 12151</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-17.html">wnpa-sec-2016-17</a>
</p><p class="simpara">NFS dissector crash.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-18.html">wnpa-sec-2016-18</a>
</p><p class="simpara">ASN.1 BER dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11822">Bug 11822</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
HTTP 302 decoded as TCP when "Allow subdissector to reassemble TCP streams" option is enabled. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9848">Bug 9848</a>)
</li><li class="listitem">
Questionable calling of ethernet dissector by encapsulating protocol dissectors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9933">Bug 9933</a>)
</li><li class="listitem">
[Qt &amp; Legacy &amp; probably TShark too] Delta Time Conversation column is empty. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11559">Bug 11559</a>)
</li><li class="listitem">
extcap: abort when validating capture filter for DLT 147. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11656">Bug 11656</a>)
</li><li class="listitem">
Missing columns in Qt Flow Graph. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11710">Bug 11710</a>)
</li><li class="listitem">
Interface list doesn’t show well when the list is very long. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11733">Bug 11733</a>)
</li><li class="listitem">
Unable to use saved Capture Filters in Qt UI. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11836">Bug 11836</a>)
</li><li class="listitem">
extcap: Capture interface options snaplen, buffer and promiscuous not being used. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11865">Bug 11865</a>)
</li><li class="listitem">
Improper RPC reassembly (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11913">Bug 11913</a>)
</li><li class="listitem">
GTPv1 Dual Stack with one static and one Dynamic IP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11945">Bug 11945</a>)
</li><li class="listitem">
Wireshark 2.0.1 MPLS dissector not decoding payload when control word is present in pseudowire. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11949">Bug 11949</a>)
</li><li class="listitem">
"…using this filter" turns white (not green or red). Plus dropdown arrow does nothing. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11950">Bug 11950</a>)
</li><li class="listitem">
EIGRP field eigrp.ipv4.destination does not show the correct destination. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11953">Bug 11953</a>)
</li><li class="listitem">
tshark -z conv,type[,filter] swapped frame / byte values from / to columns. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11959">Bug 11959</a>)
</li><li class="listitem">
The field name nstrace.tcpdbg.tcpack should be nstrace.tcpdbg.tcprtt. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11964">Bug 11964</a>)
</li><li class="listitem">
6LoWPAN IPHC traffic class not decompressed correctly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11971">Bug 11971</a>)
</li><li class="listitem">
Crash with snooping NFS file handles. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11972">Bug 11972</a>)
</li><li class="listitem">
802.11 dissector fails to decrypt some broadcast messages. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11973">Bug 11973</a>)
</li><li class="listitem">
Wireshark hangs when adding a new profile. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11979">Bug 11979</a>)
</li><li class="listitem">
Issues when closing the application with a running capture without packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11981">Bug 11981</a>)
</li><li class="listitem">
New Qt UI lacks ability to step through multiple TCP streams with Analyze &gt; Follow &gt; TCP Stream. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11987">Bug 11987</a>)
</li><li class="listitem">
GTK: plugin_if_goto_frame causes Access Violation if called before capture file is loaded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11989">Bug 11989</a>)
</li><li class="listitem">
Wireshark 2.0.1 crash on start. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11992">Bug 11992</a>)
</li><li class="listitem">
Wi-Fi 4-way handshake 4/4 is displayed as 2/4. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11994">Bug 11994</a>)
</li><li class="listitem">
ACN: acn.dmx.data has incorrect type. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11999">Bug 11999</a>)
</li><li class="listitem">
editcap packet comment won’t add multiple comments. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12007">Bug 12007</a>)
</li><li class="listitem">
DICOM Sequences no longer able to be expanded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12011">Bug 12011</a>)
</li><li class="listitem">
Wrong TCP stream when port numbers are reused. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12022">Bug 12022</a>)
</li><li class="listitem">
SSL decryption fails in presence of a Client certificate. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12042">Bug 12042</a>)
</li><li class="listitem">
LUA: TVBs backing a data source is freed too early. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12050">Bug 12050</a>)
</li><li class="listitem">
PIM: pim.group filter have the same name for IPv4 and IPv6. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12061">Bug 12061</a>)
</li><li class="listitem">
Failed to parse M3AP IE (TNL information). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12070">Bug 12070</a>)
</li><li class="listitem">
Wrong interpretation of Instance ID value in OSPFv3 packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12072">Bug 12072</a>)
</li><li class="listitem">
MP2T Dissector does parse RTP properly in 2.0.1. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12099">Bug 12099</a>)
</li><li class="listitem">
editcap does not adjust time for frames with absolute timestamp 0 &lt; t &lt; 1 secs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12116">Bug 12116</a>)
</li><li class="listitem">
Guard Interval is not consistent between Radiotap &amp; wlan_radio. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12123">Bug 12123</a>)
</li><li class="listitem">
Calling dumpcap -i- results in access violation. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12143">Bug 12143</a>)
</li><li class="listitem">
Qt: Friendly Name and Interface Name columns should not be editable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12146">Bug 12146</a>)
</li><li class="listitem">
PPTP GRE call ID not always decoded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12149">Bug 12149</a>)
</li><li class="listitem">
Interface list does not show device description anymore. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12156">Bug 12156</a>)
</li><li class="listitem">
Find Packet does not highlight the matching tree item or packet bytes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12157">Bug 12157</a>)
</li><li class="listitem">
"total block length … is too large" error when opening pcapng file with multiple SHB sections. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12167">Bug 12167</a>)
</li><li class="listitem">
http.request.full_uri is malformed if an HTTP Proxy is used. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12176">Bug 12176</a>)
</li><li class="listitem">
SNMP dissector fails at msgSecurityParameters with long length encoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12181">Bug 12181</a>)
</li></ul></div><p>Windows installers and PortableApps® packages are now dual signed using SHA-1 and SHA-256
in order to comply with
<a class="ulink" href="http://social.technet.microsoft.com/wiki/contents/articles/32288.windows-enforcement-of-authenticode-code-signing-and-timestamping.aspx">Microsoft Authenticode policy</a>.
Windows 7 and Windows Server 2008 R2 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/3123479">update 3123479</a> is installed.
Windows Vista and Windows Server 2008 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/2763674">hotfix 2763674</a> is installed.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
ACN,
ASN.1 BER,
BATADV,
DICOM,
DNP3,
DOCSIS INT-RNG-REQ,
E100,
EIGRP,
GSM A DTAP,
GSM SMS,
GTP,
HiQnet,
HTTP,
HTTP/2,
IEEE 802.11,
IKEv2,
InfiniBand,
IPv4,
IPv6,
LBMC,
LLRP,
M3AP,
MAC LTE,
MP2T,
MPLS,
NFS,
NS Trace,
OSPF,
PIM,
PPTP,
RLC LTE,
RoHC,
RPC,
RSL,
SNMP,
SPICE,
SSL,
TCP,
TRILL,
VXLAN,
WaveAgent,
and X.509AF</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>3GPP TS 32.423 Trace,
iSeries,
Ixia IxVeriWave,
pcap,
and pcapng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
