<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm150635191392"></a>Wireshark 2.2.2 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-58.html">wnpa-sec-2016-58</a>
</p><p class="simpara">Profinet I/O long loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12851">Bug 12851</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-59.html">wnpa-sec-2016-59</a>
</p><p class="simpara">AllJoyn crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12953">Bug 12953</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-60.html">wnpa-sec-2016-60</a>
</p><p class="simpara">OpenFlow crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13071">Bug 13071</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-61.html">wnpa-sec-2016-61</a>
</p><p class="simpara">DCERPC crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13072">Bug 13072</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-62.html">wnpa-sec-2016-62</a>
</p><p class="simpara">DTN infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13097">Bug 13097</a>)</p></li></ul></div><p>The Windows PortableApps packages were susceptible to a
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12724">DLL hijacking flaw</a>.</p><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
TCP: nextseq incorrect if TCP_MAX_UNACKED_SEGMENTS exceeded &amp; FIN true. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12579">Bug 12579</a>)
</li><li class="listitem">
SMPP schedule_delivery_time displayed wrong in Wireshark 2.1.0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12632">Bug 12632</a>)
</li><li class="listitem">
Upgrading to latest version uninstalls Microsoft Visual C++ redistributable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12712">Bug 12712</a>)
</li><li class="listitem">
dmg for OS X does not install man pages. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12746">Bug 12746</a>)
</li><li class="listitem">
Fails to compile against Heimdal 1.5.3. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12831">Bug 12831</a>)
</li><li class="listitem">
TCP: Next sequence number off by one when sending payload in SYN packet (e.g. TFO). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12838">Bug 12838</a>)
</li><li class="listitem">
Follow TCP Stream shows duplicate stream data. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12855">Bug 12855</a>)
</li><li class="listitem">
Dissection engine falsely asserts that EIGRP packet’s checksum is incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12982">Bug 12982</a>)
</li><li class="listitem">
IEEE 802.15.4 frames erroneously handed over to ZigBee dissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12984">Bug 12984</a>)
</li><li class="listitem">
Capture Filter Bookmark Inactive in Capture Options page. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12986">Bug 12986</a>)
</li><li class="listitem">
CLNP dissector does not parse ER NPDU properly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12993">Bug 12993</a>)
</li><li class="listitem">
SNMP trap bindings for NON scalar OIDs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13013">Bug 13013</a>)
</li><li class="listitem">
BGP LS Link Protection Type TLV (1093) decoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13021">Bug 13021</a>)
</li><li class="listitem">
Application crash sorting column for tcp.window_size_scalefactor up and down. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13023">Bug 13023</a>)
</li><li class="listitem">
ZigBee Green Power add key during execution. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13031">Bug 13031</a>)
</li><li class="listitem">
Malformed AMPQ packets for session.expected and session.confirmed fields. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13037">Bug 13037</a>)
</li><li class="listitem">
Wireshark 2.2.1 crashes when attempting to merge pcap files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13060">Bug 13060</a>)
</li><li class="listitem">
[IS-637A] SMS - Teleservice layer parameter -→ IA5 encoded text is not correctly displayed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13065">Bug 13065</a>)
</li><li class="listitem">
Field sna.gds is is not of an FT_{U}INTn type. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13084">Bug 13084</a>)
</li><li class="listitem">
Failure to dissect USB Audio feature unit descriptors missing the iFeature field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13085">Bug 13085</a>)
</li><li class="listitem">
MSISDN not populated/decoded in JSON GTP-C decoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13086">Bug 13086</a>)
</li><li class="listitem">
E212: 3 digits MNC are identified as 2 digits long if they end with a 0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13092">Bug 13092</a>)
</li><li class="listitem">
Exception with last unknown Cisco AVP available in a SCCRQ message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13103">Bug 13103</a>)
</li><li class="listitem">
TShark stalls on FreeBSD if androiddump is present. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13104">Bug 13104</a>)
</li><li class="listitem">
Dissector skips DICOM command. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13110">Bug 13110</a>)
</li><li class="listitem">
UUID (FT_GUID) filtering isn’t working. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13121">Bug 13121</a>)
</li><li class="listitem">
Manufacturer name resolution fail. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13126">Bug 13126</a>)
</li><li class="listitem">
packet-sdp.c allocates transport_info→encoding_name from wrong memory pool. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13127">Bug 13127</a>)
</li><li class="listitem">
Payload type name for dynamic payload is wrong for reverse RTP channels. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13132">Bug 13132</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
AllJoyn,
AMPQ,
ANSI IS-637 A,
BGP,
CLNP,
DCERPC,
DICOM,
DTN,
E.212,
EIGRP,
ERF,
GVSP,
IEEE 802.11,
IEEE 802.15.4,
IP,
ISO-8583,
Kerberos,
L2TP,
LACP,
MAC LTE,
OpenFlow,
Profinet I/O,
RTPS,
SCTP,
SDP,
Skype,
SMPP,
SNA,
SNMP,
SPNEGO,
TCP,
USB Audio,
XML,
and ZigBee</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p></p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
