<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm253844434000"></a>Wireshark 2.2.8 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-13.html">wnpa-sec-2017-13</a>
</p><p class="simpara">WBMXL dissector infinite loop
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13477">Bug 13477</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13796">Bug 13796</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-7702">CVE-2017-7702</a>, <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11410">CVE-2017-11410</a></p><p class="simpara">Note: This is an update for a fix in Wireshark 2.2.6 and 2.0.12.</p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-28.html">wnpa-sec-2017-28</a>
</p><p class="simpara">openSAFETY dissector memory exhaustion
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13649">Bug 13649</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13755">Bug 13755</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9350">CVE-2017-9350</a>, <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11411">CVE-2017-11411</a></p><p class="simpara">Note: This is an update for a fix in Wireshark 2.2.7.</p></li></ul></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-34.html">wnpa-sec-2017-34</a>
</p><p class="simpara">AMQP dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13780">Bug 13780</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11408">CVE-2017-11408</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-35.html">wnpa-sec-2017-35</a>
</p><p class="simpara">MQ dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13792">Bug 13792</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11407">CVE-2017-11407</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-36.html">wnpa-sec-2017-36</a>
</p><p class="simpara">DOCSIS infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13797">Bug 13797</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11406">CVE-2017-11406</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Y.1711 dissector reverses defect type order. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8292">Bug 8292</a>)
</li><li class="listitem">
Packet list keeps scrolling back to selected packet while names are being resolved. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12074">Bug 12074</a>)
</li><li class="listitem">
[REGRESSION] Export Objects do not show files from a SMB2 capture. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13214">Bug 13214</a>)
</li><li class="listitem">
LTE RRC: lte-rrc.q_RxLevMin filter fails on negative values. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13481">Bug 13481</a>)
</li><li class="listitem">
Hexpane showing in proportional font again. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13638">Bug 13638</a>)
</li><li class="listitem">
Regression in SCCP fragments handling. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13651">Bug 13651</a>)
</li><li class="listitem">
TCAP SRT incorrectly matches TC_BEGINs and TC_ENDs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13739">Bug 13739</a>)
</li><li class="listitem">
Dissector for WSMP (IEEE 1609.3) not current. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13766">Bug 13766</a>)
</li><li class="listitem">
RANAP: possible issue in the heuristic code. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13770">Bug 13770</a>)
</li><li class="listitem">
[oss-fuzz] UBSAN: shift exponent 35 is too large for 32-bit type <span class="emphasis"><em>int</em></span> in packet-btrfcomm.c:314:37. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13783">Bug 13783</a>)
</li><li class="listitem">
RANAP: false positives on heuristic algorithm. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13791">Bug 13791</a>)
</li><li class="listitem">
Automatic name resolution not saved to PCAP-NG NRB. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13798">Bug 13798</a>)
</li><li class="listitem">
DAAP dissector dissect_daap_one_tag recursion stack exhausted. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13799">Bug 13799</a>)
</li><li class="listitem">
Malformed DCERPC PNIO packet decode, exception handler invalid poionter reference. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13811">Bug 13811</a>)
</li><li class="listitem">
It seems SPVID was decoded from wrong field. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13821">Bug 13821</a>)
</li><li class="listitem">
README.dissectors: Add notes about predefined string structures not available to plugin authors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13828">Bug 13828</a>)
</li><li class="listitem">
Statistics→Packet Lengths doesn’t display details for <span class="emphasis"><em>5120 or greater</em></span>. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13844">Bug 13844</a>)
</li><li class="listitem">
cmake/modules/FindZLIB.cmake doesn’t find inflatePrime. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13850">Bug 13850</a>)
</li><li class="listitem">
BGP: incorrect decoding COMMUNITIES whose length is larger than 255. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13872">Bug 13872</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>AMQP,
BGP,
BSSMAP,
BT RFCOMM,
DAAP,
DOCSIS,
E.212,
FDDI,
GSM A GM,
GSM BSSMAP,
IEEE 802.11,
IP,
ISIS LSP,
LTE RRC,
MQ,
OpenSafety,
OSPF,
PROFINET IO,
RANAP,
SCCP,
SGSAP,
SMB2,
TCAP,
TCP,
UMTS FP,
UMTS RLC,
WBXML,
WSMP,
and Y.1711</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>pcap pcap-ng</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
