<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm305667550704"></a>Wireshark 1.12.10 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-01.html">wnpa-sec-2016-01</a>
</p><p class="simpara">DLL hijacking vulnerability.

<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2521">CVE-2016-2521</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-03.html">wnpa-sec-2016-03</a>
</p><p class="simpara">DNP dissector infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11938">Bug 11938</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2523">CVE-2016-2523</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-10.html">wnpa-sec-2016-10</a>
</p><p class="simpara">RSL dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11829">Bug 11829</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2530">CVE-2016-2530</a>
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2531">CVE-2016-2531</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-11.html">wnpa-sec-2016-11</a>
</p><p class="simpara">LLRP dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12048">Bug 12048</a>)
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2532">CVE-2016-2532</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-14.html">wnpa-sec-2016-14</a>
</p><p class="simpara">GSM A-bis OML dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11825">Bug 11825</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-15.html">wnpa-sec-2016-15</a>
</p><p class="simpara">ASN.1 BER dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12106">Bug 12106</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2016-18.html">wnpa-sec-2016-18</a>
</p><p class="simpara">ASN.1 BER dissector crash.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11822">Bug 11822</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Questionable calling of ethernet dissector by encapsulating protocol dissectors. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9933">Bug 9933</a>)
</li><li class="listitem">
Improper RPC reassembly (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11913">Bug 11913</a>)
</li><li class="listitem">
GTPv1 Dual Stack with one static and one Dynamic IP. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11945">Bug 11945</a>)
</li><li class="listitem">
Failed to parse M3AP IE (TNL information). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12070">Bug 12070</a>)
</li><li class="listitem">
Wrong interpretation of Instance ID value in OSPFv3 packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12072">Bug 12072</a>)
</li><li class="listitem">
MP2T Dissector does parse RTP properly in 2.0.1. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12099">Bug 12099</a>)
</li><li class="listitem">
editcap does not adjust time for frames with absolute timestamp 0 &lt; t &lt; 1 secs. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12116">Bug 12116</a>)
</li></ul></div><p>Windows installers and PortableApps® packages are now dual signed using SHA-1 and SHA-256
in order to comply with
<a class="ulink" href="http://social.technet.microsoft.com/wiki/contents/articles/32288.windows-enforcement-of-authenticode-code-signing-and-timestamping.aspx">Microsoft Authenticode policy</a>.
Windows 7 and Windows Server 2008 R2 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/3123479">update 3123479</a> is installed.
Windows Vista and Windows Server 2008 users should ensure that
<a class="ulink" href="https://support.microsoft.com/en-us/kb/2763674">hotfix 2763674</a> is installed.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ASN.1 BER,
BATADV,
DNP3,
E100,
EIGRP,
GSM A DTAP,
GSM SMS,
GTP,
HiQnet,
InfiniBand,
LLRP,
M3AP,
MP2T,
NFS,
OSPF,
RoHC,
RPC,
RSL,
TRILL,
VXLAN,
and X.509AF</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p></p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
