<div id="header">
<h1>Wireshark 3.2.5 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Windows installers now ship with Npcap 0.9994.
They previously shipped with Npcap 0.9991.</p>
</div>
<div class="paragraph">
<p>The Windows installers now ship with USBPcap 1.5.4.0.
They previously shipped with USBPcap 1.5.3.0.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-09">wnpa-sec-2020-09</a>
GVCP dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16029">Bug 16029</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15466">CVE-2020-15466</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Add decryption support for QUIC IETF version 0xfaceb001 and 0xfaceb002. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16378">Bug 16378</a>.</p>
</li>
<li>
<p>Windows Uninstall does not remove all files in Program Files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16601">Bug 16601</a>.</p>
</li>
<li>
<p>The "relative sequence number" is same as "raw sequence number" when tcp.analyze_sequence_numbers:FALSE. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16604">Bug 16604</a>.</p>
</li>
<li>
<p>Importing profiles from a different Windows PC fails. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16608">Bug 16608</a>.</p>
</li>
<li>
<p>Decode as not working correctly with multiple user profiles. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16635">Bug 16635</a>.</p>
</li>
<li>
<p>Wireshark can misdissect the HE Radiotap field if it’s ever dissected one with any value unknown. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16636">Bug 16636</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2020-06-19-5981.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16639">Bug 16639</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2020-06-20-7665.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16642">Bug 16642</a>.</p>
</li>
<li>
<p>mergecap man page contains invalid formatting. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16652">Bug 16652</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>CoAP, GSM RR, GTPv2, GVCP, LTE RRC, NAS-5GS, NGAP, QUIC, R3, Radiotap, RTPS, and TCP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-07-01 18:13:11 UTC
</div>
</div>
