<div class="article" title="Wireshark 1.2.9 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36127915"></a>Wireshark 1.2.9 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2010-06.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            The SMB dissector could dereference a NULL pointer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4734">Bug
            4734</a>)
          </p><p>Versions affected: 0.99.6 to 1.0.13, 1.2.0 to 1.2.8</p></li><li class="listitem"><p>
            J. Oquendo discovered that the ASN.1 BER dissector could overrun the stack.
            
            
            
            
          </p><p>Versions affected: 0.10.13 to 1.0.13, 1.2.0 to 1.2.8</p></li><li class="listitem"><p>
            The SMB PIPE dissector could dereference a NULL pointer on some platforms.
            
            
            
            
          </p><p>Versions affected: 0.8.20 to 1.0.13, 1.2.0 to 1.2.8</p></li><li class="listitem"><p>
            The SigComp Universal Decompressor Virtual Machine could go into an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4826">Bug
            4826</a>)
          </p><p>Versions affected: 0.10.7 to 1.0.13, 1.2.0 to 1.2.8</p></li><li class="listitem"><p>
            The SigComp Universal Decompressor Virtual Machine could overrun a buffer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4837">Bug
            4837</a>)
          </p><p>Versions affected: 0.10.8 to 1.0.13, 1.2.0 to 1.2.8</p></li></ul></div><p>

    </p><p>
    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Cannot open file with File -&gt; Open.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1791">Bug
          1791</a>)
        </p></li><li class="listitem"><p>
          Application crash when changing real-time option.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
          4035</a>)
        </p></li><li class="listitem"><p>
          Crash in filter autocompletion.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4306">Bug
          4306</a>)
        </p></li><li class="listitem"><p>
          The XML dissector doesn't allow dots (".") in tags.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4405">Bug
          4405</a>)
        </p></li><li class="listitem"><p>
          Live capture stops when using zlib 1.2.5.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4708">Bug
          4708</a>)
        </p></li><li class="listitem"><p>
          Want to be able to apply decode as to Data Portion of Lan Trace.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4721">Bug
          4721</a>)
        </p></li><li class="listitem"><p>
          SABP short pdu (packet_per.c).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4743">Bug
          4743</a>)
        </p></li><li class="listitem"><p>
          Kerberos pre-auth type constants - MS extensions are wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4752">Bug
          4752</a>)
        </p></li><li class="listitem"><p>
          Check HTTP Content-Length parsing for overflow.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4758">Bug
          4758</a>)
        </p></li><li class="listitem"><p>
          Wrong variable used for proto_tree_add_text() in ptp dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4773">Bug
          4773</a>)
        </p></li><li class="listitem"><p>
          Crash when close window frame of gtk file chooser.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4778">Bug
          4778</a>)
        </p></li><li class="listitem"><p>
           text2pcap expects \n delimited text (instead of \r\n) on win32.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4780">Bug
          4780</a>)
        </p></li><li class="listitem"><p>
          Wrong decoding for BGP ORF.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4782">Bug
          4782</a>)
        </p></li><li class="listitem"><p>
          Crash when Ctrl-Backspacing the display filter.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4797">Bug
          4797</a>)
        </p></li><li class="listitem"><p>
          Acker AFI field incorrect size in PGM dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4798">Bug
          4798</a>)
        </p></li><li class="listitem"><p>
          Fedora 13: wireshark fails to build (linking problem).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4815">Bug
          4815</a>)
        </p></li><li class="listitem"><p>
          The NFS FH hash (nfs.fh.hash) incorrectly matches multiple filehandles.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4839">Bug
          4839</a>)
        </p></li><li class="listitem"><p>
          AES-CTR decoding not working, (dissectors/packet_ipsec.c using gcrypt).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4838">Bug
          4838</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

ASN.1 BER,
BGP,
HTTP,
IGMP,
IPsec,
Kerberos,
NFS,
PGM,
PTP,
SABP,
SigComp,
SMB,
TCAP,
XML,

    </p></div><div class="section" title="Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>Updated Capture File Support</h3></div></div></div><p>

ERF, PacketLogger.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
