<div id="header">
</div><div id="content">
<div class="sect1">
<h2 id="_wireshark_3_6_9_release_notes">Wireshark 3.6.9 Release Notes</h2>
<div class="sectionbody">

</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>This is the last release branch with support for 32-bit Windows.</em>
Updates will no longer be available after May 22, 2024 for that platform.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-07">wnpa-sec-2022-07</a>
OPUS dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18378">Issue 18378</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-08">wnpa-sec-2022-08</a>
USB-HID dissector crash on Windows.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18384">Issue 18384</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wireshark no longer calculates Statistics → Service Response Time → FC properly. <a href="https://gitlab.com/wireshark/wireshark/-/issues/16084">Issue 16084</a>.</p>
</li>
<li>
<p>Qt: Crash when opening Statistics → Service Response Time → DCE-RPC. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18319">Issue 18319</a>.</p>
</li>
<li>
<p>Qt: Crash when closing 3 of the 14 dialogs available from the menu item Statistics → 29West <a href="https://gitlab.com/wireshark/wireshark/-/issues/18334">Issue 18334</a>.</p>
</li>
<li>
<p>TCP: Dissector bug, protocol TCP, in packet 13: …​/wireshark/epan/reassemble.c:1420: failed assertion "tvb_bytes_exist(tvb, offset, frag_data_len)" <a href="https://gitlab.com/wireshark/wireshark/-/issues/18335">Issue 18335</a>.</p>
</li>
<li>
<p>Packet diagram field values are not terminated <a href="https://gitlab.com/wireshark/wireshark/-/issues/18428">Issue 18428</a>.</p>
</li>
<li>
<p>Decoding bug H.245 userInput Signal <a href="https://gitlab.com/wireshark/wireshark/-/issues/18468">Issue 18468</a>.</p>
</li>
<li>
<p>CFDP dissector doesn’t handle "destination filename" only <a href="https://gitlab.com/wireshark/wireshark/-/issues/18495">Issue 18495</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASN.1 PER, BGP, CFDP, FC, GSMTAP, GTP, HTTP, IEEE 802.11, IPv4, ISAKMP, NAS-5GS, OPUS, PFCP, RTPS, TCP, and USB HID</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>