<div id="header">
<h1>Wireshark 4.0.4 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you will likely have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-08">wnpa-sec-2023-08</a>
ISO 15765 and ISO 10681 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18839">Issue 18839</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>UTF-8 characters end up escaped in PSML output. <a href="https://gitlab.com/wireshark/wireshark/-/issues/10445">Issue 10445</a>.</p>
</li>
<li>
<p>Export filtered displayed packets won’t save IP fragments of SCTP fragments needed to reassemble a displayed frame. <a href="https://gitlab.com/wireshark/wireshark/-/issues/12597">Issue 12597</a>.</p>
</li>
<li>
<p>DICOM dissection in reassembled PDV goes wrong. <a href="https://gitlab.com/wireshark/wireshark/-/issues/13388">Issue 13388</a>.</p>
</li>
<li>
<p>"Export Objects - IMF" produces incorrect file, TCP reassembly fails with retransmissions that have additional data. <a href="https://gitlab.com/wireshark/wireshark/-/issues/13523">Issue 13523</a>.</p>
</li>
<li>
<p>The intelligent scroll bar or minimap is not predictable on locating and scrolling. <a href="https://gitlab.com/wireshark/wireshark/-/issues/13989">Issue 13989</a>.</p>
</li>
<li>
<p>If you mark (or unmark) the currently-selected frame, the packet details still say it’s not marked (or it is marked) <a href="https://gitlab.com/wireshark/wireshark/-/issues/14330">Issue 14330</a>.</p>
</li>
<li>
<p>An out-of-order packet incorrectly detected as retransmission breaks desegmentation of TCP stream. <a href="https://gitlab.com/wireshark/wireshark/-/issues/15993">Issue 15993</a>.</p>
</li>
<li>
<p>Sorting Packet Loss Column is not sorting correct. <a href="https://gitlab.com/wireshark/wireshark/-/issues/16785">Issue 16785</a>.</p>
</li>
<li>
<p>Some HTTPS packets cannot be decrypted. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17406">Issue 17406</a>.</p>
</li>
<li>
<p>SIP TCP decoding regression from Wireshark 1.99.0 to 3.6.8. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18411">Issue 18411</a>.</p>
</li>
<li>
<p>Frame comments not preserved when using filter to write new pcap from tshark. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18693">Issue 18693</a>.</p>
</li>
<li>
<p>ChmodBPF not working on macOS Ventura 13.1. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</li>
<li>
<p>Wireshark GUI and window manager stuck after setting display filter. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18809">Issue 18809</a>.</p>
</li>
<li>
<p>Dissector bug, protocol H.261. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18812">Issue 18812</a>.</p>
</li>
<li>
<p>File extension heuristics are case-sensitive. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18821">Issue 18821</a>.</p>
</li>
<li>
<p>Symbolic links to packages in macOS dmg can’t be double-clicked to install on macOS 13.2. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18830">Issue 18830</a>.</p>
</li>
<li>
<p>Potential memory leak in tshark.c. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18837">Issue 18837</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2023-02-05-7303.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18842">Issue 18842</a>.</p>
</li>
<li>
<p>f5fileinfo: Hardware platforms missing descriptions. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18848">Issue 18848</a>.</p>
</li>
<li>
<p>The lines in the intelligent scrollbar are off by one. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18850">Issue 18850</a>.</p>
</li>
<li>
<p>Wireshark crashes on invalid UDS packet in Lua context. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18865">Issue 18865</a>.</p>
</li>
<li>
<p>TECMP dissector shows the wrong Voltage in Vendor Data. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18871">Issue 18871</a>.</p>
</li>
<li>
<p>UDS: Names of RDTCI subfunctions 0x0b …​ 0x0e are not correct. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18873">Issue 18873</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new or updated features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_removed_features_and_support">Removed Features and Support</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASTERIX, BGP, DHCP, ERF, F5 Ethernet trailer, GMR-1 RR, Gryphon, GSM SMS, H.261, H.450, ISO 10681, ISO 15765, MIPv6, NAS-5gs, NR RRC, NS Trace, OptoMMP, PDCP-LTE, PDCP-NR, QSIG, ROHC, RSVP, RTCP, SCTP, SIP, TCP, TECMP, TWAMP, UDS, and UMTS RLC</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>