<div id="header">
<h1>Wireshark 3.2.18 Release Notes</h1>
</div><div id="content">
<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This is expected to be the final supported version of the 3.2 branch.
We really mean it this time.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This release fixes a <a href="https://gitlab.com/wireshark/wireshark/-/issues/17623">forward compatibility issue</a> with the I/O Graphs preferences.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-07">wnpa-sec-2021-07</a>
Bluetooth DHT dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17651">Issue 17651</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39929">CVE-2021-39929</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-09">wnpa-sec-2021-09</a>
Bluetooth SDP dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17635">Issue 17635</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39925">CVE-2021-39925</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-10">wnpa-sec-2021-10</a>
Bluetooth DHT dissector large loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17677">Issue 17677</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39924">CVE-2021-39924</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-11">wnpa-sec-2021-11</a>
PNRP dissector large loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17684">Issue 17684</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-12">wnpa-sec-2021-12</a>
C12.22 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17636">Issue 17636</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39922">CVE-2021-39922</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-13">wnpa-sec-2021-13</a>
IEEE 802.11 dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17704">Issue 17704</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39928">CVE-2021-39928</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-14">wnpa-sec-2021-14</a>
Modbus dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17703">Issue 17703</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-39921">CVE-2021-39921</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Allow for '\0' (NULL) character as filter instead of requiring 0x00 for the character match <a href="https://gitlab.com/wireshark/wireshark/-/issues/16525">Issue 16525</a>.</p>
</li>
<li>
<p>Dumpcap with threads reports double received count vs captured <a href="https://gitlab.com/wireshark/wireshark/-/issues/17089">Issue 17089</a>.</p>
</li>
<li>
<p>I/O Graphs values reset to default with 3.5 due to change of UAT <a href="https://gitlab.com/wireshark/wireshark/-/issues/17623">Issue 17623</a>.</p>
</li>
<li>
<p>TShark stops capturing when capturing with multiple files and packet printing enabled <a href="https://gitlab.com/wireshark/wireshark/-/issues/17654">Issue 17654</a>.</p>
</li>
<li>
<p>Wireshark is unable to decode the IMSI IE received in BSSMAP Perform Location request <a href="https://gitlab.com/wireshark/wireshark/-/issues/17667">Issue 17667</a>.</p>
</li>
<li>
<p>Crash in flow analysis for TCP <a href="https://gitlab.com/wireshark/wireshark/-/issues/17722">Issue 17722</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>BT SDP, BT-DHT, C12.22, CAN FD, CSN1, EAPOL-MKA, EVS, GSM BSSMAP LE, IEEE 802.11, PNRP, TCP, and TLS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-11-17 17:45:10 UTC
</div>
</div>