<div class="article" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="id927695"></a>Wireshark 1.2.1 Release Notes</h2></div></div><hr /></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2009-04.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The IPMI dissector could overrun a buffer.
            
            
            
          </p><p>Versions affected: 1.2.0</p></li><li><p>
            The AFS dissector could crash.
            
            
            
          </p><p>Versions affected: 0.9.2 to 1.2.0</p></li><li><p>
            The Infiniband dissector could crash on some platforms.
            
            
          </p><p>Versions affected: 1.0.6 to 1.2.0</p></li><li><p>
            The Bluetooth L2CAP dissector could crash.
            
            
            
          </p><p>Versions affected: 1.2.0</p></li><li><p>
            The RADIUS dissector could crash.
            
            
            
          </p><p>Versions affected: 1.2.0</p></li><li><p>
            The MIOP dissector could crash.
            
            
            
          </p><p>Versions affected: 1.2.0</p></li><li><p>
            The sFlow dissector could use excessive CPU and memory.
            
            
            
          </p><p>Versions affected: 1.2.0</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
          Wireshark could crash while reading a pcap-ng file.
        </p></li><li><p>
          Wireshark could crash while reading a PacketLogger file.
        </p></li><li><p>
          CFLOW decoding is wrong for IPv6 fields
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3328">Bug
          3328</a>)
        </p></li><li><p>
          Buildbot crash output: fuzz-2009-04-24-2891.pcap
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3438">Bug
          3438</a>)
        </p></li><li><p>
          packet-dcm, corrupt DICOM export files
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3493">Bug
          3493</a>)
        </p></li><li><p>
          GeoIP map should use random temporary file name
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3530">Bug
          3530</a>)
        </p></li><li><p>
          Wireshark crashes when range_string is the data type
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3536">Bug
          3536</a>)
        </p></li><li><p>
          Pcap-ng breaks VoIP call data
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3539">Bug
          3539</a>)
        </p></li><li><p>
          ANSI MAP legInformation BER Error
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3541">Bug
          3541</a>)
        </p></li><li><p>
          Starting Wireshark Portable 1.2.0 gives error message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3547">Bug
          3547</a>)
        </p></li><li><p>
          On Windows, Wireshark could crash on startup.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3555">Bug
          3555</a>)
        </p></li><li><p>
          The title in the TCP sequence graphs is too short.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3556">Bug
          3556</a>)
        </p></li><li><p>
          USB Packets in pcap-ng Files Not Dissected Properly
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3560">Bug
          3560</a>)
        </p></li><li><p>
          802.11 decryption is broken
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3590">Bug
          3590</a>)
        </p></li><li><p>
          SMB2 Error Response doesn't decode properly
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3609">Bug
          3609</a>)
        </p></li><li><p>
          configure.in uses deprecated autoconf test for gnutls detection
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3627">Bug
          3627</a>)
        </p></li><li><p>
          Radius Malformed Packet error message
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3635">Bug
          3635</a>)
        </p></li><li><p>
          Wireshark could crash when loading a profile.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3640">Bug
          3640</a>)
        </p></li><li><p>
          Analyze-&gt;Decode as... menu item becomes unavailable
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3642">Bug
          3642</a>)
        </p></li><li><p>
          btsnoop: Incorrect error message for not supported datalink type
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3645">Bug
          3645</a>)
        </p></li><li><p>
          Decode error for network-id in BICC BCU-ID
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3648">Bug
          3648</a>)
        </p></li><li><p>
          IEC 60870-5-104 dissector decodes nothing
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3650">Bug
          3650</a>)
        </p></li><li><p>
          radius_register_avp_dissector() can stop RADIUS dissector from working correctly
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3651">Bug
          3651</a>)
        </p></li><li><p>
          ANSI ISUP Cause indicators with coding standard=ANSI fail to dissect.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3654">Bug
          3654</a>)
        </p></li><li><p>
          Wrong field position in PacketCable Multimedia Extended Classifier
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3656">Bug
          3656</a>)
        </p></li><li><p>
          FF Protocol "FMS Initiate - Version OD Calling" field packet data not unpacked properly
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3694">Bug
          3694</a>)
        </p></li><li><p>
          hci_h4: Optimize column/field handling
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3703">Bug
          3703</a>)
        </p></li><li><p>
          BSSLAP Protocol Not Decoded In BSSMAP-LE Messages
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3711">Bug
          3711</a>)
        </p></li><li><p>
          Description of tshark -t dd missing from tshark.pod
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3723">Bug
          3723</a>)
        </p></li><li><p>
          Problem in packet-per.c for ASN.1 PER Encoding
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3733">Bug
          3733</a>)
        </p></li><li><p>
          [SNMP] Crash when dissecting packet (custom MIB)
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3746">Bug
          3746</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new or updated features in this release.

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AFS,
ANSI ISUP,
ANSI MAP,
ASN.1 PER,
Bluetooth HCI H4,
Bluetooth L2CAP,
BSS
CFLOW,
COPS,
Diameter,
DICOM,
FF-HSE,
ICMPv6,
IEC-60870-5-104,
IEEE 802.11,
Infiniband,
IPMI,
MIOP,
RADIUS,
RSVP,
sFlow,
SNMP,
SMB2,
ZIOP

    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New Capture File Support</h3></div></div></div><p>

Btsnoop, DCT3, Packetlogger, pcap-ng.

    </p></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a class="ulink" href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en" xml:lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
