<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm469915158720"></a>Wireshark 2.2.16 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-06.html">wnpa-sec-2018-06</a>
</p><p class="simpara">RPKI-Router infinite loop.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14414">Bug 14414</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-7325">CVE-2018-7325</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-34.html">wnpa-sec-2018-34</a>
</p><p class="simpara">BGP dissector large loop.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13741">Bug 13741</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14342">CVE-2018-14342</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-35.html">wnpa-sec-2018-35</a>
</p><p class="simpara">ISMP dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14672">Bug 14672</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14344">CVE-2018-14344</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-36.html">wnpa-sec-2018-36</a>
</p><p class="simpara">Multiple dissectors could crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14675">Bug 14675</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14340">CVE-2018-14340</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-37.html">wnpa-sec-2018-37</a>
</p><p class="simpara">ASN.1 BER dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14682">Bug 14682</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14343">CVE-2018-14343</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-38.html">wnpa-sec-2018-38</a>
</p><p class="simpara">MMSE dissector infinite loop.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14738">Bug 14738</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14339">CVE-2018-14339</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-39.html">wnpa-sec-2018-39</a>
</p><p class="simpara">DICOM dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14742">Bug 14742</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14341">CVE-2018-14341</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-40.html">wnpa-sec-2018-40</a>
</p><p class="simpara">Bazaar dissector infinite loop.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14841">Bug 14841</a>.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2018-41.html">wnpa-sec-2018-41</a>
</p><p class="simpara">HTTP2 dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14869">Bug 14869</a>.</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
ISMP.EDP "Tuples" dissected incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4943">Bug 4943</a>)
</li><li class="listitem">
Wireshark crashes when changing profiles. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11648">Bug 11648</a>)
</li><li class="listitem">
randpkt can write packets that libwiretap can’t read. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14107">Bug 14107</a>)
</li><li class="listitem">
Crafted UDP packet causes large memory usage. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14473">Bug 14473</a>)
</li><li class="listitem">
Error received from  dissect_wccp2_hash_assignment_info(). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14573">Bug 14573</a>)
</li><li class="listitem">
IP address to name resolution doesn’t work in TShark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14711">Bug 14711</a>)
</li><li class="listitem">
proto_tree_add_protocol_format might leak memory. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14719">Bug 14719</a>)
</li><li class="listitem">
DICOM dissector needs to check for packet offset overflow. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14742">Bug 14742</a>)
</li><li class="listitem">
Formatting of OSI area addresses/address prefixes goes past the end of the area address/address prefix. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14744">Bug 14744</a>)
</li><li class="listitem">
ICMPv6 Router Renumbering - Packet Dissector - malformed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14755">Bug 14755</a>)
</li><li class="listitem">
WiMAX HARQ MAP decoder segfaults when length is too short. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14780">Bug 14780</a>)
</li><li class="listitem">
HTTP PUT request following a HEAD request is not correctly decoded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14793">Bug 14793</a>)
</li><li class="listitem">
SYNC PDU type 3 miss the last PDU length. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14823">Bug 14823</a>)
</li><li class="listitem">
Reversed 128 bits service UUIDs when Bluetooth Low Energy advertisement data are dissected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14843">Bug 14843</a>)
</li><li class="listitem">
Issues with Wireshark when the user doesn’t have permission to capture. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14847">Bug 14847</a>)
</li><li class="listitem">
Wrong description when LE Bluetooth Device Address type is dissected. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14866">Bug 14866</a>)
</li><li class="listitem">
LE Role advertisement type (0x1c) is not dissected properly according to the Bluetooth specification. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14868">Bug 14868</a>)
</li><li class="listitem">
Wireshark doesn’t properly display (deliberately) invalid 220 responses from Postfix. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14878">Bug 14878</a>)
</li><li class="listitem">
DCE/RPC not dissected when "reserved for use by implementations" flag bits set. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14942">Bug 14942</a>)
</li><li class="listitem">
There’s no option to include column headings when printing packets or exporting packet dissections with Qt Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14945">Bug 14945</a>)
</li><li class="listitem">
CMake is unable to find LUA libraries. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14983">Bug 14983</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>ASN.1 BER,
Bazaar,
BGP,
Bluetooth,
Bluetooth HCI_CMD,
CIGI,
DCERPC,
DICOM,
GSM A GM,
HTTP,
HTTP2,
IAX2,
ICMPv6,
IEEE 802.11,
ISMP,
LISP,
MMSE,
MTP3,
PPI GPS,
Q.931,
RPKI-Router,
SMTP,
STUN,
SYNC,
T.30,
WAP,
WCCP,
WiMax HARQ Map Message,
and WSP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
