<div id="header">
<h1>Wireshark 2.6.2 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-34">wnpa-sec-2018-34</a></p>
<div class="paragraph">
<p>BGP dissector large loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13741">Bug 13741</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14342">CVE-2018-14342</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-35">wnpa-sec-2018-35</a></p>
<div class="paragraph">
<p>ISMP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14672">Bug 14672</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14344">CVE-2018-14344</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-36">wnpa-sec-2018-36</a></p>
<div class="paragraph">
<p>Multiple dissectors could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14675">Bug 14675</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14340">CVE-2018-14340</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-37">wnpa-sec-2018-37</a></p>
<div class="paragraph">
<p>ASN.1 BER dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14682">Bug 14682</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14343">CVE-2018-14343</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-38">wnpa-sec-2018-38</a></p>
<div class="paragraph">
<p>MMSE dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14738">Bug 14738</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14339">CVE-2018-14339</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-39">wnpa-sec-2018-39</a></p>
<div class="paragraph">
<p>DICOM dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14742">Bug 14742</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14341">CVE-2018-14341</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-40">wnpa-sec-2018-40</a></p>
<div class="paragraph">
<p>Bazaar dissector infinite loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14841">Bug 14841</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14368">CVE-2018-14368</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-41">wnpa-sec-2018-41</a></p>
<div class="paragraph">
<p>HTTP2 dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14869">Bug 14869</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14369">CVE-2018-14369</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-42">wnpa-sec-2018-42</a></p>
<div class="paragraph">
<p>CoAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14966">Bug 14966</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14367">CVE-2018-14367</a>.</p>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ISMP.EDP "Tuples" dissected incorrectly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4943">Bug 4943</a>.</p>
</li>
<li>
<p>Wireshark - Race issue when switching between files using Wireshark’s "Files in Set" dialog. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10870">Bug 10870</a>.</p>
</li>
<li>
<p>Sorting on "Source port" or "Destination port" column sorts alphabetically, not numerically. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11460">Bug 11460</a>.</p>
</li>
<li>
<p>Wireshark crashes when changing profiles. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11648">Bug 11648</a>.</p>
</li>
<li>
<p>Crash when starting capture while saving capture file or rescanning file after display filter change. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13594">Bug 13594</a>.</p>
</li>
<li>
<p>Crash when switching to TRANSUM enabled profile. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13697">Bug 13697</a>.</p>
</li>
<li>
<p>TCP retransmission with additional payload leads to incorrect bytes and length in stream. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13700">Bug 13700</a>.</p>
</li>
<li>
<p>Wireshark crashes with single quote string display filter. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14084">Bug 14084</a>.</p>
</li>
<li>
<p>randpkt can write packets that libwiretap can’t read. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14107">Bug 14107</a>.</p>
</li>
<li>
<p>Wireshark crashes when loading new file before previous load has finished. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14351">Bug 14351</a>.</p>
</li>
<li>
<p>Valid packet produces Malformed Packet: OpcUa. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14465">Bug 14465</a>.</p>
</li>
<li>
<p>Error received from dissect_wccp2_hash_assignment_info(). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14573">Bug 14573</a>.</p>
</li>
<li>
<p>CRC checker wrong for FPP. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14610">Bug 14610</a>.</p>
</li>
<li>
<p>Cross-build broken due to make-dissectors and make-taps. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14622">Bug 14622</a>.</p>
</li>
<li>
<p>Extraction of SMB file results in wrong size. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14662">Bug 14662</a>.</p>
</li>
<li>
<p>6LoWPAN dissector merges fragments from different sources. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14700">Bug 14700</a>.</p>
</li>
<li>
<p>IP address to name resolution doesn’t work in TShark. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14711">Bug 14711</a>.</p>
</li>
<li>
<p>"Decode as" Modbus RTU over USB doesn’t work with 2.6.0 but with 2.4.6. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14717">Bug 14717</a>.</p>
</li>
<li>
<p>proto_tree_add_protocol_format might leak memory. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14719">Bug 14719</a>.</p>
</li>
<li>
<p>tostring for NSTime objects in lua gives wrong results. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14720">Bug 14720</a>.</p>
</li>
<li>
<p>Media type "application/octet-stream" registered for both Thread and UASIP. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14729">Bug 14729</a>.</p>
</li>
<li>
<p>Crash related to SCTP tap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14733">Bug 14733</a>.</p>
</li>
<li>
<p>Formatting of OSI area addresses/address prefixes goes past the end of the area address/address prefix. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14744">Bug 14744</a>.</p>
</li>
<li>
<p>ICMPv6 Router Renumbering - Packet Dissector - malformed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14755">Bug 14755</a>.</p>
</li>
<li>
<p>WiMAX HARQ MAP decoder segfaults when length is too short. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14780">Bug 14780</a>.</p>
</li>
<li>
<p>HTTP PUT request following a HEAD request is not correctly decoded. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14793">Bug 14793</a>.</p>
</li>
<li>
<p>SYNC PDU type 3 miss the last PDU length. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14823">Bug 14823</a>.</p>
</li>
<li>
<p>Reversed 128 bits service UUIDs when Bluetooth Low Energy advertisement data are dissected. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14843">Bug 14843</a>.</p>
</li>
<li>
<p>Issues with Wireshark when the user doesn’t have permission to capture. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14847">Bug 14847</a>.</p>
</li>
<li>
<p>Wrong description when LE Bluetooth Device Address type is dissected. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14866">Bug 14866</a>.</p>
</li>
<li>
<p>LE Role advertisement type (0x1c) is not dissected properly according to the Bluetooth specification. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14868">Bug 14868</a>.</p>
</li>
<li>
<p>Regression: Wireshark 2.6.0 and 2.6.1 are unable to read NetMon files which were readable by previous versions. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14876">Bug 14876</a>.</p>
</li>
<li>
<p>Wireshark doesn’t properly display (deliberately) invalid 220 responses from Postfix. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14878">Bug 14878</a>.</p>
</li>
<li>
<p>Follow TCP Stream and click reassembled content moves you to incorrect current packet. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14898">Bug 14898</a>.</p>
</li>
<li>
<p>Crash when changing profiles while loading a capture file. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14918">Bug 14918</a>.</p>
</li>
<li>
<p>Duplicate PDU during C Arrays Output Export. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14933">Bug 14933</a>.</p>
</li>
<li>
<p>DCE/RPC not dissected when "reserved for use by implementations" flag bits set. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14942">Bug 14942</a>.</p>
</li>
<li>
<p>Follow TCP Stream truncates output on missing (but ACKed) segments. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14944">Bug 14944</a>.</p>
</li>
<li>
<p>There’s no option to include column headings when printing packets or exporting packet dissections with Qt Wireshark. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14945">Bug 14945</a>.</p>
</li>
<li>
<p>Qt: SCTP Graph Dialog: Abort when doing analysis. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14971">Bug 14971</a>.</p>
</li>
<li>
<p>CMake is unable to find LUA libraries. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14983">Bug 14983</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>6LoWPAN, ASN.1 BER, Bazaar, BGP, Bluetooth, Bluetooth HCI_CMD, CIGI, Cisco ttag, CoAP, Data, DCERPC, Diameter 3GPP, DICOM, DOCSIS, FPP, GSM A GM, GTPv2, HTTP, HTTP2, IAX2, ICMPv6, IEEE 1722, IEEE 802.11, IPv4, ISMP, LISP, MMSE, MTP3, MySQL, NFS, OpcUa, PPI GPS, Q.931, RNSAP, RPCoRDMA, S1AP, SCTP, SMB, SMTP, STUN, SYNC, T.30, TCP, TRANSUM, WAP, WCCP, Wi-SUN, WiMax HARQ Map Message, and WSP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>Alcatel-Lucent Ascend and Microsoft Network Monitor</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-07-18 17:26:55 UTC
</div>
</div>
