<div xml:lang="en" class="article" title="Wireshark 1.10.6 Release Notes" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idp9807120"></a>Wireshark 1.10.6 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="1. What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section" title="2. What’s New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section" title="2.1. Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-01.html">wnpa-sec-2014-01</a>
</p><p class="simpara">The NFS dissector could crash. Discovered by Moshe Kaplan.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9672">Bug 9672</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.5, 1.8.0 to 1.8.12</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-2281">CVE-2014-2281</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-02.html">wnpa-sec-2014-02</a>
</p><p class="simpara">The M3UA dissector could crash. Discovered by Laurent Butti.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9699">Bug 9699</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.5</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-2282">CVE-2014-2282</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-03.html">wnpa-sec-2014-03</a>
</p><p class="simpara">The RLC dissector could crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9730">Bug 9730</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.5, 1.8.0 to 1.8.12</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-2283">CVE-2014-2283</a></p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2014-04.html">wnpa-sec-2014-04</a>
</p><p class="simpara">The MPEG file parser could overflow a buffer. Discovered by Wesley
Neelen.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9843">Bug 9843</a>)</p><p class="simpara">Versions affected: 1.10.0 to 1.10.5, 1.8.0 to 1.8.12</p><p class="simpara"><a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-2299">CVE-2014-2299</a></p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem">
Customized OUI is not recognized correctly during dissection. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9122">Bug 9122</a>)
</li><li class="listitem">
Properly decode CAPWAP Data Keep-Alives. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9165">Bug 9165</a>)
</li><li class="listitem">
Build failure with GTK 3.10 - GTK developers have gone insane. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9340">Bug 9340</a>)
</li><li class="listitem">
SIGSEGV/SIGABRT during free of TvbRange using a chained dissector in lua. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9483">Bug 9483</a>)
</li><li class="listitem">
MPLS dissector no longer registers itself in "ppp.protocol" table. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9492">Bug 9492</a>)
</li><li class="listitem">
Tshark doesn’t display the longer data fields (mbtcp). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9572">Bug 9572</a>)
</li><li class="listitem">
DMX-CHAN disector does not clear strbuf between rows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9598">Bug 9598</a>)
</li><li class="listitem">
Dissector bug, protocol SDP: proto.c:4214: failed assertion "length &gt;= 0". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9633">Bug 9633</a>)
</li><li class="listitem">
False error: capture file appears to be damaged or corrupt. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9634">Bug 9634</a>)
</li><li class="listitem">
SMPP field source_telematics_id field length different from spec. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9649">Bug 9649</a>)
</li><li class="listitem">
Lua: bitop library is missing in Lua 5.2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9720">Bug 9720</a>)
</li><li class="listitem">
GTPv1-C / MM Context / Authentication quintuplet / RAND is not correct. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9722">Bug 9722</a>)
</li><li class="listitem">
Lua: ProtoField.new() is buggy. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9725">Bug 9725</a>)
</li><li class="listitem">
Lua: ProtoField.bool() VALUESTRING argument is not optional but was supposed to be. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9728">Bug 9728</a>)
</li><li class="listitem">
Problem with CAPWAP Wireshark Dissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9752">Bug 9752</a>)
</li><li class="listitem">
nas-eps dissector: CS Service notification dissection stops after Paging identity IE. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9789">Bug 9789</a>)
</li></ul></div></div><div class="section" title="2.2. New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>IPv4 checksum verfification is now disabled by default.</p></div><div class="section" title="2.3. New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section" title="2.4. Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>AppleTalk,
CAPWAP,
DMX-CHAN,
DSI,
DVB-CI,
ESS,
GTPv1,
IEEE 802a,
M3UA,
Modbus/TCP,
NAS-EPS,
NFS,
OpenSafety,
SDP,
and SMPP</p></div><div class="section" title="2.5. New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>libpcap,
MPEG,
and pcap-ng</p></div></div><div class="section" title="3. Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.</p><div class="section" title="3.1. Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section" title="4. File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section" title="5. Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Summary pane selected frame highlighting not maintained.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug 4445</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section" title="6. Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="http://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="http://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section" title="7. Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
