<div id="header">
<h1>Wireshark 3.2.6 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-10">wnpa-sec-2020-10</a>
Kafka dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16672">Bug 16672</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-17498">CVE-2020-17498</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kafka dissector fails parsing FETCH responses. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16623">Bug 16623</a>.</p>
</li>
<li>
<p>Dissector for ASTERIX Category 001 / 210 does not recognize bit 1 as extension. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16662">Bug 16662</a>.</p>
</li>
<li>
<p>"invalid timestamp" for Systemd Journal Export Block. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16664">Bug 16664</a>.</p>
</li>
<li>
<p>Decoding Extended Emergency number list IE length. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16668">Bug 16668</a>.</p>
</li>
<li>
<p>Some macOS Bluetooth PacketLogger capture files aren’t recognized as PacketLogger files (regression, bisected). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16670">Bug 16670</a>.</p>
</li>
<li>
<p>Short IMSIs (5 digits) lead to wrong decoding+warning. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16676">Bug 16676</a>.</p>
</li>
<li>
<p>Decoding of PFCP IE 'PFD Contents' results in "malformed packet". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16704">Bug 16704</a>.</p>
</li>
<li>
<p>RFH2 Header with 32 or less bytes of NameValue will not parse out that info. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16733">Bug 16733</a>.</p>
</li>
<li>
<p>CDP: Port ID TLV followed by Type 1009 TLV triggers [Malformed Packet]. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16742">Bug 16742</a>.</p>
</li>
<li>
<p>tshark crashed when processing opcda. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16746">Bug 16746</a>.</p>
</li>
<li>
<p>tshark with --export-dicom gives “Segmentation fault (core dumped)”. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16748">Bug 16748</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASTERIX, BSSAP, CDP, CoAP, DCERPC SPOOLSS, DCOM, DICOM, DVB-S2, E.212, GBCS, GSM RR, GSM SMS, IEEE 802.11, Kafka, MQ, Nano, NAS 5GS, NIS+, NR RRC, PacketLogger, PFCP, RTPS, systemd Journal, TDS, TN3270, and TN5250</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>PacketLogger and pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-08-12 17:33:26 UTC
</div>
</div>
