<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm56384142768"></a>Wireshark 2.2.0 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Upgrading to latest version uninstalls Microsoft Visual C++ redistributable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12712">Bug 12712</a>)
</li><li class="listitem">
Extcap errors not reported back to UI. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11892">Bug 11892</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>The following features are new (or have been significantly updated)
since version 2.2.0rc2:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
No major changes since 2.2.0rc2.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 2.2.0rc1:</p><p>"Decode As" supports SSL (TLS) over TCP.</p><p>The following features are new (or have been significantly updated)
since version 2.1.1:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Invalid coloring rules are now disabled instead of discarded. This will
  provide backward compatibility with a coloring rule change in Wireshark 2.2.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 2.1.0:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Added -d option for Decode As support in Wireshark (mimics TShark
  functionality)
</li><li class="listitem">
The Qt UI, GTK+ UI, and TShark can now export packets as JSON.
  TShark can additionally export packets as Elasticsearch-compatible
  JSON.
</li><li class="listitem">
The Qt UI now supports the -j, -J, and -l flags. The -m flag is now
  deprecated.
</li><li class="listitem">
The Conversations and Endpoints dialogs are more responsive when
  viewing large numbers of items.
</li><li class="listitem">
The RTP player now allows up to 30 minutes of silence frames.
</li><li class="listitem">
Packet bytes can now be displayed as EBCDIC.
</li><li class="listitem">
The Qt UI loads captures faster on Windows.
</li><li class="listitem">
proto_tree_add_checksum was added as an API.  This attempts to
  standardize how checksums are reported and filtered for within
  *Shark.  There are no more individual "good" and "bad" filter
  fields, protocols now have a "checksum.status" field that records
  "Good", "Bad" and "Unverified" (neither good or bad). Color filters
  provided with Wireshark have been adjusted to the new display filter
  names, but custom ones may need to be updated.
</li></ul></div><p>The following features are new (or have been significantly updated)
since version 2.0.0:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
The intelligent scroll bar now sits to the left of a normal scroll bar and
  provides a clickable map of nearby packets.
</li><li class="listitem">
You can now switch between between Capture and File Format dissection of
the current capture file via the View menu in the Qt GUI.
</li><li class="listitem">
You can now show selected packet bytes as ASCII, HTML, Image, ISO 8859-1, Raw, UTF-8,
a C array, or YAML.
</li><li class="listitem">
You can now use regular expressions in Find Packet and in the advanced preferences.
</li><li class="listitem">
Name resolution for packet capture now supports asynchronous DNS lookups only. Therefore the
"concurrent DNS resolution" preference has been deprecated and is a no-op. To enable DNS name
resolution some build dependencies must be present (currently c-ares). If that is not the case DNS
name resolution will be disabled (but other name resolution mechanisms, such as host files,
are still available).
</li><li class="listitem">
The byte under the mouse in the Packet Bytes pane is now highlighted.
</li><li class="listitem">
TShark supports exporting PDUs via the <code class="literal">-U</code> flag.
</li><li class="listitem">
The Windows and OS X installers now come with the "sshdump" and "ciscodump" extcap interfaces.
</li><li class="listitem">
Most dialogs in the Qt UI now save their size and positions.
</li><li class="listitem">
The Follow Stream dialog now supports UTF-16.
</li><li class="listitem">
The Firewall ACL Rules dialog has returned.
</li><li class="listitem">
The Flow (Sequence) Analysis dialog has been improved.
</li><li class="listitem">
We no longer provide packages for 32-bit versions of OS X.
</li><li class="listitem">
The Bluetooth Device details dialog has been added.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>Wireshark is able to display the format of some types of files (rather than
displaying the contents of those files). This is useful when you’re curious
about, or debugging, a file and its format.  To open a capture file (such as
PCAP) in this mode specify "MIME Files Format" as the file’s format in the
Open File dialog.</p><p></p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>Apache Cassandra - CQL version 3.0,
Bachmann bluecom Protocol,
Bluetooth Pseudoheader for BR/EDR,
Cisco ERSPAN3 Marker,
Cisco ttag,
Digital Equipment Corporation Local Area Transport,
Distributed Object Framework,
DOCSIS Upstream Channel Descriptor Type 35,
Edge Control Protocol (ECP),
Encrypted UDP based FTP with multicast,
Ericsson IPOS Kernel Packet Header (IPOS),
Extensible Control &amp; Management Protocol (eCMP),
FLEXRAY Protocol (automotive bus),
IEEE 802.1BR E-Tag,
Intel Omni-Path Architecture,
ISO 8583-1,
ISO14443,
ITU-T G.7041/Y.1303 Generic Framing Procedure (GFP),
LAT protocol (DECNET),
Metamako trailers,
Network Service Header for Ethernet &amp; GRE,
Network-Based IP Flow Mobility (NBIFOM),
Nokia Intelligent Service Interface (ISI),
Open Mobile Alliance Lightweight Machine to Machine TLV (LwM2M TLV),
Real Time Location System (RTLS),
RTI TCP Transport Layer (RTITCP),
SMB Witness Service,
STANAG 5602 SIMPLE,
Standard Interface for Multiple Platform Link Evaluation (SIMPLE),
USB3 Vision Protocol (USB machine vision cameras),
USBIP Protocol,
UserLog Protocol,
and Zigbee Protocol Clusters (Closures Lighting General Measurement &amp; Sensing HVAC Security &amp; Safety)</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>Bluetooth OBEX dissector (btobex) was renamed to Obex Dissector (obex), which allows
it to be used with "Decode As" over USB, TCP and UDP.</p><p>A preference was added to TCP dissector for handling IPFIX process
information.  It has been disabled by default.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>Micropross mplog</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p><span class="emphasis"><em>Non-empty section placeholder.</em></span></p><p></p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>The libwireshark API has undergone some major changes:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
The address macros (e.g., SET_ADDRESS) have been removed.  Use the
(lower case) functions of the same names instead.
</li><li class="listitem">
"old style" dissector functions (that don’t return number of bytes
used) have been replaced in name with the "new style" dissector
functions.
</li><li class="listitem">
tvb_get_string and tvb_get_stringz have been replaced with
tvb_get_string_enc and tvb_get_stringz_enc respectively.
</li></ul></div></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
