<div class="article" title="Wireshark 1.6.1 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.6.1 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed. See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2011-11.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            The Lucent/Ascend file parser was susceptible to an infinite loop.
            
            
            
            
            
          </p><p>Versions affected: 1.2.0 to 1.2.17, 1.4.0 to 1.4.7, and 1.6.0.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2011-2597">CVE-2011-2597</a>
          </p></li><li class="listitem"><p>
            The ANSI MAP dissector was susceptible to an infinite loop.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6044">Bug
            6044</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.7, and 1.6.0.</p><p>
	    
          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
	  TCP dissector doesn't decode TCP segments of length 1.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4716">Bug
          4716</a>)
        </p></li><li class="listitem"><p>
          wireshark 1.4.0rc1 and python - spurious message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4878">Bug
          4878</a>)
        </p></li><li class="listitem"><p>
	  Missing LUA function.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5006">Bug
          5006</a>)
        </p></li><li class="listitem"><p>
	  Lua API description about creating a new Tvb from a bytearray is not correct in wireshark's user guide.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5199">Bug
          5199</a>)
        </p></li><li class="listitem"><p>
	  Character echo pauses in Capture Filter field in Capture Options.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
          5356</a>)
        </p></li><li class="listitem"><p>
	  White space in protocol field abbreviation causes runtime failure while registering Lua dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5569">Bug
          5569</a>)
        </p></li><li class="listitem"><p>
	  "File not found" box uses wrong filename encoding.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5715">Bug
          5715</a>)
        </p></li><li class="listitem"><p>
	  capinfos: #ifdef HAVE_LIBGCRYPT block includes a line too many .
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5803">Bug
          5803</a>)
        </p></li><li class="listitem"><p>
	  Wireshark crashes if Lua contains "Pref.range()" with missing arguments.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5895">Bug
          5895</a>)
        </p></li><li class="listitem"><p>
	  The "range" field in Lua's "Pref.range()" serves as default while the "default" field does nothing .
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5896">Bug
          5896</a>)
        </p></li><li class="listitem"><p>
	  Wireshark crashes when calling TreeItem:set_len() on TreeItem without tvb.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5941">Bug
          5941</a>)
        </p></li><li class="listitem"><p>
	  TvbRange_string(lua_State* L) call a wrong function.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5960">Bug
          5960</a>)
        </p></li><li class="listitem"><p>
	  VoIP call flow graph displays BICC APM as a BICC ANM.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5966">Bug
          5966</a>)
        </p></li><li class="listitem"><p>
	  Cannot Live-capture VirtualBox network packets with Wireshark; pipe problem.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6002">Bug
          6002</a>)
        </p></li><li class="listitem"><p>
	  Interface list in Capture Options isn't cleared when selecting other host.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6008">Bug
          6008</a>)
        </p></li><li class="listitem"><p>
	  H323 rate multiplier wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6009">Bug
          6009</a>)
        </p></li><li class="listitem"><p>
	  Inclusion of config.h is too late in lex-files resulting in wrong definition of _FILE_OFFSET_BITS.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6012">Bug
          6012</a>)
        </p></li><li class="listitem"><p>
	  tshark crashes when loading Lua script that contains GUI function.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6018">Bug
          6018</a>)
        </p></li><li class="listitem"><p>
	  802.11 Disassociation Packet's "Reason Code" field is imprecisely decoded/described.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6022">Bug
          6022</a>)
        </p></li><li class="listitem"><p>
	  Wireshark crashes when setting custom column's field name with conditional.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6028">Bug
          6028</a>)
        </p></li><li class="listitem"><p>
	  Crash after applying "expert.severity" field as column.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6035">Bug
          6035</a>)
        </p></li><li class="listitem"><p>
	  GTS Descriptor count limited to 3 instead of 7.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6055">Bug
          6055</a>)
        </p></li><li class="listitem"><p>
	  The SSL dissector can not resemble correctly the frames after TCP zero window probe packet.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6059">Bug
          6059</a>)
        </p></li><li class="listitem"><p>
	  Packet parser takes too long for this trace.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6073">Bug
          6073</a>)
        </p></li><li class="listitem"><p>
	  The SSL dissector can not resemble correctly the frames after TCP zero window probe packet.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6059">Bug
          6059</a>)
        </p></li><li class="listitem"><p>
	  Wireshark crashes after repeating "File -&gt; Import -&gt; Cancel".
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6080">Bug
          6080</a>)
        </p></li><li class="listitem"><p>
	  Decoding of MQ ASCII and EBCDIC Traffic Flow - ASCII shows fine, EBCDIC does not.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6084">Bug
          6084</a>)
        </p></li><li class="listitem"><p>
	  802.11 Association Response Packet's "Status Code" field is imprecisely decoded/described.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6093">Bug
          6093</a>)
        </p></li><li class="listitem"><p>
	  Abis interface not correctly handled in gsmtap dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6097">Bug
          6097</a>)
        </p></li><li class="listitem"><p>
	  Wrong decoding of RLC/MAC EGPRS Packet Downlink Ack/Nack (3GPP TS 44.060).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6098">Bug
          6098</a>)
        </p></li><li class="listitem"><p>
	  CSN Ack/Nack Description wrongly handled in gsm_rlcmac_dl dissector (3GPP TS 44.060).
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6101">Bug
          6101</a>)
        </p></li><li class="listitem"><p>
          wireshark 1.6.0 and python support: installer fails to create the wspy_dissectors subdirectory and .
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6110">Bug
          6110</a>)
        </p></li><li class="listitem"><p>
          Wireshark crash during RTP stream analysis.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6120">Bug
          6120</a>)
        </p></li><li class="listitem"><p>
          Tshark custom columns: Why don't I get an error message?
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6131">Bug
          6131</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Network Monitor.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with libsmi.
      (<a class="ulink" href="http://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
      4985</a>
      and
      <a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">bug
      5580</a>)
    </p><p>
      Character echo pauses in Capture Filter field in Capture Options.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5356">Bug
      5356</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
