<div class="article" title="Wireshark 1.8.2 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.8.2 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.
      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-13.html">wnpa-sec-2012-13</a>
          </p><p>
	    The DCP ETSI dissector could trigger a zero division. Reported by
	    Laurent Butti.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7566">Bug
            7566</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4285">CVE-2012-4285</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-14.html">wnpa-sec-2012-14</a>
          </p><p>
	    The MongoDB dissector could go into a large loop. Reported by Ben
	    Schmidt.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7572">Bug
            7572</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4287">CVE-2012-4287</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-15.html">wnpa-sec-2012-15</a>
          </p><p>
	    The XTP dissector could go into an infinite loop. Reported by Ben Schmidt.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7571">Bug
            7571</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4288">CVE-2012-4288</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-16.html">wnpa-sec-2012-16</a>
          </p><p>
	    The ERF dissector could overflow a buffer. Reported by Laurent Butti.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7563">Bug
            7563</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4294">CVE-2012-4294</a>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4295">CVE-2012-4295</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-17.html">wnpa-sec-2012-17</a>
          </p><p>
	    The AFP dissector could go into a large loop. Reported by Stefan Cornelius.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7603">Bug
            7603</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4289">CVE-2012-4289</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-18.html">wnpa-sec-2012-18</a>
          </p><p>
	    The RTPS2 dissector could overflow a buffer. Reported by Laurent Butti.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7568">Bug
            7568</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4296">CVE-2012-4296</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-19.html">wnpa-sec-2012-19</a>
          </p><p>
	    The GSM RLC MAC dissector could overflow a buffer. Reported by Laurent Butti.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7561">Bug
            7561</a>)
          </p><p>Versions affected: 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4297">CVE-2012-4297</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-20.html">wnpa-sec-2012-20</a>
          </p><p>
	    The CIP dissector could exhaust system memory. Reported by Ben Schmidt.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7570">Bug
            7570</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4291">CVE-2012-4291</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-21.html">wnpa-sec-2012-21</a>
          </p><p>
	    The STUN dissector could crash. Reported by Laurent Butti.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7569">Bug
            7569</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4292">CVE-2012-4292</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-22.html">wnpa-sec-2012-22</a>
          </p><p>
	    The EtherCAT Mailbox dissector could abort. Reported by Laurent Butti.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7562">Bug
            7562</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4293">CVE-2012-4293</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-23.html">wnpa-sec-2012-23</a>
          </p><p>
	    The CTDB dissector could go into a large loop. Reported by Ben Schmidt.
            
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7573">Bug
            7573</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.14, 1.6.0 to 1.6.9, 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4290">CVE-2012-4290</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-24.html">wnpa-sec-2012-24</a>
          </p><p>
	    The pcap-ng file parser could trigger a zero division.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7533">Bug
            7533</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4286">CVE-2012-4286</a>
          </p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-25.html">wnpa-sec-2012-25</a>
          </p><p>
	    The Ixia IxVeriWave file parser could overflow a buffer.
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7533">Bug
            7533</a>)
          </p><p>Versions affected: 1.8.0 to 1.8.1.</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-4298">CVE-2012-4298</a>
          </p></li></ul></div><p>

    </p><p>

      The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          Move Y.1711 out of MPLS dissector.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6787">Bug
          6787</a>)
        </p></li><li class="listitem"><p>
          Patch: Add frame.interface_id support for ERF file format.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7266">Bug
          7266</a>)
        </p></li><li class="listitem"><p>
          Freeze when Resizing or Moving while capturing.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7305">Bug
          7305</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes when using multiple files.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7423">Bug
          7423</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes on opening very short NFS pcap file.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7498">Bug
          7498</a>)
        </p></li><li class="listitem"><p>
          Analyze-&gt;Apply as Filter and Analyze-&gt;Prepare a Filter cause crashes.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7506">Bug
          7506</a>)
        </p></li><li class="listitem"><p>
          crashes in interface list, pipe handling.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7511">Bug
          7511</a>)
        </p></li><li class="listitem"><p>
          ISDN LAPD  X.31 packet traffic can not be decoded.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7514">Bug
          7514</a>)
        </p></li><li class="listitem"><p>
          GIOP request_id used for sub dissectors is not assigned when decoding GIOP 1.2 Request message.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7516">Bug
          7516</a>)
        </p></li><li class="listitem"><p>
          pcap-ng -ISB always writes 0 for isb_ifrecv option.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7523">Bug
          7523</a>)
        </p></li><li class="listitem"><p>
          GSM classmark3 decode wrong.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7524">Bug
          7524</a>)
        </p></li><li class="listitem"><p>
          mem corruption\heap corruption\div0 bugs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7533">Bug
          7533</a>)
        </p></li><li class="listitem"><p>
          DNS AD flag not shown properly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7555">Bug
          7555</a>)
        </p></li><li class="listitem"><p>
          Wireshark and TShark crash at start with invalid color filter on SPARC.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=7634">Bug
          7634</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

AFP,
Apache JServ Protocol v1.3,
Bluetooth L2CAP,
CIP,
CTDB,
DCP ETSI,
ERF,
EtherCAT Mailbox,
FC Link Control,
GIOP,
GSM A,
GSM RLC MAC,
GTP,
GTPv2,
ISDN,
LISP,
MongoDB,
MPLS ITU-T Y.1711 OAM,
MPLS PM,
NFS,
RTPS2,
SCTP,
STUN,
XTP

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Ixia IxVeriWave, pcap-ng

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About→Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not support Kerberos decryption.
      (<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64
      development page</a>)
    </p><p>
      Application crash when changing real-time option.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug
      4035</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p><p>
      Wireshark and TShark will display incorrect delta times in some cases.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug
      4985</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Official Wireshark training and certification are available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
