<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id720650"></a>Wireshark 0.99.7 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id720685">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id721215">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id721326">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id721340">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id721349">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id721380">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720685"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2007-02.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Wireshark could crash when reading an MP3 file.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
	    Beyond Security discovered that Wireshark could loop
	    excessively while reading a malformed DNP3 packet.

          </p><p>Versions affected: 0.10.12 to 0.99.6</p><p>

          </p></li><li><p>
            Stefan Esser discovered a buffer overflow in the SSL dissector.

          </p><p>Versions affected: 0.99.0 to 0.99.6</p><p>

          </p></li><li><p>
            The ANSI MAP dissector could be susceptible to a buffer overflow on some platforms.

          </p><p>Versions affected: 0.99.5 to 0.99.6</p><p>

          </p></li><li><p>
            The Firebird/Interbase dissector could go into an infinite loop or crash.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The NCP dissector could cause a crash.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The HTTP dissector could crash on some systems while decoding
            chunked messages.

          </p><p>Versions affected: 0.10.14 to 0.99.6</p><p>

          </p></li><li><p>
            The MEGACO dissector could enter a large loop and consume
            system resources.

          </p><p>Versions affected: 0.9.14 to 0.99.6</p><p>

          </p></li><li><p>
            The DCP ETSI dissector could enter a large loop and consume
            system resources.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            Fabiodds discovered a buffer overflow in the iSeries (OS/400) Communication trace file parser.

          </p><p>Versions affected: 0.99.0 to 0.99.6</p><p>

          </p></li><li><p>
            The PPP dissector could overflow a buffer.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The Bluetooth SDP dissector could go into an infinite loop.

          </p><p>Versions affected: 0.99.2 to 0.99.6</p><p>

          </p></li><li><p>
            A malformed RPC Portmap packet could cause a crash.

          </p><p>Versions affected: 0.8.16 to 0.99.6</p><p>

          </p></li><li><p>
            The IPv6 dissector could loop excessively.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The USB dissector could loop excessively or crash.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The SMB dissector could crash.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The RPL dissector could go into an infinite loop.

          </p><p>Versions affected: 0.9.8 to 0.99.6</p><p>

          </p></li><li><p>
            The WiMAX dissector could crash due to unaligned access on some
            platforms.

          </p><p>Versions affected: 0.99.6</p><p>

          </p></li><li><p>
            The CIP dissector could attempt to allocate a huge amount of memory and crash.

          </p><p>Versions affected: 0.9.14 to 0.99.6</p><p>

          </p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Handling of non-ASCII file names and paths has been improved.
        </p></li><li><p>
            Wireshark could crash while editing a coloring rule or a UAT
            table.
        </p></li><li><p>
            The display filter code could crash while bitwise ANDing an IPv4 address.
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721215"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            Most of the capture code has been moved out of the GUI, which
            means that Wireshark no longer needs to be run as root.
          </p></li><li><p>
            Many display filter names have been cleaned up.  If your favorite display filter just went missing, please consult the <a href="http://www.wireshark.org/docs/dfref/">display filter reference</a> to find out where it ended up.
          </p></li><li><p>
            You can now filter directly on SNMP OIDs.
          </p></li><li><p>
            IO graphs have more display options, and you can now export graphs.
          </p></li><li><p>
            You can now follow UDP streams in addition to TCP and SSL streams.
          </p></li><li><p>
            You can now disable coloring rules without deleting them.
          </p></li><li><p>
            Main window toolbar buttons are now available even when the window is small.
          </p></li><li><p>
            The version of WinPcap that ships with the Windows installers has been updated to 4.0.2.
          </p></li><li><p>
            The Windows installers now include a "services" file, which maps port numbers to names.
          </p></li><li><p>
            The Windows installer now enables npf.sys by default under Vista.
            Wireshark will print a warning at startup if npf.sys isn't loaded
            under Vista.
          </p></li><li><p>
            Optimizations have been applied in some places to make Wireshark start up and run faster.
          </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721326"></a>New Protocol Support</h3></div></div></div><p>

ANSI TCAP,
application/xcap-error (MIME type),
CFM,
DPNSS,
EtherCAT,
ETSI e2/e4,
H.282,
H.460,
H.501,
IEEE 802.1ad and 802.1ah,
IMF (RFC 2822),
RSL,
SABP,
T.125,
TNEF,
TPNCP,
UNISTIM,
Wake on LAN,
WiMAX ASN Control Plane,
X.224,

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721340"></a>Updated Protocol Support</h3></div></div></div><p>

3Com XNS,
3G A11,
ACN,
ACP123,
ACSE,
AIM,
ANSI IS-637-A,
ANSI MAP,
Armagetronad,
BACapp,
BACnet,
BER,
BFD,
BGP,
Bluetooth,
CAMEL,
CDT,
CFM,
CIP,
Cisco ERSPAN,
CLNP,
CMIP,
CMS,
COPS,
CTDB,
DCCP,
DCERPC ATSVC,
DCERPC PNIO,
DCERPC SAMR,
DCERPC,
DCOM CBA-ACCO,
DCP ETSI,
DEC DNA,
DFS,
DHCP/BOOTP,
DHCPv6,
DIAMETER,
DISP,
DMP,
DNP,
DNS,
DOP,
DTLS,
DUA,
eDonkey,
ELSM,
ESL,
Ethernet,
FC ELS,
FC,
FCOE,
FTAM,
FTP,
GDSDB,
GIOP,
GPRS-LLC,
GSM A,
GSM MAP,
GTP,
HSRP,
HTTP,
IAX2,
ICMPv6,
IEEE 802.11,
INAP,
IP,
IPMI,
IPv6,
ISAKMP,
ISIS,
iSNS,
ISUP,
IUUP,
JXTA,
K12,
Kerberos,
L2TP,
LAPD,
LDAP,
LINX,
LPD,
LWAPP,
MEGACO,
MIKEY,
MIME Multipart,
MMS,
MP2T,
MPEG PES,
MPEG,
MTP2,
MySQL,
NBAP,
NetFlow,
nettl,
NFS,
NSIP,
OSPF,
P_MUL,
PANA,
PER,
PKCS#12,
PMIPv6,
PN-PTCP,
PN-RT,
PPI,
PPPoE,
PRES,
PROFINET,
PTP,
Q.932 ROS,
Q.932,
QSIG,
Radiotap,
RADIUS,
RANAP,
RNSAP,
ROS,
RTCP,
RTP,
RTSE,
RTSP,
SCCP,
SCTP,
SDP,
SIGCOMP,
SIP,
Slow Protocols,
SMB,
SMPP,
SMTP,
SNDCP,
SNMP,
SRP,
SSL,
STANAG 4406,
STUN2,
TCAP,
TCP,
text/media,
TIPC,
ULP,
UMA,
UMTS FP,
V5UA,
VNC,
WiMAX M2M,
WiMAX,
WLCCP,
X.411,
X.420,
X.509 SAT,
XML,

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721349"></a>New and Updated Capture File Support</h3></div></div></div><p>

Catapult DCT 2000, Endace ERF, Juniper NetScreen snoop, Visual Networks, Windows Sniffer (NetXRay)

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721380"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Saving to the currently-open file doesn't work under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2080">Bug
      2080</a>)
    </p><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p><p>
      GTK+ 2.x <a href="http://bugzilla.gnome.org/show_bug.cgi?id=438652">renders
      white text on 8-bit displays under Windows</a>. You can work around
      this by installing the GTK+ 1.2 version of Wireshark or by increasing
      your display depth to 15 bits or more.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
