<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm21733963008"></a>Wireshark 2.2.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-01.html">wnpa-sec-2017-01</a>
</p><p class="simpara">The ASTERIX dissector could go into an infinite loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13344">Bug 13344</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2017-02.html">wnpa-sec-2017-02</a>
</p><p class="simpara">The DHCPv6 dissector could go into a large loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13345">Bug 13345</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
TCP reassembly: tcp.reassembled_in is not set in first packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3264">Bug 3264</a>)
</li><li class="listitem">
Duplicated Interfaces instances while refreshing. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11553">Bug 11553</a>)
</li><li class="listitem">
Time zone name needs to be converted to UTF-8 on Windows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11785">Bug 11785</a>)
</li><li class="listitem">
Crash on fast local interface changes. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12263">Bug 12263</a>)
</li><li class="listitem">
Please align columns in tshark’s output. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12502">Bug 12502</a>)
</li><li class="listitem">
Display data rate fields for VHT rates invalid with BCC modulation. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12859">Bug 12859</a>)
</li><li class="listitem">
plugin_if_get_ws_info causes Access Violation if called during rescan. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12973">Bug 12973</a>)
</li><li class="listitem">
SMTP BDAT dissector not reverting to command-code after DATA. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13030">Bug 13030</a>)
</li><li class="listitem">
Wireshark fails to recognize V6 DBS Etherwatch capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13093">Bug 13093</a>)
</li><li class="listitem">
Runtime Error when try to merge .pcap files (Wireshark crashes). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13175">Bug 13175</a>)
</li><li class="listitem">
PPP BCP BPDU size reports not header size, but all data underneath and its header size in UI. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13188">Bug 13188</a>)
</li><li class="listitem">
In-line UDP checksum bytes in 6LoWPAN IPHC are swapped. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13233">Bug 13233</a>)
</li><li class="listitem">
Uninitialized memcmp on data in daintree-sna.c. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13246">Bug 13246</a>)
</li><li class="listitem">
Crash when dissect WDBRPC Version 2 protocol with <span class="emphasis"><em>Dissect unknown program numbers</em></span> enabled. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13266">Bug 13266</a>)
</li><li class="listitem">
Contents/Resources/bin directory isn’t in the app bundle after installation. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13270">Bug 13270</a>)
</li><li class="listitem">
Regression: IEEE17221 (AVDECC) decoded as IEEE1722 (AVB Transportation Protocol). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13274">Bug 13274</a>)
</li><li class="listitem">
Can’t decode packets captured with OpenBSD enc(4) encapsulating. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13279">Bug 13279</a>)
</li><li class="listitem">
UDLD flags are at other end of octet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13280">Bug 13280</a>)
</li><li class="listitem">
MS-WSP dissector no longer works since commit 8c2fa5b5cf789e6d0d19cd0dd34479d0203d177a. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13299">Bug 13299</a>)
</li><li class="listitem">
TBCD string decoded wrongly in MAP ATI message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13316">Bug 13316</a>)
</li><li class="listitem">
Filter Documentation: The tilde (~) operator is not documented. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13320">Bug 13320</a>)
</li><li class="listitem">
VoIP Flow Sequence Causes Application Crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13329">Bug 13329</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
DVB-CI,
ENC,
GSM MAP,
IEEE 1722,
IEEE 1722.1,
ISAKMP,
MS-WSP,
PPP,
QUIC,
Radiotap,
RPC,
SMTP,
TCP,
UCD,
and UDLD</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p><p>Daintree SNA,
and DBS Etherwatch</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
