<div id="header">
<h1>Wireshark 4.0.2 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-09">wnpa-sec-2022-09</a>
Multiple dissector infinite loops.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2022-10">wnpa-sec-2022-10</a>
Kafka dissector memory exhaustion.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Qt: Endpoints dialog - unexpected byte unit suffixes in packet columns. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18229">Issue 18229</a>.</p>
</li>
<li>
<p>GOOSE: field "floating_point" not working anymore. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18491">Issue 18491</a>.</p>
</li>
<li>
<p>EVS Header-Full format padding issues. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18498">Issue 18498</a>.</p>
</li>
<li>
<p>Wireshark 4.0.0 VOIP playback has no sound and can’t resume after pausing. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18510">Issue 18510</a>.</p>
</li>
<li>
<p>Wireshark crashes when exporting a profile on Mac OSX if there is no extension. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18525">Issue 18525</a>.</p>
</li>
<li>
<p>EVS dissector missing value description. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18550">Issue 18550</a>.</p>
</li>
<li>
<p>Qt 6 font descriptions not backward compatible with Qt 5. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18553">Issue 18553</a>.</p>
</li>
<li>
<p>Wireshark, wrong TCP ACKed unseen segment message. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18558">Issue 18558</a>.</p>
</li>
<li>
<p>Invalid Cyrillic symbol in timezone at \"Arrival Time\" field in frame. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18562">Issue 18562</a>.</p>
</li>
<li>
<p>ProtoBuf parse extension definitions failed. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18599">Issue 18599</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-11-09-11134.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18613">Issue 18613</a>.</p>
</li>
<li>
<p>Fuzz job crash output: fuzz-2022-11-14-11111.pcap. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18632">Issue 18632</a>.</p>
</li>
<li>
<p>Wireshark is using old version of ASN (ETSI TS 125 453 V11.2.0)  which is imapacting length of param in the messages. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18646">Issue 18646</a>.</p>
</li>
<li>
<p>BGP: False IGMP flags value in EVPN routes (type 6,7,8) <a href="https://gitlab.com/wireshark/wireshark/-/issues/18660">Issue 18660</a>.</p>
</li>
<li>
<p>wslog assumes stderr and stdout exist. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18684">Issue 18684</a>.</p>
</li>
<li>
<p>Editing packet comments, with non-ASCII characters, on Windows saves them in the local code page, not in UTF-8. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18698">Issue 18698</a>.</p>
</li>
<li>
<p>Unable to decrypt PSK based DTLS traffic which uses Connection ID. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18705">Issue 18705</a>.</p>
</li>
<li>
<p>HTTP2 tests fail when built without nghttp2. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18707">Issue 18707</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_removed_features_and_support">Removed Features and Support</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASN.1 PER, ASTERIX, BGP, BPv6, DTLS, EVS, GOOSE, GSM Osmux, IPv6, Kafka, Locamation IM, MONGO, NXP 802.15.4, OpenFlow v6, PCAP, Protobuf, RTP, S1AP, SKINNY, TCP, and WASSP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>