<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm282663182912"></a>Wireshark 1.12.7 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed.</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-21.html">wnpa-sec-2015-21</a>
</p><p class="simpara">Protocol tree crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11309">Bug 11309</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-22.html">wnpa-sec-2015-22</a>
</p><p class="simpara">Memory manager crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11373">Bug 11373</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-23.html">wnpa-sec-2015-23</a>
</p><p class="simpara">Dissector table crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11381">Bug 11381</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-24.html">wnpa-sec-2015-24</a>
</p><p class="simpara">ZigBee crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11389">Bug 11389</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-25.html">wnpa-sec-2015-25</a>
</p><p class="simpara">GSM RLC/MAC infinite loop.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11358">Bug 11358</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-26.html">wnpa-sec-2015-26</a>
</p><p class="simpara">WaveAgent crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11358">Bug 11358</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-27.html">wnpa-sec-2015-27</a>
</p><p class="simpara">OpenFlow infinite loop.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11358">Bug 11358</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-28.html">wnpa-sec-2015-28</a>
</p><p class="simpara">Ptvcursor crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11358">Bug 11358</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-29.html">wnpa-sec-2015-29</a>
</p><p class="simpara">WCCP crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11358">Bug 11358</a>)</p></li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
DCE RPC "Decode As" capability is missing. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10368">Bug 10368</a>)
</li><li class="listitem">
Mergecap turns nanosecond-resolution time stamps into microsecond-resolution time stamps. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11202">Bug 11202</a>)
</li><li class="listitem">
The Aruba ERM Type 1 Dissector inconsistent with Type 0 and Type 3. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11204">Bug 11204</a>)
</li><li class="listitem">
Parse CFM Type Test signal (TST) without CRC. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11286">Bug 11286</a>)
</li><li class="listitem">
Tshark: output format of rpc.xid changed from Hex to Integer. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11292">Bug 11292</a>)
</li><li class="listitem">
Not stop -a filecount &lt;COUNT&gt;. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11305">Bug 11305</a>)
</li><li class="listitem">
lldp.ieee.802_3.mdi_power_class display is wrong. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11330">Bug 11330</a>)
</li><li class="listitem">
Powerlink (EPL) SDO packages interpreted as frame dublication. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11341">Bug 11341</a>)
</li><li class="listitem">
Mysql dissector adds packet content to INFO column without scrubbing it. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11344">Bug 11344</a>)
</li><li class="listitem">
PIM null-register according to rfc4601 is incorrectly parsed. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11354">Bug 11354</a>)
</li><li class="listitem">
Wireshark Lua dissectors: both expand together. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11356">Bug 11356</a>)
</li><li class="listitem">
Link-type not retrieved for rpcap interfaces configured with authentication. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11366">Bug 11366</a>)
</li><li class="listitem">
SSL Decryption (RSA private key with p smaller than q) failing on the Windows 7 buildbot. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11372">Bug 11372</a>)
</li><li class="listitem">
[gtpv2]PCSCF ip in the Protocol configuration of update bearer request is not getting populated. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11378">Bug 11378</a>)
</li><li class="listitem">
wpan.src64 (and dst64) filter always gives "is not a valid EUI64 Address" error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11380">Bug 11380</a>)
</li><li class="listitem">
Websphere MQ Work Information Header incorrectly showing "Reserved". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11384">Bug 11384</a>)
</li><li class="listitem">
DUP ACK Counter resetting after Window Update. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11397">Bug 11397</a>)
</li><li class="listitem">
CSV values missing when using tshark -2 option. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11401">Bug 11401</a>)
</li><li class="listitem">
Ethernet PAUSE frames are decoded incorrectly as PFC. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11403">Bug 11403</a>)
</li><li class="listitem">
SOCKS decoder giving strange values for seemingly normal SOCKS connection. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11417">Bug 11417</a>)
</li><li class="listitem">
802.11ad decoding error. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11419">Bug 11419</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>Aruba ERM,
CFM,
EPL,
GSM A-bis OML,
GSM MAP,
GSM RLC/MAC,
GTPv2,
IEEE 802.11,
LLDP,
LTE RRC,
MAC Control,
MQ,
MySQL,
OpcUa,
OpenFlow,
Radiotap,
SCCP,
SOCKS,
TCP,
WaveAgent,
WCCP,
and ZigBee</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>The 64-bit Windows installer does not support Kerberos decryption.
(<a class="ulink" href="https://wiki.wireshark.org/Development/Win64">Win64 development page</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
