<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm434357783216"></a>Wireshark 2.2.3 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt><dt><span class="section"><a href="#_major_api_changes">2.8. Major API Changes</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Arbitrary file deletion on Windows. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13217">Bug 13217</a>)
</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Saving all exported objects (SMB/SMB2) results in out of physical memory. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11133">Bug 11133</a>)
</li><li class="listitem">
Export HTTP Objects - Single file shows as multiple files in 2.0.2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12230">Bug 12230</a>)
</li><li class="listitem">
Follow Stream and graph buttons remain greyed out in conversation window. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12893">Bug 12893</a>)
</li><li class="listitem">
Dicom list of tags in element of VR=AT not properly decoded. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13077">Bug 13077</a>)
</li><li class="listitem">
Malformed Packet: BGP Update (withdraw) message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13146">Bug 13146</a>)
</li><li class="listitem">
Install fail on macOS Sierra (error PKInstallErrorDomain Code=112). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13152">Bug 13152</a>)
</li><li class="listitem">
GTP: "Create PDP Context response" message shows back-off timer as malformed when included in the response. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13153">Bug 13153</a>)
</li><li class="listitem">
ICMP dissector fails to properly detect timestamps. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13161">Bug 13161</a>)
</li><li class="listitem">
RLC misdissection. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13162">Bug 13162</a>)
</li><li class="listitem">
Text2pcap on Windows produces corrupt output when writing the capture file to the standard output. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13165">Bug 13165</a>)
</li><li class="listitem">
HTML escaping of quotes in error message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13178">Bug 13178</a>)
</li><li class="listitem">
TShark doesn’t respect protocols.display_hidden_proto_items setting. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13192">Bug 13192</a>)
</li><li class="listitem">
RPC/RDMA dissector should exit when frame is not RPC-over-RDMA. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13195">Bug 13195</a>)
</li><li class="listitem">
Some RPC-over-RDMA frames are not recognized as RPC-over-RDMA. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13196">Bug 13196</a>)
</li><li class="listitem">
RPC-over-RDMA frames with chunk lists are "Malformed". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13197">Bug 13197</a>)
</li><li class="listitem">
TShark fails to pass RPC-over-RDMA frames to RPC subdissector. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13198">Bug 13198</a>)
</li><li class="listitem">
Adding a DOF DPS Identity Secret, session Key, or Mode Template causes Wireshark to crash. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13209">Bug 13209</a>)
</li><li class="listitem">
Wireshark shows "MS Video Source Request" in a RTCP packet as "Malformed". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13212">Bug 13212</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>BGP,
BOOTP/DHCP,
BTLE,
DICOM,
DOF,
Echo,
GTP,
ICMP,
Radiotap,
RLC,
RPC over RDMA,
RTCP,
SMB,
TCP,
UFTP4,
and VXLAN</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>There is no new or updated capture file support in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_major_api_changes"></a>2.8. Major API Changes</h3></div></div></div><p>There are no major API changes in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p><p>Dell Backup and Recovery (DBAR) makes many Windows applications crash,
including Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=12036">Bug 12036</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
