<div id="header">
<h1>Wireshark 2.6.4 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-47">wnpa-sec-2018-47</a></p>
<div class="paragraph">
<p>MS-WSP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15119">Bug 15119</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-18227">CVE-2018-18227</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-48">wnpa-sec-2018-48</a></p>
<div class="paragraph">
<p>Steam IHS Discovery dissector memory leak.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15171">Bug 15171</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-18226">CVE-2018-18226</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-49">wnpa-sec-2018-49</a></p>
<div class="paragraph">
<p>CoAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15172">Bug 15172</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-18225">CVE-2018-18225</a>.</p>
</div>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2018-50">wnpa-sec-2018-50</a></p>
<div class="paragraph">
<p>OpcUA dissector crash.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-12086">CVE-2018-12086</a>.</p>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>HTTP2 dissector decodes first SSL record only. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11173">Bug 11173</a>.</p>
</li>
<li>
<p>Undocumented sub-option for -N option in man page and tshark -N help. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14826">Bug 14826</a>.</p>
</li>
<li>
<p>Mishandling of Port Control Protocol option padding. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14950">Bug 14950</a>.</p>
</li>
<li>
<p>MGCP: parameter lines are case-insensitive. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15008">Bug 15008</a>.</p>
</li>
<li>
<p>Details of 2nd sub-VSA in bundled RADIUS VSA are incorrect. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15073">Bug 15073</a>.</p>
</li>
<li>
<p>Heuristic DPLAY dissector fails to recognize DPLAY packets. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15092">Bug 15092</a>.</p>
</li>
<li>
<p>gsm_rlcmac_dl dissector exception. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15112">Bug 15112</a>.</p>
</li>
<li>
<p>dfilter_buttons file under user-created profile. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15114">Bug 15114</a>.</p>
</li>
<li>
<p>Filter buttons disappear when using pre-2.6 profile. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15121">Bug 15121</a>.</p>
</li>
<li>
<p>PROFINET Information element AM_DeviceIdentification in Asset Management Info block is decoded wrongly. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15140">Bug 15140</a>.</p>
</li>
<li>
<p>Hw dest addr column shows incorrect address. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15144">Bug 15144</a>.</p>
</li>
<li>
<p>Windows dumpcap -i TCP@&lt;ip-address&gt; fails on pcapng stream. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15149">Bug 15149</a>.</p>
</li>
<li>
<p>Wildcard expansion doesn’t work on Windows 10 for command-line programs in cmd.exe or PowerShell. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15151">Bug 15151</a>.</p>
</li>
<li>
<p>SSL Reassembly Error New fragment past old data limits. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15158">Bug 15158</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASN.1 PER, Bluetooth HCI_SCO, CoAP, DPLAY, IEEE 802.11, Kafka, Message Analyzer, MGCP, MS-WSP, Netmon, OpcUa, PCP, PNIO, RADIUS, Steam IHS Discovery, and TLS</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
<div class="paragraph">
<p>Ascend and pcapng</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2018-10-11 18:04:55 UTC
</div>
</div>
