<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id908743"></a>Wireshark 1.0.11 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2010-01.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
            The SMB and SMB2 dissectors could crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4301">Bug
            4301</a>)
          </p><p>Versions affected: 0.9.0 to 1.0.10, 1.2.0 to 1.2.4</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-4377">CVE-2009-4377</a>
          </p></li><li><p>
            The Infiniband dissector could crash on some platforms.
            
            
            
          </p><p>Versions affected: 1.0.6 to 1.0.10, 1.2.0</p><p>
            <a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-2563">CVE-2009-2563</a>
          </p></li><li><p>
            Babi discovered several buffer overflows in the LWRES dissector.
            
            
            
          </p><p>Versions affected: 0.9.15 to 1.0.10, 1.2.0 to 1.2.5</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
           Wireshark locks up some Windows 2000 systems.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3270">Bug
          3270</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new or updated features in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

Infiniband, Kerberos, LWRES, SMB, SMB2

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark may appear offscreen on multi-monitor Windows systems.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=553">Bug
      553</a>)
    </p><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Wireshark can't dynamically update the packet list. This means that host
      name resolutions above a certain response time threshold won't show up in
      the packet list.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1605">Bug
      1605</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Wireshark might freeze when reading from a pipe.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2082">Bug
      2082</a>)
    </p><p>
      Capturing from named pipes might be delayed on Windows.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2200">Bug
      2200</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support and development services are available
    from <a class="ulink" href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
