<div id="header">
<h1>Wireshark 4.0.6 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>We do not ship official 32-bit Windows packages for Wireshark 4.0 and later</em>.
If you need to use Wireshark on that platform, we recommend using the latest 3.6 release.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17779">Issue 17779</a></p>
</div>
<div class="paragraph">
<p>If you’re running Wireshark on macOS and upgraded to macOS 13 from an earlier version, you will likely have to open and run the “Uninstall ChmodBPF” package, then open and run “Install ChmodBPF” in order to reset the ChmodBPF Launch Daemon.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/18734">Issue 18734</a>.</p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-12">wnpa-sec-2023-12</a>
Candump log file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19062">Issue 19062</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-2855">CVE-2023-2855</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-13">wnpa-sec-2023-13</a>
BLF file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19063">Issue 19063</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-2857">CVE-2023-2857</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-14">wnpa-sec-2023-14</a>
GDSDB dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19068">Issue 19068</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-15">wnpa-sec-2023-15</a>
NetScaler file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19081">Issue 19081</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-2858">CVE-2023-2858</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-16">wnpa-sec-2023-16</a>
VMS TCPIPtrace file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19083">Issue 19083</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-2856">CVE-2023-2856</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-17">wnpa-sec-2023-17</a>
BLF file parser crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19084">Issue 19084</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-2854">CVE-2023-2854</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-18">wnpa-sec-2023-18</a>
RTPS dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19085">Issue 19085</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-0666">CVE-2023-0666</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-19">wnpa-sec-2023-19</a>
IEEE C37.118 Synchrophasor dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19087">Issue 19087</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-0668">CVE-2023-0668</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2023-20">wnpa-sec-2023-20</a>
XRA dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/19100">Issue 19100</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Conversations list has incorrect unit (bytes) in bit speed columns in the 3.7 development versions. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18211">Issue 18211</a>.</p>
</li>
<li>
<p>The media_type table should treat media types, e.g. application/3gppHal+json, as case-insensitive. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18611">Issue 18611</a>.</p>
</li>
<li>
<p>NNTP dissector bug. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18981">Issue 18981</a>.</p>
</li>
<li>
<p>Incorrect padding in BFCP decoder. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18890">Issue 18890</a>.</p>
</li>
<li>
<p>SPNEGO dissector bug. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18991">Issue 18991</a>.</p>
</li>
<li>
<p>SRT values are incorrect when applying a time shift. <a href="https://gitlab.com/wireshark/wireshark/-/issues/18999">Issue 18999</a>.</p>
</li>
<li>
<p>Add warning that capturing is not supported in Wireshark installed from flatpak. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19008">Issue 19008</a>.</p>
</li>
<li>
<p>Opening Wireshark with -z io,stat option. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19042">Issue 19042</a>.</p>
</li>
<li>
<p>batadv dissector bug. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19047">Issue 19047</a>.</p>
</li>
<li>
<p>radiotap-gen build fails if pcap is not found. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19059">Issue 19059</a>.</p>
</li>
<li>
<p>[UDS] When filtering the uds.wdbi.data_identifier or uds.iocbi.data_identifier field is interpreted as 1 byte whereas it consists of 2 bytes. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19078">Issue 19078</a>.</p>
</li>
<li>
<p>Wireshark can’t save this capture in that format. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19080">Issue 19080</a>.</p>
</li>
<li>
<p>MSMMS parsing buffer overflow. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19086">Issue 19086</a>.</p>
</li>
<li>
<p>USB HID parser shows wrong label for usages Rx/Vx/Vbrx of usage page Generic Desktop Control. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19095">Issue 19095</a>.</p>
</li>
<li>
<p>"Follow → QUIC Stream" mixes data between streams. <a href="https://gitlab.com/wireshark/wireshark/-/issues/19102">Issue 19102</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>The media type dissector table now properly treats media types and subtypes
as case-insensitive automatically, per RFC 6838. Media types no longer need
to be lower cased before registering or looking up in the table.</p>
</div>
</div>
<div class="sect2">
<h3 id="_removed_features_and_support">Removed Features and Support</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>batadv, BFCP, CommunityID, COSE, GDSDB, H.265, HTTP, ILP, ISAKMP, MSMMS, NNTP, NR RRC, NTLMSSP, QUIC, RTPS, SPNEGO, Synphasor, TCP, UDS, ULP, USB HID, and XRA</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>BLF, Candump, NetScaler, and VMS TCPIPtrace</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_file_format_decoding_support">New File Format Decoding Support</h3>
<div class="paragraph">
<p>There is no new or updated file format support in this release.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use <span class="menuseq"><b class="menu">Help</b> <b class="caret">›</b> <b class="submenu">About Wireshark</b> <b class="caret">›</b> <b class="menuitem">Folders</b></span> or <code>tshark -G folders</code> to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
<div class="paragraph">
<p>You can learn protocol analysis and meet Wireshark’s developers at
<a href="https://sharkfest.wireshark.org">SharkFest</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_how_you_can_help">How You Can Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Wireshark Foundation helps as many people as possible understand their networks as much as possible.
You can find out more and donate at <a href="https://wiresharkfoundation.org">wiresharkfoundation.org</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>