<div id="header">
<h1>Wireshark 3.2.9 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-16">wnpa-sec-2020-16</a>
Kafka dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/16739">Bug 16739</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-26418">CVE-2020-26418</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-17">wnpa-sec-2020-17</a>
USB HID dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/16958">Bug 16958</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-26421">CVE-2020-26421</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-18">wnpa-sec-2020-18</a>
RTPS dissector memory leak.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/16994">Bug 16994</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-26420">CVE-2020-26420</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SOME/IP: Wrong dissection of parameters after Array <a href="https://gitlab.com/wireshark/wireshark/-/issues/16951">Bug 16951</a>.</p>
</li>
<li>
<p>Can editcap properly corrupt pcapng file with systemd journal export block? <a href="https://gitlab.com/wireshark/wireshark/-/issues/16965">Bug 16965</a>.</p>
</li>
<li>
<p>Crash when a GIOP ior.txt file is present <a href="https://gitlab.com/wireshark/wireshark/-/issues/16984">Bug 16984</a>.</p>
</li>
<li>
<p>Protobuf: failed to parse .proto file contains negative enum values or option values of number type <a href="https://gitlab.com/wireshark/wireshark/-/issues/16988">Bug 16988</a>.</p>
</li>
<li>
<p>MMRP dissector bug <a href="https://gitlab.com/wireshark/wireshark/-/issues/17005">Bug 17005</a>.</p>
</li>
<li>
<p>SSTP no longer recognized <a href="https://gitlab.com/wireshark/wireshark/-/issues/17024">Bug 17024</a>.</p>
</li>
<li>
<p>RFC2190 encapsulated H.263 bitfields masked wrong in Mode A <a href="https://gitlab.com/wireshark/wireshark/-/issues/17025">Bug 17025</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>Ericsson HDLC, F5 Ethernet Trailer, GIOP, GSM A, HTTP, IEEE 802.11, Kafka, LLC, MMRP, NAS 5GS, NAS EPS, ProtoBuf, QUIC, Radiotap, RFC 2190, RLC MAC, RTCP, RTPS, S1AP, SOME/IP, and USB Video</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcapng</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-12-09 19:54:07 UTC
</div>
</div>
