<div id="header">
<h1>Wireshark 3.4.11 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-16">wnpa-sec-2021-16</a>
Gryphon dissector crash.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17737">Issue 17737</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4186">CVE-2021-4186</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-17">wnpa-sec-2021-17</a>
RTMPT dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17745">Issue 17745</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4185">CVE-2021-4185</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-18">wnpa-sec-2021-18</a>
BitTorrent DHT dissector infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17754">Issue 17754</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4184">CVE-2021-4184</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-20">wnpa-sec-2021-20</a>
RFC 7468 file parser infinite loop.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17801">Issue 17801</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4182">CVE-2021-4182</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-21">wnpa-sec-2021-21</a>
Sysdig Event dissector crash.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4181">CVE-2021-4181</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>43 test case failed in Ubuntu Build action <a href="https://gitlab.com/wireshark/wireshark/-/issues/17730">Issue 17730</a>.</p>
</li>
<li>
<p>5GS TAI not correctly decoded for GTPv2 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17738">Issue 17738</a>.</p>
</li>
<li>
<p>Can’t install "ChmodBPF.pkg" or "Add Wireshark to the system path.pkg" on M1 MacBook Air Monterey without Rosetta 2 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17757">Issue 17757</a>.</p>
</li>
<li>
<p>Unable to build without tshark <a href="https://gitlab.com/wireshark/wireshark/-/issues/17766">Issue 17766</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AT, BT LE LL, BT-DHT, EVS, FF, Gryphon, GTPv2, MKA, RTMPT, RTSP, SRVLOC, and Sysdig Event</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>RFC 7468</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’s Q&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-12-29 19:12:10 UTC
</div>
</div>