<div id="header">
<h1>Wireshark 2.6.7 Release Notes</h1>
</div>
<div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_what_s_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-06">wnpa-sec-2019-06</a>
ASN.1 BER and related dissectors crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15447">Bug 15447</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9209">CVE-2019-9209</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-07">wnpa-sec-2019-07</a>
TCAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15464">Bug 15464</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9208">CVE-2019-9208</a>.</p>
</li>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2019-08">wnpa-sec-2019-08</a>
RPCAP dissector crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15536">Bug 15536</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alignment Lost after Editing Column. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14177">Bug 14177</a>.</p>
</li>
<li>
<p>Crash on applying display filters or coloring rules on capture files containing non-UTF-8 data. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14905">Bug 14905</a>.</p>
</li>
<li>
<p>tshark outputs debug information. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15341">Bug 15341</a>.</p>
</li>
<li>
<p>Feature request - HTTP, add the field "request URI" to response. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15344">Bug 15344</a>.</p>
</li>
<li>
<p>randpkt should be distributed with the Windows installer. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15395">Bug 15395</a>.</p>
</li>
<li>
<p>Memory leak with "-T ek" output format option. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15406">Bug 15406</a>.</p>
</li>
<li>
<p>Display error in negative response time stats (gint displayed as unsigned). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15416">Bug 15416</a>.</p>
</li>
<li>
<p>_epl_xdd_init not found. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15419">Bug 15419</a>.</p>
</li>
<li>
<p>Decoding of MEGACO/H.248 request shows the Remote descriptor as "Local descriptor". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15430">Bug 15430</a>.</p>
</li>
<li>
<p>Repeated <em>NFS</em> in Protocol Display field. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15443">Bug 15443</a>.</p>
</li>
<li>
<p>RBM file dissector adds too many items to the tree, resulting in aborting the program. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15448">Bug 15448</a>.</p>
</li>
<li>
<p>Wireshark heap out-of-bounds read in infer_pkt_encap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15463">Bug 15463</a>.</p>
</li>
<li>
<p>Column width and hidden issues when switching profiles. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15466">Bug 15466</a>.</p>
</li>
<li>
<p>GTPv1-C SGSN Context Response / Forward Relocation Request decode GGSN address IPV6 issue. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15485">Bug 15485</a>.</p>
</li>
<li>
<p>Lua Error on startup: init.lua: dofile has been disabled due to running Wireshark as superuser. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15489">Bug 15489</a>.</p>
</li>
<li>
<p>DICOM ASSOCIATE Accept: Protocol Version. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15495">Bug 15495</a>.</p>
</li>
<li>
<p>Multiple out-of-bounds reads in NetScaler trace handling (wiretap/netscaler.c). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15497">Bug 15497</a>.</p>
</li>
<li>
<p>Wrong endianess when dissecting the "chain offset" in SMB2 protocol header. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15524">Bug 15524</a>.</p>
</li>
<li>
<p>Memory leak in mate_grammar.lemon’s recolonize function. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15525">Bug 15525</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASN.1 BER, BSSAP, BT Mesh, DICOM, DNP3, EPL, ETSI CAT, GTP, HTTP, IEEE 802.15.4, ISAKMP, MEGACO, MPLS Echo, RPC, RPCAP, SMB2, and TCAP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>IxVeriWave, NetScaler, and Sniffer</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_interfaces_support">New and Updated Capture Interfaces support</h3>
<div class="paragraph">
<p>There is no new or updated capture file support in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_major_api_changes">Major API Changes</h3>
<div class="ulist">
<ul>
<li>
<p>Lua: on Windows, file-related functions such as dofile now assume UTF-8 paths
instead of the local code page. This is consistent with Linux and macOS and
improves compatibility on non-English systems. (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15118">Bug 15118</a>)</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_known_problems">Known Problems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The BER dissector might infinitely loop.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>.</p>
</div>
<div class="paragraph">
<p>Capture filters aren’t applied when capturing from named pipes.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>.</p>
</div>
<div class="paragraph">
<p>Filtering tshark captures with read filters (<code>-R</code>) no longer works.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>.</p>
</div>
<div class="paragraph">
<p>Application crash when changing real-time option.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark and TShark will display incorrect delta times in some cases.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>.</p>
</div>
<div class="paragraph">
<p>Wireshark should let you work with multiple capture files. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Official Wireshark training and certification are available from
<a href="http://www.wiresharktraining.com/">Wireshark University</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footer-text">
Last updated 2019-02-27 18:35:09 UTC
</div>
</div>
