<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm410902670848"></a>Wireshark 2.0.1 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_file_format_decoding_support">2.3. New File Format Decoding Support</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.4. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.5. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.6. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.7. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-31.html">wnpa-sec-2015-31</a>
</p><p class="simpara">NBAP dissector crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11602">Bug 11602</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11835">Bug 11835</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11841">Bug 11841</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-37.html">wnpa-sec-2015-37</a>
</p><p class="simpara">NLM dissector crash.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-39.html">wnpa-sec-2015-39</a>
</p><p class="simpara">BER dissector crash.</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-40.html">wnpa-sec-2015-40</a>
</p><p class="simpara">Zlib decompression crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11548">Bug 11548</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-41.html">wnpa-sec-2015-41</a>
</p><p class="simpara">SCTP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11767">Bug 11767</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-42.html">wnpa-sec-2015-42</a>
</p><p class="simpara">802.11 decryption crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11790">Bug 11790</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11826">Bug 11826</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-43.html">wnpa-sec-2015-43</a>
</p><p class="simpara">DIAMETER dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11792">Bug 11792</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-44.html">wnpa-sec-2015-44</a>
</p><p class="simpara">VeriWave file parser crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11789">Bug 11789</a>, <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11791">Bug 11791</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-45.html">wnpa-sec-2015-45</a>
</p><p class="simpara">RSVP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11793">Bug 11793</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-46.html">wnpa-sec-2015-46</a>
</p><p class="simpara">ANSI A &amp; GSM A dissector crashes.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11797">Bug 11797</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-47.html">wnpa-sec-2015-47</a>
</p><p class="simpara">Ascend file parser crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11794">Bug 11794</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-48.html">wnpa-sec-2015-48</a>
</p><p class="simpara">NBAP dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11815">Bug 11815</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-49.html">wnpa-sec-2015-49</a>
</p><p class="simpara">RSL dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11829">Bug 11829</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-50.html">wnpa-sec-2015-50</a>
</p><p class="simpara">ZigBee ZCL dissector crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11830">Bug 11830</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-51.html">wnpa-sec-2015-51</a>
</p><p class="simpara">Sniffer file parser crash.



(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11827">Bug 11827</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-52.html">wnpa-sec-2015-52</a>
</p><p class="simpara">NWP dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11726">Bug 11726</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-53.html">wnpa-sec-2015-53</a>
</p><p class="simpara">BT ATT dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11817">Bug 11817</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-54.html">wnpa-sec-2015-54</a>
</p><p class="simpara">MP2T file parser crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11820">Bug 11820</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-55.html">wnpa-sec-2015-55</a>
</p><p class="simpara">MP2T file parser crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11821">Bug 11821</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-56.html">wnpa-sec-2015-56</a>
</p><p class="simpara">S7COMM dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11823">Bug 11823</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-57.html">wnpa-sec-2015-57</a>
</p><p class="simpara">IPMI dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11831">Bug 11831</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-58.html">wnpa-sec-2015-58</a>
</p><p class="simpara">TDS dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11846">Bug 11846</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-59.html">wnpa-sec-2015-59</a>
</p><p class="simpara">PPI dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11876">Bug 11876</a>)</p></li><li class="listitem"><p class="simpara">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2015-60.html">wnpa-sec-2015-60</a>
</p><p class="simpara">MS-WSP dissector crash.


(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11931">Bug 11931</a>)</p></li></ul></div><p>The Windows installers are now built using NSIS 2.50 in order to avoid
<a class="ulink" href="http://nsis.sourceforge.net/Docs/AppendixF.html">DLL hijacking flaws</a>.</p><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
Zooming out (Ctrl+-) too far crashes Wireshark. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=8854">Bug 8854</a>)
</li><li class="listitem">
IPv6 Mobility Header Link-Layer Address Mobility Option is parsed incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10627">Bug 10627</a>)
</li><li class="listitem">
About → Plugins should be a scrollable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11427">Bug 11427</a>)
</li><li class="listitem">
Profile change leaves prior profile residue. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11493">Bug 11493</a>)
</li><li class="listitem">
Wireshark crashes when using the VoIP player. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11596">Bug 11596</a>)
</li><li class="listitem">
Incorrect presentation of Ascend-Data-Filter (RADIUS attribute 242). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11630">Bug 11630</a>)
</li><li class="listitem">
Not possible to stop a capture with invalid filter. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11667">Bug 11667</a>)
</li><li class="listitem">
"No interface selected" when having a valid capture filter. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11671">Bug 11671</a>)
</li><li class="listitem">
Malformed packet with IPv6 mobility header. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11728">Bug 11728</a>)
</li><li class="listitem">
Wireshark crashes dissecting Profinet NRT (DCE-RPC) packet. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11730">Bug 11730</a>)
</li><li class="listitem">
All fields in the packet detail pane of a "new packet" window are expanded by default. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11731">Bug 11731</a>)
</li><li class="listitem">
Malformed packets with SET_CUR in the USBVIDEO (UVC) decoding. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11736">Bug 11736</a>)
</li><li class="listitem">
Display filters arranges columns incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11737">Bug 11737</a>)
</li><li class="listitem">
Scrolling and navigating using the trackpad on Mac OS X could be much better. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11738">Bug 11738</a>)
</li><li class="listitem">
Lua Proto() does not validate arguments. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11739">Bug 11739</a>)
</li><li class="listitem">
Pointers to deallocated memory when redissecting. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11740">Bug 11740</a>)
</li><li class="listitem">
Suggestion for re-phrasing the TCP Window Full message. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11741">Bug 11741</a>)
</li><li class="listitem">
Can’t parse MPEG-2 Transport Streams generated by the Logik L26DIGB21 TV. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11749">Bug 11749</a>)
</li><li class="listitem">
Qt UI on Windows crashes when changing to next capture file. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11756">Bug 11756</a>)
</li><li class="listitem">
First displayed frame not updated when changing profile. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11757">Bug 11757</a>)
</li><li class="listitem">
LDAP decode shows invalid number of results for searchResEntry packets. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11761">Bug 11761</a>)
</li><li class="listitem">
Crash when escape to Follow TCP → Save. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11763">Bug 11763</a>)
</li><li class="listitem">
USBPcap prevents mouse and keyboard from working. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11766">Bug 11766</a>)
</li><li class="listitem">
Y-axis in RTP graph is in microseconds. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11784">Bug 11784</a>)
</li><li class="listitem">
"Delta time displayed" column in Wireshark doesn’t work well, but Wireshark-gtk does. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11786">Bug 11786</a>)
</li><li class="listitem">
UDP 12001 SNA Data no longer shown in EBCDIC. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11787">Bug 11787</a>)
</li><li class="listitem">
Wireshark Portable is not starting (no messages at all). (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11800">Bug 11800</a>)
</li><li class="listitem">
IPv6 RPL Routing Header with length of 8 bytes still reads an address. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11803">Bug 11803</a>)
</li><li class="listitem">
g_utf8_validate assertion when reassembling GSM SMS messages encoded in UCS2. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11809">Bug 11809</a>)
</li><li class="listitem">
Calling plugin_if_goto_frame when there is no file loaded causes a Protection Exception. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11810">Bug 11810</a>)
</li><li class="listitem">
Qt UI SIGSEGV before main() in initializer for colors_. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11833">Bug 11833</a>)
</li><li class="listitem">
Unable to add a directory to "GeoIP Database Paths". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11842">Bug 11842</a>)
</li><li class="listitem">
C++ Run time error when filtering on Expert limit to display filter. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11848">Bug 11848</a>)
</li><li class="listitem">
Widening the window doesn’t correctly widen the rightmost column. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11849">Bug 11849</a>)
</li><li class="listitem">
SSL V2 Client Hello no longer dissected in Wireshark 2.0. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11851">Bug 11851</a>)
</li><li class="listitem">
PacketBB (RFC5444) dissector displays IPv4 addresses incorrectly. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11852">Bug 11852</a>)
</li><li class="listitem">
SMTP over port 587 shows identical content for fields "Username" and "Password" when not decoding base-64-encoded authentication information. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11853">Bug 11853</a>)
</li><li class="listitem">
Converting of EUI64 address to string does not take offset into account. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11856">Bug 11856</a>)
</li><li class="listitem">
CIP segment dissection causes PDML assertion/failure. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11863">Bug 11863</a>)
</li><li class="listitem">
In Import from Hex Dump, an attempt to enter the timestamp format manually crashes the application. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11873">Bug 11873</a>)
</li><li class="listitem">
Follow Stream directional selector not readable. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11887">Bug 11887</a>)
</li><li class="listitem">
Coloring rule custom colors not saved. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11888">Bug 11888</a>)
</li><li class="listitem">
Total number of streams not correct in Follow TCP Stream dialog. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11889">Bug 11889</a>)
</li><li class="listitem">
Command line switch -Y for display filter does not work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11891">Bug 11891</a>)
</li><li class="listitem">
Creating Debian package doesn’t work. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11893">Bug 11893</a>)
</li><li class="listitem">
Visual C++ Runtime Library Error "The application has requested the Runtime to terminate it in an unusual way." when you do not wait until Conversations is completely updated before applying "Limit to display filter". (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11900">Bug 11900</a>)
</li><li class="listitem">
dpkg-buildpackage relocation R_X86_64_PC32 against symbol. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11901">Bug 11901</a>)
</li><li class="listitem">
Bits view in Packet Bytes pane is not persistent. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11903">Bug 11903</a>)
</li><li class="listitem">
ICMP Timestamp days, hours, minutes, seconds is incorrect. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11910">Bug 11910</a>)
</li><li class="listitem">
MPEG2TS NULL pkt: AFC: "Should be 0 for NULL packets" wrong. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=11921">Bug 11921</a>)
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_file_format_decoding_support"></a>2.3. New File Format Decoding Support</h3></div></div></div><p>There are no new file formats in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.4. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.5. Updated Protocol Support</h3></div></div></div><p>6LoWPAN,
ANSI A,
ASN.1 BER,
BT ATT,
CIP,
CLNP,
DIAMETER,
DNS,
ENIP,
ERF,
GSM A,
GSM SMS,
HiSLIP,
ICMP,
IEEE 802.11,
IEEE 802.11 Radio,
IPMI,
IPv4,
IPv6,
ISUP,
L2TP,
LDAP,
Link (ethertype),
MIP6,
MP2T,
MS-WSP,
NBAP,
NWP,
PacketBB,
PPI,
QUIC,
RADIUS,
RSL,
RSVP,
S7COMM,
SCSI,
SCTP,
SMTP,
SSL,
TCP,
TDS,
USB,
VRT,
and ZigBee ZCL</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.6. New and Updated Capture File Support</h3></div></div></div><p>Ascend,
ERF,
MP2T,
Sniffer,
and VeriWave</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.7. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Resolving (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9044">Bug 9044</a>) reopens (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3528">Bug 3528</a>) so that Wireshark
no longer automatically decodes gzip data when following a TCP stream.</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Hex pane display issue after startup.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug 4056</a>)</p><p>Packet list rows are oversized.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug 4357</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>The 64-bit version of Wireshark will leak memory on Windows when the display
depth is set to 16 bits (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=9914">Bug 9914</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
