<div xml:lang="en" class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a id="idm464174590272"></a>Wireshark 2.4.13 Release Notes</h2></div></div><hr></div><div class="toc"><p><strong>Table of Contents</strong></p><dl class="toc"><dt><span class="section"><a href="#_what_is_wireshark">1. What is Wireshark?</a></span></dt><dt><span class="section"><a href="#_what_8217_s_new">2. What’s New</a></span></dt><dd><dl><dt><span class="section"><a href="#_bug_fixes">2.1. Bug Fixes</a></span></dt><dt><span class="section"><a href="#_new_and_updated_features">2.2. New and Updated Features</a></span></dt><dt><span class="section"><a href="#_new_protocol_support">2.3. New Protocol Support</a></span></dt><dt><span class="section"><a href="#_updated_protocol_support">2.4. Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_file_support">2.5. New and Updated Capture File Support</a></span></dt><dt><span class="section"><a href="#_new_and_updated_capture_interfaces_support">2.6. New and Updated Capture Interfaces support</a></span></dt></dl></dd><dt><span class="section"><a href="#_getting_wireshark">3. Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#_vendor_supplied_packages">3.1. Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#_file_locations">4. File Locations</a></span></dt><dt><span class="section"><a href="#_known_problems">5. Known Problems</a></span></dt><dt><span class="section"><a href="#_getting_help">6. Getting Help</a></span></dt><dt><span class="section"><a href="#_frequently_asked_questions">7. Frequently Asked Questions</a></span></dt></dl></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_is_wireshark"></a>1. What is Wireshark?</h2></div></div></div><p>Wireshark is the world’s most popular network protocol analyzer. It is
used for troubleshooting, analysis, development and education.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_what_8217_s_new"></a>2. What’s New</h2></div></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_bug_fixes"></a>2.1. Bug Fixes</h3></div></div></div><p>The following vulnerabilities have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-06.html">wnpa-sec-2019-06</a>
ASN.1 BER and related dissectors crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15447">Bug 15447</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9209">CVE-2019-9209</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-07.html">wnpa-sec-2019-07</a>
TCAP dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15464">Bug 15464</a>.
<a class="ulink" href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9208">CVE-2019-9208</a>.


</li><li class="listitem">
<a class="ulink" href="https://www.wireshark.org/security/wnpa-sec-2019-08.html">wnpa-sec-2019-08</a>
RPCAP dissector crash.
<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15536">Bug 15536</a>.



</li></ul></div><p>The following bugs have been fixed:</p><div class="itemizedlist"><ul class="itemizedlist" style="list-style-type: disc; "><li class="listitem">
dftest should be distributed with the Windows installer. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13825">Bug 13825</a>.
</li><li class="listitem">
Alignment Lost after Editing Column. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14177">Bug 14177</a>.
</li><li class="listitem">
Crash on applying display filters or coloring rules on capture files containing non-UTF-8 data. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=14905">Bug 14905</a>.
</li><li class="listitem">
Decoding of MEGACO/H.248 request shows the Remote descriptor as "Local descriptor". <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15430">Bug 15430</a>.
</li><li class="listitem">
Repeated <span class="emphasis"><em>NFS</em></span> in Protocol Display field. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15443">Bug 15443</a>.
</li><li class="listitem">
Wireshark heap out-of-bounds read in infer_pkt_encap. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15463">Bug 15463</a>.
</li><li class="listitem">
Column width and hidden issues when switching profiles. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15466">Bug 15466</a>.
</li><li class="listitem">
GTPv1-C SGSN Context Response / Forward Relocation Request decode GGSN address IPV6 issue. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15485">Bug 15485</a>.
</li><li class="listitem">
Lua Error on startup: init.lua: dofile has been disabled due to running Wireshark as superuser. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15489">Bug 15489</a>.
</li><li class="listitem">
Multiple out-of-bounds reads in NetScaler trace handling (wiretap/netscaler.c). <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15497">Bug 15497</a>.
</li><li class="listitem">
Wrong endianess when dissecting the "chain offset" in SMB2 protocol header. <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15524">Bug 15524</a>.
</li></ul></div></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_features"></a>2.2. New and Updated Features</h3></div></div></div><p>There are no new features in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_protocol_support"></a>2.3. New Protocol Support</h3></div></div></div><p>There are no new protocols in this release.</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_updated_protocol_support"></a>2.4. Updated Protocol Support</h3></div></div></div><p>ASN.1 BER,
BSSAP,
DNP3,
ETSI CAT,
GTP,
MEGACO,
MPLS Echo,
RPC,
RPCAP,
SMB2,
and TCAP</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_file_support"></a>2.5. New and Updated Capture File Support</h3></div></div></div><p>NetScaler,
and Sniffer</p></div><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_new_and_updated_capture_interfaces_support"></a>2.6. New and Updated Capture Interfaces support</h3></div></div></div><p>There are no new or updated capture interfaces supported in this release.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_wireshark"></a>3. Getting Wireshark</h2></div></div></div><p>Wireshark source code and installation packages are available from
<a class="ulink" href="https://www.wireshark.org/download.html">https://www.wireshark.org/download.html</a>.</p><div class="section"><div class="titlepage"><div><div><h3 class="title"><a id="_vendor_supplied_packages"></a>3.1. Vendor-supplied Packages</h3></div></div></div><p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a class="ulink" href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p></div></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_file_locations"></a>4. File Locations</h2></div></div></div><p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_known_problems"></a>5. Known Problems</h2></div></div></div><p>Dumpcap might not quit if Wireshark or TShark crashes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug 1419</a>)</p><p>The BER dissector might infinitely loop.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug 1516</a>)</p><p>Capture filters aren’t applied when capturing from named pipes.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug 1814</a>)</p><p>Filtering tshark captures with read filters (-R) no longer works.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug 2234</a>)</p><p>Application crash when changing real-time option.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4035">Bug 4035</a>)</p><p>Wireshark and TShark will display incorrect delta times in some cases.
(<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4985">Bug 4985</a>)</p><p>Wireshark should let you work with multiple capture files. (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=10488">Bug 10488</a>)</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_getting_help"></a>6. Getting Help</h2></div></div></div><p>Community support is available on <a class="ulink" href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a class="ulink" href="https://www.wireshark.org/lists/">the web site</a>.</p><p>Official Wireshark training and certification are available from
<a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.</p></div><div class="section"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="_frequently_asked_questions"></a>7. Frequently Asked Questions</h2></div></div></div><p>A complete FAQ is available on the
<a class="ulink" href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p></div></div>
