<div id="header">
<h1>Wireshark 3.2.3 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark 3.2.0 to 3.2.2 might not update automatically on macOS in some cases.
If you’re running those versions on macOS you might have to update to a later version manually.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16416">Bug 16416</a></p>
</div>
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2020-07">wnpa-sec-2020-07</a>
The BACapp dissector could crash.
<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16474">Bug 16474</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11647">CVE-2020-11647</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Add (IETF) QUIC Dissector. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=13881">Bug 13881</a>.</p>
</li>
<li>
<p>Rename profile name loses list selection. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=15966">Bug 15966</a>.</p>
</li>
<li>
<p>Dissector bug warning dissecting TLS Certificate Request with many names. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16202">Bug 16202</a>.</p>
</li>
<li>
<p>Only ACKs, but no DATA frames are visible in -&gt; TCP Stream Graph -&gt; Time Sequence (tcptrace). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16281">Bug 16281</a>.</p>
</li>
<li>
<p>Copy&gt;Description does not work properly for all tree items. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16323">Bug 16323</a>.</p>
</li>
<li>
<p>Importing profiles in Windows - zip files fail and from directory crashes Wireshark. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16410">Bug 16410</a>.</p>
</li>
<li>
<p>Packet List selection is gone when adding or removing a display filter. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16414">Bug 16414</a>.</p>
</li>
<li>
<p>Check for updates, and auto-update, not working in 3.2.1. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16416">Bug 16416</a>.</p>
</li>
<li>
<p>f5ethtrailer: TLS trailer creates incorrect CLIENT keylog entries. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16417">Bug 16417</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2020-03-04-18423.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16424">Bug 16424</a>.</p>
</li>
<li>
<p>File open dialog shows garbled time stamps. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16429">Bug 16429</a>.</p>
</li>
<li>
<p>RTCP Bye without optional reason reported as [Malformed Packet]. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16434">Bug 16434</a>.</p>
</li>
<li>
<p>[oss-fuzz] #20732: Undefined-shift in dissect_rtcp. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16445">Bug 16445</a>.</p>
</li>
<li>
<p>SOMEIP: SOME/IP-SD dissector fails to register SOME/IP ports, if IPv6 is being used (BUG). <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16448">Bug 16448</a>.</p>
</li>
<li>
<p>tshark logs: "…​could not be opened: Too many open files.". <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16457">Bug 16457</a>.</p>
</li>
<li>
<p>Typo in About Wireshark &gt; Keyboard Shortcuts &gt; Unignore All Displayed. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16472">Bug 16472</a>.</p>
</li>
<li>
<p>Buildbot crash output: randpkt-2020-04-02-31746.pcap. <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=16477">Bug 16477</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>
<div class="paragraph">
<p>There are no new features in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>AFS, BACapp, Bluetooth, CoAP, Diameter3GPP, F5 Ethernet trailer, GSM RLC MAC, ISIS, ISIS CLV, ISIS HELLO, ISIS LSP, ISIS SNP, NAS 5GS, NR RRC, pcap, QUIC, RPCAP, RTCP, SOME/IP-SD, TLS, and WSP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>pcap</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages. You can
usually install or upgrade Wireshark using the package management system
specific to that platform. A list of third-party packages can be found
on the <a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference
files, plugins, SNMP MIBS, and RADIUS dictionaries. These locations vary
from platform to platform. You can use About→Folders to find the default
locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be
found at <a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on <a href="https://ask.wireshark.org/">Wireshark’s
Q&amp;A site</a> and on the wireshark-users mailing list. Subscription
information and archives for all of Wireshark’s mailing lists can be
found on <a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Bugs and feature requests can be reported on
<a href="https://bugs.wireshark.org/">the bug tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2020-04-08 19:33:25 UTC
</div>
</div>
