<div class="article" lang="en"><div class="titlepage"><div><div><h2 class="title"><a name="id720650"></a>Wireshark 0.99.4 Release Notes</h2></div></div><hr></div><div class="toc"><p><b>Table of Contents</b></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#id720685">Bug Fixes</a></span></dt><dt><span class="section"><a href="#id721014">New and Updated Features</a></span></dt><dt><span class="section"><a href="#id721130">New Protocol Support</a></span></dt><dt><span class="section"><a href="#id721142">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#id721152">Removed Protocols</a></span></dt><dt><span class="section"><a href="#id721162">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#id721192">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development, and education.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="WhatsNew"></a>What's New</h2></div></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id720685"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.  See the
      <a href="http://www.wireshark.org/security/wnpa-sec-2006-02.html">security advisory</a> for details and a workaround.

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	    The HTTP dissector could crash.

	    (Bugs <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1050">1050</a>
	    and <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1079">1079</a>)
	  </p><p>Versions affected: 0.99.3.</p><p>
	    <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5468">CVE-2006-5468</a>
	  </p></li><li><p>
	    The LDAP dissector (and possibly others) could crash.

	    (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1054">1054</a>)
	  </p><p>Versions affected: 0.99.3.</p><p>
	    <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5740">CVE-2006-5740</a>
	  </p></li><li><p>
	    The XOT dissector could attempt to allocate a large amount of
	    memory and crash.

	    (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1133">1133</a>)
	  </p><p>Versions affected: 0.9.8 to 0.99.3.</p><p>
	    <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-4805">CVE-2006-4805</a>
	  </p></li><li><p>
	    The WBXML dissector could crash.

	    (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1134">1134</a>)
	  </p><p>Versions affected: 0.10.11 to 0.99.3.</p><p>
	    <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5469">CVE-2006-5469</a>
	  </p></li><li><p>
	    The MIME Multipart dissector was susceptible to an off-by-one error.

	    (Bug <a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1135">1135</a>)
	  </p><p>Versions affected: 0.10.1 to 0.99.3.</p><p>
	    <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-4574">CVE-2006-4574</a>
	  </p></li><li><p>
	    If AirPcap support was enabled, parsing a WEP key could
	    sometimes cause a crash.

	  </p><p>Versions affected: 0.99.3.</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul type="disc"><li><p>
	  The file set dialog could grow excessively large.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=331">Bug
	  331</a>)
	</p></li><li><p>
	  Trying to save flow data may crash Wireshark.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=396">Bug
	  396</a>)
	</p></li><li><p>
	  It may not be possible to re-order coloring rules under Windows.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=699">Bug
	  699</a>)
	</p></li><li><p>
	  Printing each packet to a new page didn't work under Windows.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=707">Bug
	  707</a>)
	</p></li><li><p>
	  The personal hosts configuration file wasn't being parsed correctly.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=795">Bug
	  795</a>)
	</p></li><li><p>
	  "Save as" to an existing file wasn't allowed.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=927">Bug
	  927</a>)
	</p></li><li><p>
	  The SNMP dissector was not handling 64-bit counters properly.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1047">Bug
	  1047</a>)
	</p></li><li><p>
	  Wireshark and TShark would fail to start under Windows while trying to acquire a crypto context.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1096">Bug
	  1096</a>)
	</p></li><li><p>
	  The HTTP content-length field was a string instead of an integer.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1109">Bug
	  1109</a>)
	</p></li><li><p>
	  Invalid characters could show up in PDML output.
	  (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1110">Bug
	  1110</a>)
	</p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721014"></a>New and Updated Features</h3></div></div></div><p>
      The following features are new (or have been significantly updated)
      since the last release:
      </p><div class="itemizedlist"><ul type="disc"><li><p>
	<a href="http://www.cacetech.com/products/airpcap.htm">AirPcap</a>,
	support (which provides raw mode capture under Windows) has been
	enhanced to allow capturing on multiple AirPcap adapters
	simultaneously using the Multi-Channel Aggregator.
	</p></li><li><p>
	VoIP call playback has been enhanced.  If Wireshark is linked with
	the PortAudio library, you can play back G.711 conversations.  This
	feature is present in the standard Windows installer.
	</p></li><li><p>
	The capture interface dialog display has been enhanced.
	</p></li><li><p>
	The "Save" button has been removed from the "Ok" / "Apply" / "Cancel"
	button group in the following dialogs:
	</p><div class="itemizedlist"><ul type="circle"><li><p>Edit/Preferences</p></li><li><p>View/Coloring Rules</p></li><li><p>Capture/Capture Filters</p></li><li><p>Analyze/Display Filters</p></li><li><p>Analyze/Enabled Protocols</p></li></ul></div><p>
	If you're fond of the "Save" button it can be resurrected in the
	User Interface preferences.
	</p></li><li><p>
	Reading from stdin ("-i -") now works under Windows.
	</p></li><li><p>
	Expert analysis has been improved.
	</p></li><li><p>
	Wireshark now supports USB as a media type.  If you're running a
	Linux distribution with version 2.6.11 of the kernel or greater
	<span class="emphasis"><em>and</em></span> you have the usbmon module enabled <span class="emphasis"><em>and</em></span>
	you have a recent CVS version of libpcap (post-0.9.5) installed
	you can also do live captures.  More details can be found at the
	<a href="http://wiki.wireshark.org/CaptureSetup/USB">USB
	capture setup</a> page on the wiki.
	</p></li><li><p>
	The number of WEP keys that the user can specify in the IEEE 802.11
	protocol preferences has been increased from 4 to 64.
	</p></li></ul></div><p>
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721130"></a>New Protocol Support</h3></div></div></div><p>

Enea LINX,
Ethernet Powerlink (v1 and v2),
H.248 Q.1950 Annex A,
Linux pktgen,
MP2T,
NEWMAIL,
PNG,
SCSI OSD,
UDLD,
UMTS FP,
USB,
WLCCP,
WZCSVC

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721142"></a>Updated Protocol Support</h3></div></div></div><p>

3Com NJACK,
802.11,
ACSE,
AH,
ALCAP,
ANSI MAP,
ATM,
ASN.1,
BACapp,
BER,
BGP,
BSSAP,
Camel,
Catapult DCT2000,
CFlow,
CLNP,
Common Windows networking,
DAP,
DCERPC (DCERPC, ATSVC, DFS, EFS, EPM, EVENTLOG, INITSHUTDOWN, MAPI, NT, PIPE, SAMR, SPOOLSS, SRVSVC, SVCCTL, WINREG),
DCOM (DCOM, CBA-ACCO, SYSACT),
DIAMETER,
DISP,
DNS,
DOP,
DSP,
ESP,
Ethernet,
FC,
FCP,
GSM A,
GSM MAP,
GSM SMS,
GSSAPI,
GTP,
H.225,
H.245,
H.248,
HTTP,
ICQ,
IKE,
ISAKMP,
iSCSI,
ISUP,
IUUP,
Kerberos 4,
LAP-D,
LDAP,
LLC,
LogotypeCertExtn,
MEGACO,
MIME Multipart,
MIP6,
MMS,
MSRP,
MTP3,
NCP,
NDMP,
NDPS,
NFS,
NTP,
OSI,
PER,
PN-MRP,
PPP,
19154Q.931,
RADIUS,
Redback,
RPC,
RTCP,
RTP,
SCCP,
SCSI,
SDP,
SIP,
SMB,
SMRSE,
SNMP,
SSL,
STANAG 5066,
STP,
TCAP,
TCP,
TFTP,
TIPC,
UDP,
UMA,
VLAN,
VNC,
VRRP,
X.509ce
X11,
YMSG,
WTLS

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721152"></a>Removed Protocols</h3></div></div></div><p>

The CISCOWL dissector has been superseded by WLCCP.

    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721162"></a>New and Updated Capture File Support</h3></div></div></div><p>

Catapult DCT2000, EyeSDN, iSeries

    </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      the <a href="http://www.wireshark.org/download.html">download
      page</a> on the main web site.
    </p><div class="section" lang="en"><div class="titlepage"><div><div><h3 class="title"><a name="id721192"></a>Vendor-supplied Packages</h3></div></div></div><p>
	Most Linux and Unix vendors supply their own Wireshark packages.
	You can usually install or upgrade Wireshark using the package management
	system specific to that platform.  A list of third-party packages
	can be found on the
	<a href="http://www.wireshark.org/download.html#otherplat">download page</a> on the Wireshark web site.
      </p></div></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      On Windows systems the packet list scroll bar can sometimes disappear
      or become unusable.  Until the problem is fixed you can work around it
      by resizing the packet list or the main window.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=220">Bug
      220</a>)
    </p><p>
      The <span class="guibutton">Filter</span> button is nonfunctional in the
      file dialogs under Windows.
      (<a href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=942">Bug
      942</a>)
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Commercial support, training, and development services are available
    from <a href="http://www.cacetech.com/">CACE Technologies</a>.
    </p></div><div class="section" lang="en"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a name="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
