<div class="article" title="Wireshark 1.4.11 Release Notes"><div class="titlepage"><div><div><h2 class="title"><a id="id36131734"></a>Wireshark 1.4.11 Release Notes</h2></div></div><hr /></div><div class="toc"><p><strong>Table of Contents</strong></p><dl><dt><span class="section"><a href="#WhatIs">What is Wireshark?</a></span></dt><dt><span class="section"><a href="#WhatsNew">What's New</a></span></dt><dd><dl><dt><span class="section"><a href="#BugFixes">Bug Fixes</a></span></dt><dt><span class="section"><a href="#NewFeatures">New and Updated Features</a></span></dt><dt><span class="section"><a href="#NewProtocols">New Protocol Support</a></span></dt><dt><span class="section"><a href="#UpdatedProtocols">Updated Protocol Support</a></span></dt><dt><span class="section"><a href="#NewCapture">New and Updated Capture File Support</a></span></dt></dl></dd><dt><span class="section"><a href="#GettingWireshark">Getting Wireshark</a></span></dt><dd><dl><dt><span class="section"><a href="#VendorPackages">Vendor-supplied Packages</a></span></dt></dl></dd><dt><span class="section"><a href="#FileLocations">File Locations</a></span></dt><dt><span class="section"><a href="#KnownProblems">Known Problems</a></span></dt><dt><span class="section"><a href="#GettingHelp">Getting Help</a></span></dt><dt><span class="section"><a href="#FAQ">Frequently Asked Questions</a></span></dt></dl></div><div class="section" title="What is Wireshark?"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatIs"></a>What is Wireshark?</h2></div></div></div><p>
      Wireshark is the world's most popular network protocol analyzer.  It
      is used for troubleshooting, analysis, development and education.
    </p></div><div class="section" title="What's New"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="WhatsNew"></a>What's New</h2></div></div></div><div class="section" title="Bug Fixes"><div class="titlepage"><div><div><h3 class="title"><a id="BugFixes"></a>Bug Fixes</h3></div></div></div><p>

      The following vulnerabilities have been fixed.

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-01.html">wnpa-sec-2012-01</a>
          </p><p>
	    Laurent Butti discovered that Wireshark failed to properly check
	    record sizes for many packet capture file formats.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6663">Bug 6663</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6666">bug 6666</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6667">bug 6667</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6668">bug 6668</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6669">bug 6669</a>,
            <a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6670">bug 6670</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.10, 1.6.0 to 1.6.4.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-02.html">wnpa-sec-2012-02</a>
          </p><p>
            Wireshark could dereference a NULL pointer and crash.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6634">Bug 6634</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.10, 1.6.0 to 1.6.4.</p></li><li class="listitem"><p>
            <a class="ulink" href="http://www.wireshark.org/security/wnpa-sec-2012-03.html">wnpa-sec-2012-03</a>
          </p><p>
            The RLC dissector could overflow a buffer.
            
            
            
            (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6391">Bug 6391</a>)
          </p><p>Versions affected: 1.4.0 to 1.4.10, 1.6.0 to 1.6.4.</p></li></ul></div><p>

    </p><p>

    The following bugs have been fixed:

      </p><div class="itemizedlist"><ul class="itemizedlist" type="disc"><li class="listitem"><p>
          "Closing File!" Dialog Hangs.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3046">Bug
          3046</a>)
        </p></li><li class="listitem"><p>
          Sub-fields of data field should appear in exported PDML as children of the data field instead of as siblings to it.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3809">Bug
          3809</a>)
        </p></li><li class="listitem"><p>
          Patch to fix memory leaks/errors in Lua plugin.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5575">Bug
          5575</a>)
        </p></li><li class="listitem"><p>
          Incorrect time differences displayed with time reference set.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5580">Bug
          5580</a>)
        </p></li><li class="listitem"><p>
          Wrong packet type association of SNMP trap after TFTP transfer.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=5727">Bug
          5727</a>)
        </p></li><li class="listitem"><p>
          Export HTTP Objects -&gt; save all crashes Wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6250">Bug
          6250</a>)
        </p></li><li class="listitem"><p>
          Wireshark crashes if a field of type BASE_CUSTOM is applied as a column.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6503">Bug
          6503</a>)
        </p></li><li class="listitem"><p>
          Filter Expression dialog can only be opened once.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6537">Bug
          6537</a>)
        </p></li><li class="listitem"><p>
          80211 QoS Control: Add Raw TID.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6548">Bug
          6548</a>)
        </p></li><li class="listitem"><p>
          CAPWAP dissector tries to allocate -1 bytes of memory during reassembly.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6555">Bug
          6555</a>)
        </p></li><li class="listitem"><p>
          IPv6 frame containing routing header with 0 segments left calculates wrong UDP checksum.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6560">Bug
          6560</a>)
        </p></li><li class="listitem"><p>
          IPv4 UDP/TCP Checksum incorrect if routing header present.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6561">Bug
          6561</a>)
        </p></li><li class="listitem"><p>
          Incorrect Parsing of SCPS Capabilities Option introduced in response to bug 6194.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6562">Bug
          6562</a>)
        </p></li><li class="listitem"><p>
          Add more length checks for integer values in SNMP variable bindings.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6564">Bug
          6564</a>)
        </p></li><li class="listitem"><p>
          UCP dissector bug of operation 61.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6570">Bug
          6570</a>)
        </p></li><li class="listitem"><p>
          Various crashes after loading NetMon2.x capture file.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6578">Bug
          6578</a>)
        </p></li><li class="listitem"><p>
          SIGSEGV in SVN 40046.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6634">Bug
          6634</a>)
        </p></li><li class="listitem"><p>
          Wireshark dissects TCP option 25 as an "April 1" option.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6643">Bug
          6643</a>)
        </p></li><li class="listitem"><p>
          ZigBee ZCL Dissector reports invalid status.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6649">Bug
          6649</a>)
        </p></li><li class="listitem"><p>
          Large packet length crashes Wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6663">Bug
          6663</a>)
        </p></li><li class="listitem"><p>
          5views capture file that crashes wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6666">Bug
          6666</a>)
        </p></li><li class="listitem"><p>
          i4b capture file that crashes wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6667">Bug
          6667</a>)
        </p></li><li class="listitem"><p>
          iptrace capture file that crashes wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6668">Bug
          6668</a>)
        </p></li><li class="listitem"><p>
          netmon2 capture file that crashes wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6669">Bug
          6669</a>)
        </p></li><li class="listitem"><p>
          novell capture file that crashes wireshark.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6670">Bug
          6670</a>)
        </p></li><li class="listitem"><p>
          [UDP] - Length Field of Pseudo Header while computing CheckSum is not correct.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6711">Bug
          6711</a>)
        </p></li><li class="listitem"><p>
          pcapio.c: bug in libpcap_write_interface_description_block.
          (<a class="ulink" href="https://bugs.wireshark.org/bugzilla/show_bug.cgi?id=6719">Bug
          6719</a>)
        </p></li></ul></div><p>

    </p></div><div class="section" title="New and Updated Features"><div class="titlepage"><div><div><h3 class="title"><a id="NewFeatures"></a>New and Updated Features</h3></div></div></div><p>

There are no new features in this release.

    </p></div><div class="section" title="New Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewProtocols"></a>New Protocol Support</h3></div></div></div><p>

There are no new protocols in this release.

    </p></div><div class="section" title="Updated Protocol Support"><div class="titlepage"><div><div><h3 class="title"><a id="UpdatedProtocols"></a>Updated Protocol Support</h3></div></div></div><p>

CAPWAP,
HTTP,
IEEE 802.11,
IPv4,
IPv6,
RLC,
SNMP,
TCP,
TFTP,
ZigBee ZCL

    </p></div><div class="section" title="New and Updated Capture File Support"><div class="titlepage"><div><div><h3 class="title"><a id="NewCapture"></a>New and Updated Capture File Support</h3></div></div></div><p>

Accellent 5Views,
AIX iptrace,
HP-UX nettl,
I4B,
Microsoft Network Monitor,
Novell LANalyzer,
PacketLogger,
Pcap-ng,
Sniffer,
Tektronix K12,
WildPackets {Airo,Ether}Peek.

    </p></div></div><div class="section" title="Getting Wireshark"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingWireshark"></a>Getting Wireshark</h2></div></div></div><p>
      Wireshark source code and installation packages are available from
      <a class="ulink" href="http://www.wireshark.org/download.html">http://www.wireshark.org/download.html</a>.
    </p><div class="section" title="Vendor-supplied Packages"><div class="titlepage"><div><div><h3 class="title"><a id="VendorPackages"></a>Vendor-supplied Packages</h3></div></div></div><p>
        Most Linux and Unix vendors supply their own Wireshark packages.
        You can usually install or upgrade Wireshark using the package management
        system specific to that platform.  A list of third-party packages
        can be found on the
        <a class="ulink" href="http://www.wireshark.org/download.html#thirdparty">download page</a>
        on the Wireshark web site.
      </p></div></div><div class="section" title="File Locations"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FileLocations"></a>File Locations</h2></div></div></div><p>
      Wireshark and TShark look in several different locations for
      preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
      These locations vary from platform to platform.  You can use
      About-&gt;Folders to find the default locations on your system.
    </p></div><div class="section" title="Known Problems"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="KnownProblems"></a>Known Problems</h2></div></div></div><p>
      Wireshark might make your system disassociate from a wireless network
      on OS X 10.4.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1315">Bug
      1315</a>)
    </p><p>
      Dumpcap might not quit if Wireshark or TShark crashes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1419">Bug
      1419</a>)
    </p><p>
      The BER dissector might infinitely loop.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1516">Bug
      1516</a>)
    </p><p>
      Capture filters aren't applied when capturing from named pipes.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=1814">Bug
      1814</a>)
    </p><p>
      Filtering tshark captures with display filters (-R) no longer works.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=2234">Bug
      2234</a>)
    </p><p>
      The 64-bit Windows installer does not ship with the same libraries as the
      32-bit installer.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=3610">Bug
      3610</a>)
    </p><p>
      Hex pane display issue after startup.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4056">Bug
      4056</a>)
    </p><p>
      Packet list rows are oversized.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4357">Bug
      4357</a>)
    </p><p>
      Summary pane selected frame highlighting not maintained.
      (<a class="ulink" href="http://bugs.wireshark.org/bugzilla/show_bug.cgi?id=4445">Bug
      4445</a>)
    </p></div><div class="section" title="Getting Help"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="GettingHelp"></a>Getting Help</h2></div></div></div><p>
    Community support is available on
    <a class="ulink" href="http://ask.wireshark.org/">Wireshark's Q&amp;A site</a>
    and on the wireshark-users mailing list.
    Subscription information and archives for all of Wireshark's mailing
    lists can be found on <a class="ulink" href="http://www.wireshark.org/lists/">the
    web site</a>.
    </p><p>
    Training is available from
    <a class="ulink" href="http://www.wiresharktraining.com/">Wireshark University</a>.
    </p></div><div class="section" title="Frequently Asked Questions"><div class="titlepage"><div><div><h2 class="title" style="clear: both"><a id="FAQ"></a>Frequently Asked Questions</h2></div></div></div><p>
    A complete FAQ is available on the
    <a class="ulink" href="http://www.wireshark.org/faq.html">Wireshark web site</a>.
    </p></div></div>
