<div id="header">
<h1>Wireshark 3.4.4 Release Notes</h1>
</div><div id="content">
<div class="sect1">
<h2 id="_what_is_wireshark">What is Wireshark?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark is the world’s most popular network protocol analyzer.
It is used for troubleshooting, analysis, development and education.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_whats_new">What’s New</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_bug_fixes">Bug Fixes</h3>
<div class="paragraph">
<p>The following vulnerabilities have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://www.wireshark.org/security/wnpa-sec-2021-03">wnpa-sec-2021-03</a>
Wireshark could open unsafe URLs.
<a href="https://gitlab.com/wireshark/wireshark/-/issues/17232">Issue 17232</a>.
<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22191">CVE-2021-22191</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following bugs have been fixed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>NTP Version 3 Client Decode PDML output issue (Reference ID Issue) <a href="https://gitlab.com/wireshark/wireshark/-/issues/17112">Issue 17112</a>.</p>
</li>
<li>
<p>3.4.2: public wireshark include files are including build time "config.h" <a href="https://gitlab.com/wireshark/wireshark/-/issues/17190">Issue 17190</a>.</p>
</li>
<li>
<p>wireshark-3.4.3/epan/dissectors/packet-s7comm.c:3521: bad array index ? <a href="https://gitlab.com/wireshark/wireshark/-/issues/17198">Issue 17198</a>.</p>
</li>
<li>
<p>SIP protocol: P-Called-Party-ID header mixed up with P-Charge-Info header <a href="https://gitlab.com/wireshark/wireshark/-/issues/17215">Issue 17215</a>.</p>
</li>
<li>
<p>Asterix CAT010 Decode Error <a href="https://gitlab.com/wireshark/wireshark/-/issues/17226">Issue 17226</a>.</p>
</li>
<li>
<p>_ws.expert columns not populated for IPv4 <a href="https://gitlab.com/wireshark/wireshark/-/issues/17228">Issue 17228</a>.</p>
</li>
<li>
<p>Buildbot crash output: fuzz-2021-02-12-1651908.pcap <a href="https://gitlab.com/wireshark/wireshark/-/issues/17233">Issue 17233</a>.</p>
</li>
<li>
<p>gQUIC: Wireshark 3.4.3 fails to dissect a packet (gQUIC q024) that v3.2.6 succeeds. <a href="https://gitlab.com/wireshark/wireshark/-/issues/17250">Issue 17250</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_features">New and Updated Features</h3>

</div>
<div class="sect2">
<h3 id="_new_protocol_support">New Protocol Support</h3>
<div class="paragraph">
<p>There are no new protocols in this release.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updated_protocol_support">Updated Protocol Support</h3>
<div class="paragraph">
<p>ASTERIX, Frame Relay, GQUIC, NTP, NVMe Fabrics RDMA, S7COMM, and SIP</p>
</div>
</div>
<div class="sect2">
<h3 id="_new_and_updated_capture_file_support">New and Updated Capture File Support</h3>
<div class="paragraph">
<p>iSeries</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_wireshark">Getting Wireshark</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark source code and installation packages are available from
<a href="https://www.wireshark.org/download.html" class="bare">https://www.wireshark.org/download.html</a>.</p>
</div>
<div class="sect2">
<h3 id="_vendor_supplied_packages">Vendor-supplied Packages</h3>
<div class="paragraph">
<p>Most Linux and Unix vendors supply their own Wireshark packages.
You can usually install or upgrade Wireshark using the package management system specific to that platform.
A list of third-party packages can be found on the
<a href="https://www.wireshark.org/download.html#thirdparty">download page</a>
on the Wireshark web site.</p>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_file_locations">File Locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wireshark and TShark look in several different locations for preference files, plugins, SNMP MIBS, and RADIUS dictionaries.
These locations vary from platform to platform.
You can use About → Folders to find the default locations on your system.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_getting_help">Getting Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The User’s Guide, manual pages and various other documentation can be found at
<a href="https://www.wireshark.org/docs/" class="bare">https://www.wireshark.org/docs/</a></p>
</div>
<div class="paragraph">
<p>Community support is available on
<a href="https://ask.wireshark.org/">Wireshark’sQ&amp;A site</a>
and on the wireshark-users mailing list.
Subscription information and archives for all of Wireshark’s mailing lists can be found on
<a href="https://www.wireshark.org/lists/">the web site</a>.</p>
</div>
<div class="paragraph">
<p>Issues and feature requests can be reported on
<a href="https://gitlab.com/wireshark/wireshark/-/issues">the issue tracker</a>.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_frequently_asked_questions">Frequently Asked Questions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A complete FAQ is available on the
<a href="https://www.wireshark.org/faq.html">Wireshark web site</a>.</p>
</div>
</div>
</div>
</div><div id="footer">
<div id="footer-text">
Last updated 2021-03-10 18:06:51 UTC
</div>
</div>
