.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;

  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .h4Black {
    color: var(--general-text);
  }

  ul {
    padding-left: 0;
    margin-top: 0;
  }

  &:target {
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 2;
  }

  .modalContent {
    border-radius: 4px;
    position: relative;
    width: 800px;
    max-width: 90%;
    max-height: 80%;
    background: var(--background);
    padding: 2em;
    overflow:auto;
  }

  .modalFooter {
    text-align: right;
    a {
      color: var(--header-text);
    }
    i {
      color: #d02d2c;
    }
  }

  .modalClose {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #585858;
    text-decoration: none;
    font-size: 2rem;
  }
}
