{% extends 'layout-home.html' %}
{% import 'link.html' as link %}

{% block title %}Mailing Lists{% endblock %}

{% block content %}
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h1>Wireshark Mailing Lists</h1>

  <h1>For Users</h1>

  <h2>Wireshark-announce
    <span class="list-menu-separator">·</span>
    <a class="rss" type="application/rss+xml" href="wireshark-announce.rss"><span>RSS</span></a></h2>

  <div class="listmenu">
  <table border="0" width="100%"><tr>
  <td valign="top" width="65%">
    Announcements about releases and other
    important information concerning the Wireshark project.  Low volume.<br>
    <a href="/mailman/listinfo/wireshark-announce">Subscribe/Unsubscribe/Options</a>
  </td>
  <td valign="top" style="padding-left: 1em;">
    <a href="wireshark-announce">Local archives</a><br>
    <a href="https://marc.info/?l=wireshark-announce">MARC archives</a><br>
    <a href="https://www.mail-archive.com/wireshark-announce@wireshark.org/">The Mail Archive</a><br>
  </td>
  </tr></table>
  </div>

  <h2>Wireshark-users
    <span class="list-menu-separator">·</span>
    <a class="rss" type="application/rss+xml" href="wireshark-users.rss"><span>RSS</span></a></h2>

  <div class="listmenu">
  <table border="0" width="100%"><tr>
  <td valign="top" width="65%">
    Community-driven support list for Wireshark.  High volume.<br>
    <a href="/mailman/listinfo/wireshark-users">Subscribe/Unsubscribe/Options</a><br>
  </td>
  <td valign="top" style="padding-left: 1em;">
    <a href="wireshark-users">Local archives</a><br>
    <a href="https://marc.info/?l=wireshark-users">MARC archives</a><br>
    <a href="https://www.mail-archive.com/wireshark-users@wireshark.org/">The Mail Archive</a><br>
  </td>
  </tr></table>
  </div>

  <h1>For Developers</h1>

  <h2>Wireshark-dev
    <span class="list-menu-separator">·</span>
    <a class="rss" type="application/rss+xml" href="wireshark-dev.rss"><span>RSS</span></a></h2>

  <div class="listmenu">
  <table border="0" width="100%"><tr>
  <td valign="top" width="65%">
    Developer discussion list for Wireshark.  High volume.<br>
    <a href="/mailman/listinfo/wireshark-dev">Subscribe/Unsubscribe/Options</a><br>
  </td>
  <td valign="top" style="padding-left: 1em;">
    <a href="wireshark-dev">Local archives</a><br>
    <a href="https://marc.info/?l=wireshark-dev">MARC archives</a><br>
    <a href="https://www.mail-archive.com/wireshark-dev@wireshark.org/">The Mail Archive</a><br>
  </td>
  </tr></table>
  </div>

  <h2>Wireshark-commits
    <span class="list-menu-separator">·</span>
    <a class="rss" type="application/rss+xml" href="wireshark-commits.rss"><span>RSS</span></a></h2>

  <div class="listmenu">
  <table border="0" width="100%"><tr>
  <td valign="top" width="65%">
    Some code repository commit messages. Low volume.<br>
    <a href="/mailman/listinfo/wireshark-commits">Subscribe/Unsubscribe/Options</a><br>
  </td>
  <td valign="top" style="padding-left: 1em;">
    <a href="wireshark-commits">Local archives</a><br>
    <a href="https://marc.info/?l=wireshark-commits">MARC archives</a><br>
    <a href="https://www.mail-archive.com/wireshark-commits@wireshark.org/">The Mail Archive</a><br>
  </td>
  </tr></table>
  </div>

  <h1>For History Enthusiasts</h1>

  <h2>Wireshark-bugs
    <span class="list-menu-separator">·</span>
    <a class="rss" type="application/rss+xml" href="wireshark-bugs.rss"><span>RSS</span></a></h2>

  <div class="listmenu">
    <table border="0" width="100%"><tr>
    <td valign="top" width="65%">
      Old bug tracker comments.<br>
      <a href="/mailman/listinfo/wireshark-bugs">Subscribe/Unsubscribe/Options</a><br>
    </td>
    <td valign="top" style="padding-left: 1em;">
      <a href="wireshark-bugs">Local archives</a><br>
      <a href="https://marc.info/?l=wireshark-bugs">MARC archives</a><br>
      <a href="https://www.mail-archive.com/wireshark-bugs@wireshark.org/">The Mail Archive</a><br>
    </td>
    </tr></table>
    </div>

  <p>The archives below are from the project's previous web site, ethereal.com.</p>

  <p>
  <a href="ethereal-announce">Ethereal-announce</a><br/>
  <a href="ethereal-cvs">Ethereal-cvs</a><br/>
  <a href="ethereal-dev">Ethereal-dev</a><br/>
  <a href="ethereal-users">Ethereal-users</a><br/>
  <a href="smb2-protocol">SMB2-protocol</a><br/>
  </p>

  <p>
  Posts from non-members are subject to moderator approval. Posts are also
  filtered through a spam filtering service. There is a tiny-but-nonzero chance
  that your message will be accidentally or automatically discarded.
  </p>

  <p>
  If you set up an out-of-office autoreply or "vacation" responder, please
  make sure your message has at least one of the following:

  <ul class="item-list">

    <li>The words "out", "of", and "office" in your subject (in that order).
    <li>A header that contains the word "Autoreply", e.g. "X-AutoReply-From:"
        or "X-Mail-Autoreply:"

  </ul>
  </p>

  <h1>Filtering List Messages</h1>

  <p>
  All Wireshark mailing list messages are sent with an <a href="http://www.apps.ietf.org/rfc/rfc2919.html">RFC
  2919-compliant <code>List-Id:</code> header</a>.  If your mail software
  supports message filtering, you can use this header to act on a
  specific list.
  </p>

  <p>
  The headers have the format "List-Id: <em>Description</em>
  <em>listname</em>.wireshark.org", e.g.
  </p>

  <pre class="term">
  List-Id: Community support list for Wireshark &lt;wireshark-users.wireshark.org&gt;
  </pre>

  <p>
  It should be sufficent to simply match against "<em>listname</em>.wireshark.org".
  </p>

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>
</section>
{% endblock content %}
