---
import InfoPage from "../../layouts/InfoPage.astro";
import articles from "../../components/News/Articles.json";

const article_split = 2;

var RecentArticles = [];
var OldArticles = [];

for (const article of articles) {
  if (RecentArticles.length < article_split) {
    RecentArticles.push(article);
  } else {
    OldArticles.push(article);
  }
}
---

<InfoPage title="Wireshark · News">

    <section id="news">
    <h2>What's New</h2>

    {RecentArticles.map((article) => (
        <h3><a href={"/news/" + article.filename}>{article.headline}</a></h3>

        <h3>{article.date}</h3>

        <div set:html={article.body}></div>
    ))}

    <h2>What's Not As New</h2>

    {OldArticles.map((article) => (
        <p>
        <a href={"/news/" + article.filename}>{article.headline}</a>
        ·
        {article.date}
        </p>
    ))}
    </section>
</InfoPage>
