---
import InfoPage from "../../../layouts/InfoPage.astro";
import ReleaseNotes from "../../../components/ReleaseNotes/ReleaseNotes.json";

var subsections = [];
for (const branch_info of ReleaseNotes) {
    var subsection = {};
    const separator = `<span class="separator">·</span>\n`;
    subsection.branch = branch_info.branch
    subsection.versions = "\n<p>\n";
    for (var idx = 0; idx < branch_info.versions.length; idx++) {
        const version = branch_info.versions[idx];
        subsection.versions += (idx == 0 ? "" : separator) + "<a href=\"/docs/relnotes/wireshark-" + version + ".html\">" + version + "</a>\n";
    }
    subsections.push(subsection);
}
---

<InfoPage title="Wireshark · Release Notes">

    <section id="release-notes">
        <p>Release notes are available for the following versions of Wireshark:</p>

    {subsections.map((subsection) => (
        <h3>{subsection.branch}</h3>

        <div set:html={subsection.versions} />
    ))}

    </section>
</InfoPage>