@use "../../styles/breakpoints" as b;

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.carouselContainer {
    overflow: hidden;
}

.scrollParent {
  position: relative;
  display: flex;
  width: 100%;
  height: 12rem;
  padding: 2rem 0;
  overflow-x: hidden;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient( to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0) );
  mask-image: linear-gradient( to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0) );

  @media screen and (max-width: b.$small) {
    height: 7rem;
    padding: 1rem;
  }
}

.scrollElement {
  width: inherit;
  height: inherit;
  position: absolute;
  flex-shrink: 0;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 11%;

    @media screen and (min-width: b.$desktop) {
      padding: 1rem;
      width: 12%;
    }
  }
}

.primary {
  animation: primary 55s linear infinite;
}

.secondary {
  animation: secondary 55s linear infinite;
}
