{% extends 'layout-home.html' %}

{% block title %}IPv4 / IPv6 Connectivity Test{% endblock %}

{% block content %}

<style type="text/css">

div#big46 {
	margin-top: 1.5em 0;
}

div#big46.v46status table {
	border: 5px solid rgb(51, 51, 51);
	font-size: 5rem;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div#big46.v46status table td {
	background-color: rgb(224,224,224);
	padding: 2rem;
	border: 5px solid rgb(51, 51, 51);
}

#v46img { visibility: hidden; }
</style>
<section id="FAQbackground" class="section swatch-white">
<div class="container">
<div class="row">
  <div class="col-md">
    <div class="ws-well">
      <h3>IPv4 and IPv6 Connectivity Test</h3>

<div id="big46" class="v46status">Loading…</div>

<h4>What is this?</h4>
<p>
It's a web page that tries to test your IPv4 and IPv6 connectivity.
</p>

<h4>What does it do?</h4>
<p>
It tries to load images from an IPv4-only location
and an IPv6-only location,
and updates the web page to indicate success or
failure.
</p>

{#
<h4>Why do I see funny block characters?</h4>

<p>
We draw a Unicode <a
href="https://en.wikipedia.org/wiki/Tick_%28check_mark%29">HEAVY CHECK MARK</a>
(U+2714) to indicate success and a <a href="https://en.wikipedia.org/wiki/X_mark">HEAVY BALLOT X</a>
(U+2718) to indicate failure. Some browsers or operating systems may not be able to display those
characters, particularly older ones. If this is the case for you you might try installing
<a href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a>.
</p>
#}

  </div>{# ws-well #}
  </div>{# col-md #}

</div>
</div>
</section>
<div id="v46img"></div>
<script type="text/javascript">
  $(window).on('load', function () {
    $.ajax({ cache: true, dataType: "script", url: "{{ get_asset('/js/v46status.js') }}" });
  });
</script>

{% endblock content %}
