---
import './Bare.scss'

export interface BareProps {
    title: string;
}

const { title } = Astro.props as BareProps;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preload" href="/assets/fonts/Lato-Regular.woff2" />
        <link rel="preload" href="/assets/fonts/Lato-Bold.woff2" />
        <link rel="preload" href="/assets/fonts/Lato-Heavy.woff2" />
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <Fragment client:load>
            <slot />
        </Fragment>
        <script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e2b217f4cd1643178b66920245ab057f"}'></script>
    </body>
</html>
