---
import Layout from './Layout.astro';
import { LayoutProps } from './Layout.astro';

const { title, rss_title, rss_url, disableMainContainer } = Astro.props as LayoutProps;
---

<Layout title={title || "Wireshark · Go Deep"} rss_title={rss_title || ""} rss_url={rss_url || ""}>
    <div class={disableMainContainer ? "" : "main-container"}>
        <slot />
    </div>
</Layout>