@use "../styles/colors.module.scss";
@use "../styles/fonts.module.scss";
@use "../styles/breakpoints" as b;

*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.theme-dark {
  --background: #061121;
  --background-rgb: rgb(6, 17, 33);
  --header-text: #cdd9e5;
  --general-text: #adbac7; 
  --box-shadow: 0 4px 8px 0 rgb(200 199 199 / 8%);
  --color-off-white: #00306e52;

  a {
    color: colors.$color-secondary;
  }

  color: colors.$color-muted;

  header {
    border-bottom: colors.$color-primary;
  }
}

.theme-light {
  --background: white;
  --background-rgb: rgb(255, 255, 255);
  --general-text: #000; 
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --color-off-white: #d1d1d1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: fonts.$normal;
  line-height: 1.5;
  background: var(--background);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$bold;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  margin: 0;

  @media screen and (max-width: b.$mobile) {
    font-size: 2rem;
  }
}

// Tables

th {
  text-align: left;
}

tr {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

// Lists

ul {
  list-style-type: none;
}

li {
  line-height: 1.8rem;
}

// Links

a:hover {
  color: colors.$color-primary;
  cursor: pointer;
}
a:active {
  color: rgb(62, 114, 255);
}

.aDark {
  color: colors.$color-white;
}

.aDark:hover {
  color: var(--color-off-white);
}

.aDark:visited {
  color: colors.$color-secondary;
}

// Other

button {
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

pre {
    white-space: pre-wrap;
}

.site-container {
  max-width: 1400px;
  margin: 0 auto;
}

.primary-button {
  border: none;
  background: colors.$color-primary;
  color: white;
  padding: 1.5rem;
  font-size: 1.4rem;
  max-width: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.primary-button:hover {
  background-color: rgb(10, 70, 228);
  transition: background-color 0.25s ease 0s;
}

// <span class="separator">·</span>
.separator {
  color: colors.$color-gray;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/******************
// INFO PAGE CSS //
******************/

.main-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2rem;

  @media screen and (max-width: b.$tablet) {
    padding: 2rem;
  }
}

/*****************************
// TOOLS DONATION BLOCK CSS //
*****************************/

.left-side {
  display: inline-grid;
  width: 50%;
  padding: 1rem;

  @media screen and (max-width: b.$tablet) {
    width: 100%;
  }
}

// Asciidoctor

// Admon blocks

.admonitionblock td.icon {
  padding-right: 1em;
  vertical-align: top;
  font-family: fonts.$bold;
}

/******************
// FAQ PAGE CSS  //
******************/

#faq ul {
  list-style-type: disc;
}

#faq h1 {
  font-size: 2.5rem;
}

#faq p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/******************
// HOMEPAGE CSS  //
******************/
// Including this id here since it wasn't working in the Card or Homepage scss modules
// I think this is because I'm passing the css id as a prop to the component
// so the ID is being applied after the render.
#Wireshark4 {
  @media screen and (min-width: b.$tablet) {
      display: none;
  }
}

/**************
// DOCS CSS  //
**************/

#display-filter-reference {
  td {
    max-width: 400px;
    word-wrap: anywhere;
  }
}