{%- import 'cdn.html' as cdn -%} {%- block document_prefix -%}{%- endblock -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ site.title }} · {% if self.title is defined %}{{ self.title() }}{% else
      %}{{ site.subtitle }}{% endif %}
    </title>

    {#
    <link rel="dns-prefetch" href="//ws.cf.wireshark.net" />
    <link rel="dns-prefetch" href="//font.cf.wireshark.net" />
    #}
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    {#
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    #}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ get_asset('images/favicon.ico') }}"
      type="image/x-icon"
    />

    <link
      href="//fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
      rel="stylesheet"
      type="text/css"
    />

    {# Bootstrap #}
    <link
      href="{{ get_asset('css/wireshark.min.css') }}"
      rel="stylesheet"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="/assets/theme-2015/css/custom.css"
      media="screen"
    />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ get_asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <!--[if lte IE 8]>
      <link
        href="{{ get_asset('css/we-could-have-cured-poverty-but-instead-have-to-make-our-sites-ie-compatible.css') }}"
        rel="stylesheet"
        media="screen"
      />
      <script src="{{ get_asset('js/html5shiv.js') }}"></script>
      <script src="{{ get_asset('js/respond.min.js') }}"></script>
    <![endif]-->

    {% if self.rss_title and self.rss_url -%}
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ self.rss_url }}"
      title="{{ self.rss_title }}"
    />
    {% endif %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <button
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-responsive-collapse"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        {# Site title -#}
        <a class="navbar-brand" href="/"></a>

        {# Menu -#}
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Get Acquainted <b class="caret"></b
              ></a>

              <ul class="dropdown-menu">
                <li><a href="/about.html">About</a></li>
                <li><a href="/download.html">Download</a></li>
                <li><a href="https://blog.wireshark.org/">Blog</a></li>
                <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Get Help <b class="caret"></b
              ></a>
              <ul class="dropdown-menu">
                <li><a href="https://ask.wireshark.org/">Ask a Question</a></li>
                <li><a href="/faq.html">FAQs</a></li>
                <li><a href="/docs/">Documentation</a></li>
                <li><a href="/lists/">Mailing Lists</a></li>
                <li><a href="/tools/">Online Tools</a></li>
                <li>
                  <a href="https://gitlab.com/wireshark/wireshark/-/wikis"
                    >Wiki</a
                  >
                </li>
                <li>
                  <a href="https://gitlab.com/wireshark/wireshark/-/issues"
                    >Issue Tracker</a
                  >
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Develop <b class="caret"></b
              ></a>
              <ul class="dropdown-menu">
                <li><a href="/develop.html">Get Involved</a></li>
                <li><a href="/docs/wsdg_html_chunked">Developer's Guide</a></li>
                <li>
                  <a href="https://gitlab.com/wireshark/wireshark/-/tree/master"
                    >Browse the Code</a
                  >
                </li>
                <li><a href="/download/automated">Latest Builds</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a
                style="text-transform: uppercase; font-weight: 700"
                href="/shop"
                >Shop</a
              >
            </li>
            <ul class="nav navbar-nav pull-right">
              <li>
                <a href="https://wiresharkfoundation.org/donate/">Donate</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" id="header">
        <div class="col col-lg-8" id="slogan">
          {# The world's foremost network protocol analyzer. #} {# What's on
          your network? #} {#
          <span id="slogan-news">
            <a href="http://sharkfest.wireshark.org/"
              >We're having a conference! You're invited!</a
            >
          </span>
          #}
        </div>

        <div class="col col-lg-4">
          <form
            class="navbar-search pull-right"
            action="https://www.google.com/cse"
            id="cse-search-box"
          >
            <input type="text" class="search-query" name="q" />
            <!--            <input type="submit" class="button submit likeimage" name="sa" value="Search" /> -->
            <input
              type="hidden"
              name="cx"
              value="partner-pub-8797272874272241:rr0bun-xdwz"
            />
            <input type="hidden" name="ie" value="UTF-8" />
          </form>
        </div>
        {#- slogan #}
      </div>
      {#- header #}

      <div id="content">{% block content %}{% endblock %}</div>

      <footer>
        <span id="tm-notice">
          Wireshark and the "fin" logo are registered trademarks. {# of Sysdig#}
          {# of the Wireshark Foundation#} ┃
          <a href="https://twitter.com/wiresharknews">Twitter</a> ┃
          <a
            rel="me"
            href="youtube.com/c/sharkFestWiresharkDeveloperandUserConference"
            >YouTube</a
          >
          ┃ <a rel="me" href="https://ioc.exchange/@wireshark">Mastodon</a> ┃
          <a
            rel="me"
            href="https://www.facebook.com/SHARKFEST-Wireshark-Network-Analysis-Conference-51502216870/"
            >Facebook</a
          >
          ┃ <a href="https://sysdig.com/privacy-policy/">Privacy policy</a>
        </span>
        <span class="pull-right">
          <a onclick="scrollToTop();return false;" href="#"
            ><i class="icon-arrow-up"></i
          ></a>
          <a href="#">Back to top</a>
        </span>
        <!-- powered by <a href="http://mynt.mirroredwhite.com/">mynt</a> and Bootstrap -->
      </footer>
    </div>
    {# container #} {#
    http://lyncd.com/2009/03/better-google-analytics-javascript/ #}
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-605389-2"]);
      _gaq.push(["_trackPageview"]);

      $(window).on("load", function () {
        var ga_src = "https://ssl.google-analytics.com/ga.js";
        $.ajax({ cache: true, dataType: "script", url: ga_src });
      });
    </script>
    <!-- / Google Analytics -->

    <script>
      (function () {
        var cx = "partner-pub-8797272874272241:rr0bun-xdwz";
        var gcse = document.createElement("script");
        gcse.type = "text/javascript";
        gcse.async = true;
        gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </body>
</html>
{%- block document_suffix -%}{% endblock -%}
