{%- import 'cdn.html' as cdn -%}
{%- block document_prefix -%}{%- endblock -%}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>{{ site.title }} · {% if self.title is defined %}{{ self.title() }}{% else %}{{ site.subtitle }}{% endif %}</title>

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link rel="dns-prefetch" href="//ssl.google-analytics.com">
  <link rel="dns-prefetch" href="//jsi-cdn.steelcentral.net">

  <link rel="shortcut icon" href="{{ get_asset('images/favicon.ico') }}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-site-verification" content="uWQ30IJ5KDrJKp7DOMvjVMpHIKrUVeYB2_QkF0jLreU" />
  <meta content=yes name=apple-mobile-web-app-capable>
  <link rel=stylesheet href="/assets/theme-2015/css/demo/switcher.min.css" media=screen>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel=stylesheet type='text/css'>
  {# Required by theme-2015/css/theme.min.css #}
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin='anonymous'
    rel=stylesheet type='text/css'>

  <link rel=stylesheet href="/assets/theme-2015/css/bootstrap.min.css">
  <link rel=stylesheet href="/assets/theme-2015/css/theme.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/color-defaults.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-white.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/custom.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-blue.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-gray.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-black.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-white-black.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-white-green.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/swatch-white-red.min.css" media=screen>
  <link rel=stylesheet href="/assets/theme-2015/css/fonts.min.css" media=screen>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"></script>
  <script src="/assets/theme-2015/js/tab-fixes.js"></script>

{% if self.rss_title and self.rss_url -%}
    <link rel="alternate" type="application/rss+xml"  href="{{ self.rss_url }}" title="{{ self.rss_title }}" />
{% endif %}
</head>

<body class="normal-header">

        <div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
            <div class="container">
                <div class="navbar-header" id="wsLogo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="/assets/theme-2015/images/wireshark_logo.png"
                             srcset="/assets/theme-2015/images/wireshark_logo@2x.png 2x"
                             alt="">
                    </a>
                </div>
                <nav class="collapse navbar-collapse main-navbar" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a style="text-transform: uppercase; font-weight: 700" href="/news/">News</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Acquainted <span style="font-size: 10px;">&#x25BC;</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/index.html#aboutWS">About</a></li>
                                {# Note: This will break if we use layout-home for anything other than the index page. #}
                                <li><a href="/index.html#download">Download</a></li>
                                {# <li><a href="/download.html">Download</a></li> #}
                                <li><a href="https://blog.wireshark.org/">Blog</a></li>
                                <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Help <span style="font-size: 10px;">&#x25BC;</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://ask.wireshark.org/">Ask a Question</a>
                                </li>
                                <li><a href="/faq.html">FAQs</a>
                                </li>
                                <li><a href="/docs/">Documentation</a>
                                </li>
                                <li><a href="/lists/">Mailing Lists</a>
                                </li>
                                <li><a href="/tools/">Online Tools</a>
                                </li>
                                <li><a href="https://gitlab.com/wireshark/wireshark/-/wikis">Wiki</a>
                                </li>
                                <li><a href="https://gitlab.com/wireshark/wireshark/-/issues">Issue Tracker</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Develop <span style="font-size: 10px;"> &#x25BC;</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/develop.html">Get Involved</a>
                                </li>
                                <li><a href="https://www.wireshark.org/docs/wsdg_html_chunked/">Developer's Guide</a>
                                </li>
                                <li><a href="https://gitlab.com/wireshark/wireshark/-/tree/master">Browse the Code</a>
                                </li>
                                <li><a href="https://www.wireshark.org/download/automated">Latest Builds</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                          <a style="text-transform: uppercase; font-weight: 700" href="/shop">Shop</a>
                        </li>
                        <ul class="nav navbar-nav pull-right">
                          <li><a href="https://wiresharkfoundation.org/donate/">Donate</a></li>
                        </ul>
                    </ul>
                </nav>
            </div>
        </div>

  <div id="content">
      {% block content %}{% endblock %}
  </div>

<footer>
  <span id="tm-notice">
    Wireshark and the "fin" logo are registered trademarks. {# of Sysdig#} {# of the Wireshark Foundation#}
    ┃ <a rel="me" href="https://twitter.com/wiresharknews">Twitter</a>
    ┃ <a rel="me" href="youtube.com/c/sharkFestWiresharkDeveloperandUserConference">YouTube</a>
    ┃ <a rel="me" href="https://ioc.exchange/@wireshark">Mastodon</a>
    ┃ <a rel="me" href="https://www.facebook.com/SHARKFEST-Wireshark-Network-Analysis-Conference-51502216870/">Facebook</a>
    ┃ <a href="https://sysdig.com/privacy-policy/">Privacy policy</a>
  </span>
  <span class="pull-right">
    <a onclick="scrollToTop();return false;" href="#"><i class="icon-arrow-up"></i></a>
    <a href="#">Back to top</a>
  </span>
  <!-- powered by <a href="http://mynt.mirroredwhite.com/">mynt</a> and Bootstrap -->
</footer>

{# container #}

{# http://lyncd.com/2009/03/better-google-analytics-javascript/ #}
<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-605389-2']);
_gaq.push(['_trackPageview']);

$(window).on('load', function () {
  var ga_src = 'https://ssl.google-analytics.com/ga.js';
  $.ajax({ cache: true, dataType: "script", url: ga_src });
});
</script>
<!-- / Google Analytics -->

{# Initialize search box
<script>
$(window).on('load', function () {
  $.ajax({ cache: true, dataType: "script",
    url: 'https://www.google.com/cse/brand?form=cse-search-box&amp;lang=en'
  });
});
</script>
#}

<script src="/assets/theme-2015/js/packages.min.js"></script>
<script src="/assets/theme-2015/js/theme.min.js"></script>
<script src="/assets/theme-2015/js/switcher.min.js"></script>

</body>
</html>
{%- block document_suffix -%}{% endblock -%}
