{#
  link_url: Self-linking URL
#}
{% macro self_link(link_url) %}
    <a href="{{ link_url }}">{{ link_url }}</a>
{% endmacro %} ## self_link

{#
  href: <a href...> convenience macro. Should probably be deprecated.
#}
{% macro href(link_url, link_text) %}
    <a href="{{ link_url }}">{{ link_text }}</a>
{% endmacro %} ## href
