{#
 Video list and macros
 $Id$
 #}
{% set video_catalog = [
  {
  'url': 'https://www.youtube.com/watch?v=2Q0juwavIzU&t=836s',
  'title': 'SF20V Keynote by Gerald Combs',
  'description': 'SharkFest20 Virtual Keynote by Wireshark creator Gerald Combs',
  'length': '55m 32s',
  'img_url': '/assets/images/video-images/gerald1.jpg',
  },
  {
  'url': 'https://www.youtube.com/watch?v=UBfSgjUCEi0',
  'title': 'Using Wireshark to Solve Real Problems for Real People',
  'description': 'Using Wireshark to Solve Real Problems for Real People: step-by-step case studies in packet analysis by
  Kary Rogers.',
  'length': '1h 14m 49s',
  'img_url': '/assets/images/video-images/kary1.jpg',
  },  
  {
    'url': 'https://www.wireshark.org/video/wireshark/introduction-to-wireshark/',
    'title': 'Introduction To Wireshark',
    'description': 'Learn how to get up and running with Wireshark.',
    'length': '5m 51s',
    'img_url': '/assets/images/video_introduction_to_wireshark.png',
  },

  {
    'url': 'https://www.wireshark.org/video/wireshark/custom-shortcuts/',
    'title': 'Custom Wireshark Shortcuts',
    'description': 'Start capturing quickly with a custom shortcut.',
    'length': '2m 26s',
    'img_url': '/assets/images/video_custom_wireshark_shortcuts.png',
  },
  ] %}

{% macro catalog(max_count=0) %}

{% for video in video_catalog %}
<div class="video">
<a href="{{ video.url }}" title="{{ video.title }}"><img src="{{ video.img_url }}" alt="{{ video.title }}"></a>
<div class="video-meta">
  <h2><a href="{{ video.url }}" title="{{ video.title }}">{{ video.title }}</a></h2>
  <p>{{ video.description }}</p>
  <p class="video-length">{{ video.length }}</p>
</div>
</div>
{% if max_count > 0 and loop.index >= max_count %}{% break %}{% endif %}
{% endfor %}
{% endmacro %} ## catalog
